// COMPONENTS MIXINS: MENUS
// ========================

@mixin menu {
  position: relative;
  margin: 0;
  padding: 0;
}

@mixin menu-inset { // For child-menus
  padding-left: 1rem;
  [dir="rtl"] & {
    padding-left: inherit;
    padding-right: 1rem;
  }
}

@mixin menu-item {
  list-style-type: none;
  margin: 0;
  
}

@mixin menu-link { // for <a> tags
  display: block;
  padding: $spacing-block;
}

// CLASS BUILDER: MENUS
// ====================

@mixin components-menus {
  .menu {
    @include menu;

    .menu {
      @include menu-inset;
    }

    &-item {
      @include menu-item;
    }

    a {
      @include menu-link;
    }
  }
}

@if $include-css-menus == true {
  @include components-menus;
}
