// COMPONENTS MIXINS: MENUS
// ========================

@mixin menu {
  position: relative;
  margin: 0;
  padding: 0;
}

@mixin menu-item {
  list-style-type: none;
  margin: 0;
}

@mixin menu-link { // for <a> tags
  display: block;
  padding: $spacing-block;
}

// CLASS BUILDER: MENUS
// ====================

@mixin components-menus {
  .menu {
    @include menu;

    &-item {
      @include menu-item;
      & > a {
        @include menu-link;
      }
    }
  }
}

@if $include-css-menus == true {
  @include components-menus;
}
