// COMPONEMT MIXINS: SHOWHIDE
// ==========================

@mixin showhide-ctrl {
  &:hover {
    cursor: pointer;
  }
}

@mixin showhide-content {
  overflow-y: hidden;
  max-height: 0;
  transition: max-height 0.6s cubic-bezier(0, 1, 0, 1);
  cursor: default;

  &.is-active {
    max-height: 100vh;
    transition-timing-function: cubic-bezier(1, 0, 1, 0);
  }
}

// CLASS BUILDER: SHOWHIDE
// =======================

@mixin components-showhide {
  .showhide-ctrl,
  .showhide-close {
    @include showhide-ctrl;
  }

  .showhide-content {
    @include showhide-content;
  }
}

@if $include-css-showhide == true {
  @include components-showhide;
}
