// UTILITY MIXINS: BUTTONS
// =======================
// File: codebase/scss/06_utility-mixins/_buttons.scss

@mixin btn--3d {
  box-shadow:
    0 1px 1px rgba(0,0,0,0.5),
    inset 0 0 1px rgba(0,0,0,0.5),
    inset 0 10px 10px -10px rgb(255,255,255),
    inset 0 -20px 20px -20px rgba(0,0,0,0.4);
}

@mixin btn--pressable {
  &:active {
    box-shadow:
      0 0 0 transparent,
      inset 0 -50px 50px -50px rgba(0,0,0,0.4),
      inset 0 0 4px rgba(0,0,0,0.8);
  }
}

@mixin btn {
  display: inline-block;
  width: auto;
  margin: 0;
  border: 0;
  padding: $btn-padding-default;
  font-size: $base-font-size;
  line-height: $base-font-size;
  color: $base-text-color-muted;
  text-decoration: none;
  background: transparent;
  box-shadow: inset 0 0 1px rgba(0,0,0,0.2);
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
  &[type="button"],
  &[type="submit"] {
    -webkit-appearance: none;
  }
  &:hover {
    cursor: pointer;
    color: $base-text-color;
    text-decoration: none;
    background: $deco-silver;
  }
  @if $btn-rounded == true {
    border-radius: $btn-border-radius;
  }
  @if $btn-3d == true { // `false` gives flat buttons
    @include btn--3d;
  }
  @if $btn-pressable == true {
    @include btn--pressable;
  }
}

// Icon-only Buttons (default/md size only)

@mixin btn--icon {
  width: 36px;
  height: 36px;
  padding: $deco-spacing-sm 0;
  text-align: center;
}

// Button colors

@mixin btn--primary {
  color: $btn-color-primary-text;
  background: $btn-color-primary;
  &:hover {
    color: $btn-color-primary-text-dark;
    background: $btn-color-dark-primary;
  }
}

@mixin btn--secondary {
  color: $btn-color-secondary-text;
  background: $btn-color-secondary;
  &:hover {
    color: $btn-color-secondary-text-dark;
    background: $btn-color-dark-teal;
  }
}

@mixin btn--warning {
  color: $btn-color-warning-text;
  background: $btn-color-warning;
  &:hover {
    color: $btn-color-warning-text-dark;
    background: $btn-color-dark-orange;
  }
}

@mixin btn--success {
  color: $btn-color-success-text;
  background: $btn-color-success;
  &:hover {
    color: $btn-color-success-text-dark;
    background: $btn-color-dark-green;
  }
}

@mixin btn--error {
  color: $btn-color-error-text;
  background: $btn-color-error;
  &:hover {
    color: $btn-color-error-text-dark;
    background: $btn-color-dark-red;
  }
}

@mixin btn--sm {
  height: auto;
  padding: $btn-padding-sm;
}

@mixin btn--default {
  padding: $btn-padding-default;
}

@mixin btn--md {
  padding: $btn-padding-default;
}

@mixin btn--lg {
  height: auto;
  padding: $btn-padding-lg;
}

@mixin btn--block {
  &--block {
    display: block;
    width: 100%;
    text-align: center;
  }
}
