// UTILITY: DROPDOWNS
// ==================
// File: 07_utillity-mixins/_dropdpwns.scss

@mixin dropdown {
  display: inline-block;
  position: relative;
  overflow: visible;
}

@mixin dropdown__toggle {
  &--is-toggled {
    position: relative;
    z-index: $reset-overlay--z-index + 1;
  }
}

@mixin dropdown__content {
  display: none;
  position: absolute;
  z-index: $reset-overlay--z-index + 2;
  margin: 0;
  padding: $deco-spacing-sm $deco-spacing-md;
  border-radius: $deco-border-radius;
  color: $color-text-default;
  background: #fff;
  text-align: left;
  white-space: nowrap;
  cursor: default;
  box-shadow: $deco-box-shadow;
  &--is-revealed {
    display: block;
  }
}
