// UTILITY MIXINS: FLOATS
// ======================
// File: codebase/scss/06_utility-mixins/_floats.scss

@mixin float--right {
  display: block;
  float: right;
}

@mixin float--left {
  display: block;
  float: left;
}