// UTILITY: IMAGES
// ===============
// File: 07_utility-mixins/_images.scss

@mixin image-align--left {
  float: left;
  margin-right: 15px;
  margin-bottom: 5px;
}

@mixin image-align--right {
  float: right;
  margin-left: 15px;
  margin-bottom: 5px;
}
