// UTILITY: TYPOGRAPHY MIXINS
// ==========================
// File: 07_utility-mixins/_typography.scss

// Lead paragraph

@mixin lead {
  font-size: $base-font-size * 1.2;
}

// Drop cap

@mixin dropcap {
  &::first-letter {
    display: inline-block;
    float: left;
    padding-right: 4px;
    font-size: 575%;
    font-weight: 300;
    line-height: 75%;
  }
}

@mixin initial-icon {
  i:first-child {
    display: inline-block;
    float: left;
    padding-right: 20px;
    font-size: 340%;
    font-weight: 300;
    line-height: 90%;
  }
  min-height: $base-line-height-px * 2;
}

// Text alignment

@mixin text--left {
  text-align: left;
}

@mixin text--center {
  text-align: center;
}

@mixin text--right {
  text-align: right;
}
