extends ../../docs-template-partials/_docs-article

block prepend article
  - var sectionId = "basic-images"
  - var sectionTitle = "Images"

block section
  
  img(src="holder.js/96x96")
  
  p.mt--line.
    In Codebase, images are block-level elements with #[code max-width: 100%] so that large images are &quot;repsonsive&quot;, shrinking to fit within containers (or windows) narrower than the actual image width.

  p.
    Further styling can be added using #[a(href="decoration.html") decoration classes] (e.g. borders).
    
  p Examples:
  
  img(src="holder.js/1000x200").mb--line.b--thick.b--white.bs.bg--brown

  .flexbox.flexbox--gutter.flexbox--nested

    .flexitem.flexitem-sm--span-4

      img(src="holder.js/144x144").mh--auto.b--circle

      p.text--center.mt--20.
        Lorem ipsum dolor sit amet, adipiscing honestatis ius ut, nisl consulatu pro in.

    .flexitem.flexitem-sm--span-4

      img(src="holder.js/144x144").mh--auto.b--circle

      p.text--center.mt--20.
        Lorem ipsum dolor sit amet, adipiscing honestatis ius ut, nisl consulatu pro in.

    .flexitem.flexitem-sm--span-4

      img(src="holder.js/144x144").mh--auto.b--circle

      p.text--center.mt--20.
        Lorem ipsum dolor sit amet, adipiscing honestatis ius ut, nisl consulatu pro in.
