extends ../../docs-template-partials/_docs-article

block prepend article
  - var sectionId = "basic-text-utilities"
  - var sectionTitle = "Text Utilities"

block section
  p.
    Codebase has several simple text utility classes, which are prefixed #[code .text--]. 
  
  p.
    Most of these are demonstrated in appropriate places elsewhere on this Codebase Basics docs page. But here are a few more:
    
  p #[code .text--bold] 
    span.text--bold Bold text

  p #[code .text--heavy] 
    span.text--heavy Heavy text (900)

  p #[code .text--italics] 
    span.text--italics Italics text

  p #[code .text--normal]
    b 
      i Returns text to normal. #[span.text--normal Perhaps you may find this useful] in some circumstances.
      
  p #[code .text--caps] 
    span.text--caps All-capitals text

  p #[code .text--muted] 
    span.text--muted Muted text is semi-transparent (opacity: 0.5)
  
  p #[code .text--big-text]
    |  Big text for making #[span.text--big-text something] stand out.
  
  p #[code .text--small-text] 
    |  Small text for #[span.text--small-text small print].
  
  p.
    The full list of Codebase text utility classes can be found at #[a(href="decoration.html#decoration-text") Decoration: Text].
