//- Decoration Paddings

.menu-marker-section(id="decoration-paddings")

  h2.docs-section Paddings

  p.
    Element grid units (8px) designated #[code -1u] to #[code -20u], plus #[code -zero] (for removing unwanted padding).

  ul
    li Paddings all: #[code p-*]
    li Padding top: #[code pt--*]
    li Padding right: #[code pr--*]
    li Padding bottom: #[code pb--*]
    li Padding left: #[code pl--*]
    li Paddings vertical: #[code pv-*] (top and bottom)
    li Paddings horizontal: #[code ph-*](left and right)

  p Examples:
  .mb--2u.pr--zero.b--1px-solid
    .b--1px-dashed .pr--zero
  .mb--2u.pr--1u.b--1px-solid
    .b--1px-dashed .pr--1u
  .mb--2u.pr--2u.b--1px-solid
    .b--1px-dashed .pr--2u
  .mb--2u.pr--3u.b--1px-solid
    .b--1px-dashed .pr--3u
  .mb--2u.pr--4u.b--1px-solid
    .b--1px-dashed .pr--4u
  .mb--2u.pr--5u.b--1px-solid
    .b--1px-dashed .pr--5u
  .mb--2u.pr--6u.b--1px-solid
    .b--1px-dashed .pr--6u
  p ...
  .mb--2u.pr--20u.b--1px-solid
    .b--1px-dashed .pr--20u

  h3 Block padding

  p.
    E.g. used for menu items, navbar items, tab labels and table cells. Equal to #[code pv-1u ph-2u]

  .mb--2u.p--block.b--1px-solid
    .b--1px-dashed .p--block
