//- Decoration Margins

.menu-marker-section(id="decoration-margins")

  h2.docs-section Margins

  p.
    Element grid units (8px) designated #[code -1u] to #[code -20u], plus #[code -zero] (for removing unwanted margin).

  ul
    li Margins all: #[code m--*]
    li Margin top: #[code mt--*]
    li Margin right: #[code mr--*]
    li Margin bottom: #[code mb--*]
    li Margin left: #[code ml--*]
    li Margins vertical: #[code mv--*] (top and bottom)
    li Margins horizontal: #[code mh--*](left and right)

  p Examples:

  .mb--2u.b--1px-dashed
    .mr--zero.b--1px-solid .mr--zero
  .mb--2u.b--1px-dashed
    .mr--1u.b--1px-solid .mr--1u
  .mb--2u.b--1px-dashed
    .mr--2u.b--1px-solid .mr--2u
  .mb--2u.b--1px-dashed
    .mr--3u.b--1px-solid .mr--3u
  .mb--2u.b--1px-dashed
    .mr--4u.b--1px-solid .mr--4u
  .mb--2u.b--1px-dashed
    .mr--5u.b--1px-solid .mr--5u
  .mb--2u.b--1px-dashed
    .mr--6u.b--1px-solid .mr--6u
  p ...
  .mb--2u.b--1px-dashed
    .mr--20u.b--1px-solid .mr--20u
  br

  h3 Horizontal centering by margin:auto

  p.
    This also sets the element to #[code display:block !important]

  .mb--2u.b--1px-dashed
    .mh--auto.b--1px-solid(style='width:75%;') .mh--auto
