//- Decoration Intro

p.
  For consistency throughout Codebase, some decoration variables have been defined. Where necessary, a few of these variables have been used in the various components.

p.
  These same variables have been incoporated into a set of simple decoration classes. These classes can be used to quickly add consistent styling to your HTML directly.

p.
  You can modify the decoration variables and classes, and add to them, in accordance with the style guide or visual identity of your website project.

.initial-icon.bl--4px-solid.b--teal-darken-1.p--3u.bg--teal-lighten-2
  i.fa.fa-thumbs-o-up.text--teal-darken-1
  | #[b Hat tip:]
  br
  | the idea for Codebase decoration was inspired by #[a(href='http://www.basscss.com', target='_blank') BASCSS], #[a(href='http://tachyons.io', target='_blank') Tachyons] and the #[a(href='https://spec.fm/specifics/8-pt--grid', target='_blank') 8-Point Grid].
