//- Decoration Box Shadows

.menu-marker-section(id="decoration-box-shadows")

  h2.docs-section Box Shadows
  h3 Box shadow
  .mb--3u.p--2u.bs .bs
  .mb--3u.p--2u.bs-2u .bs-2u
  .mb--3u.p--2u.bs-3u .bs-3u
  h3 Inset box shadow
  .mb--3u.p--2u.bs-inset .bs-inset
  h3 Inset box shadows on one side only
  .mb--3u.p--2u.bs-inset-top .bs-inset-top
  .mb--3u.p--2u.bs-inset-right .bs-inset-right
  .mb--3u.p--2u.bs-inset-bottom .bs-inset-bottom
  .mb--3u.p--2u.bs-inset-left .bs-inset-left
