//- Decoration Element Grid

.menu-marker-section(id="decoration-element-grid")

  h2.docs-section Element Grid

  p.
    Since version 2.0 Codebase uses a #[a(href='https://spec.fm/specifics/8-pt--grid') "soft" 8-point grid system] for consistently positioning things relative to each other. (This is also known as an #[a(href='http://www.bbc.co.uk/gel/web/foundations/universal-grid/baseline') 8px baseline grid] or an #[a(href='https://material.io/guidelines/layout/metrics-keylines.html') 8dp square baseline grid].

  p.
    The #[strong Codebase element grid] has been deployed a follows: in setting typographic line-heights, margins, and paddings for components, multiples of 8px* have been used. Also by default, the base typography vertical rhythm (line-height) is set at 1.5rem = 24px = 3 &times; 8 element grid units. (And the layout grid gutters have been set to multiples of 8px.)

  p.
      [*
      #[a(href='https://en.wikipedia.org/wiki/Device-independent_pixel') Device independent pixels], also known as #[a(href='https://www.w3.org/Style/Examples/007/units.en.html') CSS pixels].]

  p.
    All Codebase margins, paddings and line-heights have been set using #[code $spacing-*] variables as in the table below. The base 8px is a #[code !default] setting &ndash; you can override this simply by changing the value of #[code $spacing-1u].

  .initial-icon.mb--3u.bl--4px-solid.b--teal-darken-1.p--3u.bg--teal-lighten-2
    i.fa.fa-info-circle.text--teal-darken-1
    The element grid system can be used in combination with any Codebase #[em layout] grid system.

  table.table
    thead
      tr
        th Element Grid Variable
        th Calculation
        th Size
    tbody
      tr
        td $spacing-1u
        td
          | Base = 8px #[code !default]
        td 8px
      tr
        td $spacing-2u
        td Base &times; 2
        td 16px
      tr
        td $spacing-3u
        td Base &times; 3
        td 24px
      tr
        td $spacing-4u
        td Base &times; 4
        td 32px
      tr
        td $spacing-5u
        td Base &times; 5
        td 40px
      tr
        td $spacing-6u
        td Base &times; 6
        td 48px
      tr
        td $spacing-7u
        td Base &times; 7
        td 56px
      tr
        td ...
        td ...
        td ...

  p.
    The #[code $spacing-] variables go up to 20&times;. The decoration classes that use them (margins, paddings) also go up to 20&times;

  p.
    [Note: Since Codebase v.1.4, #[i decoration] variables/classes named #[code *-sm], #[code *-md] etc. have been removed.]
