//- Getting Started Simple Setup

.menu-marker-section(id="getting-started-simple-setup")

  h2.docs-section Simple Setup

  ol
    li Add <code>codebase.css</code> and <code>codebase.js</code> to your project.
    li Add <a href="http://fontawesome.io">Font Awesome</a> and <a href="http://jquery.com">jQuery</a> (either self-hosted a or link to a CDN).
    li Create your first HTML page, e.g. using the starter example below.

  pre
    code.
      &lt;!doctype html&gt;
      &lt;html lang="en"&gt;
        &lt;head&gt;
          &lt;meta charset="utf-8"&gt;
          &lt;meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"&gt;
          &lt;meta name="viewport" content="width=device-width, initial-scale=1"&gt;
          &lt;title&gt;Your Webpage Title&lt;/title&gt;
          &lt;link rel="stylesheet" href="path/to/font-awesome.min.css"&gt;
          &lt;link rel="stylesheet" href="path/to/codebase/css/codebase.css"&gt;
          &lt;link rel="stylesheet" href="path/to/your-theme/css/styles.css"&gt;
        &lt;/head&gt;
        &lt;body&gt;

          &lt;!-- Get to work --&gt;

          &lt;script src="path/to/jquery.js"&gt;&lt;/script&gt;
          &lt;script src="path/to/codebase/js/codebase.js"&gt;&lt;/script&gt;
          &lt;script src="path/to/your-theme/js/scripts.js"&gt;&lt;/script&gt;
        &lt;/body&gt;
      &lt;/html&gt;</code></pre>

  p Note that jQuery needs to be sourced first, so that the Codebase jQuery plugin can work.
