// DEFAULT VARIABLES: BREAKPOINTS
// ==============================
// File: codebase/scss/01_default-variables/_breakpoints.scss

$break-xs: 320px !default;
$break-sm: 640px !default;
$break-md: 960px !default;
$break-lg: 1280px !default;
