// DEFAULT VARIABLES: GRID-SYSTEMS
// ===============================
// File: codebase/scss/01_default-variables/_grid-systems.scss

$grid-max-cols: 12 !default;
$grid-max-width: 1280px !default;

$column-gutter-width--xs: 20px !default;
$column-gutter-width--sm: 30px !default;
$column-gutter-width--md: 40px !default;
$column-gutter-width--lg: 50px !default;

// Column gutter values are used for generating margins 
// (50% either side of each column in the grid). 
