// DEFAULT VARIABLES: NAVBAR
// =========================
// File: codebase/scss/01_default-variables/_navbar.scss

$break-navbar: $break-xs !default;
$navbar-padding: $deco-spacing-block !default;
$navbar-height: 44px !default; // = line-height (24px) + (2 * 10px for the padding)
$deco-navbar-link-hover-background: $deco-silver !default;
