// DEFAULT VARIABLES: TAB-SYSTEMS
// ==============================
// File: codebase/scss/01_default-variables/_tab-systems.scss

$tabs-label-padding: $deco-spacing-block !default;
$tabs-card-padding: $deco-spacing-block !default;
$deco-tabs-background: $deco-white !default;
$deco-tabs-dark-background: $deco-silver !default;
$deco-tabs-dark-background-hover: $deco-light-gray !default;
$deco-tabs-dark-text: lighten($base-text-color, 25%) !default;
