// COMPONENT MIXINS: PAGINATION
// ============================
// File: codebase/scss/07_component-mixins/_pagination.scss

@mixin pagination {
  margin: 0;
  padding: 0;
}

@mixin pagination__item {
  display: inline-block;
  list-style-type: none;
  margin: $deco-spacing-sm 0;
}

@mixin pagination__link {
  padding: $deco-spacing-sm;
}

@mixin pagination__current {
  color: $deco-dark-gray;
  background: $deco-silver;
  &:hover {
    text-decoration: none;
    cursor: default;
  }
}
