// COMPONENT MIXINS: SLIDESHOW
// ===========================
// File: codebase/scss/07_component-mixins/_slideshows.scss

 @mixin slideshow {
  position: relative;
  margin-bottom: $base-line-height-rem;
  font-size: 0;
  line-height: 0;
}

@mixin slideshow__inner {
  position: relative;
  overflow: hidden;
  white-space: nowrap; // This makes the `.slideshow__item`s stay in one row
  font-size: 0;
  line-height: 0;
}

@mixin slideshow__item {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  padding: 0 ($base-font-size * 3) 0 ($base-font-size * 3);
  font-size: $base-font-size;
  line-height: $base-line-height;
}

// Slideshow prev/next arrows

@mixin slideshow__arrows {
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 1;
  top: 0;
  bottom: $deco-spacing-lg;
  font-size: $base-font-size;
  line-height: $base-line-height;
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $base-font-size * 2;
    height: $base-font-size * 2;
    border: 2px solid $deco-charcoal;
    border-radius: 50%;
    background: $deco-body;
    opacity: 0.3;
    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }
}

@mixin slideshow__prev {
  @include slideshow__arrows;
  left: $deco-spacing-sm;
  span:before {
    display: block;
    position: relative;
    left: -2px;
    font-family: FontAwesome;
    content: '\f053';
  }
}

@mixin slideshow__next {
  @include slideshow__arrows;
  right: $deco-spacing-sm;
  span:before {
    display: block;
    position: relative;
    right: -2px;
    font-family: FontAwesome;
    content: '\f054';
  }
}

// Slideshow pager

@mixin slideshow__pager-wrap {
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
}

@mixin slideshow__pager {
  display: inline-block;
  padding: $deco-spacing-xs;
  font-size: $base-font-size;
  line-height: $base-line-height;
  opacity: 0.3;
  &:before {
    font-family: FontAwesome;
    content: '\f10c';
  }
  &.is-current:before {
    font-family: FontAwesome;
    content: '\f111';
  }
  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}
