// LAYOUT MIXINS: SEMANTIC GRID
// ============================
// File: codebase/scss/05_layout-mixins/_semantic-grid.scss

@mixin col--span($col--span) {
  float: left;
  width: ($col--span / $grid-max-cols) * 100%;
}

@mixin col--offset($col--offset) {
  margin-left: ($col--offset / $grid-max-cols) * 100%;
}

@mixin col--push($col--push) {
  left: ($col--push / $grid-max-cols) * 100%;
}

@mixin col--pull($col--pull) {
  right: ($col--pull / $grid-max-cols) * 100%;
}

@mixin col--centered($col--centered) {
  width: ($col--centered / $grid-max-cols) * 100%;
  margin-right: auto;
  margin-left: auto;
}

// Incomplete grid rows? No problem. Rows can simply be incomplete (no `.end` or
// `.omega` classes required).
