// UTILITY MIXINS: VISIBILITY
// ==========================
// File: 06_layout-mixins/_visibility.scss

// hide--xs-only (= show--sm-up)
@mixin hide--xs-only {
  @media screen and (max-width: $break-sm - 1) {
    display: none !important;
  }
}
@mixin show--sm-up {
  @include hide--xs-only;
}

// hide--sm-only
@mixin hide--sm-only {
  @media screen and (min-width: $break-sm) and (max-width: $break-md - 1) {
    display: none !important;
  }
}

// hide--md-only
@mixin hide--md-only {
  @media screen and (min-width: $break-md) and (max-width: $break-lg - 1) {
    display: none !important;
  }
}

// hide--lg-only (= show--md-down)
@mixin hide--lg-only {
  @media screen and (min-width: $break-lg) {
    display: none !important;
  }
}
@mixin show--md-down {
  @include hide--lg-only;
}

// show--xs-only (= hide--sm-up)
@mixin show--xs-only {
  @media screen and (min-width: $break-sm) {
    display: none !important;
  }
}
@mixin hide--sm-up {
  @include show--xs-only;
}

// show--sm-only
@mixin show--sm-only {
  @media screen and (max-width: $break-sm - 1) {
    display: none !important;
  }
  @media screen and (min-width: $break-md) {
    display: none !important;
  }
}

// show--md-only
@mixin show--md-only {
  @media screen and (max-width: $break-md - 1) {
    display: none !important;
  }
  @media screen and (min-width: $break-lg) {
    display: none !important;
  }
}

// show--lg-only (= hide--md-down)
@mixin show--lg-only {
  @media screen and (max-width: $break-lg - 1) {
    display: none !important;
  }
}
@mixin hide--md-down {
  @include show--lg-only;
}

// hide--md-up (= show--sm-down)
@mixin hide--md-up {
  @media screen and (min-width: $break-md) {
    display: none !important;
  }
}
@mixin show--sm-down {
  @include hide--md-up;
}

// hide--sm-down (= show--md-up)
@mixin hide--sm-down {
  @media screen and (max-width: $break-md - 1) {
    display: none !important;
  }
}
@mixin show--md-up {
  @include hide--sm-down;
}
