// BASICS: DEFAULT VARIABLES
// =========================

// INDEX
// =============================================================================
// (1.) Colors (for Typograpxy, Decoration and UI)
// (2.) Decoration
// (3.) Layout
// (4.) Basics and Typograpxy
// (5.) Components
// (6.) Include CSS Classes (Basics, Components, Layout, Decoration)

// NOTE:
// -- All Codebase SCSS variables are prefixed `$cb-`
// -- All Codebase SCSS mixins are prefixed `cb-`

// =============================================================================
// (1.) Colors
// =============================================================================

// Color steps

// Used for calculating lighter and darker shades.

$cb-color--step:     12% !default;

// Color Shades

// Determines how many loops in the decoration color class generators.

$cb-color--shades:   3 !default;

// Color Swatches

// Codebase uses the following color variables in its onboard decoration
// (mixins and classes). You can override these, assigning your own colors.

$cb-color--gray:     #999 !default;
$cb-color--blue:     #46d !default;
$cb-color--teal:     #69a !default;
$cb-color--green:    #3c5 !default;
$cb-color--orange:   #f82 !default;
$cb-color--red:      #e43 !default;

// Further examples:
//$cb-color--yellow:   #fc0 !default;
//$cb-color--brown:    #a95 !default;
//$cb-color--purple:   #b5c !default;
//$cb-color--pink:     #f37 !default;

// SCSS map of color swatches
// "color name": $cb-color-value;

$cb-colors: () !default;
$cb-colors: map-merge((
  "gray":      $cb-color--gray,
  "blue":      $cb-color--blue,
  "teal":      $cb-color--teal,
  "green":     $cb-color--green,
  "orange":    $cb-color--orange,
  "red":       $cb-color--red

  // Further examples:
  //"yellow":    $cb-color--yellow,
  //"brown":     $cb-color--brown,
  //"purple":    $cb-color--purple,
  //"pink":      $cb-color--pink,

), $cb-colors);

// Black and white

// Black and white are not included in the SCSS map of color swatches, because
// the SCSS map is used in the utility class generators where color shades will
// be generated (there are no shades of black or white -- but there are shades
// of gray).

$cb-color--black: #000 !default;
$cb-color--white: #fff !default;

// These default variables are used so that you can override with some colors almost black and almost white, and still simply refer to them as black and white.

// UI colors

// User Interface colors are used by buttons, labels, and badges. The Codebase
// default hyperlink color is also `$cb-color--primary`.

// The Codebase default UI colors are the same as the swatch colors
// for blue, teal, green, orange and red – but darkened by 1 color step,
// to improve the readability of white text on buttons.

// This color aliasing may seem a redundancy, but it means that you are at
// liberty to override the UI colors independently from the color swatches.
// (E.g. your primary UI color doesn't have to be blue.)

$cb-colors-ui: () !default;
$cb-colors-ui: map-merge((
  "default":     $cb-color--gray,
  "primary":     $cb-color--blue,
  "secondary":   $cb-color--teal,
  "success":     $cb-color--green,
  "warning":     $cb-color--orange,
  "danger":      $cb-color--red
), $cb-colors-ui);

// =============================================================================
// (2.) Decoration
// =============================================================================

// Codebase component decoration is all controlled by the following set of
// decoration variables. These same variables are used throughout Codebase
// typography, components and decoration.

// Element grid

// Throughout the Codebase SCSS, a 4px element grid has been adhered to wherever possible. In other words, line-heights, margins and paddings have been set at increments of 4px.

// In addition, a set of margin and padding decoration utility classes are generated with increments of 4px.

// SCSS map for decoration margins and paddings

$cb-spacing: () !default;
$cb-spacing: map-merge((
  "0":           0,
  "4":           4px,
  "8":           8px,
  "12":          12px,
  "16":          16px,
  "24":          24px,
  "48":          48px,
  "84":          84px
), $cb-spacing);

// Other Spacing

// e.g. menu links, default button size
$cb-spacing--block: 8px 16px !default;

// Borders
$cb-spacing--thin: 1px !default;
$cb-spacing--thick: 4px !default;
$cb-spacing--heavy: 8px !default;

$cb-border--dashed: $cb-spacing--thin dashed lighten($cb-color--gray, $cb-color--step * 2) !default;
$cb-border--thin: $cb-spacing--thin solid lighten($cb-color--gray, $cb-color--step * 2) !default;
$cb-border--thick: $cb-spacing--thick solid lighten($cb-color--gray, $cb-color--step * 2) !default;
$cb-border--heavy: $cb-spacing--heavy solid lighten($cb-color--gray, $cb-color--step * 2) !default;

$cb-border--radius: 4px !default;

// Shadows

$cb-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) !default;
$cb-box-shadow--1z: $cb-box-shadow;
$cb-box-shadow--2z: 0 2px 6px rgba(0, 0, 0, 0.2) !default;
$cb-box-shadow--3z: 0 3px 8px rgba(0, 0, 0, 0.2) !default;
$cb-box-shadow--inset: inset 0 0 6px rgba(0, 0, 0, 0.2) !default;
$cb-box-shadow--inset-top: inset 0 6px 6px -6px rgba(0, 0, 0, 0.3) !default;
$cb-box-shadow--inset-right: inset -6px 0 6px -6px rgba(0, 0, 0, 0.3) !default;
$cb-box-shadow--inset-bottom: inset 0 -6px 6px -6px rgba(0, 0, 0, 0.3) !default;
$cb-box-shadow--inset-left: inset 6px 0 6px -6px rgba(0, 0, 0, 0.3) !default;

// =============================================================================
// (3.) Layout
// =============================================================================

// Breakpoints

$cb-mq--md: 640px !default;
$cb-mq--lg: 960px !default;

// Flexbox system
$cb-flexbox--max-items: 12 !default;
$cb-flexbox--gap-width: 24px !default;
// For flexbox, half of the gap (i.e. gutter) width is used as margin either 
// side of each item – i.e. default 12px left and right.

// Layout systems container
$cb-container--max-width: 1280px !default;

// =============================================================================
// (4.) Basics and Typograpxy
// =============================================================================

$cb-text--base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", sans-serif !default;

// 16px
$cb-text--base-font-size:              1rem !default;
$cb-text--base-line-height:            24px !default;

$cb-text--lead-font-size-increment:    0.35rem !default;
$cb-text--lead-font-weight:            300 !default;

$cb-text--lighter-font-weight:         200 !default;
$cb-text--base-font-weight:            400 !default;
$cb-text--bold-font-weight:            700 !default;
$cb-text--bolder-font-weight:          900 !default;

// 20px
$cb-text--big-font-size:               1.25rem !default;
$cb-text--big-line-height:             28px !default;

$cb-blockquotes-font-size:             $cb-text--base-font-size;
$cb-text--big-blockquotes-font-size:   $cb-text--big-font-size;

// Base Typograpxy Colors

$cb-text--base-text-color: darken($cb-color--gray, $cb-color--step * 3) !default;

// Hyperlinks (the <a> tag)
$cb-text--color-hyperlink:              $cb-color--blue !default;
$cb-text--decoration-hyperlink:         none !default;
$cb-text--hyperlink-hover:              true;
$cb-text--decoration-hyperlink-hover:   underline;

// Headings

$cb-h1-h6--font-weight-normal:          true !default;
$cb-h2-h6--tall-top-margin:             true !default;

// breakpoint for changing header sizes
$cb-mq--headers-alt:                    $cb-mq--md !default;

$cb-text--columns-min-width:            16em !default;

$cb-text--li-spacing:                   12px !default;

// Code (and preformatted code blocks)
$cb-text--base-code-border: true !default;
$cb-text--base-code-rounded-corners: true !default;

// Buttons
$cb-btn--text-color:              $cb-color--white !default;
$cb-btn--text-color-hover:        $cb-btn--text-color !default;
$cb-btn--rounded-corners:         true !default;
$cb-btn--pressable:               true !default;
$cb-btn--padding-sm:              4px 12px !default;
$cb-btn--padding-default:         8px 16px !default;
$cb-btn--padding-lg:              12px 24px !default;
$cb-btn--padding-icon:            8px;

// Optional 3D gradient effect buttons (`false` yields flat buttons)
$cb-btn--3d:                      false !default;

// Outline buttons
$cb-btn--outline-thickness:       2px !default;

// Forms
$cb-form--input-rounded-corners:  true !default;
$cb-form--outline-thickness:      2px !default;
$cb-form--outline-color:          lighten($cb-color--gray, $cb-color--step * 2) !default;
$cb-form--outline-color-focus:    darken($cb-color--blue, $cb-color--step) !default;
$cb-form--focus-glow: true        !default;
$cb-form--focus-glow-style:       0 0 4px rgba(0, 0, 0, 0.2) !default;

// =============================================================================
// (5.) Components
// =============================================================================

$cb-color--caret:     $cb-text--color-hyperlink;

$cb-off-canvas--transition:         all 0.6s ease-in-out;

$cb-table--header-border-bottom-thickness:   2px !default;
$cb-table--header-border-bottom-color:       lighten($cb-color--gray, $cb-color--step * 2) !default;
$cb-table--padding:                          12px 16px;

$cb-popover--backdrop-box-shadow:   0 0 0 1000px rgba(0, 0, 0, 0.5);
$cb-popover--transition-backdrop:   all 0.3s ease-in-out;
$cb-popover--transition-content:    all 0.3s ease-in-out;
$cb-popover--narrow-min:            300px;
$cb-popover--narrow-mq:             $cb-mq--md;
$cb-popover--narrow-max:            600px;

// z-index of compnents
$cb-z-index--dropdowns:            120;
$cb-z-index--menu-menubar-fixed:   120;
$cb-z-index--off-canvas:           120;
$cb-z-index--tables:               1;
$cb-z-index--popovers:             130;
$cb-z-index--tab-front:            1;

// Include Components `.decorate` classes

// Codebase aims to be as "style-agnostic" as possible -- so that you don't need
// to override my Codebase's choice of styling. But for demonstration purposes
// it is necessary to add in some `.decorate` classes that provide some minimal
// styling for the Codebase docs and for rapid prototyping (e.g. block padding
// around menu items, box shadow behind dropdowns and popovers, borders for
// media objects, cards, tabs, etc.)

// You can switch these off by overiding the following variables:

$cb-decoration--dropdowns:           true !default;
$cb-decoration--menus-and-menubars:  true !default;
$cb-decoration--cards:               true !default;
$cb-decoration--pagination:          true !default;
$cb-decoration--tabs:                true !default;

// =============================================================================
// (6.) Include CSS Classes (Basics, Components, Layout, Decoration)
// =============================================================================

// Codebase has most of its styles built as mixins, which are then included in
// classes. Therefore:

// * You can choose whether or not to include these CSS classes by toggling the
//   following `true/false` variables (i.e. by overriding them in your own
//   variables). Toggle `false` whatever you don't need, for generating smaller
//   CSS.

// * You can include these mixins in your own classes (with your own choice
//   of class names). This may be useful if you are combining various frameworks
//   and you need to have components etc. differently namespaced to avoid
//   clashes.

// * You can include Codebase mixins at different media query breakpoints.

// * You can switch all these CSS classes off, and use Codebase entirely as a 
//   mixin library.

// Basics
$cb-include-css--typography:             true !default;
$cb-include-css--floats-clearfix:        true !default;
$cb-include-css--buttons:                true !default;
$cb-include-css--badges:                 true !default;
$cb-include-css--labels:                 true !default;
$cb-include-css--combos:                 true !default;
$cb-include-css--forms:                  true !default;

// Layout
$cb-include-css--container:              true !default;
$cb-include-css--flexbox-system:         true !default;
$cb-include-css--invisibility:           true !default;

// Components
$cb-include-css--cards:                  true !default;
$cb-include-css--dropdowns:              true !default;
$cb-include-css--menus-and-menubars:     true !default;
$cb-include-css--off-canvas:             true !default;
$cb-include-css--pagination:             true !default;
$cb-include-css--popovers:               true !default;
$cb-include-css--showhide:               true !default;
$cb-include-css--tables:                 true !default;
$cb-include-css--tabs:                   true !default;

// Decoration
$cb-include-css--decoration-utilities:   true !default;
