ul.menu.decorate
  li
    a(href="#layout-container") Layout Container
  
  li.bt--thin
    a(href="#layout-flexbox-introduction") #[b Flexbox Columnar Grid System]
  li
    a(href="#layout-flexbox-simple") Simple Flexbox
  li
    a(href="#layout-flexbox-traditional") Traditional Flexbox
  li
    a(href="#layout-flexbox-variables") Flexbox Variables
  li
    a(href="#layout-flexbox-mixins") Using Flexbox Mixins for Semantic Layouts
  
  li.bt--thin
    a(href="#layout-invisibility") Invisibility
