ul.menu.deco
  li
    a(href="#getting-started-introduction") Introduction
  li
    a(href="#getting-started-simple-setup") Simple Setup
  li
    a(href="#getting-started-third-party-dependencies") Third-party Dependencies
  li
    a(href="#getting-started-advanced-setup") Advanced Setup
  li
    a(href="#getting-started-codebase-with-sass") Using Codebase with Sass
  li
    a(href="#getting-started-mq-breakpoint-widths") Media Query Breakpoint Widths
  li
    a(href="#getting-started-codebase-with-pug") Using Codebase with Pug
  li
    a(href="#getting-started-how-codebase-uses-pug") How Codebase uses Pug
  li
    a(href="#getting-started-codebase-html-generator-mixins") Codebase HTML Generator Mixins
  li
    a(href="#getting-started-rtl-support") RTL Languages Support
