ul.menu.deco
  li
    a(href="#components-introduction") Introduction
  li
    a(href="#components-deco-styling") Component Deco Styling
  li
    a(href="#components-activator-javascript") Component Activator JavaScript
  li
    a(href="#components-showhide") Showhide
  li
    a(href="#components-dropdown") Dropdown
  li
    a(href="#components-menu") Menu
  li
    a(href="#components-menubar-simple") Menubar: Simple
  li
    a(href="#components-menubar-responsive") Menubar: Responsive
  li
    a(href="#components-menubar-complex") Menubar: Complex
  li
    a(href="#components-off-canvas") Off-Canvas
  li
    a(href="#components-card") Card
  li
    a(href="#components-responsive-table") Responsive Table
  li
    a(href="#components-popover") Popover
  li
    a(href="#components-tab-system") Tab System
  li
    a(href="#components-pagination") Pagination
