ul.menu.decorate
  li
    a(href="#decoration-utilities-introduction") Introduction
  li
    a(href="#decoration-utilities-element-grid") Element Grid
  li
    a(href="#decoration-utilities-margins-and-paddings") Margins and Paddings
  li
    a(href="#decoration-utilities-borders") Borders
  li
    a(href="#decoration-utilities-colors") Colors
  li
    a(href="#decoration-utilities-box-shadows") Box Shadows
  li
    a(href="#decoration-utilities-text") Text
