footer.docs__footer
  span.text--gray-lighten-4.
    #[a(href="index.html") Codebase] v.2.0 Beta |
    #[a(href="https://github.com/SimonPadbury/Codebase") GitHub Repository] |
    Built by #[a(href="http://simonpadbury.github.io") Simon Padbury]
