ul.menu.decorate
  li
    a(href="example-starter.html") Starter
  li
    a(href="example-blog-index.html") Blog (Index)
  li
    a(href="example-long-read.html") Long Read #[br] (single blog post)
  li
    a(href="example-small-business.html") Small Business
  li
    a(href="example-company.html") Company
  li
    a(href="example-newspaper.html") Newspaper
  li
    a(href="example-dashboard.html") Dashboard
  li
    a(href="example-gallery.html") Gallery
