.menubar.menubar--fixed.codebase--nav-top
  .menubar__brand.codebase__brand
    a(href="index.html").nowrap
      svg(id="codebase-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 12")
        path(d="M1 6l5-5C3.2 3.7 3.2 8.2 6 11L1 6zM16 11c.9-.9.9-2.4 0-3.3-.9-.9-2.4-.9-3.3 0-.9.9-2.4.9-3.3 0-.9-.9-.9-2.4 0-3.3s2.4-.9 3.3 0 2.4.9 3.3 0c.9-.9.9-2.4 0-3.3l5 5-5 4.9z")
      | Codebase #[span #[+codebase-version]]
  .menubar__content
    ul.menubar__right.hide--sm-down
      li
        a(href="index.html") #[span.fas.fa-home.fa-fw] Home
      li.
        #[a(href="https://github.com/SimonPadbury/Codebase/archive/master.zip") #[span.fas.fa-download] Download]
      li.
        #[a(href="https://github.com/SimonPadbury/Codebase") #[span.fab.fa-github] GitHub]
