footer.docs__footer
  span.text--teal.
    #[a(href="index.html") Codebase] #[+codebase-version] #[span.text--muted |]
    #[a(href="https://github.com/SimonPadbury/Codebase") GitHub Repository] #[span.text--muted | Built by] #[a(href="http://simonpadbury.github.io") Simon Padbury]
