ul.menu.deco
  li
    a(href="#basic-intro") Introduction
  li
    a(href="#basic-headings") Headings
  li
    a(href="#basic-paragraphs") Paragraphs
  li
    a(href="#basic-initial-icons") Initial Icons
  li
    a(href="#basic-blockquotes") Blockquotes
  li
    a(href="#basic-text-alignment") Text Alignment
  li
    a(href="#basic-text-columns") Text Columns
  li
    a(href="#basic-text-elements") Simple Text Elements
  li
    a(href="#basic-lists") Lists
  li
    a(href="#basic-tables") Tables
  li
    a(href="#basic-horizontal-rules") Horizontal Rules
  li
    a(href="#basic-images") Images
  li
    a(href="#basic-buttons") Buttons
  li
    a(href="#basic-form-elements") Form Elements
  li
    a(href="#basic-combos") Combos
  li
    a(href="#basic-badges-and-labels") Badges and Labels
  li
    a(href="#basic-floats-and-clearfix") Floats and Clearfix
  li
    a(href="#basic-text-utilities") Text Utilities
  li
    a(href="#basic-big-typography") Big Typography
