ul.menu.decorate
  li
    a(href="#getting-started-introduction") Introduction
  li
    a(href="#getting-started-simple-setup") Simple Setup
  li
    a(href="#getting-started-advanced-setup") Advanced Setup
  li
    a(href="#getting-started-codebase-scss-library") Using Codebase as a Sass (SCSS) Library
  li
    a(href="#getting-started-mq-breakpoint-widths") Media Query Breakpoint Widths
  li
    a(href="#getting-started-codebase-with-pug") Using Codebase with Pug
  li
    a(href="#getting-started-pug-html-generator-mixins") Pug-HTML Generator Mixins
  li
    a(href="#getting-started-rtl-support") RTL Languages Support
