ul.menu.decorate
  li
    a(href="#components-introduction") Introduction
  li
    a(href="#components-decoration") Decoration
  li
    a(href="#components-javascript") Components that use JavaScript
  li
    a(href="#components-activator") Activator
  li
    a(href="#components-toggler") Toggler
  li
    a(href="#components-showhide") Showhide
  li
    a(href="#components-dropdowns") Dropdowns
  li
    a(href="#components-menus") Menus
  li
    a(href="#components-menubars-simple") Menubars: Simple
  li
    a(href="#components-menubars-responsive") Menubars: Responsive
  li
    a(href="#components-menubars-complex") Menubars: Complex
  li
    a(href="#components-off-canvas-side-panels") Off-Canvas Side Panels
  li
    a(href="#components-cards") Cards
  li
    a(href="#components-tables") Tables
  li
    a(href="#components-popovers") Popovers
  li
    a(href="#components-tabs") Tabs
  li
    a(href="#components-pagination") Pagination
  li
    a(href="#components-load-partial") Load Partial
