ul.menu.deco
  li
    a(href="#decoration-introduction") Introduction
  li
    a(href="#decoration-element-grid") Element Grid
  li
    a(href="#decoration-margins") Margins
  li
    a(href="#decoration-borders") Borders
  li
    a(href="#decoration-paddings") Paddings
  li
    a(href="#decoration-colors") Colors
  li
    a(href="#decoration-box-shadows") Box Shadows
  li
    a(href="#decoration-text") Text
