.off-canvas__ctrl.off-canvas__ctrl--docs.off-canvas__ctrl--right.off-canvas__ctrl--fixed.hide--lg-up(data-content-id="docs_sidebar")
  | #[span.hide--sm-down.hide--lg-up Docs] #[span.hide--md-up Menu] #[i.fas.fa-bars]

.docs__nav.off-canvas__content.off-canvas__content--lg.off-canvas__content--right.off-canvas__content--fixed(id="docs_sidebar")
  .off-canvas__close.off-canvas__close--right.hide--lg-up.big.p--4
    i.fas.fa-times

  .sidenav-toggler.hide--lg-down(data-toggle-id="docs_sidebar" data-toggle-class="is-retracted")
    span.fas.fa-ellipsis-v

  ul
    li.hide--md-up #[a(href="#/") #[i.fas.fa-home.fa-fw] Home]

    li #[a(href="getting-started.html") #[i.fas.fa-play.fa-fw] Getting Started]

    li #[a.this-page(href="basics.html") #[i.fas.fa-cubes.fa-fw] Basics]
      .docs__nav--sub-nav
        include _docs-sub-nav-basics

    li #[a(href="layout.html") #[i.far.fa-map.fa-fw] Layout]

    li #[a(href="components.html") #[i.fas.fa-cogs.fa-fw] Components]

    li #[a(href="decoration-utilities.html") #[i.fas.fa-tint.fa-fw] Decoration Utilities]

    li #[a(href="examples.html") #[i.fas.fa-gift.fa-fw] Examples]

    li.hide--md-up #[a(href="https://github.com/SimonPadbury/Codebase/archive/master.zip") #[i.fas.fa-download] Download]

    li.hide--md-up #[a(href="https://github.com/SimonPadbury/Codebase") #[i.fab.fa-github] GitHub]
