// CODEBASE DOCS THEME
// ===================
// As of Codebase v.1.3.3 the docs theme itself no longer utilizes Codebase - 
// but as the semantic and flexbox grid examples require it, Codebase is still 
// imported here.

// Import Codebase
@import '../../codebase/scss/codebase';

@import 'semantic-grid-example';
@import 'flexbox-grid-example';

// Docs theme styles

html, body {
  height: 100%; // Necessary for "sticky footer"
}

body {
  background: #ffffff;
}

// =============================================================================
// Navbar
// =============================================================================

.docs__navbar {
  .navbar__brand a {
    height: 44px;
    padding-left: 50px;
    color: #444444;
    font-weight: normal;
    background: #ffffff url('../../images/codebase-logo.svg') 10px 6px no-repeat;
    background-size: 30px auto;
    &:hover {
      color: #444444;
      background-color: #f5f5f5;
    }
  }
}

// =============================================================================
// Page wrap
// =============================================================================

.page-wrap {
  min-height:100%;
	position:relative;
}

// =============================================================================
// Docs page body setup (contains sidebar and main)
// =============================================================================

.docs {
  padding-bottom: 100px; // Necessary for "sticky footer"
  @media (min-width: 960px) {
    display: flex;

  }
}

// =============================================================================
// Sidebar
// =============================================================================

.docs__sidebar {
  padding: 0;
  background: #444444;
  h4 {
    margin: 10px;
    font-weight: bold;
    color: #dddddd;
  }
  &>ul {
    border-top: 1px solid #777777;
  }
  li {
    a {
      display: block !important;
      border-bottom: 1px solid #777777;
      padding-left: 10px;
      color: #aaaaaa;
      text-decoration: none;
      &:active,
      &.current {
        color: #444444;
        background-color: #777777;
      }
    }
    li {
      margin: 0;
      a {
        padding-left: 20px;
      }
    }
  }
  @media (min-width: 960px) {
    position: relative;
    width: 100%;
    max-width: 250px;
    margin-top: -1px;
    padding: 0 10px 40px;
    h4 {
      padding-top: 40px;
      color: #ffffff;
      font-weight: bold;
    }
    &>ul {
      border-top: 0;
    }
    li {
      margin: 0 -10px;
      a {
        display: block !important;
        border-bottom: 0;
        padding-left: 20px;
        color: #dddddd;
        &:active,
        &.current {
          color: #ffffff;
          background-color: rgba(0,0,0,0.1);
        }
      }
      li {
        margin: 0 0 0 -20px;
        a {
          padding-left: 40px;
        }
      }
    }
  }
}

.docs {
  @media (min-width: 960px) {
    &--base {
      .docs__sidebar {
        background: darken(#09c, 10%);
      }
    }
    &--layout {
      .docs__sidebar {
        background: darken(#3cc, 10%);
        a {
          color: #f5f5f5;
          &:hover {
            color: ffffff;
          }
        }
      }
    }
    &--utilities {
      .docs__sidebar {
        background: darken(#f80, 10%);
      }
    }
    &--components {
      .docs__sidebar {
        background: darken(#2b4, 10%);
      }
    }
    &--decoration {
      .docs__sidebar {
        background: darken(#f44, 10%);
      }
    }
  }
}

.docs__sidebar-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
  }
  a {
    display: inline-block;
    padding: 10px 0;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    @media (min-width: 960px) {
      margin-left: 20px;
    }
  }
}

.off-canvas-navicon {
  background: rgba(255,255,255,0.3);
}

// =============================================================================
// Main
// =============================================================================

.docs__main {
  > * {
    padding-right: 10px;
    padding-left: 10px;
    @media (min-width: 640px) {
      padding-right: 15px;
      padding-left: 15px
    }
    @media (min-width: 960px) {
      padding-right: 20px;
      padding-left: 20px;
    }
    @media (min-width: 1280px) {
      padding-right: 25px;
      padding-left: 25px;
    }
  }
  @media (min-width: 960px) {
    position: relative;
    width: 100%;
    flex-grow: 1;
  }
}

.docs__header {
  margin-bottom: 60px;
  border-bottom: 1px solid #dddddd;
  padding: 20px 0;
  text-align: center;
  @media (min-width: 640px) {
    padding: 30px 0;
  }
  @media (min-width: 960px) {
    padding: 50px 0;
  }
  @media (min-width: 1280px) {
    padding: 70px 0;
  }
  h1 {
    max-width: 1280px - 30px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: 300;
    letter-spacing: 1px;
  }
  span {
    display: block;
    max-width: 1280px - 30px;
    margin: 20px auto 0 auto;
    padding-right: 10px;
    padding-left: 10px;
    color: #aaaaaa;
    font-weight: 200;
    @media (min-width: 640px) {
      font-size: 1.5rem;
    }
  }
  small {
    display: block;
    color: #aaaaaa;
  }
}

.docs__content {
  max-width: 700px;
  margin-right: auto;
  margin-bottom: 80px;
  margin-left: auto;
}

// =============================================================================
// Footer
// =============================================================================

.docs__footer {
  // "Sticky footer" (sticks to the bottom of the screen if the page doesn't have much content).
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 40px 10px;
  text-align: center;
}

// =============================================================================
// Prism Code Blocks
// =============================================================================

.docs__code {
  margin: 40px 0 !important;
  code {
    border: 0;
    font-size: 1rem;
    line-height: 1.5;
  }
}
