// Import Codebase
@import '../../codebase/scss/codebase';

// Codebase docs theme

@import 'grid-semantic';
@import 'grid-flexbox';

html, body {
  height: 100%;
  // Enables .codebase-docs__footer to stick to the bottom of the screen
  // if the page doesn't have much content.
}

body {
  background: $color-silver;
}

.codebase-docs {
  position: relative;
  max-width: 1340px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto;
  background: $color-white;
  box-shadow: $box-shadow;
}

.codebase-docs__menubar {
  .menubar__brand a {
    padding-left: 50px;
    color: $color-charcoal;
    font-weight: normal;
    background: $color-body url('../../images/codebase-logo.svg') 10px 6px no-repeat;
    background-size: 30px auto;
    &:hover {
      color: $color-charcoal;
      background-color: $color-silver;
    }
  }
  @include break__sm--up {
    padding: $spacing-sm 0;
  }
  @include break__lg--up {
    padding: $spacing-md $spacing-sm;
  }
}

.codebase-docs__header {
  color: $color-mid-gray;
  background-color: $color-charcoal;
  padding: $spacing-sm 0;
  h1 {
    max-width: $grid-max-width;
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-sm;
    padding-left: $spacing-sm;
    font-weight: 200;
    letter-spacing: 1px;
  }
  span {
    display: block;
    max-width: $grid-max-width;
    margin: 30px auto -30px auto;
    padding-right: $spacing-sm;
    padding-left: $spacing-sm;
    font-weight: 200;
    color: $color-dark-gray;
    @include break__sm--up {
      font-size: 1.5rem;
    }
  }
}

// Layout

.codebase-docs__main {
  @include break__sm--up {
    @include grid;
    @include grid--gutter;
  }
  padding-bottom: 100px; // this 100px is *behind* the .codebase-docs__footer
}

.codebase-docs__sidebar {
  &>ul {
    font-weight: bold;
    ul {
      font-weight: normal;
    }
  }
  @include break__xs--only {
    padding: 0;
    background: $color-charcoal;
    .brand {
      &:before {
        display: block;
        position: relative;
        top: 3px;
        float: left;
        content: '';
        width: 18px;
        height: 18px;
        background: url('../../images/codebase-logo-sidebar.svg') 0 0 no-repeat;
        background-size: 18px auto;
      }
      span {
        margin-left: 5px;
      }
      &:hover {
        color: $color-light-gray;
        &:before {
          background-position: 0 -20px;
        }
      }
    }
    h4 {
      margin: 10px;
      font-weight: bold;
      color: $color-dark-gray;
    }
    &>ul {
      border-top: $border-thin-solid;
      border-color: $color-dark-gray;
    }
    li {
      a {
        display: block !important;
        border-bottom: $border-thin-solid;
        border-color: $color-dark-gray;
        padding-left: $spacing-sm;
        color: $color-mid-gray;
        &:hover {
          text-decoration: none;
          color: $color-light-gray;
          background-color: $color-dark-gray;
        }
      }
      li {
        margin: 0;
        a {
          padding-left: $spacing-md;
        }
      }
    }
  }
  @include break__sm--up {
    @include col-semantic;
    @include col--span(3);
    @include col--push(9);
    padding-bottom: 40px;
  }
  @include break__lg--up {
    @include col--span(2);
    @include col--push(10);
  }
}

.codebase-docs__main-article {
  padding: $spacing-md $spacing-sm $spacing-lg $spacing-sm;
  @include break__sm--up {
    @include col-semantic;
    @include col--span(9);
    @include col--pull(3);
  }
  @include break__lg--up {
    @include col--span(10);
    @include col--pull(2);
  }
}

.codebase-docs__footer {
  // Sticks to the bottom of the screen (if the page doesn't have much content).
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  padding: 40px 10px;
  text-align: center;
}

// Styling

.codebase-docs__sidebar-menu {
  @include menu;
  li {
    @include menu__item;
  }
  a {
    @include menu__link;
  }
  ul {
    @include menu;
    @include break__sm--up {
      margin-left: $spacing-md;
    }
  }
}

.off-canvas-navicon {
  box-shadow: $box-shadow;
}
