extends ../../docs-template-partials/_docs-article

block prepend article
  - var articleId = "layout-flexbox-variables"
  - var articleTitle = "Flexbox Variables"

block section
  
  p Codebase flexbox systems use the following variables:

  table.table.table--rows.table--columns
    thead
      tr
        th Variable
        th Value
        th Explanation
    tbody
      tr
        td
          code.nowrap $cb-mq--md
        td
          code.nowrap 640px !default
        td.
          Break-point for medium viewports (e.g. tablets, landscape).
      tr
        td
          code.nowrap $cb-mq--lg
        td
          code.nowrap 960px !default
        td.
          Break-point for large viewports (e.g. laptops, desktops).
      tr
        td
          code.nowrap $cb-max-flex-items
        td
          code.nowrap 12 !default
        td.
          The default Codebase flexbox system has up to 12 columns (flex-items), each 1/12 of the flexbox max width.
      tr
        td
          code.nowrap $cb-flexbox--gap-width
        td
          code.nowrap $cb-spacing--24 !default
        td
          Half of the gap width is used as margin either side of each flexbox column. (See #[a(href="decoration-utilities.html#decoration-utilities-element-grid") element grid] for units.)          
