extends ../../docs-template-partials/_docs-article

block prepend article
  - var sectionId = "layout-flexbox-systems"
  - var sectionTitle = "Flexbox Systems"

block section
  
  p.
    Since Codebase 2.0, the flexbox layout mixins and classes formerly using the word "grid" have been renamed simply as layout #[code flexbox] and "col" (column) has been renamed as #[code flexitem]. This has been done so that the word "grid" can instead be used in the names of mixins and classes to refer to the new CSS grid specification.

  table.table.deco
    thead
      tr
        th
        th Mixin (prefix)
        th Class (prefix)
    tbody
      tr
        td The flexbox block
        td #[code +flexbox]
        td #[code .flexbox]
      tr
        td The flex-item element (immediate child)
        td #[code +flexitem]
        td #[code .flexitem]

  br
    
  p.
    In the Codebase flexbox system, all the following options are supported:

  ul
    li Flexitem span
    li Flexitem offseting
    li Flexitem (re)ordering
    li Flexitem centering (horizontally) and/or middling (vertically)

  p.
    #[i Incomplete flexitem "rows"?] No problem. Flexbox "rows" can be incomplete. The last flexitem does not expand to occupy the unused space. No additional "end" classes required.

  p.
    #[i Surplus horizontal flexitems ("columns")?] No problem. Flexitems will automatically wrap if they extend beyond the flexbox container max width. The last flexitem does not expand to occupy the unused space. No additional "end" classes required.

  h3 Flexboxes at different Media Query Breakpoints

  p.
    The Codebase media query breakpoint widths are specified by four #[code !default] variables.

  p.
    Flexboxes can be used with or without specifying breakpoints (and with or without using breakpoint classes). Without breakpoints, the flexitems will be displayed the same (% width) whatever the window width.

  p.
    This means that each flexbox system can have up to five viewport width configurations:

  table.table.deco
    thead
      tr
        th
        th
        th(style="width: 160px;")  #[code .flexitem] classes
        th  #[code +flexitem] mixins
    tbody
      tr
        td 1
        td
          | Multi-column below
          code $mq--xs
        td
          code .flexitem--*
        td(colspan="2")  Use flexitem mixins without wrapping them in breakpoint mixins.
      tr
        td 2
        td
          | Multi-column above
          code $mq--xs
        td
          code .flexitem-xs--*
        td(colspan="2")
          | Wrap flexitem mixins in #[br] #[code +break--min($mq--xs)] {...}
      tr
        td 3
        td
          | Multi-column above
          code $mq--sm
        td
          code .flexitem-sm--*
        td(colspan="2")
          | Wrap flexitem mixins in #[br] #[code +break--min($mq--sm)] {...}
      tr
        td 4
        td
          | Multi-column above
          code $mq--md
        td
          code .flexitem-md--*
        td(colspan="2")
          | Wrap flexitem mixins in #[br] #[code +break--min($mq--md)] {...}
      tr
        td 5
        td
          | Multi-column above
          code $mq--lg
        td
          code .flexitem-lg--*
        td(colspan="2")
          | Wrap flexitem mixins in #[br] #[code +break--min($mq--lg)] {...}
