extends ../../docs-template-partials/_docs-article

block prepend article
  - var articleId = "layout-invisibility"
  - var articleTitle = "Invisibility"

block section
  
  p.lead A range of invisibility mixins and classes have been built based on the Codebase media query breakpoint variables.

  p.center #[i.fas.fa-times] = invisible (hidden) &nbsp; #[i.fas.fa-check] = visible

  style.
    .invisibility-example {
    margin: -8px -12px;
    padding: 8px 12px;
    }

  table.table.table--grid.table--centered-not-first
    thead
      tr
        th Mixin / Class
        th Example
        th sm
        th md
        th lg
    tbody
      tr.bt--thick
        td #[code hide--sm-down]
        td
          .hide--sm-down.p--block.bg--green.white.invisibility-example Example
        td #[i.fas.fa-times]
        td #[i.fas.fa-check]
        td #[i.fas.fa-check]
      tr
        td #[code hide--md-down]
        td
          .hide--md-down.p--block.bg--green.white.invisibility-example Example
        td #[i.fas.fa-times]
        td #[i.fas.fa-times]
        td #[i.fas.fa-check]
      tr.bt--thick
        td #[code hide--md-up]
        td
          .hide--md-up.p--block.bg--green.white.invisibility-example Example
        td #[i.fas.fa-check]
        td #[i.fas.fa-times]
        td #[i.fas.fa-times]
      tr
        td #[code hide--lg-up]
        td
          .hide--lg-up.p--block.bg--green.white.invisibility-example Example
        td #[i.fas.fa-check]
        td #[i.fas.fa-check]
        td #[i.fas.fa-times]

  h3.Notes
  
  ol
    li #[b There are no Codebase] #[code .show--] #[b classes]. Therefore, if you need something to be visible only at some viewport widths and not others, then what you need to do is use the appropriate #[code .hide--*] class so that it will not be visible at viewport widths where you don't want it to be.
    li If you need something to be visible only at a mid-range viewport width, then use two #[code .hide--*] classes: one to hide the thing at lower viewport widths and one to hide it at higher viewport widths. E.g.
  
  pre
    code.
      // A div that is ONLY visible at medium viewport widths:

      &lt;div class="hide--md-down hide--lg-up"&gt; ... &lt;/div&gt;

  p.bg--green-lighten-3.p--16
    | For an example of where this has been done, see the #[b viewport width indicator] (fixed to the bottom-right corner) in these docs.
