//- Components Mixins Index

//-
  Some basics mixins to help with rapid prototyping or style guide composition.
  Note: some components really can't be more rapidly created by calling a mixin than by actually hand-coding them. E.g.

include _reading-progress-bar
include _control-colors
include _dropdowns
include _media-objects
include _menus-and-menubars
include _navbars
include _off-canvas-sidebars
include _pagination
include _popovers
include _reset-overlay
include _showhide
include _slideshows
include _tab-systems
