//- Component mixins: Dropdowns

mixin dropdown
  .dropdown
    button.btn.btn--sm.dropdown__toggle
      | Dropdown <i class="fa fa-caret-down"></i>
    .dropdown__content.dropdown__content--nowrap
      | Long content with <code>dropdown__content--nowrap</code>

mixin dropdown-combo
  .dropdown
    button.btn.btn--sm.combo--first Dropdown combo
    button.btn.btn--sm.btn--icon.fa.fa-caret-down.dropdown__toggle.combo--last
    .dropdown__content Content

mixin dropdown-md-up
  .dropdown.dropdown--md-up
    button.dropdown__toggle.btn Dropdown <i class="fa fa-sort"></i>
    .dropdown__content Content

mixin dropdown-complex-example
  .clearfix
    .float--left
      button.btn.btn--sm.btn--icon.combo--first
        i.fa.fa-bold(aria-hidden='true')
      button.btn.btn--sm.btn--icon.combo--middle
        i.fa.fa-italic(aria-hidden='true')
      button.btn.btn--sm.btn--icon.combo--last.float--left
        i.fa.fa-underline(aria-hidden='true')
      | &nbsp;
    .float--left
      .dropdown
        button.btn.btn--sm.btn--icon.dropdown__toggle
          i.fa.fa-align-left
        span.dropdown__content.p--zero.bg--white.bs
          ul.menu
            li
              button.btn.btn--sm.btn--icon.btn--link
                i.fa.fa-align-center(aria-hidden='true')
            li
              button.btn.btn--sm.btn--icon.btn--link
                i.fa.fa-align-right(aria-hidden='true')
            li
              button.btn.btn--sm.btn--icon.btn--link
                i.fa.fa-align-justify(aria-hidden='true')
      | &nbsp;
    .float--left
      button.btn.btn--sm.btn--icon.combo--first
        i.fa.fa-cut(aria-hidden='true')
      button.btn.btn--sm.btn--icon.combo--middle
        i.fa.fa-copy(aria-hidden='true')
      button.btn.btn--sm.btn--icon.combo--last.float--left
        i.fa.fa-paste(aria-hidden='true')
      | &nbsp;
    .float--left
      .dropdown
        button.btn.btn--sm.btn--icon.dropdown__toggle
          i.fa.fa-list
        span.dropdown__content.p--zero.bg--white.bs
          ul.menu
            li
              button.btn.btn--sm.btn--icon.btn--link
                i.fa.fa-list-ol(aria-hidden='true')
            li
              button.btn.btn--sm.btn--icon.btn--link
                i.fa.fa-list-ul(aria-hidden='true')
