//- Component Mixins: Menus and Menubars

//-
  These are simply for prototyping. Of course you will want to compose your own menus/menubars in real life.

mixin menu(menuLink, total, menuClass)

  - var n = 0;
  ul(class=['menu', menuClass])
    while n < total
      li
        a(href='#/')= menuLink
          =' '
          = (n++ + 1)

//- Example
  +menu('Menu link', 5, 'menu--block')

mixin menubar(menuLink, total, menuClass)

  - var n = 0;
  ul(class=['menubar', menuClass])
    while n < total
      li
        a(href='#/')= menuLink
          =' '
          = (n++ + 1)
