//- Component Mixins: Navbars

mixin navbar
  .showhide.showhide--block.showhide--sm-down.showhide--is-resettable
    button.showhide__toggle.btn.btn--icon.btn--lt <i class="fa fa-bars"></i>
    .showhide__content
      .navbar.mb--3u.b--1px-dashed
        .navbar--left
          a(href="#/")
            b Brand
          .navbar--left
            li
              a(href="#/") Left 1
            li.dropdown.dropdown--md-up
              a.dropdown__toggle Left 2 <i class="fa fa-caret-down"></i>
              ul.dropdown__content.dropdown__content--nowrap.menu
                li
                  a(href="#/") Left child 2.1
                li
                  a(href="#/") Left child 2.2
                li
                  a(href="#/") Left child 2.3
            li
              a(href="#/") Left 3
        form.navbar--right
          +input-text('search-example', 'examplename', 'Search...', 5, 'combo--first')
          +button('<i class="fa fa-search"></i>', 'submit', 'btn--sm btn--icon combo--last')
