//- Component: Menus

mixin popover-example-1

  #popover-example-1.popover.popover--narrow.bs-2x.p--3u.bg--white
    p Lorem ipsum dolor sit amet usu in odio gubergren conclusionemque.
    a.popover__close.float--right Close
    br

  p
    button.btn.popover__open(data-popover='popover-example-1') Popover example 1
