//- Component: Reading Progress Bar

mixin reading-progress-bar

  progress.reading-progress-bar(
    value='0'
    id='progressBar'
    )
    .reading-progress-bar__container
      span.reading-progress-bar__indicator
