//- Component Mixins: Slideshows

mixin slideshow

  .slideshow.slideshow--looping
    .slideshow__inner

      .slideshow__item
        +image('holder.js/1000x400?bg=#eeeeee')
        h4 Title for Slide 1
        p Plus some descriptive text.

      .slideshow__item
        +image('holder.js/1000x400?bg=#cccccc')
        h4 Title for Slide 2
        p Plus some descriptive text.

      .slideshow__item
        +image('holder.js/1000x400?bg=#aaaaaa')
        h4 Title for Slide 3
        p Plus some descriptive text.

      .slideshow__item
        +image('holder.js/1000x400?bg=#888888')
        h4 Title for Slide 4
        p Plus some descriptive text.

      .slideshow__item
        +image('holder.js/1000x400?bg=#666666')
        h4 Title for Slide 5
        p Plus some descriptive text.

      .slideshow__item
        +image('holder.js/1000x400?bg=#444444')
        h4 Title for Slide 6
        p Plus some descriptive text.
