// LAYOUT MIXINS: INVISIBILITY
// ===========================

// Hide down

@mixin cb-hide--sm-down {
  @media screen and (max-width: $cb-mq--md - 1) {
    display: none !important;
  }
}

@mixin cb-hide--md-down {
  @media screen and (max-width: $cb-mq--lg - 1) {
    display: none !important;
  }
}

// Hide up

@mixin cb-hide--md-up {
  @media screen and (min-width: $cb-mq--md) {
    display: none !important;
  }
}

@mixin cb-hide--lg-up {
  @media screen and (min-width: $cb-mq--lg) {
    display: none !important;
  }
}

// CLASS BUILDER: INVISIBILITY
// ===========================

@mixin cb-layout-invisibility {
  .hide--sm-down {
    @include cb-hide--sm-down;
  }

  .hide--md-down {
    @include cb-hide--md-down;
  }

  .hide--md-up {
    @include cb-hide--md-up;
  }

  .hide--lg-up {
    @include cb-hide--lg-up;
  }
}

// End of class builder mixin

@if $cb-include-css--invisibility == true {
  @include cb-layout-invisibility;
}
