// BASE: VARIABLES
// ===============

// Colors

$color-default-text:        #444;
$color-hyperlink:           #08c;
$color-primary:             $color-hyperlink;
$color-secondary:           lighten($color-primary, 20%);
$color-warning:             #f40;
$color-success:             #3b3;

// Base typography

$base-font-size: 18px;
$line-height: $base-font-size * 1.618; // Golden ratio
