// BASE: VARIABLES
// ===============

// Colors

$color-default-text:        #444;
$color-button-text:         #fff;

// Base typography

$base-font-size: 18px;
$line-height: $base-font-size * 1.618; // Golden ratio
