//- Basics Index

//-
  Some example basics mixins to help with rapid prototyping or style guide composition.

  Note: some basics really can't be more rapidly created by calling a mixin than by actually hand-coding them. E.g. there are no mixins for horizontal rules, floats, clearfix, badges, labels, text columns or enlarged typography.

include _headings
include _paragraphs
include _blockquotes
include _text-alignment
include _initial-icons
include _text-elements
include _lists
include _tables
include _form-elements
include _buttons
include _images
