//- Basics Mixins: Blockquotes

mixin blockquote(cite)
  if block
    blockquote(cite=cite).
      block
  else
    blockquote(cite=cite).
      Lorem ipsum dolor sit amet, adipiscing honestatis ius ut, nisl consulatu pro in. Imperdiet evertitur no usu, his te suavitate salutatus. Nullam ridens deterruisset an duo. Cum harum insolens ei, cum probo placerat praesent et.
