//colors
$yellow: #ff0;
$black: #000;
$silver: #c0c0c0;

//fonts
$font_0: sans-serif;
$font_1: monospace;

//@extend-elements
//original selectors
//sub, sup
%extend_1 {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}


html {
	font-family: $font_0;
	[type="button"] {
	}
}
body {
	margin: 0;
}
article {
	display: block;
}
aside {
	display: block;
}
details {
	display: block;
}
figcaption {
	display: block;
}
figure {
	display: block;
	margin: 1em 40px;
}
footer {
	display: block;
}
header {
	display: block;
}
main {
	display: block;
}
menu {
	display: block;
}
nav {
	display: block;
}
section {
	display: block;
}
summary {
	display: block;
}
audio {
	display: inline-block;
	&:not([controls]) {
		display: none;
		height: 0;
	}
}
canvas {
	display: inline-block;
}
progress {
	display: inline-block;
	vertical-align: baseline;
}
video {
	display: inline-block;
}
template {
	display: none;
}
[hidden] {
	display: none;
}
a {
	background-color: transparent;
	&:active {
		outline-width: 0;
	}
	&:hover {
		outline-width: 0;
	}
}
abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}
b {
	font-weight: inherit;
	font-weight: bolder;
}
strong {
	font-weight: inherit;
	font-weight: bolder;
}
dfn {
	font-style: italic;
}
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}
mark {
	background-color: $yellow;
	color: $black;
}
small {
	font-size: 80%;
}
sub {
	@extend %extend_1;
	bottom: -0.25em;
}
sup {
	@extend %extend_1;
	top: -0.5em;
}
img {
	border-style: none;
}
code {
	font-family: $font_1, $font_1;
	font-size: 1em;
}
kbd {
	font-family: $font_1, $font_1;
	font-size: 1em;
}
pre {
	font-family: $font_1, $font_1;
	font-size: 1em;
}
samp {
	font-family: $font_1, $font_1;
	font-size: 1em;
}
hr {
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}
button {
	font: inherit;
	margin: 0;
	overflow: visible;
	text-transform: none;
	&:-moz-focusring {
		outline: 1px dotted ButtonText;
	}
}
input {
	font: inherit;
	margin: 0;
	overflow: visible;
}
select {
	font: inherit;
	margin: 0;
	text-transform: none;
}
textarea {
	font: inherit;
	margin: 0;
	overflow: auto;
}
optgroup {
	font-weight: bold;
}
button::-moz-focus-inner {
	border-style: none;
	padding: 0;
}
[type="button"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}
[type="reset"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}
fieldset {
	border: 1px solid $silver;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}
legend {
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}
[type="checkbox"] {
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
	padding: 0;
}
[type="radio"] {
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
	padding: 0;
}
[type="number"]::-webkit-inner-spin-button {
	height: auto;
}
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}
[type="search"] {
	outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button {
}
[type="search"]::-webkit-search-decoration {
}
::-webkit-input-placeholder {
	color: inherit;
	opacity: 0.54;
}
::-webkit-file-upload-button {
	font: inherit;
}
svg:not(:root) {
	overflow: hidden;
}
[type="reset"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}
[type="button"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}