// DECORATION MIXIN: BORDERS
// =========================

@mixin cb-border-utilities {
  // Border All

  .b {
    &--0 {
      border: 0 !important;
    }

    &--thin {
      border: $cb-border--thin;
    }

    &--dashed {
      border: $cb-border--dashed;
    }

    &--thick {
      border: $cb-border--thick;
    }

    &--heavy {
      border: $cb-border--heavy;
    }
  }

  // Border Top

  .bt {
    &--0 {
      border-top: 0 !important;
    }

    &--thin {
      border-top: $cb-border--thin;
    }

    &--dashed {
      border-top: $cb-border--dashed;
    }

    &--thick {
      border-top: $cb-border--thick;
    }

    &--heavy {
      border-top: $cb-border--heavy;
    }
  }

  // Border Right

  .br {
    &--0 {
      border-right: 0 !important;
    }

    &--thin {
      border-right: $cb-border--thin;
    }

    &--dashed {
      border-right: $cb-border--dashed;
    }

    &--thick {
      border-right: $cb-border--thick;
    }

    &--heavy {
      border-right: $cb-border--heavy;
    }
  }

  // Border Bottom

  .bb {
    &--0 {
      border-bottom: 0 !important;
    }

    &--thin {
      border-bottom: $cb-border--thin;
    }

    &--dashed {
      border-bottom: $cb-border--dashed;
    }

    &--thick {
      border-bottom: $cb-border--thick;
    }

    &--heavy {
      border-bottom: $cb-border--heavy;
    }
  }

  // Border Left

  .bl {
    &--0 {
      border-left: 0 !important;
    }

    &--thin {
      border-left: $cb-border--thin;
    }

    &--dashed {
      border-left: $cb-border--dashed;
    }

    &--thick {
      border-left: $cb-border--thick;
    }

    &--heavy {
      border-left: $cb-border--heavy;
    }
  }

  // Other Enhancements

  .b--rounded {
    border-radius: $cb-border--radius;
  }

  .b--rounded-0 {
    border-radius: 0 !important;
  }

  .b--rounded-4 {
    border-radius: 4px;
  }

  .b--rounded-8 {
    border-radius: 8px;
  }

  .b--circle {
    border-radius: 50%;
  }

}

// INCLUDE CLASSES: BORDERS
// ========================

@if $cb-include-css--decoration-utilities == true {
  @include cb-border-utilities;
}
