// DECORATION MIXIN: MARGINS
// =========================

@mixin cb-margin-utilities {

  @each $key, $cb-value in $cb-spacing {

    // All
    .m--#{$key} {
      margin: $cb-value;
    }

    // Top
    .mt--#{$key} {
      margin-top: $cb-value;
    }

    // Right
    .mr--#{$key} {
      margin-right: $cb-value;
    }

    // Bottom
    .mb--#{$key} {
      margin-bottom: $cb-value;
    }

    // Left
    .ml--#{$key} {
      margin-left: $cb-value;
    }

    // Vertical (Top and Bottom)
    .my--#{$key} {
      margin-top: $cb-value;
      margin-bottom: $cb-value;
    }

    // Horizontal (Right and Left)
    .mx--#{$key} {
      margin-right: $cb-value;
      margin-left: $cb-value;
    }

  }

  // Extra line spacing (top or bottom margin)

  .mt--line {
    margin-top: $cb-text--base-line-height;

    &.big,
    .big & {
      margin-top: $cb-text--big-line-height;
    }
  }

  .mb--line {
    margin-bottom: $cb-text--base-line-height;

    &.big,
    .big & {
      margin-bottom: $cb-text--big-line-height;
    }
  }

  // Horizontal Centering by `margin: auto`

  .mx--auto {
    display: block !important;
    margin-right: auto !important;
    margin-left: auto !important;
  }
}

// INCLUDE CLASSES: MARGINS
// ========================

@if $cb-include-css--decoration-utilities == true {
  @include cb-margin-utilities;
}
