// DECORATION MIXIN: SHADOWS
// =========================

@mixin cb-shadow-utilities {
  .bs {
    box-shadow: $cb-box-shadow;

    &--1z {
      // Alias
      box-shadow: $cb-box-shadow--1z;
    }

    &--2z {
      box-shadow: $cb-box-shadow--2z;
    }

    &--3z {
      box-shadow: $cb-box-shadow--3z;
    }
  }

  .bs--inset {
    box-shadow: $cb-box-shadow--inset;

    &-top {
      box-shadow: $cb-box-shadow--inset-top;
    }

    &-right {
      box-shadow: $cb-box-shadow--inset-right;
    }

    &-bottom {
      box-shadow: $cb-box-shadow--inset-bottom;
    }

    &-left {
      box-shadow: $cb-box-shadow--inset-left;
    }
  }
}

// INCLUDE CLASSES: SHADOWS
// ========================

@if $cb-include-css--decoration-utilities == true {
  @include cb-shadow-utilities;
}
