.docs__homepage-links
  div
    a(href="getting-started.html") #[span.fas.fa-play.fa-fw] Getting Started
  
  div
    a(href="basics.html") #[span.fas.fa-cubes.fa-fw] Basics
  
  div
    a(href="layout.html") #[span.far.fa-map.fa-fw] Layout
  
  div
    a(href="components.html") #[span.fas.fa-cogs.fa-fw] Components
  
  div
    a(href="decoration-utilities.html") #[span.fas.fa-tint.fa-fw] Decoration Utilities
  
  div
    a(href="examples.html") #[span.fas.fa-gift.fa-fw] Examples

.mt--48

h3.mt--48 Dependencies

p None. The compiled Codebase CSS and JS are all that you need.

p #[code codebase.css] already has #[a(href="https://necolas.github.io/normalize.css/") Normalize] built in. You don't need to add it separately.

p #[code codebase.js] has been totally rebuilt and simplified for v.2.0. And now it does not ueed jQuery (or any other library).
  
p No icon fonts are required by Codebase itself &ndash; you can use any icon font you choose. (These docs and examples use  #[a(href="https://fontawesome.com") Font Awesome]).

h3 Two ways of using Codebase

ol
  li #[a(href="getting-started.html#getting-started-simple-setup").big.bold Simple] &ndash; go ahead and use #[code codebase.css] and #[code codebase.js] in your project.

  li #[a(href="getting-started.html#getting-started-advanced-setup").big.bold Advanced] &ndash; use Codebase as a Sass (SCSS) mixin library, and do what you want with its JS.
  
p You can also use the Codebase #[a(href="getting-started.html#getting-started-codebase-with-pug") Pug starter template], that was developed for this documentation. But Codebase CSS and JS works just fine with HTML or any templating language.


h3 The Codebase CSS
 
p Codebase styling (in both the SCSS and the docs) is organised into #[a(href="basics.html") Basics] and #[a(href="components.html") Components] (analogous to #[a(href="http://atomicdesign.bradfrost.com/") Atomic Design]'s "Atoms" and "Molecules").

p All #[a(href="codebase/scss/02_default-variables/_default-variables.scss") Codebase variables] are set with #[code !default] values &ndash; so, they can be easily overridden. And if you #[code @import] the Codebase master SCSS file #[code codebase.scss] into your own SCSS master file, then you can (override and) utilize and the variables, and you can include and/or extend the mixins in your own project. 

p Most* Codebase styles has been created first as SCSS mixins and then these are included in classes &ndash; all following #[a(href="http://getbem.com/introduction/") BEM] naming convention.#[br]#[small (* i.e. all styles that use CSS classes and some basic styles that apply to (unstyled) HTML tags)]

p Find out more about #[a(href="getting-started.html#getting-started-codebase-with-scss") using Codebase with SCSS].

h3 The Codebase JS

p A few things in Codebase (responsive tables, showhide, dropdown, off-canvas, popovers and tabs) use some tiny JavaScripts. These are combined into one, #[code codebase.js].
  
h3 Codebase Layout Systems

p Codebase has a versatile #[a(href="layout.html#layout-flexbox-system") flexbox 'columnar grid' system] &ndash; traditional 12 columns (default), responsive, with column span, offset, reordering, centering and wrapping.
  
p A range of #[a(href="layout.html#layout-invisibility") invisibility] mixins/classes have also been included.

h3 Decoration Utilities

p Codebase components are as 'cosmetically unstyled' as possible. This has been done so that there is not much that you would need to override in your CSS. 

p However, some minimal decorative styling can be applied by adding a #[code .decorate] class to each component individually where you wish to use it. (And when you don't want Codebase opinionated styling, in the SCSS variables file you can toggle off the #[code .decorate] classes.)
  
p Codebase also has some simple #[a(href="decoration-utilities.html") decoration utility classes] &ndash; which are similar in principle to #[a(href="http://basscss.com/") BASCSS], #[a(href="http://tachyons.io/") Tachyons], and the utilities in the new #[a(href="https://getbootstrap.com/docs/4.0/utilities/borders/") Bootstrap 4].
  
p All margins, paddings, font sizes and line heights are built on a #[a(href="decoration-utilities.html#decoration-utilities-element-grid") 4px element grid], similar in principle to #[a(href="https://spec.fm/specifics/8-pt-grid") Spec FM's 8-Point Grid].

p Codebase decorative styling uses a common set of decoration variables &ndash; which you can easily override.

h3 Using Codebase with Pug

p The Codebase CSS and JS files can be used with HTML directly, of course. Or you can use a templating language such as #[a( href="http://pugjs.org/") PugJS].

p The Codebase documentation has been developed using Pug. Pug snippets of Codebase components have been included through the docs (look for the Pug tabs, such as in the "Get started" button example below). There are also further #[a(href="examples.html") examples].

p Find out more about #[a(href="getting-started.html#getting-started-codebase-with-pug") using Codebase with Pug].

h3 Browser Compatibility

p Codebase has been tested and it all works with current and recent versions of Safari (MacOS and iOS), Firefox, Chrome, Opera, Vivaldi, Brave and Edge. 

p Codebase is also mostly OK on IE10 and IE11 (only these don't work well: popovers, card with fixed header/scrolling body, and SVG images within flexbox layout.) These few problems have to do with old IE's incomplete implemetation of flexbox.

h3 MIT licence

p Codebase is open source software, released under the #[a(href="https://opensource.org/licenses/MIT") MIT licence].

.tabs.decorate.mt--line
  .tab__label-wrap--right
    .tab__label(data-tab-id="tab-docs-intro-html") HTML
    .tab__label(data-tab-id="tab-docs-intro-pug") Pug

  #tab-docs-intro-html.tab__panel
    pre.mt
      code.
        &lt;div class="center"&gt;
          &lt;a href="getting-started.html" class="btn btn--primary btn--pill"&gt;
            Get started &lt;span.fas.fa-arrow-right&gt;&lt;/i&gt;
          &lt;/a&gt;
        &lt;/div&gt;

  #tab-docs-intro-pug.tab__panel
    pre.mt
      code.
        .center
          a(href="getting-started.html").btn.btn--primary.btn--pill.
            Get started \#[span.fas.fa-arrow-right]
  
.center
  a(href="getting-started.html").btn.btn--primary.btn--pill.
    Get started #[span.fas.fa-arrow-right]
