<div id="docs-toc" class="pb-3e bg-theme-1">
  <p class="my-2e bold t-theme-4">Documentation</p>
  <ul class="menu">
    <li class="menu-item"><a href="1-getting-started.html"><strong>Getting Started</strong></a></li>
    <li class="menu-item"><a href="2-basics.html"><strong>Basics</strong></a></li>
    <li class="menu-item"><a href="3-layout.html"><strong>Layout</strong></a>
      <ul class="menu pl-2e">
        <li class="menu-item"><a href="3-layout-containers.html">Containers</a></li>
        <li class="menu-item"><a href="3-layout-flexbox.html">Flexbox</a></li>
        <li class="menu-item"><a href="3-layout-grid.html">Grid</a></li>
      </ul>
    </li>
    <li class="menu-item"><a href="4-utilities.html"><strong>Utilities</strong></a></li>
    <li class="menu-item"><a href="5-components.html"><strong>Components</strong></a>
      <ul class="menu pl-2e">
        <li class="menu-item"><a href="5-components-toggler.html">Toggler</a></li>
        <li class="menu-item"><a href="5-components-activator.html">Activator</a></li>
        <li class="menu-item"><a href="5-components-showhide.html">Showhide</a></li>
        <li class="menu-item"><a href="5-components-dropdowns.html">Dropdowns</a></li>
        <li class="menu-item"><a href="5-components-buttons.html">Buttons</a></li>
        <li class="menu-item"><a href="5-components-badges-and-labels.html">Badges and Labels</a></li>
        <li class="menu-item"><a href="5-components-menus.html">Menus</a></li>
        <li class="menu-item"><a href="5-components-megamenus.html">Megamenus</a></li>
        <li class="menu-item"><a href="5-components-offcanvas.html">Offcanvas</a></li>
        <li class="menu-item"><a href="5-components-cards.html">Cards</a></li>
        <li class="menu-item"><a href="5-components-tables.html">Tables</a></li>
        <li class="menu-item"><a href="5-components-modals.html">Modals</a></li>
      </ul>
    </li>
  </ul>
</div>