<div id="docs-toc" class="bg-theme-1">
  <p class="my-2e bold t-theme-4">Documentation</p>
  <ul class="menu">
    <li class="menu-item"><strong><a href="../codebase/1-getting-started/getting-started.html">Getting Started</a></strong></li>
    <li class="menu-item"><strong><a href="../codebase/2-basics/basics.html">Basics</a></strong></li>
    <li class="menu-item"><strong><a href="../codebase/3-layout/layout.html">Layout</a></strong>
      <ul class="menu">
        <li class="menu-item"><a href="../codebase/3-layout/containers.html">Containers</a></li>
        <li class="menu-item"><a href="../codebase/3-layout/flexbox.html">Flexbox</a></li>
        <li class="menu-item"><a href="../codebase/3-layout/grid.html">Grid</a></li>
      </ul>
    </li>
    <li class="menu-item"><strong><a href="../codebase/4-utilities/utilities.html">Utilities</a></strong></li>
    <li class="menu-item"><strong><a href="../codebase/5-components/components.html">Components</a></strong>
      <ul class="menu">
        <li class="menu-item"><a href="../codebase/5-components/toggler.html">Toggler</a></li>
        <li class="menu-item"><a href="../codebase/5-components/activator.html">Activator</a></li>
        <li class="menu-item"><a href="../codebase/5-components/showhide.html">Showhide</a></li>
        <li class="menu-item"><a href="../codebase/5-components/dropdowns.html">Dropdowns</a></li>
        <li class="menu-item"><a href="../codebase/5-components/buttons.html">Buttons</a></li>
        <li class="menu-item"><a href="../codebase/5-components/badges-and-labels.html">Badges and Labels</a></li>
        <li class="menu-item"><a href="../codebase/5-components/menus.html">Menus</a></li>
        <li class="menu-item"><a href="../codebase/5-components/megamenus.html">Megamenus</a></li>
        <li class="menu-item"><a href="../codebase/5-components/offcanvas.html">Offcanvas</a></li>
        <li class="menu-item"><a href="../codebase/5-components/cards.html">Cards</a></li>
        <li class="menu-item"><a href="../codebase/5-components/tables.html">Tables</a></li>
        <li class="menu-item"><a href="../codebase/5-components/modals.html">Modals</a></li>
      </ul>
    </li>
  </ul>
</div>