<div class="megamenu-wrapper megamenu-wrapper-fixed-top bg-theme-1 bb-thin py-1e">
  <div class="codebase-brand p-block">
    <a href="index.html">
      <!-- Codebase logo-->
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 12">
        <path d="M1 6l5-5C3.2 3.7 3.2 8.2 6 11L1 6zM16 11c.9-.9.9-2.4 0-3.3-.9-.9-2.4-.9-3.3 0-.9.9-2.4.9-3.3 0-.9-.9-.9-2.4 0-3.3s2.4-.9 3.3 0 2.4.9 3.3 0c.9-.9.9-2.4 0-3.3l5 5-5 4.9z" stroke-width="1" stroke-linecap="square" stroke-linejoin="square"/>
      </svg>
      <strong>{{siteName}}</strong>&nbsp;<span class="lighter">{{siteVersion}}</span>
    </a>
  </div>

  <span data-content-id="docs" class="offcanvas-ctrl hide-lg-up float-right pt-1e px-3e">
    Menu &nbsp;<span class="fas fa-bars"></span>
  </span>

  <nav class="megamenu hide-md-down">
    <ul>
      <li>
        <a href="index.html">Home</a>
      </li>
      <li>
        <a href="../1-getting-started/getting-started.html">Docs</a>
      </li>
      <li>
        <a href="https://github.com/SimonPadbury/Codebase/archive/master.zip">Download</a>
      </li>
      <li>
        <a href="https://github.com/SimonPadbury/Codebase">GitHub</a>
      </li>
      <li>
        <a id="theme-toggle">Theme</a>
      </li>
    </ul>
  </nav>
</div>