// DEFAULT STYLES: BASE
// ====================

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  -webkit-overflow-scrolling: touch;
}

img {
  display: inline-block;
  max-width: 100% !important;
  height: auto !important;
  margin: 0 auto;
}

iframe {
  border: 0
}