// DEFAULT STYLES: CODE
// ====================

pre,
code {
  font-size: 18px;
  line-height: 20px;
}

code {
  display: inline-block;
  border: $border-thin-solid;
  border-radius: $border-radius;
  padding: 1px 5px;
  background: $color-silver;
}

pre {
  code {
    display: block;
    line-height: 24px;
    overflow-x: auto;
  }
}
