// DEFAULT STYLES: FORMS
// =====================

form {
  //@include clearfix;
}

label {
  display: inline-block;
  padding: 6px 0;
}

@mixin form__element {
  -webkit-appearance:none;
  position: relative;
  width: 100%;
  min-height: 36px; // = line-height (px) + padding + border (see herein below for these)
  outline: 0 none;
  border: $border-thin-solid;
  border-radius: $border-radius;
	padding: 5px;
  margin-bottom: 10px;
  font-size: $base-font-size;
  line-height: $line-height-px;
	color: $color-text-default;
  &::-webkit-input-placeholder,
  &::-moz-placeholder,
  &:-ms-input-placeholder,
  &:-moz-placeholder,
  &:placeholder {
    color: $color-text-muted;
  }
	&:focus {
		border-color: $color-text-hyperlink;
	}
}

input,
select {
  @include form__element;
}

select {
  padding: 5px;
  color: $color-text-muted;
}

select:not([multiple]) {
  height: 36px;
}

input[type="radio"],
input[type="checkbox"] {
  display: inline-block;
  width: 20px;
  min-height: auto;
  margin: 0;
  padding: 0 10px;
  border: 0;
  line-height: 1;
}

input[type='radio'] {
  -webkit-appearance: radio;
}

input[type='checkbox'] {
  -webkit-appearance: checkbox;
}

textarea {
  @include form__element;
	vertical-align: top;
	overflow: auto;
}
