// UTILITY MIXINS: BUTTONS
// =======================

@mixin btn {
  display: inline-block;
  width: auto;
  margin: 0;
  border: 0;
  border-radius: $btn-border-radius;
  padding: $btn-padding-default;
  font-size: $base-font-size;
  line-height: $base-font-size;
  color: $color-dark-gray;
  text-decoration: none;
  background: transparent;
  &::-moz-focus-inner { 
    border: 0; 
    padding: 0; 
  }
  &[type="button"],
  &[type="submit"] {
    -webkit-appearance: none;
  }
  &:hover {
    cursor: pointer;
    color: $color-text-default;
    text-decoration: none;
    background: $color-silver;
  }
}

// Icon-only Buttons (default/md size only)

@mixin btn--icon {
  width: 36px;
  height: 36px;
  padding: $spacing-sm 0;
  text-align: center;
}

// Button colors

@mixin btn--primary {
  color: $color-primary-text;
  background: $color-primary;
  &:hover {
    color: $color-primary-text-dark;
    background: $color-primary-dark;
  }
}

@mixin btn--secondary {
  color: $color-secondary-text;
  background: $color-secondary;
  &:hover {
    color: $color-secondary-text-dark;
    background: $color-secondary-dark;
  }
}

@mixin btn--warning {
  color: $color-warning-text;
  background: $color-warning;
  &:hover {
    color: $color-warning-text-dark;
    background: $color-warning-dark;
  }
}

@mixin btn--success {
  color: $color-success-text;
  background: $color-success;
  &:hover {
    color: $color-success-text-dark;
    background: $color-success-dark;
  }
}

@mixin btn--error {
  color: $color-error-text;
  background: $color-error;
  &:hover {
    color: $color-error-text-dark;
    background: $color-error-dark;
  }
}

@mixin btn--gradient {
  box-shadow:
    0 1px 1px rgba(0,0,0,0.5),
    inset 0 0 1px rgba(0,0,0,0.5),
    inset 0 10px 10px -10px rgb(255,255,255),
    inset 0 -20px 20px -20px rgba(0,0,0,0.4);
}

@mixin btn--pressable {
  &:active {
    box-shadow:
      0 0 0 transparent,
      inset 0 -50px 50px -50px rgba(0,0,0,0.4),
      inset 0 0 4px rgba(0,0,0,0.8);
  }
}

@mixin btn--sm {
  height: auto;
  padding: $btn-padding-sm;
}

@mixin btn--default {
  padding: $btn-padding-default;
}

@mixin btn--md {
  padding: $btn-padding-default;
}

@mixin btn--lg {
  height: auto;
  padding: $btn-padding-lg;
}

@mixin btn--block {
  &--block {
    display: block;
    width: 100%;
    text-align: center;
  }
}
