// UTILITY: COMBO
// ==============
// Use for combo btns and/or inputs to reset rounded corners IF you have them.

@mixin combo--first {
  display: inline-block;
  float: left;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

@mixin combo--middle {
  display: inline-block;
  float: left;
  border-radius: 0 !important;
  border-radius: 0 !important;
}

@mixin combo--last {
  display: inline-block;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
