// UTILITY: RESET OVERLAY
// ======================
// Used to close things that are opened by jQuery script by "clicking outside" it.

@mixin reset-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: rgba(0,0,0,0);
  transition: background-color 0.3s;
}

@mixin reset-overlay--is-raised {
  z-index: $reset-overlay--z-index;
}

@mixin reset-overlay--is-raised-higher {
  z-index: $reset-overlay--z-index-higher;
}

@mixin reset-overlay--darken {
  background-color: $color-reset-overlay--darken;
}