// UTILITY MIXINS: VISIBILITY
// ==========================

@mixin hide--xs-only {
  @media screen and (max-width: $break-sm - 1) {
    display: none !important;
  }
}
@mixin show--sm-up {
  @include hide--xs-only;
}

//

@mixin hide--sm-only {
  @media screen and (min-width: $break-sm) and (max-width: $break-md - 1) {
    display: none !important;
  }
}

//
@mixin hide--sm-up {
  @media screen and (min-width: $break-sm) {
    display: none !important;
  }
}
@mixin show--xs-only {
  @include hide--sm-up;
}

//

@mixin hide--md-only {
  @media screen and (max-width: $break-md - 1) and (min-width: $break-lg) {
    display: none !important;
  }
}

//

@mixin hide--md-up {
  @media screen and (min-width: $break-md) {
    display: none !important;
  }
}
@mixin show--sm-down {
  @include hide--md-up;
}

//

@mixin hide--md-down {
  @media screen and (max-width: $break-md - 1) {
    display: none !important;
  }
}
@mixin show--lg-only {
  @include hide--md-down;
}

//

@mixin hide--lg-only {
  @media screen and (max-width: $break-lg - 1) {
    display: none !important;
  }
}

//

@mixin show--md-down {
  @include hide--lg-only;
}

//

@mixin show--sm-only {
  @media screen and (max-width: $break-sm - 1) {
    display: none !important;
  }
  @media screen and (min-width: $break-md) {
    display: none !important;
  }
}

//

@mixin show--md-only {
  @media screen and (max-width: $break-md - 1) {
    display: none !important;
  }
  @media screen and (min-width: $break-lg) {
    display: none !important;
  }
}

//

@mixin hide--sm-down {
  @media screen and (max-width: $break-sm - 1) {
    display: none !important;
  }
}
@mixin show--md-up {
  @include hide--sm-down;
}
