// UTILITY MIXINS: VISIBILITY
// ==========================

@mixin hide--tiny-only {
  @media screen and (max-width: $breakpoint-small - 1) {
    display: none !important;
  }
}
@mixin show--small-up {
  @include hide--tiny-only;
}

//

@mixin hide--small-only {
  @media screen and (min-width: $breakpoint-small) and (max-width: $breakpoint-medium - 1) {
    display: none !important;
  }
}

//
@mixin hide--small-up {
  @media screen and (min-width: $breakpoint-small) {
    display: none !important;
  }
}
@mixin show--tiny-only {
  @include hide--small-up;
}

//

@mixin hide--medium-only {
  @media screen and (max-width: $breakpoint-medium - 1) and (min-width: $breakpoint-large) {
    display: none !important;
  }
}

//

@mixin hide--medium-up {
  @media screen and (min-width: $breakpoint-medium) {
    display: none !important;
  }
}
@mixin show--small-down {
  @include hide--medium-up;
}

//

@mixin hide--medium-down {
  @media screen and (max-width: $breakpoint-medium - 1) {
    display: none !important;
  }
}
@mixin show--large-only {
  @include hide--medium-down;
}

//

@mixin hide--large-only {
  @media screen and (max-width: $breakpoint-large - 1) {
    display: none !important;
  }
}

//

@mixin show--medium-down {
  @include hide--large-only;
}

//

@mixin show--small-only {
  @media screen and (max-width: $breakpoint-small - 1) {
    display: none !important;
  }
  @media screen and (min-width: $breakpoint-medium) {
    display: none !important;
  }
}

//

@mixin show--medium-only {
  @media screen and (max-width: $breakpoint-medium - 1) {
    display: none !important;
  }
  @media screen and (min-width: $breakpoint-large) {
    display: none !important;
  }
}

//

@mixin hide--small-down {
  @media screen and (max-width: $breakpoint-small - 1) {
    display: none !important;
  }
}
@mixin show--medium-up {
  @include hide--small-down;
}
