// MODULE: PAGINATION
// ==================
@mixin pagination {
  ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    float: left;
  }
  a {
    display: inline-block;
  }
  .current,
  .current a {
    color: $color-default-text;
    text-decoration: none;
      &:hover {
      color: $color-default-text;
      cursor: default;
    }
  }
}
.pagination {
  @include pagination;
}