// MODULES: TABS
// =============

.tabs {
  margin: $line-height 0;
  font-size: 0;
  @include clearfix;
  // Tabs Top
  &-top {
    .tab-label {
      display: inline-block;
    }
  }
  // Tabs Left
  &-left {
    position: relative;
    overflow-x: hidden;
  }
  // Tabs as Accordion
  &-accordion {
    position: relative;
  }
}
.tab {
    &-label {
        font-size: $base-font-size;
        &:hover {
            cursor: pointer
        }
        &.is-front:hover {
            cursor: default
        }
    }
    &-card {
        clear: both;
        float: left;
        width: 100%;
        height: 0;
        font-size: $base-font-size;
        overflow: hidden;
        &.is-front {
            height: auto;
        }
    }
}
