// MODULE: MENUBAR
// ===============
// Menubar variables
$breakpoint-menubar: 1024px;

// Menubar mixins
@mixin breakpoint-menubar-down {
  @media (max-width: #{$breakpoint-menubar - 1px}) {
    @content
  }
}
@mixin breakpoint-menubar-up {
  @media (min-width: #{$breakpoint-menubar}) {
    @content
  }
}
@mixin nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

// NOTE: menubar 'grandchild' etc. lists have not been styled yet.
@mixin menubar {
  position: relative;
  &-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: $reset-overlay-is-raised-z-index + 1;
    border-bottom: 1px solid #eee;
  }
  &-left>ul,
  &-right>ul {
    @include nav-list;
  }
  @include breakpoint-menubar-down {
    &-brand {
      position: absolute;
    }
    &-toggle {
      position: absolute;
      top: 0;
      right: 0;
      &:hover {
        cursor: pointer;
      }
      i:hover {
        color: $color-hyperlink-text-hover;
      }
    }
    &-is-open {
      z-index: $reset-overlay-is-raised-z-index + 1;
    }
  }
  @include breakpoint-menubar-up {
    &-left,
    &-brand {
      float: left;
    }
    &-right,
    &-search {
      float: right;
    }
    &-left>ul,
    &-right>ul {
      float: left;
    }
    li {
      display: inline-block;
      position: relative;
    }
    &-toggle {
      display: none;
    }
  }
  @include clearfix;
}

@mixin menubar-dropdown {
  a {
    position: relative;
  }
  .menubar-parent .octicon-triangle-down {
    display: none;
  }
  ul ul {
    list-style-type: none;
    margin: 0;
    padding-left: $line-height;
  }
  @include breakpoint-menubar-up {
    .menubar-parent .octicon-triangle-down {
      display: inline-block;
    }
    ul ul {
      display: none;
      position: absolute;
      padding: 0;
      background: #eee;
      li {
        display: block;
      }
      a {
        white-space: nowrap;
      }
    }
    &-right ul ul {
      right: 0;
    }
    .menubar-parent-is-toggled {
      background: #eee;
      z-index: $reset-overlay-is-raised-z-index + 1;
    }
    .menubar-dropdown-is-revealed {
      display: block;
      z-index: $reset-overlay-is-raised-z-index + 1;
    }
  }
}

.menubar {
  @include menubar;
  @include menubar-dropdown;
}
