// MODULE: BUTTONS
// ===============

// Mixins
@mixin button-base {
  display: inline-block;
  width: auto;
  border: 0;
  border-radius: 4px;
  font-size: $base-font-size;
  line-height: $base-font-size;
  color: $color-alt-text;
  text-decoration: none;
  input[type="button"],
  input[type="submit"] {
    -webkit-appearance: none;
    border-radius: 0;
  }
  &:hover {
    color: $color-alt-text;
    text-decoration: none;
  }
  &:active {
    color: $color-alt-text;
  }
}
@mixin button-colors {
  &-primary {
    background: $color-primary-background;
    &:hover {
      background: darken($color-primary-background, 8%);
    }
    &:active {
      background: darken($color-primary-background, 12%);
    }
  }
  &-secondary {
    background: $color-secondary-background;
    &:hover {
      background: darken($color-secondary-background, 12%);
    }
    &:active {
      background: darken($color-secondary-background, 20%);
    }
  }
  &-warning {
    background: $color-warning-background;
    &:hover {
      background: darken($color-warning-background, 8%);
    }
    &:active {
      background: darken($color-warning-background, 20%);
    }
  }
  &-success {
    background: $color-success-background;
    &:hover {
      background: darken($color-success-background, 8%);
    }
    &:active {
      background: darken($color-success-background, 12%);
    }
  }
}
@mixin button-size {
  padding: 10px 20px;
  &-small {
    padding: 5px 10px;
  }
  &-large {
    padding: 20px 30px;
  }
}
@mixin button-block {
  &-block {
    display: block;
    width: 100%;
    text-align: center;
  }
}
@mixin button-dropdown {
  position: relative;
  &-dropdown {
    &>span {
      display: none;
    }
    &-is-revealed {
      z-index: $reset-overlay-is-raised-z-index + 1;
      &>span {
        display: block;
        position: absolute;
        z-index: $reset-overlay-is-raised-z-index + 1;
        margin: 10px 0 0 -20px;
        padding: 10px 20px;
        background: #eee;
        color: $color-default-text;
        text-align: left;
        cursor: default;
        .row {
          margin-bottom: $base-font-size;
        }
      }
    }
    ul,
    ol {
      margin: -10px 0;
      padding-left: 10px;
    }
    li {
      padding: 10px 0;
    }
  }
}
@mixin button {
  @include button-base;
  @include button-colors;
  @include button-size;
  @include button-block;
  @include button-dropdown;
}
.button {
  @include button;
}
