extends ../../docs-template-partials/_docs-article

block prepend article
  - var sectionId = "decoration-introduction"
  - var sectionTitle = "Introduction"

block section
    p.
      For consistency throughout Codebase, several decoration variables have been defined. Where necessary, a few of these variables have been used in the various components (applied in #[code .deco] classes).

    p.
      These same variables have been incoporated into a set of simple decoration utility classes. These classes can be used to quickly add consistent styling to your HTML directly.

    p.
      You can modify the decoration variables and classes, and add to them, in accordance with the style guide or visual identity of your website project.

    p.text--initial-icon.b--thin.b--green-lighten-1.b--rounded.p--16.pl--80.bg--green-lighten-3
      i.fa.fa-info-circle.text--green-darken-1
      | #[b Hat tip]:
      |  The idea for Codebase decoration was inspired by #[a(href="http://www.basscss.com", target="_blank") BASCSS], #[a(href="http://tachyons.io", target="_blank") Tachyons] and the #[a(href="https://spec.fm/specifics/8-pt--flexbox", target="_blank") 8-Point grid].

    h3 Notes

    ol
      li.
        Codebase decoration classes are not responsive to viewport sizes.
      li.
        There are some circumstances where styling from e.g. your own CSS will override decoration classes: CSS nesting.
        
    pre
      code.
        /* This CSS will not override decoration classes: */
        
        h2 {
          border: 0;
        }
        
        &lt;h2 class="b--heavy b--purple"&gt;Example: this h4 has a heavy purple border&lt;/h2&gt;
    
    style.
      h4 {
        border: 0;
      }

    h4.b--heavy.b--purple Example: this h4 has a heavy purple border
    
    pre
      code.
        /* This CSS will override decoration classes: */

        .infobox h4 {
          border: 0;
        }

        &lt;div class="infobox"&gt;
          &lt;h4 class="b--heavy b--purple"&gt;Gotcha: this h4 has no border, why?&lt;/h4&gt;
        &lt;/div&gt;
    
    style.
      .infobox h4 {
        border: 0;
      }

    .infobox
      h4.b--heavy.b--purple Gotcha: this h4 has no border, why?
    
    ol(start="3")
      li.
        No styling from anywhere else in #[code codebase.css] overrides Codebase decoration classes &ndash; except the component #[code .deco] classes (but you"re not meant to combine deco and decoration classes anyway).
