sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

html {
  font-family: sans-serif; }
  html input[type="button"] {
    cursor: pointer; }
  html input[disabled] {
    cursor: default; }

body {
  margin: 0; }

article {
  display: block; }

aside {
  display: block; }

details {
  display: block; }

figcaption {
  display: block; }

figure {
  display: block;
  margin: 1em 40px; }

footer {
  display: block; }

header {
  display: block; }

hgroup {
  display: block; }

main {
  display: block; }

menu {
  display: block; }

nav {
  display: block; }

section {
  display: block; }

summary {
  display: block; }

audio {
  display: inline-block;
  vertical-align: baseline; }
  audio:not([controls]) {
    display: none;
    height: 0; }

canvas {
  display: inline-block;
  vertical-align: baseline; }

progress {
  display: inline-block;
  vertical-align: baseline; }

video {
  display: inline-block;
  vertical-align: baseline; }

[hidden] {
  display: none; }

template {
  display: none; }

a {
  background-color: transparent; }
  a:active {
    outline: 0; }
  a:hover {
    outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b {
  font-weight: bold; }

strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border: 0; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto;
  font-family: monospace, monospace;
  font-size: 1em; }

code {
  font-family: monospace, monospace;
  font-size: 1em; }

kbd {
  font-family: monospace, monospace;
  font-size: 1em; }

samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button {
  overflow: visible;
  text-transform: none;
  cursor: pointer; }

input {
  line-height: normal; }

optgroup {
  font-weight: bold; }

select {
  text-transform: none; }

textarea {
  overflow: auto; }

input[type="reset"] {
  cursor: pointer; }

input[type="submit"] {
  cursor: pointer; }

button[disabled] {
  cursor: default; }

input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0; }

input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]:-webkit-inner-spin-button {
  height: auto; }
input[type="number"]:-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  box-sizing: content-box; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  padding: 0; }

th {
  padding: 0; }

svg:not(:root) {
  overflow: hidden; }

button::-moz-focus-inner {
  border: 0;
  padding: 0; }

input::-moz-focus-inner {
  border: 0;
  padding: 0; }

body,
p,
li {
  font-size: 18px;
  line-height: 29.124px;
  color: #4d4d4d; }

h1 {
  font-size: 31.5px;
  line-height: 39.3174px; }

h2 {
  font-size: 24.3px;
  line-height: 33.4926px; }

h3 {
  font-size: 21.6px;
  line-height: 29.124px; }

h4 {
  font-size: 19.8px;
  line-height: 29.124px; }

h5 {
  font-size: 18px;
  line-height: 29.124px; }

h6 {
  font-size: 16.2px;
  line-height: 29.124px; }

@media (min-width: 768px) {
  h1 {
    font-size: 45px;
    line-height: 50.967px; }

  h2 {
    font-size: 36px;
    line-height: 43.686px; }

  h3 {
    font-size: 27px;
    line-height: 29.124px; }

  h4 {
    font-size: 22.5px;
    line-height: 29.124px; }

  h5 {
    font-size: 20.25px;
    line-height: 29.124px; }

  h6 {
    font-size: 18px;
    line-height: 29.124px; } }
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 29.124px 0;
  padding-top: 29.124px;
  font-weight: normal; }

h1 + h2,
h1 + h3,
h1 + h4,
h1 + h5,
h1 + h6,
h2 + h3,
h2 + h4,
h2 + h5,
h2 + h6,
h3 + h4,
h3 + h5,
h3 + h6,
h4 + h5,
h4 + h6,
h5 + h6 {
  margin-top: -29.124px;
  padding-top: 14.562px; }

hr {
  height: 0;
  margin: 29.124px 0;
  border: 0;
  border-top: 1px solid #ddd;
  background: #eee; }

blockquote {
  margin: 29.124px; }

a {
  color: #08c;
  text-decoration: none; }
  a:hover {
    color: #03f;
    text-decoration: underline; }

pre,
code {
  font-size: 20px;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #f8f8f8; }

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: auto; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
    background-color: transparent; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

img {
  width: auto;
  max-width: 100%;
  height: auto !important; }

iframe {
  border: 0; }

.reset-overlay {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  z-index: -1;
  -webkit-transition: max-height 400ms ease;
  transition: max-height 400ms ease; }
  .reset-overlay-is-active {
    z-index: 100;
    background: transparent;
    cursor: pointer; }

.grid {
  margin: 0 auto;
  max-width: 1280px; }
  .grid:before, .grid:after {
    content: '';
    display: table; }
  .grid:after {
    clear: both; }

.grid-gutter > * {
  padding: 0 10px; }
  @media (min-width: 768px) {
    .grid-gutter > * {
      padding-right: 12px;
      padding-left: 12px; } }
  @media (min-width: 1024px) {
    .grid-gutter > * {
      padding-right: 18px;
      padding-left: 18px; } }
  @media (min-width: 1200px) {
    .grid-gutter > * {
      padding-right: 24px;
      padding-left: 24px; } }

.grid-nested {
  margin-right: -10px;
  margin-left: -10px; }
  @media (min-width: 768px) {
    .grid-nested {
      margin-right: -12px;
      margin-left: -12px; } }
  @media (min-width: 1024px) {
    .grid-nested {
      margin-right: -18px;
      margin-left: -18px; } }
  @media (min-width: 1200px) {
    .grid-nested {
      margin-right: -24px;
      margin-left: -24px; } }

.column {
  position: relative;
  min-height: 1px;
  width: 100%;
  float: left; }
  .column-centered {
    float: none !important;
    margin-right: auto;
    margin-left: auto; }

.tiny-span-1 {
  width: 8.3333333333%; }
.tiny-span-2 {
  width: 16.6666666667%; }
.tiny-span-3 {
  width: 25%; }
.tiny-span-4 {
  width: 33.3333333333%; }
.tiny-span-5 {
  width: 41.6666666667%; }
.tiny-span-6 {
  width: 50%; }
.tiny-span-7 {
  width: 58.3333333333%; }
.tiny-span-8 {
  width: 66.6666666667%; }
.tiny-span-9 {
  width: 75%; }
.tiny-span-10 {
  width: 83.3333333333%; }
.tiny-span-11 {
  width: 91.6666666667%; }
.tiny-span-12 {
  width: 100%; }
.tiny-offset-1 {
  margin-left: 8.3333333333%; }
.tiny-offset-2 {
  margin-left: 16.6666666667%; }
.tiny-offset-3 {
  margin-left: 25%; }
.tiny-offset-4 {
  margin-left: 33.3333333333%; }
.tiny-offset-5 {
  margin-left: 41.6666666667%; }
.tiny-offset-6 {
  margin-left: 50%; }
.tiny-offset-7 {
  margin-left: 58.3333333333%; }
.tiny-offset-8 {
  margin-left: 66.6666666667%; }
.tiny-offset-9 {
  margin-left: 75%; }
.tiny-offset-10 {
  margin-left: 83.3333333333%; }
.tiny-offset-11 {
  margin-left: 91.6666666667%; }
.tiny-offset-12 {
  margin-left: 100%; }

@media (min-width: 768px) {
  .small-span-1 {
    width: 8.3333333333%; }
  .small-span-2 {
    width: 16.6666666667%; }
  .small-span-3 {
    width: 25%; }
  .small-span-4 {
    width: 33.3333333333%; }
  .small-span-5 {
    width: 41.6666666667%; }
  .small-span-6 {
    width: 50%; }
  .small-span-7 {
    width: 58.3333333333%; }
  .small-span-8 {
    width: 66.6666666667%; }
  .small-span-9 {
    width: 75%; }
  .small-span-10 {
    width: 83.3333333333%; }
  .small-span-11 {
    width: 91.6666666667%; }
  .small-span-12 {
    width: 100%; }
  .small-offset-1 {
    margin-left: 8.3333333333%; }
  .small-offset-2 {
    margin-left: 16.6666666667%; }
  .small-offset-3 {
    margin-left: 25%; }
  .small-offset-4 {
    margin-left: 33.3333333333%; }
  .small-offset-5 {
    margin-left: 41.6666666667%; }
  .small-offset-6 {
    margin-left: 50%; }
  .small-offset-7 {
    margin-left: 58.3333333333%; }
  .small-offset-8 {
    margin-left: 66.6666666667%; }
  .small-offset-9 {
    margin-left: 75%; }
  .small-offset-10 {
    margin-left: 83.3333333333%; }
  .small-offset-11 {
    margin-left: 91.6666666667%; }
  .small-offset-12 {
    margin-left: 100%; }
  .small-push-1 {
    left: 8.3333333333%; }
  .small-push-2 {
    left: 16.6666666667%; }
  .small-push-3 {
    left: 25%; }
  .small-push-4 {
    left: 33.3333333333%; }
  .small-push-5 {
    left: 41.6666666667%; }
  .small-push-6 {
    left: 50%; }
  .small-push-7 {
    left: 58.3333333333%; }
  .small-push-8 {
    left: 66.6666666667%; }
  .small-push-9 {
    left: 75%; }
  .small-push-10 {
    left: 83.3333333333%; }
  .small-push-11 {
    left: 91.6666666667%; }
  .small-push-12 {
    left: 100%; }
  .small-pull-1 {
    right: 8.3333333333%; }
  .small-pull-2 {
    right: 16.6666666667%; }
  .small-pull-3 {
    right: 25%; }
  .small-pull-4 {
    right: 33.3333333333%; }
  .small-pull-5 {
    right: 41.6666666667%; }
  .small-pull-6 {
    right: 50%; }
  .small-pull-7 {
    right: 58.3333333333%; }
  .small-pull-8 {
    right: 66.6666666667%; }
  .small-pull-9 {
    right: 75%; }
  .small-pull-10 {
    right: 83.3333333333%; }
  .small-pull-11 {
    right: 91.6666666667%; }
  .small-pull-12 {
    right: 100%; } }

@media (min-width: 1024px) {
  .medium-span-1 {
    width: 8.3333333333%; }
  .medium-span-2 {
    width: 16.6666666667%; }
  .medium-span-3 {
    width: 25%; }
  .medium-span-4 {
    width: 33.3333333333%; }
  .medium-span-5 {
    width: 41.6666666667%; }
  .medium-span-6 {
    width: 50%; }
  .medium-span-7 {
    width: 58.3333333333%; }
  .medium-span-8 {
    width: 66.6666666667%; }
  .medium-span-9 {
    width: 75%; }
  .medium-span-10 {
    width: 83.3333333333%; }
  .medium-span-11 {
    width: 91.6666666667%; }
  .medium-span-12 {
    width: 100%; }
  .medium-offset-1 {
    margin-left: 8.3333333333%; }
  .medium-offset-2 {
    margin-left: 16.6666666667%; }
  .medium-offset-3 {
    margin-left: 25%; }
  .medium-offset-4 {
    margin-left: 33.3333333333%; }
  .medium-offset-5 {
    margin-left: 41.6666666667%; }
  .medium-offset-6 {
    margin-left: 50%; }
  .medium-offset-7 {
    margin-left: 58.3333333333%; }
  .medium-offset-8 {
    margin-left: 66.6666666667%; }
  .medium-offset-9 {
    margin-left: 75%; }
  .medium-offset-10 {
    margin-left: 83.3333333333%; }
  .medium-offset-11 {
    margin-left: 91.6666666667%; }
  .medium-offset-12 {
    margin-left: 100%; }
  .medium-push-1 {
    left: 8.3333333333%; }
  .medium-push-2 {
    left: 16.6666666667%; }
  .medium-push-3 {
    left: 25%; }
  .medium-push-4 {
    left: 33.3333333333%; }
  .medium-push-5 {
    left: 41.6666666667%; }
  .medium-push-6 {
    left: 50%; }
  .medium-push-7 {
    left: 58.3333333333%; }
  .medium-push-8 {
    left: 66.6666666667%; }
  .medium-push-9 {
    left: 75%; }
  .medium-push-10 {
    left: 83.3333333333%; }
  .medium-push-11 {
    left: 91.6666666667%; }
  .medium-push-12 {
    left: 100%; }
  .medium-pull-1 {
    right: 8.3333333333%; }
  .medium-pull-2 {
    right: 16.6666666667%; }
  .medium-pull-3 {
    right: 25%; }
  .medium-pull-4 {
    right: 33.3333333333%; }
  .medium-pull-5 {
    right: 41.6666666667%; }
  .medium-pull-6 {
    right: 50%; }
  .medium-pull-7 {
    right: 58.3333333333%; }
  .medium-pull-8 {
    right: 66.6666666667%; }
  .medium-pull-9 {
    right: 75%; }
  .medium-pull-10 {
    right: 83.3333333333%; }
  .medium-pull-11 {
    right: 91.6666666667%; }
  .medium-pull-12 {
    right: 100%; } }

@media (min-width: 1200px) {
  .large-span-1 {
    width: 8.3333333333%; }
  .large-span-2 {
    width: 16.6666666667%; }
  .large-span-3 {
    width: 25%; }
  .large-span-4 {
    width: 33.3333333333%; }
  .large-span-5 {
    width: 41.6666666667%; }
  .large-span-6 {
    width: 50%; }
  .large-span-7 {
    width: 58.3333333333%; }
  .large-span-8 {
    width: 66.6666666667%; }
  .large-span-9 {
    width: 75%; }
  .large-span-10 {
    width: 83.3333333333%; }
  .large-span-11 {
    width: 91.6666666667%; }
  .large-span-12 {
    width: 100%; }
  .large-offset-1 {
    margin-left: 8.3333333333%; }
  .large-offset-2 {
    margin-left: 16.6666666667%; }
  .large-offset-3 {
    margin-left: 25%; }
  .large-offset-4 {
    margin-left: 33.3333333333%; }
  .large-offset-5 {
    margin-left: 41.6666666667%; }
  .large-offset-6 {
    margin-left: 50%; }
  .large-offset-7 {
    margin-left: 58.3333333333%; }
  .large-offset-8 {
    margin-left: 66.6666666667%; }
  .large-offset-9 {
    margin-left: 75%; }
  .large-offset-10 {
    margin-left: 83.3333333333%; }
  .large-offset-11 {
    margin-left: 91.6666666667%; }
  .large-offset-12 {
    margin-left: 100%; }
  .large-push-1 {
    left: 8.3333333333%; }
  .large-push-2 {
    left: 16.6666666667%; }
  .large-push-3 {
    left: 25%; }
  .large-push-4 {
    left: 33.3333333333%; }
  .large-push-5 {
    left: 41.6666666667%; }
  .large-push-6 {
    left: 50%; }
  .large-push-7 {
    left: 58.3333333333%; }
  .large-push-8 {
    left: 66.6666666667%; }
  .large-push-9 {
    left: 75%; }
  .large-push-10 {
    left: 83.3333333333%; }
  .large-push-11 {
    left: 91.6666666667%; }
  .large-push-12 {
    left: 100%; }
  .large-pull-1 {
    right: 8.3333333333%; }
  .large-pull-2 {
    right: 16.6666666667%; }
  .large-pull-3 {
    right: 25%; }
  .large-pull-4 {
    right: 33.3333333333%; }
  .large-pull-5 {
    right: 41.6666666667%; }
  .large-pull-6 {
    right: 50%; }
  .large-pull-7 {
    right: 58.3333333333%; }
  .large-pull-8 {
    right: 66.6666666667%; }
  .large-pull-9 {
    right: 75%; }
  .large-pull-10 {
    right: 83.3333333333%; }
  .large-pull-11 {
    right: 91.6666666667%; }
  .large-pull-12 {
    right: 100%; } }

@media screen and (max-width: 767px) {
  .tiny-hide {
    display: none !important; } }

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .small-hide {
    display: none !important; } }

@media screen and (min-width: 1024px) and (max-width: 1199px) {
  .medium-hide {
    display: none !important; } }

@media screen and (max-width: 1199px) {
  .large-show {
    display: none !important; } }

@media screen and (min-width: 768px) {
  .tiny-show {
    display: none !important; } }

@media screen and (max-width: 767px) {
  .small-show {
    display: none !important; } }
@media screen and (min-width: 1024px) {
  .small-show {
    display: none !important; } }

@media screen and (max-width: 1023px) {
  .medium-show {
    display: none !important; } }
@media screen and (min-width: 1200px) {
  .medium-show {
    display: none !important; } }

@media screen and (min-width: 1200px) {
  .large-hide {
    display: none !important; } }

.box:before, .box:after {
  content: '';
  display: table; }
.box:after {
  clear: both; }

.box-header,
.box-footer {
  display: block; }

.box-media-left {
  float: left; }
.box-media-right {
  float: right; }
.box-media-center img {
  position: relative;
  margin: auto; }

.box-content {
  overflow: hidden; }

.button {
  display: inline-block;
  width: auto;
  border: 0;
  border-radius: 4px;
  font-size: 18px;
  line-height: 18px;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  position: relative; }
  .button[type="button"], .button[type="submit"] {
    -webkit-appearance: none;
    border-radius: 0; }
  .button:hover {
    color: #fff;
    text-decoration: none; }
  .button:active {
    color: #fff; }
  .button-primary {
    background: #08c; }
    .button-primary:hover {
      background: #006da3; }
    .button-primary:active {
      background: #005f8f; }
  .button-secondary {
    background: #39f; }
    .button-secondary:hover {
      background: #007af5; }
    .button-secondary:active {
      background: #0066cc; }
  .button-warning {
    background: #f44; }
    .button-warning:hover {
      background: #ff1b1b; }
    .button-warning:active {
      background: #dd0000; }
  .button-success {
    background: #2b4; }
    .button-success:hover {
      background: #1c9837; }
    .button-success:active {
      background: #198731; }
  .button-small {
    padding: 5px 10px; }
  .button-large {
    padding: 20px 30px; }
  .button-block {
    display: block;
    width: 100%;
    text-align: center; }
  .button-dropdown > span {
    display: none; }
  .button-dropdown-is-revealed {
    z-index: 101; }
    .button-dropdown-is-revealed > span {
      display: block;
      position: absolute;
      z-index: 101;
      margin: 10px 0 0 -20px;
      padding: 10px 20px;
      background: #eee;
      color: #4d4d4d;
      text-align: left;
      cursor: default; }
      .button-dropdown-is-revealed > span .row {
        margin-bottom: 18px; }
  .button-dropdown ul,
  .button-dropdown ol {
    margin: -10px 0;
    padding-left: 10px; }
  .button-dropdown li {
    padding: 10px 0; }

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .menu ul ul {
    padding-left: 29.124px; }

.menubar {
  position: relative; }
  .menubar-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 101;
    border-bottom: 1px solid #eee; }
  .menubar-left > ul, .menubar-right > ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  @media (max-width: 1023px) {
    .menubar-brand {
      position: absolute; }
    .menubar-toggle {
      position: absolute;
      top: 0;
      right: 0; }
      .menubar-toggle:hover {
        cursor: pointer; }
      .menubar-toggle i:hover {
        color: #03f; }
    .menubar-is-open {
      z-index: 101; } }
  @media (min-width: 1024px) {
    .menubar-left, .menubar-brand {
      float: left; }
    .menubar-right, .menubar-search {
      float: right; }
    .menubar-left > ul, .menubar-right > ul {
      float: left; }
    .menubar li {
      display: inline-block;
      position: relative; }
    .menubar-toggle {
      display: none; } }
  .menubar:before, .menubar:after {
    content: '';
    display: table; }
  .menubar:after {
    clear: both; }
  .menubar a {
    position: relative; }
  .menubar .menubar-parent .octicon-triangle-down {
    display: none; }
  .menubar ul ul {
    list-style-type: none;
    margin: 0;
    padding-left: 29.124px; }
  @media (min-width: 1024px) {
    .menubar .menubar-parent .octicon-triangle-down {
      display: inline-block; }
    .menubar ul ul {
      display: none;
      position: absolute;
      padding: 0;
      background: #eee; }
      .menubar ul ul li {
        display: block; }
      .menubar ul ul a {
        white-space: nowrap; }
    .menubar-right ul ul {
      right: 0; }
    .menubar .menubar-parent-is-toggled {
      background: #eee;
      z-index: 101; }
    .menubar .menubar-dropdown-is-revealed {
      display: block;
      z-index: 101; } }

.tabs {
  margin: 29.124px 0;
  font-size: 0; }
  .tabs:before, .tabs:after {
    content: '';
    display: table; }
  .tabs:after {
    clear: both; }
  .tabs-top .tab-label {
    display: inline-block; }
  .tabs-left {
    position: relative;
    overflow-x: hidden; }
  .tabs-accordion {
    position: relative; }

.tab-label {
  font-size: 18px; }
  .tab-label:hover {
    cursor: pointer; }
  .tab-label.is-front:hover {
    cursor: default; }
.tab-card {
  clear: both;
  float: left;
  width: 100%;
  height: 0;
  font-size: 18px;
  overflow: hidden; }
  .tab-card.is-front {
    height: auto; }

.pagination ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0; }
.pagination li {
  float: left; }
.pagination a {
  display: inline-block; }
.pagination .current,
.pagination .current a {
  color: #4d4d4d;
  text-decoration: none; }
  .pagination .current:hover,
  .pagination .current a:hover {
    color: #4d4d4d;
    cursor: default; }

body {
  background: #f9f9f9; }

.menubar.codebase-docs .menubar-brand a {
  padding-left: 46px;
  color: #4d4d4d;
  font-size: 24px;
  font-weight: lighter;
  background: url(../../images/codebase-logo.svg) 9px 9px no-repeat;
  background-size: 30px auto; }

.grid-demo {
  background: #fff; }
  .grid-demo > * {
    background: #eee;
    box-shadow: inset 0 0 1px #888; }

.grid-semantic-wrapper {
  margin: 0 auto;
  max-width: 1280px;
  background: #fff; }
  .grid-semantic-wrapper:before, .grid-semantic-wrapper:after {
    content: '';
    display: table; }
  .grid-semantic-wrapper:after {
    clear: both; }
  .grid-semantic-wrapper > * {
    padding: 0 10px; }
    @media (min-width: 768px) {
      .grid-semantic-wrapper > * {
        padding-right: 12px;
        padding-left: 12px; } }
    @media (min-width: 1024px) {
      .grid-semantic-wrapper > * {
        padding-right: 18px;
        padding-left: 18px; } }
    @media (min-width: 1200px) {
      .grid-semantic-wrapper > * {
        padding-right: 24px;
        padding-left: 24px; } }
  .grid-semantic-wrapper > * {
    background: #eee;
    box-shadow: inset 0 0 1px #888; }

.grid-semantic-article {
  position: relative;
  min-height: 1px;
  width: 100%; }
  @media (min-width: 1024px) {
    .grid-semantic-article {
      float: left;
      width: 66.6666666667%; } }
  @media (min-width: 1200px) {
    .grid-semantic-article {
      left: 33.3333333333%; } }

.grid-semantic-aside {
  position: relative;
  min-height: 1px;
  width: 100%; }
  @media (min-width: 1024px) {
    .grid-semantic-aside {
      float: left;
      width: 33.3333333333%; } }
  @media (min-width: 1200px) {
    .grid-semantic-aside {
      right: 66.6666666667%; } }

.grid-semantic-nested {
  margin: 0 auto;
  max-width: 1280px;
  margin-right: -10px;
  margin-left: -10px;
  background: #fff; }
  .grid-semantic-nested:before, .grid-semantic-nested:after {
    content: '';
    display: table; }
  .grid-semantic-nested:after {
    clear: both; }
  .grid-semantic-nested > * {
    padding: 0 10px; }
    @media (min-width: 768px) {
      .grid-semantic-nested > * {
        padding-right: 12px;
        padding-left: 12px; } }
    @media (min-width: 1024px) {
      .grid-semantic-nested > * {
        padding-right: 18px;
        padding-left: 18px; } }
    @media (min-width: 1200px) {
      .grid-semantic-nested > * {
        padding-right: 24px;
        padding-left: 24px; } }
  @media (min-width: 768px) {
    .grid-semantic-nested {
      margin-right: -12px;
      margin-left: -12px; } }
  @media (min-width: 1024px) {
    .grid-semantic-nested {
      margin-right: -18px;
      margin-left: -18px; } }
  @media (min-width: 1200px) {
    .grid-semantic-nested {
      margin-right: -24px;
      margin-left: -24px; } }
  .grid-semantic-nested > * {
    background: #eee;
    box-shadow: inset 0 0 1px #888; }
  .grid-semantic-nested > div {
    position: relative;
    min-height: 1px;
    width: 100%; }
    @media (min-width: 768px) {
      .grid-semantic-nested > div {
        float: left;
        width: 33.3333333333%; } }

.grid-semantic-centered {
  position: relative;
  min-height: 1px;
  width: 100%; }
  @media (min-width: 768px) {
    .grid-semantic-centered {
      width: 58.3333333333%;
      margin-right: auto;
      margin-left: auto; } }

.grid-flexbox-wrapper {
  display: block;
  margin: 0 auto;
  max-width: 1280px;
  background: #fff; }
  .grid-flexbox-wrapper > * {
    padding: 0 10px; }
    @media (min-width: 768px) {
      .grid-flexbox-wrapper > * {
        padding-right: 12px;
        padding-left: 12px; } }
    @media (min-width: 1024px) {
      .grid-flexbox-wrapper > * {
        padding-right: 18px;
        padding-left: 18px; } }
    @media (min-width: 1200px) {
      .grid-flexbox-wrapper > * {
        padding-right: 24px;
        padding-left: 24px; } }
  .grid-flexbox-wrapper > * {
    background: #eee;
    box-shadow: inset 0 0 1px #888; }
  @media (min-width: 1024px) {
    .grid-flexbox-wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin: 0 auto;
      max-width: 1280px; } }

.grid-flexbox-article {
  min-height: 1px;
  width: 100%; }
  @media (min-width: 1024px) {
    .grid-flexbox-article {
      width: 66.6666666667%; } }
  @media (min-width: 1200px) {
    .grid-flexbox-article {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1; } }

.grid-flexbox-aside {
  min-height: 1px;
  width: 100%; }
  @media (min-width: 1024px) {
    .grid-flexbox-aside {
      width: 33.3333333333%; } }
  @media (min-width: 1200px) {
    .grid-flexbox-aside {
      -webkit-box-ordinal-group: 0;
      -webkit-order: -1;
          -ms-flex-order: -1;
              order: -1; } }

.grid-flexbox-nested {
  display: block;
  margin: 0 auto;
  max-width: 1280px;
  margin-right: -10px;
  margin-left: -10px;
  background: #fff; }
  .grid-flexbox-nested > * {
    padding: 0 10px; }
    @media (min-width: 768px) {
      .grid-flexbox-nested > * {
        padding-right: 12px;
        padding-left: 12px; } }
    @media (min-width: 1024px) {
      .grid-flexbox-nested > * {
        padding-right: 18px;
        padding-left: 18px; } }
    @media (min-width: 1200px) {
      .grid-flexbox-nested > * {
        padding-right: 24px;
        padding-left: 24px; } }
  @media (min-width: 768px) {
    .grid-flexbox-nested {
      margin-right: -12px;
      margin-left: -12px; } }
  @media (min-width: 1024px) {
    .grid-flexbox-nested {
      margin-right: -18px;
      margin-left: -18px; } }
  @media (min-width: 1200px) {
    .grid-flexbox-nested {
      margin-right: -24px;
      margin-left: -24px; } }
  .grid-flexbox-nested > * {
    background: #eee;
    box-shadow: inset 0 0 1px #888; }
  @media (min-width: 768px) {
    .grid-flexbox-nested {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin: 0 auto;
      max-width: 1280px;
      margin-right: -10px;
      margin-left: -10px; } }
  @media (min-width: 768px) and (min-width: 768px) {
    .grid-flexbox-nested {
      margin-right: -12px;
      margin-left: -12px; } }
  @media (min-width: 768px) and (min-width: 1024px) {
    .grid-flexbox-nested {
      margin-right: -18px;
      margin-left: -18px; } }
  @media (min-width: 768px) and (min-width: 1200px) {
    .grid-flexbox-nested {
      margin-right: -24px;
      margin-left: -24px; } }
  @media (min-width: 768px) {
      .grid-flexbox-nested > div {
        min-height: 1px;
        width: 100%;
        width: 33.3333333333%; } }

.grid-flexbox-centered {
  min-height: 1px;
  width: 100%; }
  @media (min-width: 768px) {
    .grid-flexbox-centered {
      width: 58.3333333333%;
      margin-right: auto;
      margin-left: auto; } }

.box {
  background: #fff; }
  .box .box-header {
    border-bottom: 1px solid #eee;
    padding: 5px 15px; }
  .box .box-footer {
    border-top: 1px solid #eee;
    padding: 5px 15px; }
  .box .box-media {
    margin: 15px; }
  .box .box-content {
    padding: 15px; }
  .box .box-title {
    margin-top: 0;
    padding-top: 0; }

.menu {
  background: #fff; }
  .menu a {
    display: inline-block;
    padding: 10px 15px; }

.menubar {
  background: #fff; }
  @media (max-width: 1023px) {
    .menubar {
      max-height: 49px;
      padding-top: 49px;
      overflow: hidden;
      -webkit-transition: all 0.6s ease-in-out;
      transition: all 0.6s ease-in-out; }
      .menubar-is-open {
        max-height: 568px;
        border-bottom: 1px solid #eee;
        overflow-y: auto; }
      .menubar-brand {
        margin-top: -49px; } }
  .menubar-toggle {
    width: 49px;
    height: 49px;
    padding: 8px 13px;
    color: #08c; }
  .menubar-brand a {
    display: inline-block;
    padding: 10px 15px;
    font-size: 22px; }
  .menubar-left > ul a, .menubar-right > ul a {
    display: inline-block;
    padding: 10px 15px; }

.tabs-top .tab-label {
  margin-right: 4px;
  box-shadow: inset 0 -5px 5px -5px #aaa; }
.tabs-top .tab-card {
  margin-top: -2px; }

.tabs-left .tab-label {
  width: 200px;
  margin-bottom: 4px;
  box-shadow: inset -5px 0 5px -5px #aaa; }
.tabs-left .tab-card {
  position: absolute;
  top: 0;
  right: 0;
  left: 200px; }
  .tabs-left .tab-card-content {
    margin-right: 200px; }

.tabs-accordion .tab-label {
  box-shadow: inset 0 -5px 5px -5px #aaa; }
  .tabs-accordion .tab-label.is-front {
    border-bottom: 1px solid #eee; }
.tabs-accordion .tab-card {
  margin-top: 0 !important; }
  .tabs-accordion .tab-card.is-front {
    margin-bottom: 5px; }
    .tabs-accordion .tab-card.is-front:last-of-type {
      margin-bottom: 0; }
  .tabs-accordion .tab-card-content {
    box-shadow: inset 0 -5px 5px -5px #ccc; }
.tabs-accordion *:nth-last-of-type(2) {
  box-shadow: none !important; }
.tabs-accordion > *:last-child > * {
  box-shadow: none !important; }

.tab-label {
  padding: 5px 15px;
  color: #8d8d8d;
  background: #eee; }
  .tab-label:hover {
    color: #4d4d4d;
    background: #ddd; }
  .tab-label.is-front {
    z-index: 2;
    color: #4d4d4d;
    background: #fff !important;
    box-shadow: none; }
.tab-card {
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity .2s ease-in;
  transition: opacity .2s ease-in; }
  .tab-card.is-front {
    opacity: 1; }
  .tab-card-content {
    padding: 10px 20px;
    background: #fff; }

.pagination ul {
  background: #fff; }
.pagination a {
  padding: 10px 15px; }
.pagination .current {
  background: #eee; }
