extends ../../docs-template-partials/_docs-article

block prepend article
  - var sectionId = "components-menubar-simple"
  - var sectionTitle = "Menubar: Simple"

block section
  p.
    Simple menubars are start from the same mixins for vertical #[a(href="#components-menu") menus]. But then they horizontally align menu items by flexblox and add several layout options.
  
  .mt--20.b--heavy.b--rounded.b--teal-lighten-2.p--16
    
    p.text--muted Undecorated

    +menubar("Link", 5)
    
    p.pt--20.text--muted Decorated with #[code .deco]
      
    +menubar("Link", 5, "deco")

  .tabs.deco.mt--24
    .tab__label-wrap--right
      .tab__label(data-tab-id="tab-docs-menubar-html") HTML
      .tab__label(data-tab-id="tab-docs-menubar-pug") Pug

    #tab-docs-menubar-html.tab__card
      pre.mt--zero
        code.
          &lt;ul class="menubar"&gt;
            &lt;li&gt;&lt;a href="#/"&gt;Link 1&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href="#/"&gt;Link 2&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href="#/"&gt;Link 3&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href="#/"&gt;Link 4&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href="#/"&gt;Link 5&lt;/a&gt;&lt;/li&gt;
          &lt;/ul&gt;

    #tab-docs-menubar-pug.tab__card
      pre.mt--zero
        code.
          ul.menubar
            li \#[a(href="#/") Link 1]
            li \#[a(href="#/") Link 2]
            li \#[a(href="#/") Link 3]
            li \#[a(href="#/") Link 4]
            li \#[a(href="#/") Link 5]

          //- Or use the Codebase menu HTML generator mixin for rapid prototyping:
          
          +menubar("Link", 5)
          
      p See #[a(href="getting-started.html#getting-started-codebase-html-generator-mixins") Getting Started: HTML Generator Mixins]

  h3 Menubar position

  p (These examples below all are decorated with #[code .deco].)
  
  p #[code .menubar.menubar--left]

  +menubar("Link", 5, "menubar--left deco")

  br
  br

  p #[code .menubar.menubar--right]

  +menubar("Link", 5, "menubar--right deco")

  br
  br

  p #[code .menubar.menubar--center]

  +menubar("Link", 5, "menubar--center deco")

  br
  br

  p #[code .menubar.menubar--jusify]

  +menubar("Link", 5, "menubar--justify deco")
  
  h3.mt--line Fixed Menubar
  
  p If you require a menubar to be fixed to the top of the viewport, simple add the modifier class #[menubar--fixed].
  
  p #[b Example:] The Codebase documentation menubar is fixed to the viewport top in this way.
  
  h3.mt--line Menubar Classes

  table.table.deco
    thead
      tr
        th(style="width: 145px;") Class
        th Notes
        th Modifiers
    tbody
      tr
        td #[code .menubar]
        td The menubar component block
        td Fixed position menubar (viewport top): #[br] #[code .menubar--fixed] #[br] Alignment of menubar items: #[br] #[code .menubar--left], #[code .menubar--right], #[code .menubar--center], #[code .menubar--justify]
      tr
        td #[code .menubar li] #[sup 1]
        td The menubar item element
        td
      tr
        td #[code .menubar a] #[sup 2]
        td The menubar hyperlink element
        td
        
  p #[sup 1] Including the mixin #[code =menu__item] #[br] #[sup 2] Including the mixin #[code =menu__link]
