extends ../../docs-template-partials/_docs-article

block prepend article
  - var sectionId = "components-popover"
  - var sectionTitle = "Popover"

block section
  p.
    A Codebase popover is what is sometimes known as a #[b modal] in other frameworks. It is also sometimes used as a #[b lightbox] (if the main content is an image). These are essentially all the same thing, therefore "popover" has been chosen as the most generic name.

  p.text--initial-icon.b--thin.b--green-lighten-1.b--rounded.p--16.pl--80.bg--green-lighten-3
    i.fa.fa-info-circle.text--green-darken-1
    | The popover's semi-transparent backdrop is a CSS box shadow on the popover content &ndash; it is not a separate layer. Hat tip:  #[a(href="https://medium.com/@jotavejv/how-to-create-a-simple-overlay-that-works-anywhere-ae23456d3e8") João Victor's Medium article], "How to create a simple overlay that works anywhere".

  p.
    If you add the modifier class #[code .popover--no-dismiss] to the popover block, then "click/tap outside to dismiss" is prevented. This can be useful in situations where your popover content is rather important, and you need to ensure that your visitor interacts with it before deactivating the popover.

  p.
    Also, popovers can be closed by a #[code .popover__close] element situated incide the popover content element.
    
  .popover
    .popover__content.p--20.bg--white#popover-example-1a
      p Lorem ipsum dolor sit amet usu in odio gubergren conclusionemque.
      .text--right
        a.popover__close Close

  p #[button.btn.btn--sm.popover__ctrl(data-content-id="popover-example-1a") Popover example 1a] &ndash; the simplest popover

  .popover.popover--no-dismiss
    .popover__content.p--20.bg--white#popover-example-1b
      h4 This popover can't be dismissed unless you click "Close" below
      p Lorem ipsum dolor sit amet usu in odio gubergren conclusionemque.
      .text--right
        a.popover__close Close

  p #[button.btn.btn--sm.popover__ctrl(data-content-id="popover-example-1b") Popover example 1b] &ndash; the simplest popover, with #[code .popover--no-dismiss]
        
  .tabs.deco.mt--24
    .tab__label-wrap--right
      .tab__label(data-tab-id="tab-docs-popover1-html") HTML
      .tab__label(data-tab-id="tab-docs-popover1-pug") Pug

    #tab-docs-popover1-html.tab__card
      pre.mt--zero
        code.
          &lt;div class="popover"&gt;
            &lt;div class="popover__content" id="pop-ex-1"&gt;
            
              &lt;p&gt;
                Lorem ipsum dolor sit amet usu in odio gubergren conclusionemque.
              &lt;/p&gt;
              
              &lt;div class="text--right"&gt;
                &lt;a class="popover__close"&gt;Close&lt;/a&gt;
              &lt;/div&gt;
              
            &lt;/div&gt;
          &lt;/div&gt;

          &lt;button class="btn popover__ctrl" data-content-id="pop-ex-1"&gt;Popover example 1&lt;/button&gt;

    #tab-docs-popover1-pug.tab__card
      pre.mt--zero
        code.
          .popover
            .popover__content#pop-ex-1
              
              p.
                Lorem ipsum dolor sit amet usu in odio gubergren conclusionemque.
                
              .text--right
                a.popover__close Close
            
          button.btn.popover__ctrl(data-content-id="pop-ex-1") Popover example 1
          
          
          
          
          
  
  h3 Popovers "expand to fit" any size content

  p.
    If you don't use any popover constraint classes (as described below), then you get a popover that will take the width of its content, out to the max-width of the viewport and 85% of the viewport height (the viewport height restriction allows for e.g. the iOS Safari browser bar).
  p.
    By default, popovers have their #[code .popover__content] have CSS #[code overflow: auto], so that extra long text and/or table content will scroll.
  p.
    Images that are too tall for the popover content will be scaled down to max-height 70% of the viewport height (image width/height proportions are retained). This max-height ensures that images can be entirely displayed within the popover and also allow a little room for an image title. (This provides a very simple "lightbox" setup.)
    
  .popover
    #popover-2a.popover__content.m--24.p--8.bg--white
      img(src="holder.js/500x1000").pb--4
      b Image Title
      a.popover__close.float--right Close
  p.
    #[button.btn.btn--sm.popover__ctrl(data-content-id="popover-2a") Popover example 2a] &ndash; popover with a tall narrow image

  .popover
    #popover-2b.popover__content.m--24.p--8.bg--white
      img(src="holder.js/1500x300").pb--4
      b Image Title
      a.popover__close.float--right Close
  p.
    #[button.btn.btn--sm.popover__ctrl(data-content-id="popover-2b") Popover example 2b] &ndash; popover with a short wide image

  .popover
    #popover-2c.popover__content.m--24.p--8.bg--white
      img(src="holder.js/4000x4000").pb--4
      b Image Title
      a.popover__close.float--right Close
  p.
    #[button.btn.btn--sm.popover__ctrl(data-content-id="popover-2c") Popover example 2c] &ndash; popover with a gigantic image

  p.
    You can constrain the popover content width by adding a #[code width] or #[code max-width]. And Codebase popovers have an optional #[code .popover__content--narrow], that sets a maximum width of 600px.

  .popover
    #popover-2d.popover__content.popover__content--narrow.mt--line.m--16.p--16.bg--white
      a.popover__close.float--right
        Close #[i.fa.fa-times-circle.text--big-text]
      
      h3 A title
      +paragraph(4)
      +paragraph(4)
      
      p.text--center
        a.popover__close.btn.btn--link.
          Close #[i.fa.fa-times]

  p.
    #[button.btn.btn--sm.popover__ctrl(data-content-id="popover-2d") Popover example 2d] Narrow popover with a lot of text, and #[code .popover__content--narrow].
  p.
    Codebase popovers also have a class #[code .popover--fix] that is specially designed to work with a #[a(href="#components-card") card] integrated into the popover. This is documented #[i after] explained the use of a card inside a popover &ndash; see below.

  h3 Integrating a Card with a Popover

  p.
    Codebase popovers come with (almost) no styling of their own &ndash; so you can do whatever you like with them. If you require a block header, body and footer then you can easily integrate a Codebase card (or media object).

  .popover
    #popover-3.popover__content.popover__content--narrow.b--rounded.card.bg--white
      .card__header.p--8.bg--blue
        span.popover__close.float--right.text--white.text--big-text &times;
        h4.m--zero.text--white Popover header
      .card__body.p--block
        h3.mt--8 Popover body content
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .card__footer.bt--thin.p--block  Popover footer
        .float--right #[a.popover__close Cancel]

  p.
    #[button.btn.btn--sm.popover__ctrl(data-content-id="popover-3") Popover example 3] &ndash; narrow popover integrating a card plus some extra styling.

  .tabs.deco.mt--24
    .tab__label-wrap--right
      .tab__label(data-tab-id="tab-docs-popover3-html") HTML
      .tab__label(data-tab-id="tab-docs-popover3-pug") Pug

    #tab-docs-popover3-html.tab__card
      pre.mt--zero
        code.
          &lt;/div class="popover"&gt;
            &lt;div id="pop-ex-3" class="popover__content popover__content--narrow <mark>card</mark>"&gt;
              &lt;div class="card__header"&gt;
                &lt;a class="popover__close float--right"&gt;&times;&lt;/a&gt;
                Card header content
              &lt;/div&gt;
              &lt;div class="card__body"&gt;
                Card body content
              &lt;/div&gt;
              &lt;div class="card__footer"&gt;
                Card footer content
              &lt;/div&gt;              
            &lt;/div&gt;

          &lt;/div&gt;

          &lt;button class="popover__ctrl btn" data-content-id="pop-ex-3"&gt;Popover example 3&lt;/button&gt;

    #tab-docs-popover3-pug.tab__card
      pre.mt--zero
        code.
          .popover
            #pop-ex-3.popover__content.popover__content--narrow<mark>.card</mark>
              .card__header
                a.popover__close.float--right &times;
                Card header content
              .card__body
                Card body content
              .card__footer
                Card footer content
            
          button.btn.popover__ctrl(data-content-id="pop-ex-3") Popover example 3
          
          
          
          
          
          
          
  h3  Integrating a Flexbox Layout System with a Popover

  p.
    You can also put a #[a(href="layout.html#layout-flexbox-systems") flexbox layout system] into a popover (with or without incorporating it into a card). And for constraining the popover container width, you can do either of the following:
    
  ol
    li.
      Control the width of the popover container, e.g. by adding #[code .popover__content--narrow]
    li.
      Control the width of the flexbox, e,g, by adding #[code .flexbox--container] &ndash; see below

  .popover
    #popover-4.popover__content.m--16.b--rounded.bg--white.flexbox.flexbox--container.card.m--zero
      .card__header.bb--thin.p--block
        span.popover__close.float--right
          i.fa.fa-times
        h4.mb--zero Header
      .card__body.p--16
        .flexbox.flexbox--gutter.flexbox--nested
          .flexitem.flexitem-sm--span-6
            img(src="holder.js/800x600")
          .flexitem.flexitem-sm--span-6
            h2 Image Title
            +paragraph(2)
            p
              button.btn.btn--primary Activate
              button.btn.btn--secondary Delete
      .card__footer.bt--thin.p--16
        .text--right
          button.btn.btn--secondary.popover__close.text--right Cancel

  p.
    #[button.btn.btn--sm.popover__ctrl(data-content-id="popover-4") Popover example 4] &ndash; popover with flexbox system inside a card

  .tabs.deco.mt--24
    .tab__label-wrap--right
      .tab__label(data-tab-id="tab-docs-popover4-html") HTML
      .tab__label(data-tab-id="tab-docs-popover4-pug") Pug

    #tab-docs-popover4-html.tab__card
      pre.mt--zero
        code.
          &lt;/div class="popover"&gt;
            &lt;div id="pop-ex-4" class="popover__content popover__content--narrow <mark>flexbox flexbox--container card</mark>"&gt;
              &lt;div class="card__header"&gt;
                &lt;a class="popover__close float--right"&gt;&times;&lt;/a&gt;
                Card header content
              &lt;/div&gt;

              &lt;div class="card__body <mark>flexbox flexbox--gutter flexbox--nested</mark>"&gt;
                &lt;div class="<mark>flexitem flexitem-sm--span-6</mark>"&gt;
                  &lt;!-- First flexitem content --&gt;
                &lt;/div&gt;
                &lt;div class="<mark>flexitem flexitem-sm--span-6</mark>"&gt;
                  &lt;!-- Second flexitem content --&gt;
                &lt;/div&gt;
              &lt;/div&gt;

              &lt;div class="card__footer"&gt;
                Card footer content
              &lt;/div&gt;              
            &lt;/div&gt;

          &lt;/div&gt;

          &lt;button class="popover__ctrl btn" data-content-id="pop-ex-4"&gt;Popover example 3&lt;/button&gt;

    #tab-docs-popover4-pug.tab__card
      pre.mt--zero
        code.
          .popover
            #pop-ex-4.popover__content.popover__content--narrow<mark>.flexbox.flexbox--container.card</mark>
              .card__header
                a.popover__close.float--right &times;
                Card header content

              .card__body<mark>.flexbox.flexbox--gutter.flexbox--nested</mark>
                <mark>.flexitem.flexitem-sm--span-6</mark>
                  // First flexitem content
                <mark>.flexitem.flexitem-sm--span-6</mark>
                  // Second flexitem content

              .card__footer
                Card footer content
            
          button.btn.popover__ctrl(data-content-id="pop-ex-4") Popover example 3
          
          
          
          
          
          
          
          

  h3 Using #[code .popover--fix]

  p.
    The Codebase popover modifier class #[code .popover--fix] is designed to work with the use of a #[a(href="#components-card") card] in the popover. #[code .popover--fix] prevents the popover's default overflow scrolling and enables card header and footer to be fixed to the top and bottom of the popover, and then it allows card body overflow scrolling instead.

  p.
    #[code .popover--fix] is what you need when your popover contains a lot of text or table data.

  .popover.popover--no-dismiss
    #popover-5.popover__content.popover__content--narrow.popover__content--fix.b--rounded.bg--white
      .card.card--vertical.m--zero
        .card__header.p--8.bb--thin.bg--white
          a.mt--4.popover__close.float--right Done
          h4.mb--zero Header
        .card__body.p--block
          +paragraph
          
          style.
            .tracks {
              width: 100%;
            }
            .tracks img {
              position: relative;
              margin: 4px 8px;
            }
            .tracks .info {
              padding-right: 8px
            }
            
          mixin track(total)
            - var n = 0;
            while n < total
              tr.bb--thin
                td
                  = n++ + 1
                td.info #[img(src="holder.js/56x56").float--left] #[b Lorem ipsum dolor sit amet] #[br] #[.text--small-text Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.] 
                td(style="width: 40px") #[i.fa.fa-fw.fa-cloud-download.text--big-text]
                td(style="width: 40px") #[i.fa.fa-fw.fa-play-circle.text--big-text]
                td(style="width: 40px") #[i.fa.fa-fw.fa-comment.text--big-text]
                  

          table.table.bt--thin.tracks
            tbody
              +track(24)
  
  p.
    #[button.btn.btn--sm.popover__ctrl(data-content-id="popover-5") Popover example 5] &ndash; popover with #[code .popover--fix]

  h3 Full cover popover

  p.
    If you require a popover to cover the entire window, add #[code .popover__content--cover].
    
  p.
    For example, use #[code .popover__content--cover] for a sitemap.

  mixin department(total)
    - var n = 0;
    while n < total
      .flexitem.flexitem-sm--span-4
        h4 Department
          = ' '
          = n++ + 1
        ul.menu.deco.mb--line
          li
            a Link
          li
            a Link
          li
            a Link
            ul
              li
                a Link
              li
                a Link
              li
                a Link
          li
            a Link
          li
            a Link

  .popover
    #popover-6.popover__content.popover__content--cover.bg--white
      .flexbox.flexbox--container.flexbox--gutter
        .flexitem
          a.popover__close.float--right.pt--16
            Close #[i.fa.fa-times-circle.text--big-text]
          h2.mt--line Sitemap
          hr
      .flexbox.flexbox--container.flexbox--gutter
        +department(6)

      hr
      p.text--center
        a.popover__close.btn.btn--link.
          Close #[i.fa.fa-times]

  p.
    #[button.btn.btn--sm.popover__ctrl(data-content-id="popover-6") Popover example 6] &ndash; full cover popover

  h3 Styling your own modals and lightboxes
  
  p.
    If you need your popovers, lightboxes and modals to diverge and be styled differently, there are two ways you can do this:
    
  ol
    li.
      Add your own supplemental class(es) and apply your styles to these (e.g. #[code .popover--modal]).
    li.
      In your Sass, build your own classes, include the popover mixins and then add your own styling. E.g.
      
  pre
    code.
      .your-lightbox
        +popover
        // and your additional lightbox styles

      .your-lightbox__ctrl
        +popover__ctrl
        // and your additional lightbox styles

      .your-lightbox__content
        +popover__content
        // and your additional lightbox styles
        &--narrow
          +popover--narrow
        &--cover
          +popover--cover

      .your-lightbox__close
        +popover__close
        // and your additional lightbox styles

  h3 Popover Classes
  
  p.
    The table below includes only classes for the popover itself. For card classes see #[a(href="#components-card") card]. For flexbox layout classes see #[a(href="layout.html#layout-flexbox-classes") flexbox classes].
  
  table.table.deco
    thead
      tr
        th Class
        th Explanation
    tbody
      tr
        td #[code .popover]
        td The popover block. Also serves as the popover backdrop.
      tr
        td #[code .popover--no-dismiss]
        td (Optional) Prevents "click/tap putside to dismiss" happening through the backdrop. So the only way to close the popover would be by #[code .popover__close] (see below).
      tr
        td #[code .popover__ctrl] #[br] #[code data-content-id="{ID}"]
        td  Opening control (e.g. button) #[br] #[code {ID}] = the ID of the popover content to be opened
      tr
        td(colspan="2") #[b Note:] Do not put the #[code .popover__ctrl] inside the #[code .popover] container, because #[code .popover] is styled for use as the backdrop. 
      tr
        td #[code .popover__close]
        td  (Optional) popover close control, to be placed within the popover content element.
      tr
        td  #[code .popover__content]
        td
          | The popover itself. (A unique ID is also required, of your choice &ndash; see #[code data-content-id="{ID}"] above.)
      tr
        td(colspan="2")
          | By default the popover content width is unconstrained &ndash; so the width becomes whatever the content needs ("expand to fit").
      tr
        td  #[code .popover__content--narrow]
        td  (Optional) narrow constrained layout
      tr
        td  #[code .popover__content--fix]
        td  (Optional) if a #[code .card] is being used in a popover, this class will fix #[code .card__header] and/or #[code .card__footer] while the #[code .card__body] remains vertically scrollable. Ideal for use with constrained-width popovers that have a lot of content. 
      tr
        td  #[code .popover__content--cover]
        td  (Optional) full cover
      
