extends ../../docs-template-partials/_docs-article

block prepend article
  - var sectionId = "components-responsive-table"
  - var sectionTitle = "Responsive Table"

block section
  p.
    If you add class #[code .table] to a #[code &lt;table&gt;] container, then #[code codebase.js] will add two containers around your table. #[code &lt;div class="table-wrap--outer"&gt;] and #[code &lt;div class="table-wrap--inner"&gt;]. These containers are styled to enable responsive overflow by horizontal scrolling.

  p A table that is horizontally scrollable on narrow screens (and decorated with #[code .deco]):
  
  +table(3, 4, "table--nowrap deco")
  
  p A table that is horizontally scrollable at all screen widths:

  +table(15, 3, "deco")
  
  h3 Responsive table classes
  
  table.table.deco
    thead
      tr
        th Class
        th Notes
    tbody
      tr
        td #[code .table]
        td The responsive table component block. Apply this class to #[code &lt;table&gt;].
      tr
        td #[code .table--nowrap]
        td Prevents white-space wrapping (in every table cell).#[sup 1]
        
  p #[sup 1] If you require nowrap only on some table cells and not others, you can use the #[a(href="decoration.html#decoration-text") text utility] class #[code .text--nowrap] applied to the #[code th] or #[code td] where you need it.
