extends ../../docs-template-partials/_docs-article

block prepend article
  - var articleId = "decoration-utilities-introduction"
  - var articleTitle = "Introduction"

block section
    
  p.lead For consistency throughout Codebase, several decoration variables have been defined.

  p These variables have been incoporated into a set of simple decoration utility classes. These classes can be used to quickly add consistent styling to your HTML directly.
    
  p You can modify the decoration variables and classes, and add to them, in accordance with the style guide or visual identity of your website project.

  p.bg--green-lighten-3.p--16 #[b Hat tip]: The idea for Codebase decoration was inspired by #[a(href="http://www.basscss.com", target="_blank") BASCSS], #[a(href="http://tachyons.io", target="_blank") Tachyons] and the #[a(href="https://spec.fm/specifics/8-pt--flexbox", target="_blank") 8-Point grid].

  h3 Notes

  ol
    li.
      If you know you will never use the decoration utility classes, then you can override the #[code $cb-include-css--decoration-utilities] to #[code false] (see #[a(href="codebase/scss/00_default-variables/_default-variables.scss") codebase/scss/00_default-variables/_default-variables.scss]).
    li.
      Codebase decoration utility classes are not responsive to viewport sizes.
    li.
      Beware: there are some circumstances where styling from e.g. your own CSS will override decoration utility classes: CSS nesting.
      
  pre
    code.
      /* This CSS will not override decoration utility classes: */
      
      h2 {
        border: 0;
      }
      
      &lt;h2 class="b--heavy"&gt;Example: this h4 has a heavy border&lt;/h2&gt;
  
  style.
    h4 {
      border: 0;
    }

  h4.b--heavy Example: this h4 has a heavy border
  
  pre
    code.
      /* This CSS will override decoration utility classes: */

      .infobox h4 {
        border: 0;
      }

      &lt;div class="infobox"&gt;
        &lt;h4 class="b--heavy"&gt;Gotcha: this h4 has no border. Why?&lt;/h4&gt;
      &lt;/div&gt;
  
  style.
    .infobox h4 {
      border: 0;
    }

  .infobox
    h4.b--heavy Gotcha: this h4 has no border. Why?
  
  ol(start="4")
    li.
      No styling from anywhere else in #[code codebase.css] overrides Codebase decoration utility classes &ndash; except the component #[code .decorate] classes (but you're not meant to combine #[code .decorate] and decoration utility classes anyway).

  hr

  p There is also a #[code .decorate] class used for some components. It is used so that the (opinionated) decorative styles can be separated from the functional styles required to set up the components. See #[a(href="components.html#components-decoration") Components: Decoration]. 
