extends ../../docs-template-partials/_docs-article

block prepend article
  - var articleId = "decoration-utilities-box-shadows"
  - var articleTitle = "Box Shadows"

block section

  h3 (Outset) Box shadow
  
  p For box shadows the unit "z" was chosen because the increasing shadow gives the idea of elevating the element on the "z-axis" (i.e. toward the person viewing the webpage).
  
  .mb--line.p--8.bs #[code .bs] (or alias #[code .bs--1z])
  .mb--line.p--8.bs--2z #[code .bs--2z]
  .mb--line.p--8.bs--3z #[code .bs--3z]
  
  h3 Inset box shadow
  
  .mb--line.p--8.bs--inset #[code .bs--inset]
  
  h3 Inset box shadows on one side only
  
  .mb--line.p--8.bs--inset-top #[code .bs--inset-top]
  .mb--line.p--8.bs--inset-right #[code .bs--inset-right]
  .mb--line.p--8.bs--inset-bottom #[code .bs--inset-bottom]
  .mb--line.p--8.bs--inset-left #[code .bs--inset-left]
