extends ../../docs-template-partials/_docs-article

block prepend article
  - var articleId = "decoration-utilities-element-grid"
  - var articleTitle = "Element Grid"

block section

  p.lead Codebase uses a "soft" 4px element grid for consistently positioning elements relative to each other.
    
  p This is similar in principle to various 8px grids out there (also known as 8-point or 8dp [device pixel] grids). For example:
    
  ul
    li #[a(href="https://spec.fm/specifics/8-pt-grid") SpecFM's 8-point grid] 
    
    li #[a(href="http://www.bbc.co.uk/gel/web/foundations/universal-grid/baseline") The BBC GEL's 8px baseline grid]
    
    li #[a(href="https://material.io/guidelines/layout/metrics-keylines.html") Material Design's 8dp square baseline grid]

  p.bg--green-lighten-3.p--16 If you're already familiar with the 8-point grid concept, you can think of Codebase's 4px grid in the same way, but with the ability to do a "half unit" whenever you find it useful!

  p The #[strong Codebase element grid] has been deployed a follows:
    
  ol
    li Element grid increments (4px) have been used for setting all line-heights, margins and paddings throughout Codebase.
    
    li By default, the base typography vertical rhythm (line-height) is set at 24px (= 3 * 4px, equivalent to #[code line-height: 1.5]). The line heights for headers have also been set using 4px increments.
    
    li The layout #[code .flexbox] gaps have been set at 24px.
    
    li Decoration utilities for #[a(href="#decoration-utilities-margins-and-paddings") margins and paddings] have been set using values from the 4px element grid.
