//- PARAGRAPH GENERATOR

mixin paragraph(number, p1Class)
  case number
    when 1
      p(class=p1Class).
        Lorem ipsum dolor sit amet, adipiscing honestatis ius ut, nisl consulatu pro in. Imperdiet evertitur no usu, his te suavitate salutatus. Nullam ridens deterruisset an duo. Cum harum insolens ei, cum probo placerat praesent et.
    when 2
      p(class=p1Class).
        Lorem ipsum dolor sit amet, adipiscing honestatis ius ut, nisl consulatu pro in. Imperdiet evertitur no usu, his te suavitate salutatus. Nullam ridens deterruisset an duo. Cum harum insolens ei, cum probo placerat praesent et.
      p.
        Summo nostro dicunt sea ut, an summo adolescens reformidans pri, his meliore ancillae ei. Sit an dolore labore, an lorem electram concludaturque sed, sed eu integre persius. Has ex malis sonet omnes, in quis ubique sed, in eos diceret laboramus. At usu hinc assueverit. Ne placerat lucilius mel, ea omnis omnes vituperata nec. Mea postea mandamus explicari no, nam ne detracto percipitur appellantur, sed in zril iisque eruditi. Quo eu tollit altera, ut velit apeirian suscipiantur mea.
    when 3
      p(class=p1Class).
        Lorem ipsum dolor sit amet, adipiscing honestatis ius ut, nisl consulatu pro in. Imperdiet evertitur no usu, his te suavitate salutatus. Nullam ridens deterruisset an duo. Cum harum insolens ei, cum probo placerat praesent et.
      p.
        Summo nostro dicunt sea ut, an summo adolescens reformidans pri, his meliore ancillae ei. Sit an dolore labore, an lorem electram concludaturque sed, sed eu integre persius. Has ex malis sonet omnes, in quis ubique sed, in eos diceret laboramus. At usu hinc assueverit. Ne placerat lucilius mel, ea omnis omnes vituperata nec. Mea postea mandamus explicari no, nam ne detracto percipitur appellantur, sed in zril iisque eruditi. Quo eu tollit altera, ut velit apeirian suscipiantur mea.
      p.
        Utroque habemus moderatius cum cu, no sea persius assueverit, eam id ipsum ridens urbanitas. Ex ridens tibique duo. Ne vim error percipit, his in duis ullamcorper, id sed vero vidisse labores. Eos cu habeo oratio, habeo dicit ad per. Nam nulla vocibus temporibus ea, et melius electram ius, nec putent moderatius appellantur et. Ea vix saperet tincidunt.
    when 4
      p(class=p1Class).
        Lorem ipsum dolor sit amet, adipiscing honestatis ius ut, nisl consulatu pro in. Imperdiet evertitur no usu, his te suavitate salutatus. Nullam ridens deterruisset an duo. Cum harum insolens ei, cum probo placerat praesent et.
      p.
        Summo nostro dicunt sea ut, an summo adolescens reformidans pri, his meliore ancillae ei. Sit an dolore labore, an lorem electram concludaturque sed, sed eu integre persius. Has ex malis sonet omnes, in quis ubique sed, in eos diceret laboramus. At usu hinc assueverit. Ne placerat lucilius mel, ea omnis omnes vituperata nec. Mea postea mandamus explicari no, nam ne detracto percipitur appellantur, sed in zril iisque eruditi. Quo eu tollit altera, ut velit apeirian suscipiantur mea.
      p.
        Utroque habemus moderatius cum cu, no sea persius assueverit, eam id ipsum ridens urbanitas. Ex ridens tibique duo. Ne vim error percipit, his in duis ullamcorper, id sed vero vidisse labores. Eos cu habeo oratio, habeo dicit ad per. Nam nulla vocibus temporibus ea, et melius electram ius, nec putent moderatius appellantur et. Ea vix saperet tincidunt.
      p.
        Eruditi omittam usu et, ea sed animal detraxit. Pro aperiam efficiendi suscipiantur at, at vis epicurei verterem corrumpit, cu probatus tincidunt mel. Ei nibh officiis qui, pri minim ubique ne. Tritani liberavisse ad duo. Deleniti menandri nam ea, alienum sadipscing id quo, congue gubergren mnesarchum mei ad.
    default
      p.
        Lorem ipsum dolor sit amet, adipiscing honestatis ius ut, nisl consulatu pro in. Imperdiet evertitur no usu, his te suavitate salutatus. Nullam ridens deterruisset an duo. Cum harum insolens ei, cum probo placerat praesent et.
