//- Corner ribbon

style.
  .corner-ribbon {
    position: fixed;
    bottom: 8px;
    right: 8px;
    width: 64px;
    height: 37px;
    z-index: 999;
    background: url('../../images/codebase2-logo.svg') 0 0 no-repeat;
  }

a(href='index.html').corner-ribbon
