//- Example Blog Index

extends ../codebase/pug/_codebase

block vars
  - var title = "Example Dashboard | Codebase"
  - var bodyClass = "bg--gray-lighten-3"

block append head-addins
  style.
    .example-menubar-1 {
      z-index: 121;
    }
    .example-menubar-1 a {
      padding: 8px 16px;
    }
    .example-menubar-1 a:hover {
      text-decoration: none;
      cursor: pointer;
      background-color: #f5f5f5; 
    }
    .example-menubar-2 {
      min-height: 56px;
    }
    .example-menubar-2 li {
      margin-bottom: 0;
    }
    .example-menubar-2 a {
      padding: 16px;
      color: #ddd;
    }
    .example-menubar-2 a:hover {
      color: #fff;
      text-decoration: none
    }

block body
  include example-partials/__example-partials-index
  
  .menubar.menubar--fixed.bg--white.example-menubar-1
    .menubar__brand
      a(href="#/")
        b Dashboard
    .menubar__content
      ul.menubar__right
        li #[a #[i.fa.fa-arrow-circle-o-left]]
        li #[a #[i.fa.fa-user-circle]]
        li #[a #[i.fa.fa-arrow-circle-o-right]]
        li #[a #[i.fa.fa-cog]]
        li #[a.dropdown__ctrl #[i.fa.fa-ellipsis-v] #[i.fa.fa-caret-down]]
          .dropdown__content.dropdown__content--right.b--thin.bg--white
            ul.menu.deco.text--left
              li #[a(href="") Edit your profile]
              li #[a(href="") Settings]
              li #[a(href="") Logout]
          
  .mt--40.menu.menu--fixed.menu--menubar-md.bg--gray-darken-3.example-menubar-2
    .menu__ctrl.menu__ctrl--right.m--12.btn.btn.btn--icon.btn--sm.btn--big-text.fa.fa-bars
    .menu__content
      ul.menubar__justify
        li #[a(href="#/") Projects]
        li #[a(href="#/") Teams]
        li #[a(href="#/") Assignments]
        li #[a(href="#/") Unassigned]
        li #[a(href="#/") Ideas]
        li #[a(href="#/") Showcase]
        li #[a(href="#/") Guides]
        a.dropdown__ctrl Search #[i.fa.fa-caret-down]
        .dropdown__content.dropdown__content--right.bg--gray-darken-3
          form.mb--zero.p--16
            input#search-example.b--gray.form__input--inline.form__input--sm.combo--left(name="examplename" placeholder="Search..." type="text")
            button.btn.btn--icon.btn--sm.combo--right(type="submit") #[i.fa.fa-search]    

  .flexbox.flexbox--gutter.pt--60
    .flexitem.flexitem--span-4.flexitem-sm--span-3.flexitem-md--span-2.pt--40.bg--white
      
      mixin card-sidebar(total)
        - var n = 0;
        while n < total
          .card.card-example.mt--12
            .card__image.
              #[img(src="holder.js/64x64").mb--4.b--circle]
            .card__body.ph--12(style="min-width: 120px;")
              .text--small-text.text--bold Joe Bloggs
                = " "
                = (n++ + 1)
              p.text--small-text.mb--zero Status #[i.fa.fa-mortar-board] #[br] #[i.fa.fa-clock-o] 1 hour ago
          //p(style="display: none;")= n++

      +card-sidebar(12)

    .flexitem.flexitem--span-8.flexitem-sm--span-9.flexitem-md--span-10.mh--auto.pt--80(style="max-width: 960px")
      
      h2 Joe Bloggs 1
            
      .flexbox.flexbox--gutter.flexbox--nested

        .flexitem.flexitem-md--span-6.flexitem-lg--span-4.mb--line
          .p--24.bg--white
            .text--initial-icon.
              #[i.fa.fa-bar-chart] 
              #[h3 Stats]
            +paragraph
            
            a.btn.btn--block(href="") View stats

        .flexitem.flexitem-md--span-6.flexitem-lg--span-4.mb--line
          .p--24.bg--white
            .text--initial-icon.
              #[i.fa.fa-key] 
              #[h3 Permissions]
            +paragraph
            
            a.btn.btn--block(href="") Change permissions

        .flexitem.flexitem-md--span-6.flexitem-lg--span-4.mb--line
          .p--24.bg--white
            .text--initial-icon.
              #[i.fa.fa-cog] 
              #[h3 Settings]
            +paragraph
            
            a.btn.btn--block(href="") Update settings 

        .flexitem.flexitem-md--span-6.flexitem-lg--span-4.mb--line
          .p--24.bg--white
            .text--initial-icon.
              #[i.fa.fa-star] 
              #[h3 Projects]
            +paragraph
            
            a.btn.btn--block(href="") Assign projects

  +codebase-bottomline
  
  block append body-foot-addins
    script(src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.min.js")
