//- Example Starter

extends ../codebase/pug/_codebase

block vars
  - var title = "Example Starter"

block body
  include example-partials/__example-partials-index

  // Get to work

  | Get to work...

  +codebase-bottomline
