//- Example Company Homepage

extends ../codebase/pug/_codebase

block vars
  - var title = "Example Company | Codebase"
  - var bodyClass = "codebase-example bg--blue-lighten-3"

block append head-addins
  +font-awesome

block body
  include example-partials/__example-partials-index

  .codebase-bodyinner
    
    .container.bg--white
      .bg--purple-darken-2.pt--16
        | 
      ul.menubar.menubar--right.decorate.hide--sm-down
        li.
          #[a(href="") HOME]
        li.
          #[a(href="") ABOUT]
        li.
          #[a(href="") NEWS]
        li.
          #[a(href="") CAREERS]
        li.
          #[a(href="") CONTACT]

      .hide--md-up
        .showhide.right
          .mb--24.p--block
            a.showhide__ctrl.bold(data-content-id="top-menu") #[i.fa.fa-bars] MENU
          #top-menu.showhide__content.left
            ul.mb--line.bb--thin.menu.decorate
              li.
                #[a(href="") HOME]
              li.
                #[a(href="") ABOUT]
              li.
                #[a(href="") NEWS]
              li.
                #[a(href="") CAREERS]
              li.
                #[a(href="") CONTACT]
              li
                form.p--4
                  input#search-example.form__input--inline.form__input--sm.combo--left(name="examplename" placeholder="Search..." type="text")
                  button.btn.btn--icon.btn--sm.combo--right(type="submit") #[i.fa.fa-search]

      style.
        .company-header a {
          color: rgb(61,61,61);
          text-decoration: none
        }
        
      h1.p--block.company-header.
        #[a(href="/#").heavy #[i.fas.fa-cube] Company]
      
      .bb--thin.px--16
        .flexbox.flexbox--center.flexbox--span-12
          .flex-item-md--span-6
            ul.menubar.decorate
              li #[a(href="#/").mx--4.bb--thick.b--purple PRODUCTS]
              li #[a(href="#/").mx--4.bb--thick.b--purple SERVICES]
          .hide--sm-down.flex-item--span-6
            form.p--4.float--right
              input#search-example.form__input--inline.form__input--sm.combo--left(name="examplename" placeholder="Search..." type="text")
              button.btn.btn--icon.btn--sm.combo--right(type="submit") #[i.fa.fa-search]

      .flexbox.flexbox--gap.px--16
        .flex-item-sm--span-8.flex-item-md--span-9
          h2.mt--48 Elevator Pitch
          +paragraph(1, "lead")
          
        .flex-item-sm--span-4.flex-item-md--span-3
          .my--24.b--thin.b--purple
            .bb--thin.b--purple.p--block.bg--purple-lighten-3.center
              | #[b Make contact]
            .p--8.center.
              #[i.fas.fa-phone] pxone: #[br]
              +1 (333) 6666 999
            .p--8.center.
              #[i.far.fa-envelope] Email: #[br]
              #[a(href="mailto:info@company.com") info@company.com]
      
      style.
        @media (max-width: 639px) {
          .company-ad-tiles .card {
            max-width: 300px;
            margin-right: auto;
            margin-left: auto;
          }
        }
      
      .bg--gray-lighten-2.pt--24.px--16
        
        .flexbox.flexbox--gap.company-ad-tiles
          
          .flex-item-sm--span-6.flex-item-md--span-4.flex-item-lg--span-3
            .card.decorate
              a(href="#/")
                .card__image
                  +image-placeholder-dark(650, 400)
                .card__body.bg--white
                  .p--4 Lorem ipsum dolor sit amet

          .flex-item-sm--span-6.flex-item-md--span-4.flex-item-lg--span-3
            .card.decorate
              a(href="#/")
                .card__image
                  +image-placeholder-dark(650, 400)
                .card__body.bg--white
                  .p--4 Lorem ipsum dolor sit amet
                  
          .flex-item-sm--span-6.flex-item-md--span-4.flex-item-lg--span-3
            .card.decorate
              a(href="#/")
                .card__image
                  +image-placeholder-dark(650, 400)
                .card__body.bg--white
                  .p--4 Lorem ipsum dolor sit amet

          .flex-item-sm--span-6.flex-item-md--span-4.flex-item-lg--span-3
            .card.decorate
              a(href="#/")
                .card__image
                  +image-placeholder-dark(650, 400)
                .card__body.bg--white
                  .p--4 Lorem ipsum dolor sit amet

          .flex-item-sm--span-6.flex-item-md--span-4.flex-item-lg--span-3
            .card.decorate
              a(href="#/")
                .card__image
                  +image-placeholder-dark(650, 400)
                .card__body.bg--white
                  .p--4 Lorem ipsum dolor sit amet

          .flex-item-sm--span-6.flex-item-md--span-4.flex-item-lg--span-3
            .card.decorate
              a(href="#/")
                .card__image
                  +image-placeholder-dark(650, 400)
                .card__body.bg--white
                  .p--4 Lorem ipsum dolor sit amet

          .flex-item-sm--span-6.flex-item-md--span-4.flex-item-lg--span-3
            .card.decorate
              a(href="#/")
                .card__image
                  +image-placeholder-dark(650, 400)
                .card__body.bg--white
                  .p--4 Lorem ipsum dolor sit amet

          .flex-item-sm--span-6.flex-item-md--span-4.flex-item-lg--span-3
            .card.decorate
              a(href="#/")
                .card__image
                  +image-placeholder-dark(650, 400)
                .card__body.bg--white
                  .p--4 Lorem ipsum dolor sit amet
  
      .flexbox.flexbox--gap.px--16
        
        .flex-item-sm--span-12.flex-item-lg--span-6.flex-item-lg--order-2
          .mx--auto(style="max-width: 768px;")
            h2.mt--line Featured news item
            
            +paragraph(2, "lead")
            
            a.btn.btn--primary(href="/#") Read more #[i.fa.fa-arrow-right]
          
            hr
            
            h2 About our Company
            
            +paragraph

            style.
              .values {
                padding-left: 32px
              }
              .values .initial-icon > i:first-child {
                height: 80px;
                width: 80px;
                padding-top: 16px;
                margin-left: -96px;
                color: white;
                background: #491851;
                border-radius: 50%;
              }
            .values
              .initial-icon.mb--line
                i.fas.fa-certificate.fa-fw
                h4.mb--4 Something important
                span Lorem ipsum dolor sit amet, adipiscing honestatis ius ut, nisl consulatu pro in. Imperdiet evertitur no usu, his te suavitate salutatus. Nullam ridens deterruisset an duo.
              
              .initial-icon.mb--line
                i.fas.fa-microphone.fa-fw
                h4.mb--4 Something else important
                span Summo nostro dicunt sea ut, an summo adolescens reformidans pri, his meliore ancillae ei. Sit an dolore labore, an lorem electram concludaturque sed, sed eu integre persius.

              .initial-icon.mb--line
                i.fas.fa-bell.fa-fw
                h4.mb--4 Something still important
                span Mea postea mandamus explicari no, nam ne detracto percipitur appellantur, sed in zril iisque eruditi. Quo eu tollit altera, ut velit apeirian suscipiantur mea.
            
        .flex-item-sm--span-6.flex-item-lg--span-3.flex-item-lg--order-1
          .mt--line
            .showhide.b--thin.b--blue.bb--0.mb--4
              .showhide__ctrl.p--block.bg--blue-lighten-3(data-content-id="products01")
                b Product Category 1
                i.fa.fa-plus.float--right(style="padding-top: 4px")
              #products01.showhide__content.bt--thin.b--blue
                +menu("Product", 5, "decorate")
              .showhide__ctrl.p--block.bg--blue-lighten-3(data-content-id="products02")
                b Product Category 2
                i.fa.fa-plus.float--right(style="padding-top: 4px")
              #products02.showhide__content.bt--thin.b--blue
                +menu("Product", 4, "decorate")
              .showhide__ctrl.p--block.bg--blue-lighten-3(data-content-id="products03")
                b Product Category 3
                i.fa.fa-plus.float--right(style="padding-top: 4px")
              #products03.showhide__content.bt--thin.b--blue
                +menu("Product", 4, "decorate")
              .showhide__ctrl.p--block.bg--blue-lighten-3(data-content-id="products04")
                b Product Category 4
                i.fa.fa-plus.float--right(style="padding-top: 4px")
              #products04.showhide__content.bt--thin.b--blue
                +menu("Product", 3, "decorate bb--thin b--blue")
              
        .flex-item-sm--span-6.flex-item-lg--span-3.flex-item-lg--order-3
          .my--24.b--thin.b--purple
            .bb--thin.b--purple.p--block.bg--purple-lighten-3.center
              | #[b Services]
            +menu("Service", 4, "decorate")
      
      style.
        .company-big-footer a {
          color: #aaa;
        }
      .company-big-footer.mt--line.bg--blue-darken-3.px--16.py--24
        .flexbox.flexbox--gap.example-big-footer

          .flex-item-md--span-3
            +paragraph(1, "gray-lighten-1")

          .flex-item-md--span-6
            .flexbox.flexbox--gap.flexbox--nested
              .flex-item--span-6
                h4.mt.gray-lighten-1 Product Categories
                +menu("Category", 4)
              .flex-item--span-6
                h4.mt.gray-lighten-1 Services
                +menu("Service", 4)

          .flex-item-md--span-3(style="display: flex; flex-direction: column")
            style.
              .company-footer {
                align-self: flex-end;
                width: 100%;
                text-align: right;
              }
              .company-footer a {
                font-size: 2em;
                color: white;
                text-decoration: none;
              }
            
            .right(style="flex-grow: 1")
              +social
            
            .p--block.company-footer.
              #[a(href="/#").heavy #[i.fa.fa-cube]&nbsp;Company]
              
      .p--block.bg--gray-darken-3
        .gray.center.
          Copyright &copy; 2018 Company, Ltd.
        .gray.center
          i Lorem ipsum dolor sit amet, adipiscing honestatis ius ut, nisl consulatu pro in.
    
  +codebase-bottomline
  
//-  block append body-foot-addins
