//- Example Gallery

extends ../codebase/pug/_codebase

block vars
  - var title="Example Gallery"
  - var bodyClass = "bg--blue-lighten-3"

block append head-addins
  +font-awesome

block body
  include example-partials/__example-partials-index

  .menu.menu--fixed.menu--menubar-md.decorate.bg--white.bs--1z
    .menu__brand
      a(href="#/")
        b Brand
        
    .menu__ctrl.menu__ctrl--right
      i.fas.fa-bars

    .menu__content
      ul.menubar__right
        li #[a(href="#/") Home]
        li.dropdown
          a.dropdown__ctrl(href="http://example.com") About us
          ul.dropdown__content
            li #[a(href="#/") How it all started]
            li #[a(href="#/") The early years]
            li #[a(href="#/") The present day]
            li #[a(href="#/") Plans for the future]
        li #[a(href="#/") Visit us]
        li #[a(href="#/") Make contact]

  .container.pt--84
    .flexbox.flexbox--container.flexbox--gap
      .flex-item--span-12
        h1 Picture Gallery

        p A simple image gallery using the Codebase tab system &ndash; combined with a flexbox layout for rearranging the tab labels and cards.

    style.
      .gallery-example .tab__label {
        margin-bottom: 8px;
        border: 4px solid #ccf;
        border-radius: 4px;
        background-color: #ccf;
      }
      .gallery-example .tab__label.is-front {
        border-color: #aad;
      }

    .flexbox.flexbox--container.flexbox--gap.gallery-example
      .flex-item-md--span-3.mb--line.center
        .tab__label(data-tab-id="pic-01")
          +image-placeholder-light(80, 80)
          .center.pb--4 One
        .tab__label(data-tab-id="pic-02")
          +image-placeholder-dark(80, 80)
          .center.pb--4 Two
        .tab__label(data-tab-id="pic-03")
          +image-placeholder-light(80, 80)
          .center.pb--4 Three
        .tab__label(data-tab-id="pic-04")
          +image-placeholder-dark(80, 80)
          .center.pb--4 Four
        .tab__label(data-tab-id="pic-05")
          +image-placeholder-light(80, 80)
          .center.pb--4 Five
        .tab__label(data-tab-id="pic-06")
          +image-placeholder-dark(80, 80)
          .center.pb--4 Six
        .tab__label(data-tab-id="pic-07")
          +image-placeholder-light(80, 80)
          .center.pb--4 Seven
        .tab__label(data-tab-id="pic-08")
          +image-placeholder-dark(80, 80)
          .center.pb--4 Eight
        .tab__label(data-tab-id="pic-09")
          +image-placeholder-light(80, 80)
          .center.pb--4 Nine
        .tab__label(data-tab-id="pic-10")
          +image-placeholder-dark(80, 80)
          .center.pb--4 Ten
        .tab__label(data-tab-id="pic-11")
          +image-placeholder-light(80, 80)
          .center.pb--4 Eleven
        .tab__label(data-tab-id="pic-12")
          +image-placeholder-dark(80, 80)
          .center.pb--4 Twelve

      .flex-item-md--span-9
        .tab__panel#pic-01
          h2.mb--8 Title for Picture One
          +image-placeholder-light(1000, 500)
          h4.mt--line Info for Picture One          
          +paragraph
        .tab__panel#pic-02
          h2.mb--8 Title for Picture Two
          +image-placeholder-dark(1000, 500)
          h4.mt--line Info for Picture Two          
          +paragraph
        .tab__panel#pic-03
          h2.mb--8 Title for Picture Three
          +image-placeholder-light(1000, 500)
          h4.mt--line Info for Picture Three          
          +paragraph
        .tab__panel#pic-04
          h2.mb--8 Title for Picture Four
          +image-placeholder-dark(1000, 500)
          h4.mt--line Info for Picture Four          
          +paragraph
        .tab__panel#pic-05
          h2.mb--8 Title for Picture Five
          +image-placeholder-light(1000, 500)
          h4.mt--line Info for Picture Five          
          +paragraph
        .tab__panel#pic-06
          h2.mb--8 Title for Picture Six
          +image-placeholder-dark(1000, 500)
          h4.mt--line Info for Picture Six          
          +paragraph
        .tab__panel#pic-07
          h2.mb--8 Title for Picture Seven
          +image-placeholder-light(1000, 500)
          h4.mt--line Info for Picture Seven          
          +paragraph
        .tab__panel#pic-08
          h2.mb--8 Title for Picture Eight
          +image-placeholder-dark(1000, 500)
          h4.mt--line Info for Picture Eight          
          +paragraph
        .tab__panel#pic-09
          h2.mb--8 Title for Picture Nine
          +image-placeholder-light(1000, 500)
          h4.mt--line Info for Picture Nine          
          +paragraph
        .tab__panel#pic-10
          h2.mb--8 Title for Picture Ten
          +image-placeholder-dark(1000, 500)
          h4.mt--line Info for Picture Ten          
          +paragraph
        .tab__panel#pic-11
          h2.mb--8 Title for Picture Eleven
          +image-placeholder-light(1000, 500)
          h4.mt--line Info for Picture Eleven          
          +paragraph
        .tab__panel#pic-12
          h2.mb--8 Title for Picture Twelve
          +image-placeholder-dark(1000, 500)
          h4.mt--line Info for Picture Twelve          
          +paragraph

    
  .container
      hr.b--blue

      .center
        ul.pagination.decorate
          li
            a(href="#/") #[i.fa.fa-arrow-left] Newer
          li
            a(href="#/") 1
          li
            a.pagination__current(href="http://www.example.com") 2
          li
            a(href="#/") 3
          li
            a(href="#/") 4
          li
            a(href="#/") 5
          li
            a(href="#/") Older #[i.fa.fa-arrow-right]
      
      hr.mt--20.b--blue
      
      p.center &copy; 2018 Picture Gallery.
        
  +codebase-bottomline

block append body-foot-addins
  script(src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.min.js")
