//- Example Blog Index

extends ../codebase/pug/_codebase

block vars
  - var title = "Example Newspaper | Codebase"
  - var bodyClass = "codebase-example"

block append head-addins
  +font-awesome
  style.
    @import url("https://fonts.googleapis.com/css?family=Spectral");
    body {
      font-family: "Spectral", serif;
    }
    
block body
  include example-partials/__example-partials-index
  
    
  style.
    .newspaper-logo a {
      color: rgb(61,61,61);
      text-decoration: none
    }
    
    
  .container.flexbox.bb--thin
    .flex-item--span-12
      .menu.menu--menubar-md.decorate              
        .menu__ctrl.menu__ctrl--right.p--8.big.fa.fa-bars
        .menu__content
                
          ul.menubar__right
            li #[a(href="#/") Contact]
            li #[a(href="#/") About]
            li #[a(href="#/") Subscribe]
            li #[a(href="#/") Login]
            li
              form(style="margin-bottom: 0; padding: 4px;")
                input#search-example.form__input--inline.form__input--sm.combo--left.b--blue(name="examplename" type="text")
                button.btn.btn--primary.btn--icon.btn--sm.combo--right(type="submit") #[i.fa.fa-search]
  
  .container
    .flexbox.flexbox--gap
      .flex-item--span-12
        h1.mt--line.newspaper-logo #[a(href="#/") #[i.fa.fa-newspaper] Newspaper]

  .container
    .flexbox.flexbox--gap
      .flex-item--span-12
        +nav-tabs-newspaper
  
  .container
    .flexbox.flexbox--gap.mb--line.bb--thin
      .flex-item-sm--span-8.flex-item-md--span-4
        
        style.
          a.card__overlay {
            text-align: left;
            text-decoration: none;
            color: rgba(0,0,0,0.2);
            transition: all 0.3s ease-in-out;
          }
          .main-story {
            transition: all 0.3s ease-in-out;
          }
          div:hover.main-story {
            box-shadow: 0 2px 4px rgba(0,0,0,0.2);
          }
        .card.card--vertical.main-story.mx--8.decorate
          .card__image
            +image-placeholder-dark(600, 600)
          .card__overlay.card__overlay--top
            .card__body(style="background-color: rgba(0,0,0,0.5);")
              h4.white.bold Today's Frontpage Story
          a(href="#/").card__overlay.card__overlay--bottom
            .card__body(style="background-color: rgba(0,0,0,0.5);")
              p.white.
                Lorem ipsum dolor sit amet, adipiscing honestatis ius ut, nisl consulatu pro in.
      
      .flex-item-sm--span-4.flex-item-md--span-8.bl--thin
        
        style.
          a.card {
            transition: all 0.3s ease-in-out;
            text-decoration: none;
            color: #7A7A7A;
          }
          a:hover.card {
            color: #3D3D3D;
            box-shadow: 0 2px 4px rgba(0,0,0,0.2);
          }
        
        .mb--4.center.bb--thin.p--block.bold.caps On this day
        .flexbox
          .flex-item-md--span-4.p--block
            
            a(href="#/").card.card--vertical.decorate
              .card__header Science
              .card__image.center
                +image-placeholder-dark(600, 300)
              .card__body
                h4 Headline
                p.show--md-up.
                  Lorem ipsum dolor sit amet, adipiscing honestatis ius ut, nisl consulatu pro in.
                    
          .flex-item-md--span-4.p--block
            
            a(href="#/").card.card--vertical.decorate
              .card__header Health
              .card__image.center
                +image-placeholder-light(600, 300)
              .card__body
                h4 Headline
                p.show--md-up.
                  Lorem ipsum dolor sit amet, adipiscing honestatis ius ut, nisl consulatu pro in.

          .flex-item-md--span-4.p--block

            a(href="#/").card.card--vertical.decorate
              .card__header Sport
              .card__image.center
                +image-placeholder-dark(600, 300)
              .card__body
                h4 Headline
                p.show--md-up.
                  Lorem ipsum dolor sit amet, adipiscing honestatis ius ut, nisl consulatu pro in.
    
  main.container
    .flexbox.flexbox--gap
      
      .flex-item-md--span-4.flex-item-md--order-2.flex-item-lg--span-3
          
        p.center.caps Advertisements
        
        .flexbox.mb--line
          .flex-item--span-6.flex-item-sm--span-12.p--4
            +image-placeholder-dark(300, 250)
          
          .flex-item--span-6.flex-item-sm--span-12.p--4
            +image-placeholder-light(300, 250)

          .flex-item--span-6.flex-item-sm--span-12.p--4
            +image-placeholder-light(300, 250)

          .flex-item--span-6.flex-item-sm--span-12.p--4
            +image-placeholder-dark(300, 250)

          .flex-item--span-6.flex-item-sm--span-12.p--4
            +image-placeholder-light(300, 250)

      .flex-item-md--span-8.flex-item-md--order-1.flex-item-lg--span-9
        
        .flexbox.flexbox--gap.flexbox--nested
          .flex-item-md--span-8.flex-item-md--order-2
            h4.mt.center.caps Today's Main Stories
            
            +image-placeholder-dark(600, 300)
            
            h2.my--16.bold First Main Story Headline            
            +paragraph(2, "lead")
            
            hr
              
            .flexbox.flexbox--gap.flexbox--nested
              .flex-item-md--span-6
                +image-placeholder-light(600, 300)
                h3.my--16.bold Second Main Story Headline            
                +paragraph

              .flex-item-md--span-6
                +image-placeholder-dark(600, 300)
                h3.my--16.bold Third Main Story Headline            
                +paragraph

            
          .flex-item-md--span-4.flex-item-md--order-1
            .mb--line.center.caps Recent
            
            a(href="#/").card
              .card__image.card__image--left.pr--8
                +image-placeholder-light(64, 64)
              .card__body
                b.mt.mb--8 First Featured Recent News Item

            hr

            a(href="#/").card
              .card__image.card__image--left.pr--8
                +image-placeholder-dark(64, 64)
              .card__body
                b.mt.mb--8 Second Featured Recent News Item

            hr

            a(href="#/").card
              .card__image.card__image--left.pr--8
                +image-placeholder-light(64, 64)
              .card__body
                b.mt.mb--8 Third Featured Recent News Item
                
            hr

            a(href="#/").card
              .card__image.card__image--left.pr--8
                +image-placeholder-light(64, 64)
              .card__body
                b.mt.mb--8 Fourth Featured Recent News Item
              
            hr

            a(href="#/").card
              .card__image.card__image--left.pr--8
                +image-placeholder-dark(64, 64)
              .card__body
                b.mt.mb--8 Fifth Featured Recent News Item

      
  .container.bt--thin.pt--line
    .flexbox.flexbox--gap

      .flex-item-md--span-3.mb--line
        +image-placeholder-light(300, 250)
      
      .flex-item-md--span-6
        .flexbox.flexbox--gap.flexbox--nested
          .flex-item--span-6
            ul.menu
              li #[a(href="#/") World]
              li #[a(href="#/") Local]
              li #[a(href="#/") Science]
              li #[a(href="#/") Health]
              li #[a(href="#/") Technology]
              li #[a(href="#/") Sport]

          .flex-item--span-6
            ul.menu
              li #[a(href="#/") About]
              li #[a(href="#/") Contact]
              li #[a(href="#/") Advertise with us]
              li #[a(href="#/") Careers]
              li #[a(href="#/") Terms of Use]
              li #[a(href="#/") Privacy policy]

      .flex-item-md--span-3
        h3.newspaper-logo #[a(href="#/") #[i.fa.fa-newspaper] Newspaper]
        form
          p.mb--0 
            label Search:
          <input class="b--gray-darken-1 form__input--inline form__input--sm combo--left" id="search-example" name="examplename" type="text">
          <button class="btn btn--icon btn--sm combo--right" type="submit"><i class="fas fa-search"></i></button>

        .mt--line
          +social

  .container.mt--line.bt--thin.pt--line
    p.center.
      Copyright &copy; 2018 Newspaper, inc.
      
    
  +codebase-bottomline

//-block append body-foot-addins