//- Example Blog Index

extends ../codebase/pug/_codebase

block vars
  - var title = "Example Newspaper | Codebase"
  - var bodyClass = "codebase-example"

block append head-addins
  style.
    @import url("https://fonts.googleapis.com/css?family=Spectral");
    body {
      font-family: "Spectral", serif;
    }
    
block body
  include example-partials/__example-partials-index
  
  .codebase-bodyinner
    
    style.
      .newspaper-logo a {
        color: rgb(61,61,61);
        text-decoration: none
      }
      
      
    .flexbox.flexbox--container.bb--thin
      .flexitem.flexitem--span-12
        .menu.menu--menubar-md.deco              
          .menu__ctrl.menu__ctrl--right.p--8.text--big-text.fa.fa-bars
          .menu__content
                  
            ul.menubar__right
              li #[a(href="#/") Contact]
              li #[a(href="#/") About]
              li #[a(href="#/") Subscribe]
              li #[a(href="#/") Login]
              li
                form(style="margin-bottom: 0; padding: 4px;")
                  input#search-example.form__input--inline.form__input--sm.combo--left.b--blue(name="examplename" placeholder="Search..." type="text")
                  button.btn.btn--primary.btn--icon.btn--sm.combo--right(type="submit") #[i.fa.fa-search]
    
    .flexbox.flexbox--container.flexbox--gutter
      .flexitem.flexitem--span-12
        h1.mt--line.newspaper-logo #[a(href="#/") #[i.fa.fa-newspaper-o] Newspaper]

    .flexbox.flexbox--container.flexbox--gutter
      .flexitem.flexitem--span-12
        +nav-tabs-newspaper
    
    .flexbox.flexbox--container.flexbox--gutter.mb--line.bb--thin
      .flexitem.flexitem-sm--span-8.flexitem-md--span-4
        
        style.
          a.card__overlay {
            text-align: left;
            text-decoration: none;
            color: rgba(0,0,0,0.2);
            transition: all 0.3s ease-in-out;
          }
          .main-story {
            transition: all 0.3s ease-in-out;
          }
          div:hover.main-story {
            box-shadow: 0 2px 4px rgba(0,0,0,0.2);
          }
        .card.card--vertical.main-story.mh--8.deco
          .card__image
            img(src="holder.js/600x600")
          .card__overlay.card__overlay--top
            .card__body(style="background-color: rgba(0,0,0,0.5);")
              h4.text--white.text--bold Today's Frontpage Story
          a(href="#/").card__overlay.card__overlay--bottom
            .card__body(style="background-color: rgba(0,0,0,0.5);")
              p.text--white.
                Lorem ipsum dolor sit amet, adipiscing honestatis ius ut, nisl consulatu pro in.
      
      .flexitem.flexitem-sm--span-4.flexitem-md--span-8.bl--thin
        
        style.
          a.card {
            transition: all 0.3s ease-in-out;
            text-decoration: none;
            color: #7A7A7A;
          }
          a:hover.card {
            color: #3D3D3D;
            box-shadow: 0 2px 4px rgba(0,0,0,0.2);
          }
        
        .mb--4.text--center.bb--thin.p--block.text--bold.text--caps On this day
        .flexbox
          .flexitem.flexitem-md--span-4.p--block
            
            a(href="#/").card.card--vertical.deco
              .card__header Science
              .card__image.text--center
                img(src="holder.js/600x300")
              .card__body
                h4 Headline
                p.show--md-up.
                  Lorem ipsum dolor sit amet, adipiscing honestatis ius ut, nisl consulatu pro in.
                    
          .flexitem.flexitem-md--span-4.p--block
            
            a(href="#/").card.card--vertical.deco
              .card__header Health
              .card__image.text--center
                img(src="holder.js/600x300")
              .card__body
                h4 Headline
                p.show--md-up.
                  Lorem ipsum dolor sit amet, adipiscing honestatis ius ut, nisl consulatu pro in.

          .flexitem.flexitem-md--span-4.p--block

            a(href="#/").card.card--vertical.deco
              .card__header Sport
              .card__image.text--center
                img(src="holder.js/600x300")
              .card__body
                h4 Headline
                p.show--md-up.
                  Lorem ipsum dolor sit amet, adipiscing honestatis ius ut, nisl consulatu pro in.
    main.flexbox.flexbox--container.flexbox--gutter
      
      .flexitem.flexitem-sm--span-4.flexitem-sm--order-2.flexitem-md--span-3
          
        p.text--center.text--caps Advertisements
        
        .flexbox.mb--line
          .flexitem.flexitem--span-6.flexitem-sm--span-12.p--4
            img(src="holder.js/300x250")
          
          .flexitem.flexitem--span-6.flexitem-sm--span-12.p--4
            img(src="holder.js/300x250")

          .flexitem.flexitem--span-6.flexitem-sm--span-12.p--4
            img(src="holder.js/300x250")

          .flexitem.flexitem--span-6.flexitem-sm--span-12.p--4
            img(src="holder.js/300x250")

          .flexitem.flexitem--span-6.flexitem-sm--span-12.p--4
            img(src="holder.js/300x250")

      .flexitem.flexitem-sm--span-8.flexitem-sm--order-1.flexitem-md--span-9
        
        .flexbox.flexbox--gutter.flexbox--nested
          .flexitem.flexitem-md--span-8.flexitem-md--order-2
            h4.mt--zero.text--center.text--caps Today's Main Stories
            
            img(src="holder.js/600x300")
            
            h2.mv--16.text--bold First Main Story Headline            
            +paragraph(2, "text--lead")
            
            hr
              
            .flexbox.flexbox--gutter.flexbox--nested
              .flexitem.flexitem-sm--span-6
                img(src="holder.js/600x300")
                
                h3.mv--16.text--bold Second Main Story Headline            
                +paragraph

              .flexitem.flexitem-sm--span-6
                img(src="holder.js/600x300")
                
                h3.mv--16.text--bold Third Main Story Headline            
                +paragraph

            
          .flexitem.flexitem-md--span-4.flexitem-md--order-1
            .mb--line.text--center.text--caps Recent
            
            a(href="#/").card
              .card__image.card__image--left.pr--8
                img(src="holder.js/64x64")
              .card__body
                b.mt--zero.mb--8 First Featured Recent News Item

            hr

            a(href="#/").card
              .card__image.card__image--left.pr--8
                img(src="holder.js/64x64")
              .card__body
                b.mt--zero.mb--8 Second Featured Recent News Item

            hr

            a(href="#/").card
              .card__image.card__image--left.pr--8
                img(src="holder.js/64x64")
              .card__body
                b.mt--zero.mb--8 Third Featured Recent News Item
                
            hr

            a(href="#/").card
              .card__image.card__image--left.pr--8
                img(src="holder.js/64x64")
              .card__body
                b.mt--zero.mb--8 Fourth Featured Recent News Item
              
            hr

            a(href="#/").card
              .card__image.card__image--left.pr--8
                img(src="holder.js/64x64")
              .card__body
                b.mt--zero.mb--8 Fifth Featured Recent News Item

      
    .flexbox.flexbox--container.bt--thin
      .flexitem.pt--20
        .flexbox.flexbox--gutter

          .flexitem.flexitem-md--span-3.mb--line
            img(src="holder.js/300x250")
          
          .flexitem.flexitem-md--span-6
            .flexbox.flexbox--gutter.flexbox--nested
              .flexitem.flexitem-xs--span-6
                ul.menu
                  li #[a(href="#/") World]
                  li #[a(href="#/") Local]
                  li #[a(href="#/") Science]
                  li #[a(href="#/") Health]
                  li #[a(href="#/") Technology]
                  li #[a(href="#/") Sport]

              .flexitem.flexitem-xs--span-6
                ul.menu
                  li #[a(href="#/") About]
                  li #[a(href="#/") Contact]
                  li #[a(href="#/") Advertise with us]
                  li #[a(href="#/") Careers]
                  li #[a(href="#/") Terms of Use]
                  li #[a(href="#/") Privacy policy]

          .flexitem.flexitem-md--span-3
            h3.newspaper-logo #[a(href="#/") #[i.fa.fa-newspaper-o] Newspaper]
            form(style="padding:4px;")
              <input class="b--gray-darken-1 form__input--inline form__input--sm combo--left" id="search-example" name="examplename" placeholder="Search..." type="text">
              <button class="btn btn--icon btn--sm combo--right" type="submit"><i class="fa fa-search"></i></button>

            .mt--line
              +social
            
        .flexbox
          .flexitem
            hr
            p.text--center.
              Copyright &copy; 2017 Newspaper, Inc.
        
    
  +codebase-bottomline

block append body-foot-addins
  script(src="holder.min.js")
