//- Example Blog Post Long Read

extends ../codebase/pug/_codebase

block vars
  - var title = "Example Long Read (Single Post) | Codebase"
  - var bodyClass = "codebase-example"

block append head-addins
  style.
    @import url('https://fonts.googleapis.com/css?family=Noto+Serif');
    body {
      font-family: "Noto Serif", serif;
    }
  +font-awesome

block body
  include example-partials/__example-partials-index

  .menu.menu--menubar-md.menubar--fixed.decorate.bg--gray-lighten-3.bs
    .menu__brand
      a(href="#/")
        b Long Read
    .menu__ctrl.menu__ctrl--right.p--8
      i.fas.fa-bars
    .menu__content
      ul.menubar__right
        li #[a(href="#/") Home]
        li #[a(href="#/") About]
        li #[a(href="#/") Contact]
        li #[a(href="#/") Login]

  .container.pt--84.px--12

    .flexbox.flexbox--gap
      #sidebar.flex-item-lg--span-3.flex-item--order-2
        p.mb--8 Share this post:
        +social

        .flexbox.flexbox--gap

          .flex-item-md--span-6.flex-item-lg--span-12.pt--line
            h4 Blog categories
            +menu("Category", 3, "menu--block")
          
          .flex-item-md--span-6.flex-item-lg--span-12.pt--line
            h4 Recent posts
            +menu("Recent post", 4, "menu--block")

          .flex-item-md--span-6.flex-item-lg--span-12.pt--line
            h4 Recent comments
            +menu("Recent comment", 5, "menu--block")

          .flex-item-md--span-6.flex-item-lg--span-12.pt--line
            +example-subs-form

      #title.flex-item-lg--span-9.flex-item--order-1
        h1 This is an Example Long Read Article with a Big Title

        .flexbox.flexbox--gap
          #author.flex-item-md--span-4.flex-item-lg--span-4
            .flexbox
              div
                +image-placeholder-light(100, 100, "mr--16 b--circle")
              div
                .my--8.big.bold By Author Name
                .my--8.italics 12 Aug 1999
            +paragraph(1, "hide--md-down")

          #main.flex-item-md--span-8.flex-item-lg--span-8
            +paragraph(3, "lead dropcap")
            h2 Heading
            +paragraph(2)
            h2 Heading
            +paragraph(4)
            h2 Heading
            +paragraph(3)
            h2 Heading
            +paragraph(1)

  .container.mt--48.bt--thin.p--16
      
    ul.pagination.decorate.center.pb--48
      li
        a(href="#/")
          i.fas.fa-arrow-left
          =" "
          | Newer
      li
        a(href="#/") 1
      li
        a.pagination__current(href="http://www.example.com") 2
      li
        a(href="#/") 3
      li
        a(href="#/") 4
      li
        a(href="#/") 5
      li
        a(href="#/")
          | Older
          =" "
          i.fas.fa-arrow-right

  +codebase-bottomline

//-block append body-foot-addins