//- Example Gallery

extends ../codebase/pug/_codebase

block vars
  - var title="Example Gallery"
  - var bodyClass = "bg--blue-lighten-3"

//- block append head-addins

block body
  include example-partials/__example-partials-index

  .bg--white.bb--thin.bg--blue-lighten-2
    .flexbox.flexbox--container
      .flexitem--span-12
        +example-menubar

  .flexbox.flexbox--container.flexbox--gutter
    .flexitem--span-12
      h1.mt--48 Picture Gallery

      p A simple image gallery using the Codebase tab system &ndash; combined with a flexbox layout for rearranging the tab labels and cards.

  style.
    .gallery-example .tab__label {
      border: 4px solid #ddf;
      border-radius: 4px
    }
    .gallery-example .tab__label.is-front {
      border-color: #aad;
    }

  .flexbox.flexbox--container.flexbox--gutter.gallery-example
    .flexitem.flexitem-md--span-3.mb--line.text--center
      .tab__label(data-tab-id="pic-01").
        #[img(src="holder.js/80x80?&text=Picture One")]
      .tab__label(data-tab-id="pic-02").
        #[img(src="holder.js/80x80?&text=Picture Two")]
      .tab__label(data-tab-id="pic-03").
        #[img(src="holder.js/80x80?&text=Picture Three")]
      .tab__label(data-tab-id="pic-04").
        #[img(src="holder.js/80x80?&text=Picture Four")]
      .tab__label(data-tab-id="pic-05").
        #[img(src="holder.js/80x80?&text=Picture Five")]
      .tab__label(data-tab-id="pic-06").
        #[img(src="holder.js/80x80?&text=Picture Six")]
      .tab__label(data-tab-id="pic-07").
        #[img(src="holder.js/80x80?&text=Picture Seven")]
      .tab__label(data-tab-id="pic-08").
        #[img(src="holder.js/80x80?&text=Picture Eight")]
      .tab__label(data-tab-id="pic-09").
        #[img(src="holder.js/80x80?&text=Picture Nine")]
      .tab__label(data-tab-id="pic-10").
        #[img(src="holder.js/80x80?&text=Picture Ten")]
      .tab__label(data-tab-id="pic-11").
        #[img(src="holder.js/80x80?&text=Picture Eleven")]
      .tab__label(data-tab-id="pic-12").
        #[img(src="holder.js/80x80?&text=Picture Twelve")]

    .flexitem.flexitem-md--span-9
      .tab__card#pic-01
        img(src="holder.js/1000x500?&outline=yes&text=Picture One")
        h4.mt--line Title for Picture One          
        +paragraph
      .tab__card#pic-02
        img(src="holder.js/1000x500?&outline=yes&text=Picture Two")
        h4.mt--line Title for Picture Two          
        +paragraph
      .tab__card#pic-03
        img(src="holder.js/1000x500?&outline=yes&text=Picture Three")
        h4.mt--line Title for Picture Three          
        +paragraph
      .tab__card#pic-04
        img(src="holder.js/1000x500?&outline=yes&text=Picture Four")
        h4.mt--line Title for Picture Four          
        +paragraph
      .tab__card#pic-05
        img(src="holder.js/1000x500?&outline=yes&text=Picture Five")
        h4.mt--line Title for Picture Five          
        +paragraph
      .tab__card#pic-06
        img(src="holder.js/1000x500?&outline=yes&text=Picture Six")
        h4.mt--line Title for Picture Six          
        +paragraph
      .tab__card#pic-07
        img(src="holder.js/1000x500?&outline=yes&text=Picture Seven")
        h4.mt--line Title for Picture Seven          
        +paragraph
      .tab__card#pic-08
        img(src="holder.js/1000x500?&outline=yes&text=Picture Eight")
        h4.mt--line Title for Picture Eight          
        +paragraph
      .tab__card#pic-09
        img(src="holder.js/1000x500?&outline=yes&text=Picture Nine")
        h4.mt--line Title for Picture Nine          
        +paragraph
      .tab__card#pic-10
        img(src="holder.js/1000x500?&outline=yes&text=Picture Ten")
        h4.mt--line Title for Picture Ten          
        +paragraph
      .tab__card#pic-11
        img(src="holder.js/1000x500?&outline=yes&text=Picture Eleven")
        h4.mt--line Title for Picture Eleven          
        +paragraph
      .tab__card#pic-12
        img(src="holder.js/1000x500?&outline=yes&text=Picture Twelve")
        h4.mt--line Title for Picture Twelve          
        +paragraph

    
  .flexbox.flexbox--container
    .flexitem--span-12

      hr

      .text--center
        ul.pagination
          li
            a(href="#/") #[i.fa.fa-arrow-left] Newer
          li
            a(href="#/") 1
          li
            a.pagination__current(href="http://www.example.com") 2
          li
            a(href="#/") 3
          li
            a(href="#/") 4
          li
            a(href="#/") 5
          li
            a(href="#/") Older #[i.fa.fa-arrow-right]
      
      p.text--center &copy; Picture Gallery.
        
  +codebase-bottomline

block append body-foot-addins
  script(src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.min.js")
