//- Example Blog Index

extends ../codebase/pug/_codebase

block vars
  - var title = "Example Small Business | Codebase"
  - var bodyClass = "codebase-example"

block append head-addins
  +font-awesome

block body
  include example-partials/__example-partials-index
    
  .menu.menu--fixed.menu--menubar-md.bg--white.bs--1z.decorate
    +small-business-menubar-inner
  
  +background-image-placeholder-dark
    +big-hero
      
  .container.px--12
    .flexbox.flexbox--gap.flexbox--center
      .flex-item-md--span-10.flex-item-lg--span-8.py--48
        p.lead.big.
          Lorem ipsum dolor sit amet, adipiscing honestatis ius ut, nisl consulatu pro in. Imperdiet evertitur no usu, his te suavitate salutatus. Nullam ridens deterruisset an duo. Cum harum insolens ei, cum probo placerat praesent et.
          
        .flexbox.flexbox--gap.flexbox--nested
          .flex-item-md--span-6.mt--line
            .initial-icon.
              #[i.fas.fa-info-circle] Lorem ipsum dolor sit amet, adipiscing honestatis ius ut, nisl consulatu pro in. Imperdiet evertitur no usu, his te suavitate salutatus.
          .flex-item-md--span-6.mt--line
            .initial-icon.
              #[i.fas.fa-info-circle] Lorem ipsum dolor sit amet, adipiscing honestatis ius ut, nisl consulatu pro in. Imperdiet evertitur no usu, his te suavitate salutatus.
          .flex-item-md--span-6.mt--line
            .initial-icon.
              #[i.fas.fa-info-circle] Lorem ipsum dolor sit amet, adipiscing honestatis ius ut, nisl consulatu pro in. Imperdiet evertitur no usu, his te suavitate salutatus.
          .flex-item-md--span-6.mt--line
            .initial-icon.
              #[i.fas.fa-info-circle] Lorem ipsum dolor sit amet, adipiscing honestatis ius ut, nisl consulatu pro in. Imperdiet evertitur no usu, his te suavitate salutatus.
      .flex-item-md--span-10.flex-item-lg--span-8.mb--48
        p.
          Lorem ipsum dolor sit amet, adipiscing honestatis ius ut, nisl consulatu pro in. Imperdiet evertitur no usu, his te suavitate salutatus. Nullam ridens deterruisset an duo. Cum harum insolens ei, cum probo placerat praesent et.
  
  .bg--green-lighten-2
    .container
      .flexbox.flexbox--center
        .flex-item-md--span-10.flex-item-lg--span-8.py--48
          .flexbox.flexbox--gap

            .flex-item-md--span-4.center

              +image-placeholder-light(160, 160, "b--circle mx--auto")
                
              p.mt--line.
                Lorem ipsum dolor sit amet, adipiscing honestatis ius ut, nisl consulatu pro in.

            .flex-item-md--span-4.center

              +image-placeholder-light(160, 160, "b--circle mx--auto")

              p.mt--line.
                Lorem ipsum dolor sit amet, adipiscing honestatis ius ut, nisl consulatu pro in.

            .flex-item-md--span-4.center

              +image-placeholder-light(160, 160, "b--circle mx--auto")

              p.mt--line.
                Lorem ipsum dolor sit amet, adipiscing honestatis ius ut, nisl consulatu pro in.

  .bg--green-lighten-3.py--48
    .container
      .flexbox.flexbox--center
        .flex-item--span-8
        
          h2.center Subscribe to our marketing emails
          
          form.flexbox.pt--line
            .flex-item-md--span-4
              .p--4
                <input class="form__input--lg form__input--big-text b--green-lighten-1" id="text-example" name="examplename" placeholder="Your name" type="text">
            .flex-item-md--span-4
              .p--4
                <input class="form__input--lg form__input--big-text b--green-lighten-1" id="email-example" name="examplename" placeholder="Your email" type="email">
            .flex-item-md--span-4
              .p--4
                <button class="btn btn--success btn--lg big btn--block" type="submit">Subscribe</button>


  style.
    .small-business-footer,
    .small-business-footer a {
      color: #eee;
    }
  .small-business-footer.bg--green-darken-1.py--48
      +big-footer
    
  +codebase-bottomline
  
//-block append body-foot-addins