//- Example Starter

extends ../codebase/pug/_codebase

block vars
  - var title = "Example Starter"

block append head-addins
  +font-awesome

block body
  include example-partials/__example-partials-index

  // Get to work

  | Get to work...

  +codebase-bottomline

//-block append body-foot-addins