//- Example Blog Index

extends ../codebase/pug/_codebase

block vars
  - var title="Example Blog Index | Codebase"

block append head-addins
  +font-awesome

block body
  include example-partials/__example-partials-index

  style.
    .example-menubar,
    .example-menubar .menu__ctrl {
      background-color: #3d3d3d;
      color: #bbb;
    }
    .example-menubar .menu__ctrl {
    padding: 8px;
      font-size: 1.5em;
      transition: all 0.2s ease;
    }
    .example-menubar li {
      margin: 0;
    }
    .example-menubar a {
      padding: 8px 16px;
      color: #bbb;
      text-decoration: none;
      transition: all 0.2s ease;
    }
    .example-menubar .menu__ctrl:hover,
    .example-menubar a:hover {
      color: #fff;
      background-color: #5c5c5c;
    }
    @media (min-width: 1024px) {
      .example-menubar {
        padding: 8px 0;
      }
    }

  .example-menubar.menu.menu--menubar-md
    .menu__brand
      a(href="#/")
        b Some Blog
    .menu__ctrl.menu__ctrl--right(data-feather="menu")
    .menu__content
      ul.menubar__right
        li #[a(href="#/") Home]
        li #[a(href="#/") About]
        li #[a(href="#/") Contact]

  +background-image-placeholder-light

    .flexbox.flexbox--center.flexbox--middle.flexbox--gap
      h1.py--84.big.center Some Blog

  .container
    .flexbox.flexbox--gap.my--48
      .flex-item-md--span-8

        style.
          @media (max-width: 639px) {
            .example-blog-index-entry .media__image {
              padding-bottom: 24px;
              float: none;
              text-align: center;
            }
          }
          
        
        +blog-index-excerpts(5)

        hr
          
        ul.pagination.decorate.center.mb--48
          li
            a(href="#/")
              | &larr; Newer
          li
            a(href="#/") 1
          li
            a.pagination__current(href="http://www.example.com") 2
          li
            a(href="#/") 3
          li
            a(href="#/") 4
          li
            a(href="#/") 5
          li
            a(href="#/")
              | Older &rarr;

      .flex-item-md--span-4
        +blog-sidebar

  .mt--48.pt--line.bg--gray-darken-2
    style.
      .example-big-footer,
      .example-big-footer a {
        color: #bbb;
      }
      .example-big-footer a:hover {
        color: #fff;
        background-color: transparent;
      }
    +big-footer

  +codebase-bottomline
    
block append body-foot-addins
  script.
    feather.replace();
