/*
Codebase v.1.0 -- July 2016
===========================
http://simonpadbury.github.io/Codebase/
*/
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

html {
  font-family: sans-serif; }

body {
  margin: 0; }

article {
  display: block; }

aside {
  display: block; }

details {
  display: block; }

figcaption {
  display: block; }

figure {
  display: block;
  margin: 1em 40px; }

footer {
  display: block; }

header {
  display: block; }

main {
  display: block; }

menu {
  display: block; }

nav {
  display: block; }

section {
  display: block; }

summary {
  display: block; }

audio {
  display: inline-block; }
  audio:not([controls]) {
    display: none;
    height: 0; }

canvas {
  display: inline-block; }

progress {
  display: inline-block;
  vertical-align: baseline; }

video {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

a {
  background-color: transparent; }
  a:active {
    outline-width: 0; }
  a:hover {
    outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b {
  font-weight: inherit;
  font-weight: bolder; }

strong {
  font-weight: inherit;
  font-weight: bolder; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background-color: #ff0;
  color: #000; }

sm {
  font-size: 80%; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

code {
  font-family: monospace, monospace;
  font-size: 1em; }

kbd {
  font-family: monospace, monospace;
  font-size: 1em; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

samp {
  font-family: monospace, monospace;
  font-size: 1em; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

btn {
  font: inherit;
  margin: 0;
  overflow: visible;
  text-transform: none; }
  btn:-moz-focusring {
    outline: 1px dotted btnText; }

input {
  font: inherit;
  margin: 0;
  overflow: visible; }

select {
  font: inherit;
  margin: 0;
  text-transform: none; }

textarea {
  font: inherit;
  margin: 0;
  overflow: auto; }

optgroup {
  font-weight: bold; }

btn::-moz-focus-inner {
  border-style: none;
  padding: 0; }

[type="button"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

[type="reset"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

[type="checkbox"] {
  box-sizing: border-box;
  padding: 0; }

[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-btn {
  height: auto; }

[type="number"]::-webkit-outer-spin-btn {
  height: auto; }

[type="search"] {
  outline-offset: -2px; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

::-webkit-file-upload-btn {
  font: inherit; }

svg:not(:root) {
  overflow: hidden; }

[type="reset"]:-moz-focusring {
  outline: 1px dotted btnText; }

[type="submit"]:-moz-focusring {
  outline: 1px dotted btnText; }

[type="button"]:-moz-focusring {
  outline: 1px dotted btnText; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  -webkit-overflow-scrolling: touch; }

img {
  display: inline-block;
  max-width: 100% !important;
  height: auto !important;
  margin: 0 auto; }

iframe {
  border: 0; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #444;
  text-rendering: optimizeLegibility; }

p {
  margin: 24px 0; }

p + p {
  margin-top: 0; }

h1 {
  font-size: 34px; }

h2 {
  font-size: 28px; }

h3 {
  font-size: 21.6px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 17.6px; }

h6 {
  font-size: 16px; }

@media (min-width: 768px) {
  h1 {
    font-size: 48px; }

  h2 {
    font-size: 36px; }

  h3 {
    font-size: 28px; }

  h4 {
    font-size: 21.6px; } }
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 0;
  font-weight: normal; }

hr {
  height: 0;
  margin: 24px 0;
  border: 0;
  border-top: 1px solid #ddd; }

blockquote {
  margin: 24px 0;
  border-left: 4px solid #ddd;
  padding: 20px 20px 20px 40px;
  font-size: 19.2px; }

a {
  color: #09c;
  text-decoration: none; }
  a:hover {
    color: #007399;
    text-decoration: underline; }

pre,
code {
  font-size: 18px;
  line-height: 20px; }

code {
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 1px 5px;
  background: #f5f5f5; }

pre code {
  display: block;
  line-height: 24px;
  overflow-x: auto; }

label {
  display: inline-block;
  padding: 6px 0; }

input,
select {
  -webkit-appearance: none;
  position: relative;
  width: 100%;
  min-height: 36px;
  outline: 0 none;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  font-size: 16px;
  line-height: 24px;
  color: #444; }
  input::-webkit-input-placeholder, input::-moz-placeholder, input:-ms-input-placeholder, input:-moz-placeholder, input:placeholder,
  select::-webkit-input-placeholder,
  select::-moz-placeholder,
  select:-ms-input-placeholder,
  select:-moz-placeholder,
  select:placeholder {
    color: #aaa; }
  input:focus,
  select:focus {
    border-color: #09c; }

select {
  padding: 5px;
  color: #aaa; }

select:not([multiple]) {
  height: 36px; }

input[type="radio"],
input[type="checkbox"] {
  display: inline-block;
  width: 20px;
  min-height: auto;
  margin: 0;
  padding: 0 10px;
  border: 0;
  line-height: 1; }

input[type='radio'] {
  -webkit-appearance: radio; }

input[type='checkbox'] {
  -webkit-appearance: checkbox; }

textarea {
  -webkit-appearance: none;
  position: relative;
  width: 100%;
  min-height: 36px;
  outline: 0 none;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  font-size: 16px;
  line-height: 24px;
  color: #444;
  vertical-align: top;
  overflow: auto; }
  textarea::-webkit-input-placeholder, textarea::-moz-placeholder, textarea:-ms-input-placeholder, textarea:-moz-placeholder, textarea:placeholder {
    color: #aaa; }
  textarea:focus {
    border-color: #09c; }

.grid {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  -webkit-backface-visibility: hidden; }
  .grid:before, .grid:after {
    content: '';
    display: table; }
  .grid:after {
    clear: both; }

.grid--gutter > * {
  padding-right: 10px;
  padding-left: 10px; }
  @media (min-width: 768px) {
    .grid--gutter > * {
      padding-right: 15px;
      padding-left: 15px; } }
  @media (min-width: 1024px) {
    .grid--gutter > * {
      padding-right: 20px;
      padding-left: 20px; } }
  @media (min-width: 1200px) {
    .grid--gutter > * {
      padding-right: 25px;
      padding-left: 25px; } }

.grid--nested {
  margin-right: -10px;
  margin-left: -10px; }
  @media (min-width: 768px) {
    .grid--nested {
      margin-right: -15px;
      margin-left: -15px; } }
  @media (min-width: 1024px) {
    .grid--nested {
      margin-right: -20px;
      margin-left: -20px; } }
  @media (min-width: 1200px) {
    .grid--nested {
      margin-right: -25px;
      margin-left: -25px; } }

.col {
  position: relative;
  min-height: 1px;
  width: 100%;
  float: left;
  overflow: visible; }
  .col--centered {
    float: none !important;
    margin-right: auto;
    margin-left: auto; }

.col-xs--span-1 {
  width: 8.3333333333%; }
.col-xs--span-2 {
  width: 16.6666666667%; }
.col-xs--span-3 {
  width: 25%; }
.col-xs--span-4 {
  width: 33.3333333333%; }
.col-xs--span-5 {
  width: 41.6666666667%; }
.col-xs--span-6 {
  width: 50%; }
.col-xs--span-7 {
  width: 58.3333333333%; }
.col-xs--span-8 {
  width: 66.6666666667%; }
.col-xs--span-9 {
  width: 75%; }
.col-xs--span-10 {
  width: 83.3333333333%; }
.col-xs--span-11 {
  width: 91.6666666667%; }
.col-xs--span-12 {
  width: 100%; }
.col-xs--offset-1 {
  margin-left: 8.3333333333%; }
.col-xs--offset-2 {
  margin-left: 16.6666666667%; }
.col-xs--offset-3 {
  margin-left: 25%; }
.col-xs--offset-4 {
  margin-left: 33.3333333333%; }
.col-xs--offset-5 {
  margin-left: 41.6666666667%; }
.col-xs--offset-6 {
  margin-left: 50%; }
.col-xs--offset-7 {
  margin-left: 58.3333333333%; }
.col-xs--offset-8 {
  margin-left: 66.6666666667%; }
.col-xs--offset-9 {
  margin-left: 75%; }
.col-xs--offset-10 {
  margin-left: 83.3333333333%; }
.col-xs--offset-11 {
  margin-left: 91.6666666667%; }
.col-xs--offset-12 {
  margin-left: 100%; }

@media (min-width: 768px) {
  .col-sm--span-1 {
    width: 8.3333333333%; }
  .col-sm--span-2 {
    width: 16.6666666667%; }
  .col-sm--span-3 {
    width: 25%; }
  .col-sm--span-4 {
    width: 33.3333333333%; }
  .col-sm--span-5 {
    width: 41.6666666667%; }
  .col-sm--span-6 {
    width: 50%; }
  .col-sm--span-7 {
    width: 58.3333333333%; }
  .col-sm--span-8 {
    width: 66.6666666667%; }
  .col-sm--span-9 {
    width: 75%; }
  .col-sm--span-10 {
    width: 83.3333333333%; }
  .col-sm--span-11 {
    width: 91.6666666667%; }
  .col-sm--span-12 {
    width: 100%; }
  .col-sm--offset-1 {
    margin-left: 8.3333333333%; }
  .col-sm--offset-2 {
    margin-left: 16.6666666667%; }
  .col-sm--offset-3 {
    margin-left: 25%; }
  .col-sm--offset-4 {
    margin-left: 33.3333333333%; }
  .col-sm--offset-5 {
    margin-left: 41.6666666667%; }
  .col-sm--offset-6 {
    margin-left: 50%; }
  .col-sm--offset-7 {
    margin-left: 58.3333333333%; }
  .col-sm--offset-8 {
    margin-left: 66.6666666667%; }
  .col-sm--offset-9 {
    margin-left: 75%; }
  .col-sm--offset-10 {
    margin-left: 83.3333333333%; }
  .col-sm--offset-11 {
    margin-left: 91.6666666667%; }
  .col-sm--offset-12 {
    margin-left: 100%; }
  .col-sm--push-1 {
    left: 8.3333333333%; }
  .col-sm--push-2 {
    left: 16.6666666667%; }
  .col-sm--push-3 {
    left: 25%; }
  .col-sm--push-4 {
    left: 33.3333333333%; }
  .col-sm--push-5 {
    left: 41.6666666667%; }
  .col-sm--push-6 {
    left: 50%; }
  .col-sm--push-7 {
    left: 58.3333333333%; }
  .col-sm--push-8 {
    left: 66.6666666667%; }
  .col-sm--push-9 {
    left: 75%; }
  .col-sm--push-10 {
    left: 83.3333333333%; }
  .col-sm--push-11 {
    left: 91.6666666667%; }
  .col-sm--push-12 {
    left: 100%; }
  .col-sm--pull-1 {
    right: 8.3333333333%; }
  .col-sm--pull-2 {
    right: 16.6666666667%; }
  .col-sm--pull-3 {
    right: 25%; }
  .col-sm--pull-4 {
    right: 33.3333333333%; }
  .col-sm--pull-5 {
    right: 41.6666666667%; }
  .col-sm--pull-6 {
    right: 50%; }
  .col-sm--pull-7 {
    right: 58.3333333333%; }
  .col-sm--pull-8 {
    right: 66.6666666667%; }
  .col-sm--pull-9 {
    right: 75%; }
  .col-sm--pull-10 {
    right: 83.3333333333%; }
  .col-sm--pull-11 {
    right: 91.6666666667%; }
  .col-sm--pull-12 {
    right: 100%; } }

@media (min-width: 1024px) {
  .col-md--span-1 {
    width: 8.3333333333%; }
  .col-md--span-2 {
    width: 16.6666666667%; }
  .col-md--span-3 {
    width: 25%; }
  .col-md--span-4 {
    width: 33.3333333333%; }
  .col-md--span-5 {
    width: 41.6666666667%; }
  .col-md--span-6 {
    width: 50%; }
  .col-md--span-7 {
    width: 58.3333333333%; }
  .col-md--span-8 {
    width: 66.6666666667%; }
  .col-md--span-9 {
    width: 75%; }
  .col-md--span-10 {
    width: 83.3333333333%; }
  .col-md--span-11 {
    width: 91.6666666667%; }
  .col-md--span-12 {
    width: 100%; }
  .col-md--offset-1 {
    margin-left: 8.3333333333%; }
  .col-md--offset-2 {
    margin-left: 16.6666666667%; }
  .col-md--offset-3 {
    margin-left: 25%; }
  .col-md--offset-4 {
    margin-left: 33.3333333333%; }
  .col-md--offset-5 {
    margin-left: 41.6666666667%; }
  .col-md--offset-6 {
    margin-left: 50%; }
  .col-md--offset-7 {
    margin-left: 58.3333333333%; }
  .col-md--offset-8 {
    margin-left: 66.6666666667%; }
  .col-md--offset-9 {
    margin-left: 75%; }
  .col-md--offset-10 {
    margin-left: 83.3333333333%; }
  .col-md--offset-11 {
    margin-left: 91.6666666667%; }
  .col-md--offset-12 {
    margin-left: 100%; }
  .col-md--push-1 {
    left: 8.3333333333%; }
  .col-md--push-2 {
    left: 16.6666666667%; }
  .col-md--push-3 {
    left: 25%; }
  .col-md--push-4 {
    left: 33.3333333333%; }
  .col-md--push-5 {
    left: 41.6666666667%; }
  .col-md--push-6 {
    left: 50%; }
  .col-md--push-7 {
    left: 58.3333333333%; }
  .col-md--push-8 {
    left: 66.6666666667%; }
  .col-md--push-9 {
    left: 75%; }
  .col-md--push-10 {
    left: 83.3333333333%; }
  .col-md--push-11 {
    left: 91.6666666667%; }
  .col-md--push-12 {
    left: 100%; }
  .col-md--pull-1 {
    right: 8.3333333333%; }
  .col-md--pull-2 {
    right: 16.6666666667%; }
  .col-md--pull-3 {
    right: 25%; }
  .col-md--pull-4 {
    right: 33.3333333333%; }
  .col-md--pull-5 {
    right: 41.6666666667%; }
  .col-md--pull-6 {
    right: 50%; }
  .col-md--pull-7 {
    right: 58.3333333333%; }
  .col-md--pull-8 {
    right: 66.6666666667%; }
  .col-md--pull-9 {
    right: 75%; }
  .col-md--pull-10 {
    right: 83.3333333333%; }
  .col-md--pull-11 {
    right: 91.6666666667%; }
  .col-md--pull-12 {
    right: 100%; } }

@media (min-width: 1200px) {
  .col-lg--span-1 {
    width: 8.3333333333%; }
  .col-lg--span-2 {
    width: 16.6666666667%; }
  .col-lg--span-3 {
    width: 25%; }
  .col-lg--span-4 {
    width: 33.3333333333%; }
  .col-lg--span-5 {
    width: 41.6666666667%; }
  .col-lg--span-6 {
    width: 50%; }
  .col-lg--span-7 {
    width: 58.3333333333%; }
  .col-lg--span-8 {
    width: 66.6666666667%; }
  .col-lg--span-9 {
    width: 75%; }
  .col-lg--span-10 {
    width: 83.3333333333%; }
  .col-lg--span-11 {
    width: 91.6666666667%; }
  .col-lg--span-12 {
    width: 100%; }
  .col-lg--offset-1 {
    margin-left: 8.3333333333%; }
  .col-lg--offset-2 {
    margin-left: 16.6666666667%; }
  .col-lg--offset-3 {
    margin-left: 25%; }
  .col-lg--offset-4 {
    margin-left: 33.3333333333%; }
  .col-lg--offset-5 {
    margin-left: 41.6666666667%; }
  .col-lg--offset-6 {
    margin-left: 50%; }
  .col-lg--offset-7 {
    margin-left: 58.3333333333%; }
  .col-lg--offset-8 {
    margin-left: 66.6666666667%; }
  .col-lg--offset-9 {
    margin-left: 75%; }
  .col-lg--offset-10 {
    margin-left: 83.3333333333%; }
  .col-lg--offset-11 {
    margin-left: 91.6666666667%; }
  .col-lg--offset-12 {
    margin-left: 100%; }
  .col-lg--push-1 {
    left: 8.3333333333%; }
  .col-lg--push-2 {
    left: 16.6666666667%; }
  .col-lg--push-3 {
    left: 25%; }
  .col-lg--push-4 {
    left: 33.3333333333%; }
  .col-lg--push-5 {
    left: 41.6666666667%; }
  .col-lg--push-6 {
    left: 50%; }
  .col-lg--push-7 {
    left: 58.3333333333%; }
  .col-lg--push-8 {
    left: 66.6666666667%; }
  .col-lg--push-9 {
    left: 75%; }
  .col-lg--push-10 {
    left: 83.3333333333%; }
  .col-lg--push-11 {
    left: 91.6666666667%; }
  .col-lg--push-12 {
    left: 100%; }
  .col-lg--pull-1 {
    right: 8.3333333333%; }
  .col-lg--pull-2 {
    right: 16.6666666667%; }
  .col-lg--pull-3 {
    right: 25%; }
  .col-lg--pull-4 {
    right: 33.3333333333%; }
  .col-lg--pull-5 {
    right: 41.6666666667%; }
  .col-lg--pull-6 {
    right: 50%; }
  .col-lg--pull-7 {
    right: 58.3333333333%; }
  .col-lg--pull-8 {
    right: 66.6666666667%; }
  .col-lg--pull-9 {
    right: 75%; }
  .col-lg--pull-10 {
    right: 83.3333333333%; }
  .col-lg--pull-11 {
    right: 91.6666666667%; }
  .col-lg--pull-12 {
    right: 100%; } }

@media (max-width: 767px) {
  .xs--off-canvas {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 250px;
    max-height: 100vh;
    z-index: 101;
    overflow: auto;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    -webkit-transition: -webkit-transform 400ms ease;
    transition: -webkit-transform 400ms ease;
    transition: transform 400ms ease;
    transition: transform 400ms ease, -webkit-transform 400ms ease;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
    .xs--off-canvas.off-canvas--right {
      right: -260px; }
      .off-canvas--is-open .xs--off-canvas.off-canvas--right {
        -webkit-transform: translate3d(-260px, 0, 0);
                transform: translate3d(-260px, 0, 0); }
    .xs--off-canvas.off-canvas--left {
      left: -260px; }
      .off-canvas--is-open .xs--off-canvas.off-canvas--left {
        -webkit-transform: translate3d(260px, 0, 0);
                transform: translate3d(260px, 0, 0); } }

@media (max-width: 1023px) {
  .sm--off-canvas {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 250px;
    max-height: 100vh;
    z-index: 101;
    overflow: auto;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    -webkit-transition: -webkit-transform 400ms ease;
    transition: -webkit-transform 400ms ease;
    transition: transform 400ms ease;
    transition: transform 400ms ease, -webkit-transform 400ms ease;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
    .sm--off-canvas.off-canvas--right {
      right: -260px; }
      .off-canvas--is-open .sm--off-canvas.off-canvas--right {
        -webkit-transform: translate3d(-260px, 0, 0);
                transform: translate3d(-260px, 0, 0); }
    .sm--off-canvas.off-canvas--left {
      left: -260px; }
      .off-canvas--is-open .sm--off-canvas.off-canvas--left {
        -webkit-transform: translate3d(260px, 0, 0);
                transform: translate3d(260px, 0, 0); } }

@media (max-width: 1199px) {
  .md--off-canvas {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 250px;
    max-height: 100vh;
    z-index: 101;
    overflow: auto;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    -webkit-transition: -webkit-transform 400ms ease;
    transition: -webkit-transform 400ms ease;
    transition: transform 400ms ease;
    transition: transform 400ms ease, -webkit-transform 400ms ease;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
    .md--off-canvas.off-canvas--right {
      right: -260px; }
      .off-canvas--is-open .md--off-canvas.off-canvas--right {
        -webkit-transform: translate3d(-260px, 0, 0);
                transform: translate3d(-260px, 0, 0); }
    .md--off-canvas.off-canvas--left {
      left: -260px; }
      .off-canvas--is-open .md--off-canvas.off-canvas--left {
        -webkit-transform: translate3d(260px, 0, 0);
                transform: translate3d(260px, 0, 0); } }

.off-canvas-navicon {
  position: fixed;
  top: 0;
  z-index: 102;
  padding: 5px 10px;
  font-size: 24px;
  line-height: 34px;
  color: #09c;
  background: #fff;
  -webkit-transition: -webkit-transform 400ms ease;
  transition: -webkit-transform 400ms ease;
  transition: transform 400ms ease;
  transition: transform 400ms ease, -webkit-transform 400ms ease;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }
  .off-canvas-navicon:hover {
    color: #007399;
    cursor: pointer; }
  .off-canvas-navicon--right {
    right: 0; }
    .off-canvas--is-open .off-canvas-navicon--right {
      -webkit-transform: translate3d(-250px, 0, 0);
              transform: translate3d(-250px, 0, 0); }
  .off-canvas-navicon--left {
    left: 0; }
    .off-canvas--is-open .off-canvas-navicon--left {
      -webkit-transform: translate3d(250px, 0, 0);
              transform: translate3d(250px, 0, 0); }

.body--menubar-is-fixed .off-canvas-navicon--right,
.body--menubar-is-fixed .off-canvas--right,
.body--menubar-is-fixed .off-canvas-navicon--left,
.body--menubar-is-fixed .off-canvas--left {
  margin-top: 44px; }

.clearfix:before, .clearfix:after {
  content: '';
  display: table; }
.clearfix:after {
  clear: both; }

.float--right {
  float: right; }
.float--left {
  float: left; }

.reset-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: transparent;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s; }
  .reset-overlay--is-raised {
    z-index: 100; }
  .reset-overlay--is-raised-higher {
    z-index: 110; }
  .reset-overlay--darken {
    background-color: rgba(0, 0, 0, 0.4); }

@media screen and (max-width: 767px) {
  .hide--xs-only,
  .show--sm-up {
    display: none !important; } }

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .hide--sm-only {
    display: none !important; } }

@media screen and (min-width: 768px) {
  .hide--sm-up,
  .show--xs-only {
    display: none !important; } }

@media screen and (max-width: 1023px) and (min-width: 1200px) {
  .hide--md-only {
    display: none !important; } }

@media screen and (min-width: 1024px) {
  .hide--md-up,
  .show--sm-down {
    display: none !important; } }

@media screen and (max-width: 1023px) {
  .hide--md-down,
  .show--lg-only {
    display: none !important; } }

@media screen and (max-width: 1199px) {
  .hide--lg-only,
  .show--md-down {
    display: none !important; } }

@media screen and (max-width: 767px) {
  .show--sm-only {
    display: none !important; } }
@media screen and (min-width: 1024px) {
  .show--sm-only {
    display: none !important; } }

@media screen and (max-width: 1023px) {
  .show--md-only {
    display: none !important; } }
@media screen and (min-width: 1200px) {
  .show--md-only {
    display: none !important; } }

@media screen and (max-width: 767px) {
  .hide--sm-down,
  .show--md-up {
    display: none !important; } }

.lead {
  font-size: 19.2px; }

.dropcap::first-letter {
  display: inline-block;
  float: left;
  padding-right: 4px;
  font-size: 575%;
  font-weight: 300;
  line-height: 75%; }

.initial-icon {
  min-height: 48px; }
  .initial-icon i:first-child {
    display: inline-block;
    float: left;
    padding-right: 20px;
    font-size: 340%;
    font-weight: 300;
    line-height: 90%; }

.text--left {
  text-align: left; }

.text--center {
  text-align: center; }

.text--right {
  text-align: right; }

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent !important; }
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
  color: transparent !important; }
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: transparent !important; }

.form__radio {
  display: none !important; }
  .form__radio + label:before {
    display: inline-block;
    width: 30px;
    font-family: FontAwesome;
    content: '\f1db'; }
    .form__radio + label:before + :checked + .form__radio + label:before {
      content: '\f111'; }
  .form__radio:checked + label:before {
    content: ' \f111'; }

.form__checkbox {
  display: none !important; }
  .form__checkbox + label:before {
    display: inline-block;
    width: 30px;
    font-family: FontAwesome;
    content: '\f096'; }
    .form__checkbox + label:before:hover {
      cursor: pointer; }
  .form__checkbox:checked + label:before {
    content: '\f046'; }

.image-align--left {
  float: left;
  margin-right: 15px;
  margin-bottom: 5px; }

.image-align--right {
  float: right;
  margin-left: 15px;
  margin-bottom: 5px; }

.btn {
  display: inline-block;
  width: auto;
  margin: 0;
  border: 0;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  line-height: 16px;
  color: #777;
  text-decoration: none;
  background: transparent;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5), inset 0 0 1px rgba(0, 0, 0, 0.5), inset 0 10px 10px -10px white, inset 0 -20px 20px -20px rgba(0, 0, 0, 0.4); }
  .btn::-moz-focus-inner {
    border: 0;
    padding: 0; }
  .btn[type="button"], .btn[type="submit"] {
    -webkit-appearance: none; }
  .btn:hover {
    cursor: pointer;
    color: #444;
    text-decoration: none;
    background: #f5f5f5; }
  .btn--primary {
    color: #fff;
    background: #09c; }
    .btn--primary:hover {
      color: #fff;
      background: #007399; }
  .btn--secondary {
    color: #fff;
    background: #aaa; }
    .btn--secondary:hover {
      color: #fff;
      background: #777; }
  .btn--warning {
    color: #fff;
    background: #f80; }
    .btn--warning:hover {
      color: #fff;
      background: #db7500; }
  .btn--success {
    color: #fff;
    background: #2b4; }
    .btn--success:hover {
      color: #fff;
      background: #1a9034; }
  .btn--error {
    color: #fff;
    background: #f44; }
    .btn--error:hover {
      color: #fff;
      background: #dd0000; }
  .btn--sm {
    height: auto;
    padding: 5px 10px; }
  .btn--default {
    padding: 10px 20px; }
  .btn--md {
    padding: 10px 20px; }
  .btn--lg {
    height: auto;
    padding: 20px 40px; }
  .btn--icon {
    width: 36px;
    height: 36px;
    padding: 10px 0;
    text-align: center; }
  .btn:active {
    box-shadow: 0 0 0 transparent, inset 0 -50px 50px -50px rgba(0, 0, 0, 0.4), inset 0 0 4px rgba(0, 0, 0, 0.8); }
  .btn--block {
    display: block;
    width: 100%;
    text-align: center; }

.combo--first {
  display: inline-block;
  float: left;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important; }

.combo--middle {
  display: inline-block;
  float: left;
  border-radius: 0 !important;
  border-radius: 0 !important; }

.combo--last {
  display: inline-block;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important; }

input.combo--first,
input.combo--first,
input.combo--first {
  width: auto; }

.dropdown {
  display: inline-block;
  position: relative;
  overflow: visible; }

.dropdown__toggle--is-toggled {
  position: relative;
  z-index: 101; }

.dropdown__content {
  display: none;
  position: absolute;
  z-index: 102;
  margin: 0;
  padding: 10px 20px;
  border-radius: 4px;
  color: #444;
  background: #fff;
  text-align: left;
  cursor: default;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); }
  .dropdown__content--nowrap {
    white-space: nowrap; }
  .dropdown__content--is-revealed {
    display: block; }

.media {
  margin-bottom: 24px; }
  .media:before, .media:after {
    content: '';
    display: table; }
  .media:after {
    clear: both; }

.media__header {
  display: block; }

.media__image-wrap--left {
  float: left; }
  .media__image-wrap--left > a, .media__image-wrap--left > img {
    display: inline-block; }

.media__image-wrap--right {
  float: right; }
  .media__image-wrap--right > a, .media__image-wrap--right > img {
    display: inline-block; }

.media__image-wrap--top > a, .media__image-wrap--top > img {
  display: block;
  text-align: center; }

.media__content-wrap {
  overflow: hidden; }

.media__title {
  margin-top: 0;
  padding-top: 0; }

.media__footer {
  display: block; }

.menu {
  margin: 0;
  padding: 0; }

.menu__item {
  list-style-type: none; }

.menu__link {
  display: inline-block;
  padding: 5px 0; }

.menu .menu {
  margin-left: 20px; }

.menu--block .menu__link {
  display: block;
  padding: 5px 10px; }
  .menu--block .menu__link:hover {
    text-decoration: none;
    background: #f5f5f5; }

.body--menubar-is-fixed {
  padding-top: 34px; }

.menubar {
  position: relative;
  padding-top: 44px; }
  .menubar:before, .menubar:after {
    content: '';
    display: table; }
  .menubar:after {
    clear: both; }
  .menubar--is-open {
    z-index: 102; }
  @media (min-width: 768px) {
    .menubar {
      padding-top: 0; } }

.menubar__brand {
  position: absolute;
  display: inline-block;
  top: 0; }
  .menubar__brand a {
    display: block;
    font-size: 24px;
    line-height: 24px;
    padding: 10px 12px; }
    .menubar__brand a:hover {
      text-decoration: none;
      background: #f5f5f5; }
  @media (min-width: 768px) {
    .menubar__brand {
      position: relative;
      top: auto;
      float: left; } }

.menubar__navicon {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  font-size: 24px;
  line-height: 24px;
  color: #09c;
  text-align: center; }
  .menubar__navicon:hover {
    color: #007399;
    background: #f5f5f5;
    cursor: pointer; }
  @media (min-width: 768px) {
    .menubar__navicon {
      display: none; } }

.menubar__content {
  display: none; }
  .menubar__content ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .menubar__content ul a {
      display: block;
      padding: 10px 15px;
      white-space: nowrap; }
      .menubar__content ul a:hover {
        text-decoration: none;
        background: #f5f5f5; }
  @media (max-width: 767px) {
    .menubar__content .dropdown__toggle .dropdown__caret {
      display: none; }
    .menubar__content .dropdown__content {
      display: block;
      position: relative;
      border-radius: 0;
      box-shadow: none; }
      .menubar__content .dropdown__content a {
        padding-left: 30px; } }
  @media (min-width: 768px) {
    .menubar__content {
      display: block !important; }
      .menubar__content li {
        position: relative;
        display: inline-block; } }

@media (min-width: 768px) {
  .menubar__left {
    float: left; } }

@media (min-width: 768px) {
  .menubar__center {
    text-align: center; } }

@media (min-width: 768px) {
  .menubar__right {
    float: right; }
    .menubar__right > ul {
      float: left; }
    .menubar__right .dropdown__content {
      right: 0; } }

.menubar__search {
  padding: 4px 15px; }
  .menubar__search input {
    width: auto !important; }
    @media (min-width: 768px) {
      .menubar__search input {
        max-width: 160px; } }
  @media (min-width: 768px) {
    .menubar__search {
      float: right;
      padding-right: 5px;
      padding-left: 5px; } }

.menubar__has-wrap {
  position: relative;
  width: 100%; }
  .menubar__has-wrap--is-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 103;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); }

.pagination {
  margin: 0;
  padding: 0; }

.pagination__item {
  display: inline-block;
  list-style-type: none;
  margin: 10px 0; }

.pagination__link {
  padding: 10px; }

.pagination__item--current a,
.pagination__link--current {
  color: #777;
  background: #f5f5f5; }
  .pagination__item--current a:hover,
  .pagination__link--current:hover {
    text-decoration: none;
    cursor: default; }

.tabs {
  margin: 1.5 0;
  font-size: 0; }
  .tabs:before, .tabs:after {
    content: '';
    display: table; }
  .tabs:after {
    clear: both; }

.tabs--top .tabs__label {
  z-index: 0;
  padding: 5px 10px;
  font-size: 16px;
  color: #848484;
  background: #f5f5f5;
  display: inline-block;
  margin-right: 5px;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  box-shadow: inset 0 -5px 5px -5px rgba(0, 0, 0, 0.2); }
  .tabs--top .tabs__label:hover {
    color: #444;
    background: #ddd;
    cursor: pointer; }
  .tabs--top .tabs__label--is-front {
    z-index: 2;
    color: #444;
    background: #fff !important;
    box-shadow: none;
    cursor: default; }
.tabs--top .tabs__card {
  z-index: 1;
  clear: both;
  float: left;
  width: 100%;
  height: 0;
  font-size: 16px;
  overflow: hidden;
  opacity: 0;
  margin-top: -1px; }
  .tabs--top .tabs__card-content {
    border: 1px solid #ddd;
    padding: 10px 20px;
    background: #fff; }
  .tabs--top .tabs__card--is-front {
    height: auto;
    opacity: 1; }

.tabs--left {
  position: relative;
  overflow-x: hidden; }
  .tabs--left .tabs__label {
    z-index: 0;
    padding: 5px 10px;
    font-size: 16px;
    color: #848484;
    background: #f5f5f5;
    position: relative;
    width: 120px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    margin-bottom: 5px;
    box-shadow: inset -5px 0 5px -5px rgba(0, 0, 0, 0.2); }
    .tabs--left .tabs__label:hover {
      color: #444;
      background: #ddd;
      cursor: pointer; }
    .tabs--left .tabs__label--is-front {
      z-index: 2;
      color: #444;
      background: #fff !important;
      box-shadow: none;
      cursor: default; }
  .tabs--left .tabs__card {
    z-index: 1;
    clear: both;
    float: left;
    width: 100%;
    height: 0;
    font-size: 16px;
    overflow: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 119px; }
    .tabs--left .tabs__card-content {
      border: 1px solid #ddd;
      padding: 10px 20px;
      background: #fff; }
    .tabs--left .tabs__card--is-front {
      height: auto;
      opacity: 1; }
    .tabs--left .tabs__card-content {
      margin-right: 120px; }

.tabs--accordion {
  position: relative; }
  .tabs--accordion .tabs__label {
    z-index: 0;
    padding: 5px 10px;
    font-size: 16px;
    color: #848484;
    background: #f5f5f5;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    box-shadow: inset 0 -5px 5px -5px rgba(0, 0, 0, 0.2); }
    .tabs--accordion .tabs__label:hover {
      color: #444;
      background: #ddd;
      cursor: pointer; }
    .tabs--accordion .tabs__label--is-front {
      z-index: 2;
      color: #444;
      background: #fff !important;
      box-shadow: none;
      cursor: default; }
    .tabs--accordion .tabs__label--is-front {
      background: #fff; }
  .tabs--accordion .tabs__card {
    z-index: 1;
    clear: both;
    float: left;
    width: 100%;
    height: 0;
    font-size: 16px;
    overflow: hidden;
    opacity: 0;
    margin-top: 0 !important; }
    .tabs--accordion .tabs__card-content {
      border: 1px solid #ddd;
      padding: 10px 20px;
      background: #fff; }
    .tabs--accordion .tabs__card--is-front {
      height: auto;
      opacity: 1; }
    .tabs--accordion .tabs__card--is-front {
      margin-bottom: 5px; }
      .tabs--accordion .tabs__card--is-front:last-of-type {
        margin-bottom: 0; }
    .tabs--accordion .tabs__card-content {
      box-shadow: inset 0 -5px 5px -5px rgba(0, 0, 0, 0.2); }
    .tabs--accordion .tabs__card:last-child .tabs__card-content {
      box-shadow: none !important; }

.table {
  border-collapse: collapse;
  min-width: 100%;
  margin: 0; }
  .table caption {
    padding: 5px 10px; }
  .table th {
    background: rgba(204, 204, 204, 0.2); }
  .table th, .table td {
    border: 1px solid #ddd;
    padding: 10px;
    vertical-align: top; }
  .table--wrap-outer {
    position: relative;
    margin: auto; }
  .table--wrap-inner {
    position: relative;
    overflow-x: auto;
    margin: 10px 0; }
  .table--wide {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2); }
  .table--nowrap {
    white-space: nowrap; }

.modal {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translate3d(0, -150%, 0);
          transform: translate3d(0, -150%, 0);
  text-align: left;
  overflow: auto; }
  .modal--narrow {
    min-width: 300px;
    max-height: 75vh; }
    @media (min-width: 768px) {
      .modal--narrow {
        width: 600px; } }
  .modal--contains-grid {
    width: auto;
    max-width: 1280px;
    max-height: 75vh; }
  .modal--cover {
    display: block;
    width: 100%;
    min-height: 100%;
    height: 100vh;
    margin: 0 !important;
    overflow: auto; }

.modal__wrap--is-open {
  bottom: 0;
  height: auto; }
  .modal__wrap--is-open .modal {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }

.modal__header h2,
.modal__header h3,
.modal__header h4 {
  display: inline-block;
  margin: 0; }

.modal__wrap {
  position: fixed !important;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 0;
  z-index: 120;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: transparent;
  text-align: center;
  cursor: default; }

.modal__close:hover {
  cursor: pointer; }

.deco-m-zero {
  margin: 0; }

.deco-m-xs {
  margin: 5px; }

.deco-m-sm {
  margin: 10px; }

.deco-m-md {
  margin: 20px; }

.deco-m-lg {
  margin: 40px; }

.deco-mt-zero {
  margin-top: 0; }

.deco-mt-xs {
  margin-top: 5px; }

.deco-mt-sm {
  margin-top: 10px; }

.deco-mt-md {
  margin-top: 20px; }

.deco-mt-lg {
  margin-top: 40px; }

.deco-mr-zero {
  margin-right: 0; }

.deco-mr-xs {
  margin-right: 5px; }

.deco-mr-sm {
  margin-right: 10px; }

.deco-mr-md {
  margin-right: 20px; }

.deco-mr-lg {
  margin-right: 40px; }

.deco-mb-zero {
  margin-bottom: 0; }

.deco-mb-xs {
  margin-bottom: 5px; }

.deco-mb-sm {
  margin-bottom: 10px; }

.deco-mb-md {
  margin-bottom: 20px; }

.deco-mb-lg {
  margin-bottom: 40px; }

.deco-ml-zero {
  margin-left: 0; }

.deco-ml-xs {
  margin-left: 5px; }

.deco-ml-sm {
  margin-left: 10px; }

.deco-ml-md {
  margin-left: 20px; }

.deco-ml-lg {
  margin-left: 40px; }

.deco-mh-auto {
  display: block !important;
  margin-right: auto !important;
  margin-left: auto !important; }

.deco-b-zero {
  border: 0 !important; }

.deco-b-thin-solid {
  border: 1px solid #ddd; }

.deco-b-thin-dashed {
  border: 1px dashed #ddd; }

.deco-b-thick-solid {
  border: 4px solid #ddd; }

.deco-bt-zero {
  border-top: 0 !important; }

.deco-bt-thin-solid {
  border-top: 1px solid #ddd; }

.deco-bt-thin-dashed {
  border-top: 1px dashed #ddd; }

.deco-bt-thick-solid {
  border-top: 4px solid #ddd; }

.deco-br-zero {
  border-right: 0 !important; }

.deco-br-thin-dashed {
  border-right: 1px dashed #ddd; }

.deco-br-thick-solid {
  border-right: 4px solid #ddd; }

.deco-br-thin-solid {
  border-right: 1px solid #ddd; }

.deco-bb-zero {
  border-bottom: 0 !important; }

.deco-bb-thin-solid {
  border-bottom: 1px solid #ddd; }

.deco-bb-thin-dashed {
  border-bottom: 1px dashed #ddd; }

.deco-bb-thick-solid {
  border-bottom: 4px solid #ddd; }

.deco-bl-zero {
  border-left: 0 !important; }

.deco-bl-thin-solid {
  border-left: 1px solid #ddd; }

.deco-bl-thin-dashed {
  border-left: 1px dashed #ddd; }

.deco-bl-thick-solid {
  border-left: 4px solid #ddd; }

.deco-b-radius {
  border-radius: 4px; }

.deco-b-circle {
  border-radius: 50%; }

.deco-p-block {
  padding: 5px 10px; }

.deco-p-zero {
  padding: 0; }

.deco-p-xs {
  padding: 5px; }

.deco-p-sm {
  padding: 10px; }

.deco-p-md {
  padding: 20px; }

.deco-p-lg {
  padding: 40px; }

.deco-pt-zero {
  padding-top: 0; }

.deco-pt-xs {
  padding-top: 5px; }

.deco-pt-sm {
  padding-top: 10px; }

.deco-pt-md {
  padding-top: 20px; }

.deco-pt-lg {
  padding-top: 40px; }

.deco-pr-zero {
  padding-right: 0; }

.deco-pr-xs {
  padding-right: 5px; }

.deco-pr-sm {
  padding-right: 10px; }

.deco-pr-md {
  padding-right: 20px; }

.deco-pr-lg {
  padding-right: 40px; }

.deco-pb-zero {
  padding-bottom: 0; }

.deco-pb-xs {
  padding-bottom: 5px; }

.deco-pb-sm {
  padding-bottom: 10px; }

.deco-pb-md {
  padding-bottom: 20px; }

.deco-pb-lg {
  padding-bottom: 40px; }

.deco-pl-zero {
  padding-left: 0; }

.deco-pl-xs {
  padding-left: 5px; }

.deco-pl-sm {
  padding-left: 10px; }

.deco-pl-md {
  padding-left: 20px; }

.deco-pl-lg {
  padding-left: 40px; }

.deco-bg-white {
  background-color: #fff; }

.deco-bg-silver {
  background-color: #f5f5f5; }

.deco-bg-light-gray {
  background-color: #ddd; }

.deco-bg-mid-gray {
  background-color: #aaa; }

.deco-bg-dark-gray {
  background-color: #777; }

.deco-bg-charcoal {
  background-color: #444; }

.deco-bg-primary-light {
  background-color: #4dd2ff; }

.deco-bg-primary {
  background-color: #09c; }

.deco-bg-primary-dark {
  background-color: #007399; }

.deco-bg-secondary-light {
  background-color: #ddd; }

.deco-bg-secondary {
  background-color: #aaa; }

.deco-bg-secondary-dark {
  background-color: #777; }

.deco-bg-warning-light {
  background-color: #ffc480; }

.deco-bg-warning {
  background-color: #f80; }

.deco-bg-warning-dark {
  background-color: #db7500; }

.deco-bg-success-light {
  background-color: #76e68f; }

.deco-bg-success {
  background-color: #2b4; }

.deco-bg-success-dark {
  background-color: #1a9034; }

.deco-bg-error-light {
  background-color: #ffc4c4; }

.deco-bg-error {
  background-color: #f44; }

.deco-bg-error-dark {
  background-color: #dd0000; }

.deco-text-white {
  color: #fff; }

.deco-text-silver {
  color: #f5f5f5; }

.deco-text-light-gray {
  color: #ddd; }

.deco-text-mid-gray {
  color: #aaa; }

.deco-text-dark-gray {
  color: #777; }

.deco-text-charcoal {
  color: #444; }

.deco-text-primary-light {
  color: #4dd2ff; }

.deco-text-primary {
  color: #09c; }

.deco-text-primary-dark {
  color: #007399; }

.deco-text-secondary-light {
  color: #ddd; }

.deco-text-secondary {
  color: #aaa; }

.deco-text-secondary-dark {
  color: #777; }

.deco-text-warning-light {
  color: #ffc480; }

.deco-text-warning {
  color: #f80; }

.deco-text-warning-dark {
  color: #db7500; }

.deco-text-success-light {
  color: #76e68f; }

.deco-text-success {
  color: #2b4; }

.deco-text-success-dark {
  color: #1a9034; }

.deco-text-error-light {
  color: #ffc4c4; }

.deco-text-error {
  color: #f44; }

.deco-text-error-dark {
  color: #dd0000; }

.deco-b-white {
  border-color: #fff; }

.deco-b-silver {
  border-color: #f5f5f5; }

.deco-b-light-gray {
  border-color: #ddd; }

.deco-b-mid-gray {
  border-color: #aaa; }

.deco-b-dark-gray {
  border-color: #777; }

.deco-b-charcoal {
  border-color: #444; }

.deco-b-primary-light {
  border-color: #4dd2ff; }

.deco-b-primary {
  border-color: #09c; }

.deco-b-primary-dark {
  border-color: #007399; }

.deco-b-secondary-light {
  border-color: #ddd; }

.deco-b-secondary {
  border-color: #aaa; }

.deco-b-secondary-dark {
  border-color: #777; }

.deco-b-warning-light {
  border-color: #ffc480; }

.deco-b-warning {
  border-color: #f80; }

.deco-b-warning-dark {
  border-color: #db7500; }

.deco-b-success-light {
  border-color: #76e68f; }

.deco-b-success {
  border-color: #2b4; }

.deco-b-success-dark {
  border-color: #1a9034; }

.deco-b-error-light {
  border-color: #ffc4c4; }

.deco-b-error {
  border-color: #f44; }

.deco-b-error-dark {
  border-color: #dd0000; }

.deco-bs {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); }

.deco-bs-inner {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2); }

.deco-bs-inner-top {
  box-shadow: inset 0 5px 5px -5px rgba(0, 0, 0, 0.2); }

.deco-bs-inner-right {
  box-shadow: inset -5px 0 5px -5px rgba(0, 0, 0, 0.2); }

.deco-bs-inner-bottom {
  box-shadow: inset 0 -5px 5px -5px rgba(0, 0, 0, 0.2); }

.deco-bs-inner-left {
  box-shadow: inset 5px 0 5px -5px rgba(0, 0, 0, 0.2); }

.semgrid-wrapper {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  -webkit-backface-visibility: hidden; }
  .semgrid-wrapper:before, .semgrid-wrapper:after {
    content: '';
    display: table; }
  .semgrid-wrapper:after {
    clear: both; }
  .semgrid-wrapper > * {
    padding-right: 10px;
    padding-left: 10px; }
    @media (min-width: 768px) {
      .semgrid-wrapper > * {
        padding-right: 15px;
        padding-left: 15px; } }
    @media (min-width: 1024px) {
      .semgrid-wrapper > * {
        padding-right: 20px;
        padding-left: 20px; } }
    @media (min-width: 1200px) {
      .semgrid-wrapper > * {
        padding-right: 25px;
        padding-left: 25px; } }

.semgrid-article {
  position: relative;
  min-height: 1px;
  width: 100%;
  -webkit-backface-visibility: hidden;
  overflow: visible; }
  @media (min-width: 1024px) {
    .semgrid-article {
      float: left;
      width: 66.6666666667%; } }
  @media (min-width: 1200px) {
    .semgrid-article {
      left: 33.3333333333%; } }

.semgrid-aside {
  position: relative;
  min-height: 1px;
  width: 100%;
  -webkit-backface-visibility: hidden;
  overflow: visible; }
  @media (min-width: 1024px) {
    .semgrid-aside {
      float: left;
      width: 33.3333333333%; } }
  @media (min-width: 1200px) {
    .semgrid-aside {
      right: 66.6666666667%; } }

.semgrid--nested {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  -webkit-backface-visibility: hidden;
  margin-right: -10px;
  margin-left: -10px; }
  .semgrid--nested:before, .semgrid--nested:after {
    content: '';
    display: table; }
  .semgrid--nested:after {
    clear: both; }
  .semgrid--nested > * {
    padding-right: 10px;
    padding-left: 10px; }
    @media (min-width: 768px) {
      .semgrid--nested > * {
        padding-right: 15px;
        padding-left: 15px; } }
    @media (min-width: 1024px) {
      .semgrid--nested > * {
        padding-right: 20px;
        padding-left: 20px; } }
    @media (min-width: 1200px) {
      .semgrid--nested > * {
        padding-right: 25px;
        padding-left: 25px; } }
  @media (min-width: 768px) {
    .semgrid--nested {
      margin-right: -15px;
      margin-left: -15px; } }
  @media (min-width: 1024px) {
    .semgrid--nested {
      margin-right: -20px;
      margin-left: -20px; } }
  @media (min-width: 1200px) {
    .semgrid--nested {
      margin-right: -25px;
      margin-left: -25px; } }
  .semgrid--nested > div {
    position: relative;
    min-height: 1px;
    width: 100%;
    -webkit-backface-visibility: hidden;
    overflow: visible; }
    @media (min-width: 768px) {
      .semgrid--nested > div {
        float: left;
        width: 33.3333333333%; } }

.semgrid-centered {
  position: relative;
  min-height: 1px;
  width: 100%;
  -webkit-backface-visibility: hidden;
  overflow: visible; }
  @media (min-width: 768px) {
    .semgrid-centered {
      width: 58.3333333333%;
      margin-right: auto;
      margin-left: auto; } }

.flexgrid-wrapper {
  display: block;
  margin: 0 auto;
  max-width: 1280px;
  -webkit-backface-visibility: hidden; }
  .flexgrid-wrapper > * {
    padding-right: 10px;
    padding-left: 10px; }
    @media (min-width: 768px) {
      .flexgrid-wrapper > * {
        padding-right: 15px;
        padding-left: 15px; } }
    @media (min-width: 1024px) {
      .flexgrid-wrapper > * {
        padding-right: 20px;
        padding-left: 20px; } }
    @media (min-width: 1200px) {
      .flexgrid-wrapper > * {
        padding-right: 25px;
        padding-left: 25px; } }
  @media (min-width: 1024px) {
    .flexgrid-wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin: 0 auto;
      max-width: 1280px;
      -webkit-backface-visibility: hidden; } }

.flexgrid-article {
  position: relative;
  min-height: 1px;
  width: 100%;
  overflow: visible; }
  @media (min-width: 1024px) {
    .flexgrid-article {
      width: 66.6666666667%; } }
  @media (min-width: 1200px) {
    .flexgrid-article {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1; } }

.flexgrid-aside {
  position: relative;
  min-height: 1px;
  width: 100%;
  overflow: visible; }
  @media (min-width: 1024px) {
    .flexgrid-aside {
      width: 33.3333333333%; } }
  @media (min-width: 1200px) {
    .flexgrid-aside {
      -webkit-box-ordinal-group: 0;
      -webkit-order: -1;
          -ms-flex-order: -1;
              order: -1; } }

.flexgrid--nested {
  display: block;
  margin: 0 auto;
  max-width: 1280px;
  -webkit-backface-visibility: hidden;
  margin-right: -10px;
  margin-left: -10px; }
  .flexgrid--nested > * {
    padding-right: 10px;
    padding-left: 10px; }
    @media (min-width: 768px) {
      .flexgrid--nested > * {
        padding-right: 15px;
        padding-left: 15px; } }
    @media (min-width: 1024px) {
      .flexgrid--nested > * {
        padding-right: 20px;
        padding-left: 20px; } }
    @media (min-width: 1200px) {
      .flexgrid--nested > * {
        padding-right: 25px;
        padding-left: 25px; } }
  @media (min-width: 768px) {
    .flexgrid--nested {
      margin-right: -15px;
      margin-left: -15px; } }
  @media (min-width: 1024px) {
    .flexgrid--nested {
      margin-right: -20px;
      margin-left: -20px; } }
  @media (min-width: 1200px) {
    .flexgrid--nested {
      margin-right: -25px;
      margin-left: -25px; } }
  @media (min-width: 768px) {
    .flexgrid--nested {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin: 0 auto;
      max-width: 1280px;
      -webkit-backface-visibility: hidden;
      margin-right: -10px;
      margin-left: -10px; } }
  @media (min-width: 768px) and (min-width: 768px) {
    .flexgrid--nested {
      margin-right: -15px;
      margin-left: -15px; } }
  @media (min-width: 768px) and (min-width: 1024px) {
    .flexgrid--nested {
      margin-right: -20px;
      margin-left: -20px; } }
  @media (min-width: 768px) and (min-width: 1200px) {
    .flexgrid--nested {
      margin-right: -25px;
      margin-left: -25px; } }
  @media (min-width: 768px) {
      .flexgrid--nested > div {
        position: relative;
        min-height: 1px;
        width: 100%;
        overflow: visible;
        width: 33.3333333333%; } }

.flexgrid-centered {
  position: relative;
  min-height: 1px;
  width: 100%;
  overflow: visible; }
  @media (min-width: 768px) {
    .flexgrid-centered {
      width: 58.3333333333%;
      margin-right: auto;
      margin-left: auto; } }

html, body {
  height: 100%; }

body {
  background: #f5f5f5; }

.codebase-docs {
  position: relative;
  max-width: 1340px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); }

.codebase-docs__menubar .menubar__brand a {
  padding-left: 50px;
  color: #444;
  font-weight: normal;
  background: #fff url("../../images/codebase-logo.svg") 10px 6px no-repeat;
  background-size: 30px auto; }
  .codebase-docs__menubar .menubar__brand a:hover {
    color: #444;
    background-color: #f5f5f5; }
@media (min-width: 768px) {
  .codebase-docs__menubar {
    padding: 10px 0; } }
@media (min-width: 1200px) {
  .codebase-docs__menubar {
    padding: 20px 10px; } }

.codebase-docs__header {
  color: #aaa;
  background-color: #444;
  padding: 10px 0; }
  .codebase-docs__header h1 {
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: 200;
    letter-spacing: 1px; }
  .codebase-docs__header span {
    display: block;
    max-width: 1280px;
    margin: 30px auto -30px auto;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: 200;
    color: #777; }
    @media (min-width: 768px) {
      .codebase-docs__header span {
        font-size: 1.5rem; } }

.codebase-docs__main {
  padding-bottom: 100px; }
  @media (min-width: 768px) {
    .codebase-docs__main {
      max-width: 1280px;
      margin-right: auto;
      margin-left: auto;
      -webkit-backface-visibility: hidden; }
      .codebase-docs__main:before, .codebase-docs__main:after {
        content: '';
        display: table; }
      .codebase-docs__main:after {
        clear: both; }
      .codebase-docs__main > * {
        padding-right: 10px;
        padding-left: 10px; } }
    @media (min-width: 768px) and (min-width: 768px) {
      .codebase-docs__main > * {
        padding-right: 15px;
        padding-left: 15px; } }
    @media (min-width: 768px) and (min-width: 1024px) {
      .codebase-docs__main > * {
        padding-right: 20px;
        padding-left: 20px; } }
    @media (min-width: 768px) and (min-width: 1200px) {
      .codebase-docs__main > * {
        padding-right: 25px;
        padding-left: 25px; } }

.codebase-docs__sidebar > ul {
  font-weight: bold; }
  .codebase-docs__sidebar > ul ul {
    font-weight: normal; }
@media (max-width: 767px) {
  .codebase-docs__sidebar {
    padding: 0;
    background: #444; }
    .codebase-docs__sidebar .brand:before {
      display: block;
      position: relative;
      top: 3px;
      float: left;
      content: '';
      width: 18px;
      height: 18px;
      background: url("../../images/codebase-logo-sidebar.svg") 0 0 no-repeat;
      background-size: 18px auto; }
    .codebase-docs__sidebar .brand span {
      margin-left: 5px; }
    .codebase-docs__sidebar .brand:hover {
      color: #ddd; }
      .codebase-docs__sidebar .brand:hover:before {
        background-position: 0 -20px; }
    .codebase-docs__sidebar h4 {
      margin: 10px;
      font-weight: bold;
      color: #777; }
    .codebase-docs__sidebar > ul {
      border-top: 1px solid #ddd;
      border-color: #777; }
    .codebase-docs__sidebar li a {
      display: block !important;
      border-bottom: 1px solid #ddd;
      border-color: #777;
      padding-left: 10px;
      color: #aaa; }
      .codebase-docs__sidebar li a:hover {
        text-decoration: none;
        color: #ddd;
        background-color: #777; }
    .codebase-docs__sidebar li li {
      margin: 0; }
      .codebase-docs__sidebar li li a {
        padding-left: 20px; } }
@media (min-width: 768px) {
  .codebase-docs__sidebar {
    position: relative;
    min-height: 1px;
    width: 100%;
    -webkit-backface-visibility: hidden;
    overflow: visible;
    float: left;
    width: 25%;
    left: 75%;
    padding-bottom: 40px; } }
@media (min-width: 1200px) {
  .codebase-docs__sidebar {
    float: left;
    width: 16.6666666667%;
    left: 83.3333333333%; } }

.codebase-docs__main-article {
  padding: 20px 10px 40px 10px; }
  @media (min-width: 768px) {
    .codebase-docs__main-article {
      position: relative;
      min-height: 1px;
      width: 100%;
      -webkit-backface-visibility: hidden;
      overflow: visible;
      float: left;
      width: 75%;
      right: 25%; } }
  @media (min-width: 1200px) {
    .codebase-docs__main-article {
      float: left;
      width: 83.3333333333%;
      right: 16.6666666667%; } }

.codebase-docs__footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  padding: 40px 10px;
  text-align: center; }

.codebase-docs__sidebar-menu {
  margin: 0;
  padding: 0; }
  .codebase-docs__sidebar-menu li {
    list-style-type: none; }
  .codebase-docs__sidebar-menu a {
    display: inline-block;
    padding: 5px 0; }
  .codebase-docs__sidebar-menu ul {
    margin: 0;
    padding: 0; }
    @media (min-width: 768px) {
      .codebase-docs__sidebar-menu ul {
        margin-left: 20px; } }

.off-canvas-navicon {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); }

/*# sourceMappingURL=styles.css.map */