// DECORATION MIXINS: BORDERS
// ==========================

// Border All

.deco-b-zero {
  border: 0;
}
.deco-b-thin-solid {
  border: $border-thin-solid;
}
.deco-b-thin-dashed {
  border: $border-thin-dashed;
}
.deco-b-thick-solid {
  border: $border-thick-solid;
}

// Border Top

.deco-bt-zero {
  border-top: 0;
}
.deco-bt-thin-solid {
  border-top: $border-thin-solid;
}
.deco-bt-thin-dashed {
  border-top: $border-thin-dashed;
}
.deco-bt-thick-solid {
  border-top: $border-thick-solid;
}

// Border Right

.deco-br-zero {
  border-right: 0;
}
.deco-br-thin-dashed {
  border-right: $border-thin-dashed;
}
.deco-br-thick-solid {
  border-right: $border-thick-solid;
}
.deco-br-thin-solid {
  border-right: $border-thin-solid;
}

// Border Bottom

.deco-bb-zero {
  border-bottom: 0;
}
.deco-bb-thin-solid {
  border-bottom: $border-thin-solid;
}
.deco-bb-thin-dashed {
  border-bottom: $border-thin-dashed;
}
.deco-bb-thick-solid {
  border-bottom: $border-thick-solid;
}

// Border Left

.deco-bl-zero {
  border-left: 0;
}
.deco-bl-thin-solid {
  border-left: $border-thin-solid;
}
.deco-bl-thin-dashed {
  border-left: $border-thin-dashed;
}
.deco-bl-thick-solid {
  border-left: $border-thick-solid;
}

// Other Enhancements

.deco-b-radius {
  border-radius: $border-radius;
}
.deco-b-circle {
  border-radius: 50%;
}
