// DECORATION MIXINS: COLORS
// =========================

// Background colors

.deco-bg-white {
  background-color: $color-white;
}
.deco-bg-silver {
  background-color: $color-silver;
}
.deco-bg-light-gray {
  background-color: $color-light-gray;
}
.deco-bg-mid-gray {
  background-color: $color-mid-gray;
}
.deco-bg-dark-gray {
  background-color: $color-dark-gray;
}
.deco-bg-charcoal {
  background-color: $color-charcoal;
}
.deco-bg-primary {
  background-color: $color-primary;
}
.deco-bg-primary-dark {
  background-color: $color-primary-dark;
}
.deco-bg-secondary {
  background-color: $color-secondary;
}
.deco-bg-secondary-dark {
  background-color: $color-secondary-dark;
}
.deco-bg-warning {
  background-color: $color-warning;
}
.deco-bg-warning-dark {
  background-color: $color-warning-dark;
}
.deco-bg-success {
  background-color: $color-success;
}
.deco-bg-success-dark {
  background-color: $color-success-dark;
}
.deco-bg-error {
  background-color: $color-error;
}
.deco-bg-error-dark {
  background-color: $color-error-dark;
}

// Text colors

.deco-text-white {
  color: $color-white;
}
.deco-text-silver {
  color: $color-silver;
}
.deco-text-light-gray {
  color: $color-light-gray;
}
.deco-text-mid-gray {
  color: $color-mid-gray;
}
.deco-text-dark-gray {
  color: $color-dark-gray;
}
.deco-text-charcoal {
  color: $color-charcoal;
}
.deco-text-primary {
  color: $color-primary;
}
.deco-text-primary-dark {
  color: $color-primary-dark;
}
.deco-text-secondary {
  color: $color-secondary;
}
.deco-text-secondary-dark {
  color: $color-secondary-dark;
}
.deco-text-warning {
  color: $color-warning;
}
.deco-text-warning-dark {
  color: $color-warning-dark;
}
.deco-text-success {
  color: $color-success;
}
.deco-text-success-dark {
  color: $color-success-dark;
}
.deco-text-error {
  color: $color-error;
}
.deco-text-error-dark {
  color: $color-error-dark;
}

// Border colors

.deco-b-white {
  border-color: $color-white;
}
.deco-b-silver {
  border-color: $color-silver;
}
.deco-b-light-gray {
  border-color: $color-light-gray;
}
.deco-b-mid-gray {
  border-color: $color-mid-gray;
}
.deco-b-dark-gray {
  border-color: $color-dark-gray;
}
.deco-b-charcoal {
  border-color: $color-charcoal;
}
.deco-b-primary {
  border-color: $color-primary;
}
.deco-b-primary-dark {
  border-color: $color-primary-dark;
}
.deco-b-secondary {
  border-color: $color-secondary;
}
.deco-b-secondary-dark {
  border-color: $color-secondary-dark;
}
.deco-b-warning {
  border-color: $color-warning;
}
.deco-b-warning-dark {
  border-color: $color-warning-dark;
}
.deco-b-success {
  border-color: $color-success;
}
.deco-b-success-dark {
  border-color: $color-success-dark;
}
.deco-b-error {
  border-color: $color-error;
}
.deco-b-error-dark {
  border-color: $color-error-dark;
}
