// DECORATION MIXINS: COLORS
// =========================

// Background colors

.deco-bg-white {
  background-color: $color-white;
}
.deco-bg-silver {
  background-color: $color-silver;
}
.deco-bg-light-gray {
  background-color: $color-light-gray;
}
.deco-bg-gray {
  background-color: $color-gray;
}
.deco-bg-dark-gray {
  background-color: $color-dark-gray;
}
.deco-bg-charcoal {
  background-color: $color-charcoal;
}

.deco-bg-light-primary {
  background-color: $color-light-primary;
}
.deco-bg-primary {
  background-color: $color-primary;
}
.deco-bg-dark-primary {
  background-color: $color-dark-primary;
}

.deco-bg-light-secondary {
  background-color: $color-light-secondary;
}
.deco-bg-secondary {
  background-color: $color-secondary;
}
.deco-bg-dark-secondary {
  background-color: $color-dark-secondary;
}

.deco-bg-light-warning {
  background-color: $color-light-warning;
}
.deco-bg-warning {
  background-color: $color-warning;
}
.deco-bg-dark-warning {
  background-color: $color-dark-warning;
}

.deco-bg-light-success {
  background-color: $color-light-success;
}
.deco-bg-success {
  background-color: $color-success;
}
.deco-bg-dark-success {
  background-color: $color-dark-success;
}

.deco-bg-light-error {
  background-color: $color-light-error;
}
.deco-bg-error {
  background-color: $color-error;
}
.deco-bg-dark-error {
  background-color: $color-dark-error;
}

// Text colors

.deco-text-white {
  color: $color-white;
}
.deco-text-silver {
  color: $color-silver;
}
.deco-text-light-gray {
  color: $color-light-gray;
}
.deco-text-gray {
  color: $color-gray;
}
.deco-text-dark-gray {
  color: $color-dark-gray;
}
.deco-text-charcoal {
  color: $color-charcoal;
}

.deco-text-light-primary {
  color: $color-light-primary;
}
.deco-text-primary {
  color: $color-primary;
}
.deco-text-dark-primary {
  color: $color-dark-primary;
}

.deco-text-light-secondary {
  color: $color-light-secondary;
}
.deco-text-secondary {
  color: $color-secondary;
}
.deco-text-dark-secondary {
  color: $color-dark-secondary;
}

.deco-text-light-warning {
  color: $color-light-warning;
}
.deco-text-warning {
  color: $color-warning;
}
.deco-text-dark-warning {
  color: $color-dark-warning;
}

.deco-text-light-success {
  color: $color-light-success;
}
.deco-text-success {
  color: $color-success;
}
.deco-text-dark-success {
  color: $color-dark-success;
}

.deco-text-light-error {
  color: $color-light-error;
}
.deco-text-error {
  color: $color-error;
}
.deco-text-dark-error {
  color: $color-dark-error;
}

// Border colors

.deco-b-white {
  border-color: $color-white;
}
.deco-b-silver {
  border-color: $color-silver;
}
.deco-b-light-gray {
  border-color: $color-light-gray;
}
.deco-b-gray {
  border-color: $color-gray;
}
.deco-b-dark-gray {
  border-color: $color-dark-gray;
}
.deco-b-charcoal {
  border-color: $color-charcoal;
}

.deco-b-light-primary {
  border-color: $color-light-primary;
}
.deco-b-primary {
  border-color: $color-primary;
}
.deco-b-dark-primary {
  border-color: $color-dark-primary;
}

.deco-b-light-secondary {
  border-color: $color-light-secondary;
}
.deco-b-secondary {
  border-color: $color-secondary;
}
.deco-b-dark-secondary {
  border-color: $color-dark-secondary;
}

.deco-b-light-warning {
  border-color: $color-light-warning;
}
.deco-b-warning {
  border-color: $color-warning;
}
.deco-b-dark-warning {
  border-color: $color-dark-warning;
}

.deco-b-light-success {
  border-color: $color-light-success;
}
.deco-b-success {
  border-color: $color-success;
}
.deco-b-dark-success {
  border-color: $color-dark-success;
}

.deco-b-light-error {
  border-color: $color-light-error;
}
.deco-b-error {
  border-color: $color-error;
}
.deco-b-dark-error {
  border-color: $color-dark-error;
}
