// DECORATION CLASS-BUILDER: COLORS
// ================================
// File: codebase/scss/12_decoration-classes/_colors.scss

// Background colors

.deco-bg {
  &-white {
    background-color: $deco-white;
  }
  &-silver {
    background-color: $deco-silver;
  }
  &-light-gray {
    background-color: $deco-light-gray;
  }
  &-gray {
    background-color: $deco-gray;
  }
  &-dark-gray {
    background-color: $deco-dark-gray;
  }
  &-charcoal {
    background-color: $deco-charcoal;
  }
  &-light-blue {
    background-color: $deco-light-blue;
  }
  &-blue {
    background-color: $deco-blue;
  }
  &-dark-blue {
    background-color: $deco-dark-blue;
  }
  &-light-teal {
    background-color: $deco-light-teal;
  }
  &-teal {
    background-color: $deco-teal;
  }
  &-dark-teal {
    background-color: $deco-dark-teal;
  }
  &-light-orange {
    background-color: $deco-light-orange;
  }
  &-orange {
    background-color: $deco-orange;
  }
  &-dark-orange {
    background-color: $deco-dark-orange;
  }
  &-light-green {
    background-color: $deco-light-green;
  }
  &-green {
    background-color: $deco-green;
  }
  &-dark-green {
    background-color: $deco-dark-green;
  }
  &-light-red {
    background-color: $deco-light-red;
  }
  &-red {
    background-color: $deco-red;
  }
  &-dark-red {
    background-color: $deco-dark-red;
  }
}

// Text colors

.deco-text {
  &-white {
    color: $deco-white;
  }
  &-silver {
    color: $deco-silver;
  }
  &-light-gray {
    color: $deco-light-gray;
  }
  &-gray {
    color: $deco-gray;
  }
  &-dark-gray {
    color: $deco-dark-gray;
  }
  &-charcoal {
    color: $deco-charcoal;
  }
  &-light-blue {
    color: $deco-light-blue;
  }
  &-blue {
    color: $deco-blue;
  }
  &-dark-blue {
    color: $deco-dark-blue;
  }
  &-light-teal {
    color: $deco-light-teal;
  }
  &-teal {
    color: $deco-teal;
  }
  &-dark-teal {
    color: $deco-dark-teal;
  }
  &-light-orange {
    color: $deco-light-orange;
  }
  &-orange {
    color: $deco-orange;
  }
  &-dark-orange {
    color: $deco-dark-orange;
  }
  &-light-green {
    color: $deco-light-green;
  }
  &-green {
    color: $deco-green;
  }
  &-dark-green {
    color: $deco-dark-green;
  }
  &-light-red {
    color: $deco-light-red;
  }
  &-red {
    color: $deco-red;
  }
  &-dark-red {
    color: $deco-dark-red;
  }
}

// Border colors

.deco-b {
  &-white {
    border-color: $deco-white;
  }
  &-silver {
    border-color: $deco-silver;
  }
  &-light-gray {
    border-color: $deco-light-gray;
  }
  &-gray {
    border-color: $deco-gray;
  }
  &-dark-gray {
    border-color: $deco-dark-gray;
  }
  &-charcoal {
    border-color: $deco-charcoal;
  }
  &-light-blue {
    border-color: $deco-light-blue;
  }
  &-blue {
    border-color: $deco-blue;
  }
  &-dark-blue {
    border-color: $deco-dark-blue;
  }
  &-light-teal {
    border-color: $deco-light-teal;
  }
  &-teal {
    border-color: $deco-teal;
  }
  &-dark-teal {
    border-color: $deco-dark-teal;
  }
  &-light-orange {
    border-color: $deco-light-orange;
  }
  &-orange {
    border-color: $deco-orange;
  }
  &-dark-orange {
    border-color: $deco-dark-orange;
  }
  &-light-green {
    border-color: $deco-light-green;
  }
  &-green {
    border-color: $deco-green;
  }
  &-dark-green {
    border-color: $deco-dark-green;
  }
  &-light-red {
    border-color: $deco-light-red;
  }
  &-red {
    border-color: $deco-red;
  }
  &-dark-red {
    border-color: $deco-dark-red;
  }
}