// DECORATION MIXINS: MARGINS
// ==========================

// Margin All

.deco-m-zero {
  margin: 0;
}
.deco-m-xs {
  margin: $spacing-xs;
}
.deco-m-sm {
  margin: $spacing-sm;
}
.deco-m-md {
  margin: $spacing-md;
}
.deco-m-lg {
  margin: $spacing-lg;
}

// Margin Top

.deco-mt-zero {
  margin-top: 0;
}
.deco-mt-xs {
  margin-top: $spacing-xs;
}
.deco-mt-sm {
  margin-top: $spacing-sm;
}
.deco-mt-md {
  margin-top: $spacing-md;
}
.deco-mt-lg {
  margin-top: $spacing-lg;
}

// Margin Right

.deco-mr-zero {
  margin-right: 0;
}
.deco-mr-xs {
  margin-right: $spacing-xs;
}
.deco-mr-sm {
  margin-right: $spacing-sm;
}
.deco-mr-md {
  margin-right: $spacing-md;
}
.deco-mr-lg {
  margin-right: $spacing-lg;
}

// Margin Bottom

.deco-mb-zero {
  margin-bottom: 0;
}
.deco-mb-xs {
  margin-bottom: $spacing-xs;
}
.deco-mb-sm {
  margin-bottom: $spacing-sm;
}
.deco-mb-md {
  margin-bottom: $spacing-md;
}
.deco-mb-lg {
  margin-bottom: $spacing-lg;
}

// Margin Left

.deco-ml-zero {
  margin-left: 0;
}
.deco-ml-xs {
  margin-left: $spacing-xs;
}
.deco-ml-sm {
  margin-left: $spacing-sm;
}
.deco-ml-md {
  margin-left: $spacing-md;
}
.deco-ml-lg {
  margin-left: $spacing-lg;
}

// Horizontal Centering by margin:auto

.deco-mh-auto {
  display: block !important;
  margin-right: auto !important;
  margin-left: auto !important;
}
