// DECORATION CLASS-BUILDER: MARGINS
// =================================
// File: codebase/scss/12_decoration-classes/_margins.scss

// Margin All

.deco-m {
  &-zero {
    margin: 0;
  }
  &-xs {
    margin: $deco-spacing-xs;
  }
  &-sm {
    margin: $deco-spacing-sm;
  }
  &-md {
    margin: $deco-spacing-md;
  }
  &-lg {
    margin: $deco-spacing-lg;
  }
}

// Margin Top

.deco-mt {
  &-zero {
    margin-top: 0;
  }
  &-xs {
    margin-top: $deco-spacing-xs;
  }
  &-sm {
    margin-top: $deco-spacing-sm;
  }
  &-md {
    margin-top: $deco-spacing-md;
  }
  &-lg {
    margin-top: $deco-spacing-lg;
  }
}

// Margin Right

.deco-mr {
  &-zero {
    margin-right: 0;
  }
  &-xs {
    margin-right: $deco-spacing-xs;
  }
  &-sm {
    margin-right: $deco-spacing-sm;
  }
  &-md {
    margin-right: $deco-spacing-md;
  }
  &-lg {
    margin-right: $deco-spacing-lg;
  }
}

// Margin Bottom

.deco-mb {
  &-zero {
    margin-bottom: 0;
  }
  &-xs {
    margin-bottom: $deco-spacing-xs;
  }
  &-sm {
    margin-bottom: $deco-spacing-sm;
  }
  &-md {
    margin-bottom: $deco-spacing-md;
  }
  &-lg {
    margin-bottom: $deco-spacing-lg;
  }
}

// Margin Left

.deco-ml {
  &-zero {
    margin-left: 0;
  }
  &-xs {
    margin-left: $deco-spacing-xs;
  }
  &-sm {
    margin-left: $deco-spacing-sm;
  }
  &-md {
    margin-left: $deco-spacing-md;
  }
  &-lg {
    margin-left: $deco-spacing-lg;
  }
}

// Horizontal Centering by margin:auto

.deco-mh-auto {
  display: block !important;
  margin-right: auto !important;
  margin-left: auto !important;
}
