// DECORATION MIXINS: PADDINGS
// ===========================

// @include deco-p-block in block menu items and menubar items

.deco-p-block {
  padding: $spacing-xs $spacing-sm;
}

// Padding All

.deco-p-zero {
  padding: 0;
}
.deco-p-xs {
  padding: $spacing-xs;
}
.deco-p-sm {
  padding: $spacing-sm;
}
.deco-p-md {
  padding: $spacing-md;
}
.deco-p-lg {
  padding: $spacing-lg;
}

// Padding Top

.deco-pt-zero {
  padding-top: 0;
}
.deco-pt-xs {
  padding-top: $spacing-xs;
}
.deco-pt-sm {
  padding-top: $spacing-sm;
}
.deco-pt-md {
  padding-top: $spacing-md;
}
.deco-pt-lg {
  padding-top: $spacing-lg;
}

// Padding Right

.deco-pr-zero {
  padding-right: 0;
}
.deco-pr-xs {
  padding-right: $spacing-xs;
}
.deco-pr-sm {
  padding-right: $spacing-sm;
}
.deco-pr-md {
  padding-right: $spacing-md;
}
.deco-pr-lg {
  padding-right: $spacing-lg;
}

// Padding Bottom

.deco-pb-zero {
  padding-bottom: 0;
}
.deco-pb-xs {
  padding-bottom: $spacing-xs;
}
.deco-pb-sm {
  padding-bottom: $spacing-sm;
}
.deco-pb-md {
  padding-bottom: $spacing-md;
}
.deco-pb-lg {
  padding-bottom: $spacing-lg;
}

// Padding Left

.deco-pl-zero {
  padding-left: 0;
}
.deco-pl-xs {
  padding-left: $spacing-xs;
}
.deco-pl-sm {
  padding-left: $spacing-sm;
}
.deco-pl-md {
  padding-left: $spacing-md;
}
.deco-pl-lg {
  padding-left: $spacing-lg;
}
