// DECORATION CLASS-BUILDER: PADDINGS
// ==================================
// File: codebase/scss/12_decoration-classes/_paddings.scss

// @include deco-p-block in block menu items and menubar items

.deco-p-block {
  padding: $deco-spacing-xs $deco-spacing-sm;
}

// Padding All

.deco-p {
  &-zero {
    padding: 0;
  }
  &-xs {
    padding: $deco-spacing-xs;
  }
  &-sm {
    padding: $deco-spacing-sm;
  }
  &-md {
    padding: $deco-spacing-md;
  }
  &-lg {
    padding: $deco-spacing-lg;
  }  
}

// Padding Top

.deco-pt {
  &-zero {
    padding-top: 0;
  }
  &-xs {
    padding-top: $deco-spacing-xs;
  }
  &-sm {
    padding-top: $deco-spacing-sm;
  }
  &-md {
    padding-top: $deco-spacing-md;
  }
  &-lg {
    padding-top: $deco-spacing-lg;
  }  
}

// Padding Right

.deco-pr {
  &-zero {
    padding-right: 0;
  }
  &-xs {
    padding-right: $deco-spacing-xs;
  }
  &-sm {
    padding-right: $deco-spacing-sm;
  }
  &-md {
    padding-right: $deco-spacing-md;
  }
  &-lg {
    padding-right: $deco-spacing-lg;
  }  
}

// Padding Bottom

.deco-pb {
  &-zero {
    padding: 0;
  }
  &-xs {
    padding-bottom: $deco-spacing-xs;
  }
  &-sm {
    padding-bottom: $deco-spacing-sm;
  }
  &-md {
    padding-bottom: $deco-spacing-md;
  }
  &-lg {
    padding-bottom: $deco-spacing-lg;
  }  
}

// Padding Left

.deco-pl {
  &-zero {
    padding-left: 0;
  }
  &-xs {
    padding-left: $deco-spacing-xs;
  }
  &-sm {
    padding-left: $deco-spacing-sm;
  }
  &-md {
    padding-left: $deco-spacing-md;
  }
  &-lg {
    padding-left: $deco-spacing-lg;
  }  
}
