// DECORATION MIXINS: SHADOWS
// ==========================

.deco-bs {
  box-shadow: $deco-box-shadow;
}
.deco-bs-inset {
  box-shadow: $deco-box-shadow-inset;
}
.deco-bs-inset-top {
  box-shadow: $deco-box-shadow-inset-top;
}
.deco-bs-inset-right {
  box-shadow: $deco-box-shadow-inset-right;
}
.deco-bs-inset-bottom {
  box-shadow: $deco-box-shadow-inset-bottom;
}
.deco-bs-inset-left {
  box-shadow: $deco-box-shadow-inset-left;
}
