extends ../../docs-template-partials/_docs-article

block prepend article
  - var articleId = "basics-badges-and-labels"
  - var articleTitle = "Badges and Labels"

block section
  
  p Badges can be used on any sized text, inheriting its size.

  style.
    .badge .feather {
      height: 11px;
    }

  p Examples <span class="badge">1</span><span class="badge badge--primary">2</span><span class="badge badge--secondary">345</span><span class="badge badge--warning">678</span><span class="badge badge--danger">9</span><span class="badge">10</span><span class="badge badge--success"><i class="fas fa-coffee"></i></span>

  h1 h1 example<span class="badge badge--success">NEW</span>

  p Labels can be used in any sized text, inheriting its size.

  p Examples:

  p
    span.label.label--primary Author

  p
    span.label.label--secondary Enquiry

  p
    span.label.label--warning Required

  p
    span.label.label--danger Oops!

  p
    span.label.label--success Winner

  h1
    span.label New
    |  h1 example
