extends ../../docs-template-partials/_docs-article

block prepend article
  - var articleId = "basics-big-typography"
  - var articleTitle = "Big Typograpxy"

block section
  
  p.lead Codebase big typography has been developed for long-read articles.

  p By default, Codebase has its font sizes for everything based on a set of #[code $cb-text--base-font-*] variables. But there is also a set of #[code $cb-text--big-font-*] variables. (You can override both, because each are set as #[code !default] variables.)

  p There are two ways to deploy big typography in Codebase:

  h3 1. The #[code .big] inline element class

  p If you want to empxasize some inline text by #[span.big increasing the font size], Codebase can do this by applying #[code .big] to an inline tag (e.g. #[code &lt;span class="big"&gt;]).

  h3 2. The #[code .big] container element class

  p Codebase can render big typography simply by #[b wrapping any HTML within a block block element (e.g. DIV) that has class] #[code .big]. Everything within the wrapper will have bog typography applied.

  .flexbox.flexbox--gap.flexbox--nested
    .flex-item-md--span-6

      h1 Heading h1
      h2 Heading h2
      h3 Heading h3
      h4 Heading h4
      h5 Heading h5
      h6 Heading h6

      p Lorem ipsum dolor sit amet, adipiscing honestatis ius ut, nisl consulatu pro in. Imperdiet evertitur no usu, his te suavitate salutatus. Nullam ridens deterruisset an duo. Cum harum insolens ei, cum probo placerat praesent et.

    .flex-item-md--span-6

      .big

        h1 Heading h1
        h2 Heading h2
        h3 Heading h3
        h4 Heading h4
        h5 Heading h5
        h6 Heading h6

        p Lorem ipsum dolor sit amet, adipiscing honestatis ius ut, nisl consulatu pro in. Imperdiet evertitur no usu, his te suavitate salutatus. Nullam ridens deterruisset an duo. Cum harum insolens ei, cum probo placerat praesent et.
