extends ../../docs-template-partials/_docs-article

block prepend article
  - var articleId = "basics-buttons"
  - var articleTitle = "Buttons"

block section

  p Button classes can be applied to button tags, input-button tags and hyperlink anchor tags:

  p #[button.btn(type="submit") Button] #[code &lt;button class="btn"&gt;]

  p #[a(href="#/").btn Hyperlink] #[code &lt;a href="" class="btn"&gt;...&lt;/a&gt;]

  p #[input.btn(value="Input" type="submit")] #[code &lt;input type="submit" class="btn"&gt;]

  p Block width button: #[code .btn.btn--block]

  p #[button.btn.btn--block Block width button]

  h3 Button Colors
  
  p 
    button.btn Default
    |  #[code .btn]
  p
    button.btn.btn--primary Primary
    |  #[code .btn.btn--primary]
  p
    button.btn.btn--secondary Secondary
    |  #[code .btn.btn--secondary]
  p
    button.btn.btn--warning Warning
    |  #[code .btn.btn--warning]
  p
    button.btn.btn--success Success
    |  #[code .btn.btn--success]
  p
    button.btn.btn--danger Danger
    |  #[code .btn.btn--danger]

  h3 Button States

  p #[code .btn--active] #[code .btn--disabled]

  p
    button.btn Default
    button.btn.btn--active Default active
    button.btn.btn--disabled(aria-disabled="true") Default disabled
  p
    button.btn.btn--primary Primary
    button.btn.btn--primary.btn--active Primary active
    button.btn.btn--primary.btn--disabled(aria-disabled="true") Primary disabled
  p
    button.btn.btn--secondary Secondary
    button.btn.btn--secondary.btn--active Secondary active
    button.btn.btn--secondary.btn--disabled(aria-disabled="true") Secondary disabled
  p
    button.btn.btn--warning Warning
    button.btn.btn--warning.btn--active Warning active
    button.btn.btn--warning.btn--disabled(aria-disabled="true") Warning disabled
  p
    button.btn.btn--success Success
    button.btn.btn--success.btn--active Success active
    button.btn.btn--success.btn--disabled(aria-disabled="true") Success disabled
  p
    button.btn.btn--danger Danger
    button.btn.btn--danger.btn--active Danger active
    button.btn.btn--danger.btn--disabled(aria-disabled="true") Danger disabled
  
  p The active and disabled state classes also work for outline buttons and 3D buttons (see below).
  
  h3 Outline Buttons
  
  p #[code .btn--outline]
  
  p
    button.btn.btn--outline Default
    button.btn.btn--primary.btn--outline Primary
    button.btn.btn--secondary.btn--outline Secondary
    button.btn.btn--warning.btn--outline Warning
    button.btn.btn--success.btn--outline Success
    button.btn.btn--danger.btn--outline Danger

  h3 3D Buttons

  p #[code .btn--3d]

  p
    button.btn.btn--3d Default
    button.btn.btn--primary.btn--3d Primary
    button.btn.btn--secondary.btn--3d Secondary
    button.btn.btn--warning.btn--3d Warning
    button.btn.btn--success.btn--3d Success
    button.btn.btn--danger.btn--3d Danger  

  h3 Buttons with Big Text

  p Add #[code .big] for increased text and/or icon size:
  
  a.btn.btn--primary(href="#/")
    | Find out more &hellip;
  =" "
  a.btn.btn--primary.big(href="#/")
    | Find out more &hellip;
  
  h3.mt--line Small, Default and Large Buttons
  
  p Add #[code .btn--sm] for a smaller button, or #[code .btn--lg] for a larger button:

  a.btn.btn--primary.btn--sm(href="#/")
    | Small
  = " "
  a.btn.btn--primary(href="#/")
    | Default
  = " "
  a.btn.btn--primary.btn--lg(href="#/")
    | Large

  p.mt--line.mr--12.bg--green-lighten-3.p--16
    | The smaller form button size has been designed for fitting within menus and menubars. In that context, give it a margin class #[code .m--4] to position it correctly.

  h3 Buttons with Big Text

  p Button sizes can be used in combination with #[code .big] (for increased text and/or icon size) and #[code .btn--outline]:  
  
  p
    a.btn.btn--primary.btn--sm(href="#/")
      | Normal text
    = " "
    a.btn.btn--primary.btn--sm.big(href="#/")
      | Big text
    = " "
    a.btn.btn--primary.btn--sm.btn--outline(href="#/")
      | Normal text
    = " "
    a.btn.btn--primary.btn--sm.big.btn--outline(href="#/")
      | Big text

  p
    a.btn.btn--primary(href="#/")
      | Normal text
    = " "
    a.btn.btn--primary.big(href="#/")
      | Big text
    = " "
    a.btn.btn--primary.btn--outline(href="#/")
      | Normal text
    = " "
    a.btn.btn--primary.big.btn--outline(href="#/")
      | Big text
    
  p
    a.btn.btn--primary.btn--lg(href="#/")
      | Normal text
    = " "
    a.btn.btn--primary.btn--lg.big(href="#/")
      | Big text
    = " "
    a.btn.btn--primary.btn--lg.btn--outline(href="#/")
      | Normal text  
    = " "
    a.btn.btn--primary.btn--lg.big.btn--outline(href="#/")
      | Big text  
  
  h3 Buttons with Icons

  p Icons (e.g. #[a(href="http://fontawesome.io/icons/") Font Awesome]) can be included in buttons:
  
  p
    button.btn.btn--success
      | Call to action
      =" "
      i.fas.fa-arrow-right

    button.btn.btn--secondary
      i.fas.fa-folder
      |  Archive

    button.btn.btn--primary
      i.fas.fa-user
      |  User

    button.btn.btn--warning
      | Are you sure
      =" "
      i.fas.fa-question-circle

    button.btn.btn--danger
      | Reset
      =" "
      i.fas.fa-times-circle

    button.btn
      | Menu
      =" "
      i.fas.fa-bars

  h3 Square Icon Buttons

  p #[code .btn--icon] &mdash; makes square buttons when only a single character, pictogram or (#[a(href="http://fontawesome.io/icons/") Font Awesome]) icon is present within the button.

  p
    button.btn.btn--success.btn--icon
      i.fas.fa-arrow-right

    button.btn.btn--secondary.btn--icon
      i.fas.fa-folder

    button.btn.btn--primary.btn--icon
      i.fas.fa-user

    button.btn.btn--warning.btn--icon
      i.fas.fa-question-circle

    button.btn.btn--danger.btn--icon
      i.fas.fa-times-circle

    button.btn.btn--icon
      i.fas.fa-bars

  p Add #[code .big] for a larger icon (1.5em):

  p
    button.btn.btn--success.btn--icon.big
      i.fas.fa-arrow-right

    button.btn.btn--secondary.btn--icon.big
      i.fas.fa-folder

    button.btn.btn--primary.btn--icon.big
      i.fas.fa-user

    button.btn.btn--warning.btn--icon.big
      i.fas.fa-question-circle

    button.btn.btn--danger.btn--icon.big
      i.fas.fa-times-circle

    button.btn.btn--icon.big
      i.fas.fa-bars

  p Square button sizes:

  p
    button.btn.btn--success.btn--icon.btn--sm
      i.fas.fa-search

    button.btn.btn--success.btn--icon
      i.fas.fa-search

    button.btn.btn--success.btn--icon.btn--lg
      i.fas.fa-search

  p Icon sizes with larger text and with outline:

  p
    button.btn.btn--icon.btn--sm
      i.fas.fa-search
    
    button.btn.btn--icon.btn--sm.big
      i.fas.fa-search

    button.btn.btn--icon.btn--sm.btn--outline
      i.fas.fa-search

    button.btn.btn--icon.btn--sm.btn--outline.big
      i.fas.fa-search
            
    p
      button.btn.btn--icon
        i.fas.fa-search
      
      button.btn.btn--icon.big
        i.fas.fa-search

      button.btn.btn--icon.btn--outline
        i.fas.fa-search

      button.btn.btn--icon.btn--outline.big
        i.fas.fa-search
    
    p
      button.btn.btn--icon.btn--lg
        i.fas.fa-search
      
      button.btn.btn--icon.btn--lg.big
        i.fas.fa-search

      button.btn.btn--icon.btn--lg.btn--outline
        i.fas.fa-search

      button.btn.btn--icon.btn--lg.btn--outline.big
        i.fas.fa-search

  h3 Rounded "pill" buttons

  p
    button.btn.btn--pill Example
    |  #[code .btn.btn--pill]

  p Using #[code .btn--icon] together with #[code .btn--pill] yields a circular button:
  
  p
    button.btn.btn--pill.btn--success.btn--icon
      i.fas.fa-arrow-right

    button.btn.btn--pill.btn--secondary.btn--icon
      i.fas.fa-folder

    button.btn.btn--pill.btn--primary.btn--icon
      i.fas.fa-user

    button.btn.btn--pill.btn--warning.btn--icon
      i.fas.fa-question-circle

    button.btn.btn--pill.btn--danger.btn--icon
      i.fas.fa-times-circle

    button.btn.btn--pill.btn--icon
      i.fas.fa-bars

  p Pill icon button sizes, larger text, and outline:
  
  p
    button.btn.btn--primary.btn--icon.btn--pill.btn--sm
      i.fas.fa-heart

    button.btn.btn--primary.btn--icon.btn--pill
      i.fas.fa-heart

    button.btn.btn--primary.btn--icon.btn--pill.btn--lg
      i.fas.fa-heart

    button.btn.btn--primary.btn--icon.btn--pill.btn--sm.big
      i.fas.fa-heart

    button.btn.btn--primary.btn--icon.btn--pill.big
      i.fas.fa-heart

    button.btn.btn--primary.btn--icon.btn--pill.btn--lg.big
      i.fas.fa-heart

    button.btn.btn--primary.btn--icon.btn--pill.btn--sm.btn--outline
      i.fas.fa-heart

    button.btn.btn--primary.btn--icon.btn--pill.btn--outline
      i.fas.fa-heart

    button.btn.btn--primary.btn--icon.btn--pill.btn--lg.btn--outline
      i.fas.fa-heart

    button.btn.btn--primary.btn--icon.btn--pill.btn--sm.big.btn--outline
      i.fas.fa-heart

    button.btn.btn--primary.btn--icon.btn--pill.big.btn--outline
      i.fas.fa-heart

    button.btn.btn--primary.btn--icon.btn--pill.btn--lg.big.btn--outline
      i.fas.fa-heart
  
  h3 Combo Buttons

  p See #[a(href="#basics-combos") combos] for explanation.

  p
    button.btn.combo--left .combo--left
    button.btn.combo--center .combo--center
    button.btn.combo--right .combo--right

  p
    button.btn.btn--pill.btn--danger.combo--left .combo--left
    button.btn.btn--pill.btn--warning.combo--center .combo--center
    button.btn.btn--pill.btn--success.combo--right .combo--right

  h3 Button with Dropdown

  p The dropdown component can be used with buttons. See the #[a(href="components.html#components-dropdown") dropdown component] for explanation.

  .dropdown.mb--line
    button.btn.dropdown__ctrl
      | Example 1
    span.dropdown__content.p--block.bg--white.bs Example dropdown component content

  .dropdown
    button.btn.combo--left  Example 2 (combo)
    button.btn.btn--icon.combo--right.dropdown__ctrl
    span.dropdown__content.p--block.bg--white.bs Example dropdown component content

  h3.mt--line Social media icon buttons
  
  p.
    If you need social media buttons, it's easy to create them with Codebase. Following is a example.

  p.
    Simply create icon buttons as above, and use your chosen icon font to supply the social media brand icon. Then assign the appropriate background color to each.

  style.
    a.btn--facebook    {background-color:#3b5998;}
    a.btn--twitter     {background-color:#00b6f1;}
    a.btn--linkedin    {background-color:#007bb6;}
    a.btn--google-plus {background-color:#df4a32;}
    a.btn--youtube     {background-color:#b31217;}
    a.btn--pinterest   {background-color:#cb2027;}
    a.btn--instagram   {background-color:#c32aa3;}
    a.btn--tumblr      {background-color:#2c4762;}

    a:hover.btn--facebook    {background-color:#263e60;}
    a:hover.btn--twitter     {background-color:#0099bc;}
    a:hover.btn--linkedin    {background-color:#005d82;}
    a:hover.btn--google-plus {background-color:#aa3327;}
    a:hover.btn--youtube     {background-color:#7f0e17;}
    a:hover.btn--pinterest   {background-color:#961a23;}
    a:hover.btn--instagram   {background-color:#8e2079;}
    a:hover.btn--tumblr      {background-color:#15222d;}

      
  p
    a.btn.btn--facebook.btn--icon.big(href="#/")
      i.fab.fa-facebook-f
    = " "
    a.btn.btn--twitter.btn--icon.big(href="#/")
      i.fab.fa-twitter
    = " "
    a.btn.btn--linkedin.btn--icon.big(href="#/")
      i.fab.fa-linkedin-in
    = " "
    a.btn.btn--google-plus.btn--icon.big(href="#/")
      i.fab.fa-google-plus-g
    = " "
    a.btn.btn--youtube.btn--icon.big(href="#/")
      i.fab.fa-youtube
    = " "
    a.btn.btn--pinterest.btn--icon.big(href="#/")
      i.fab.fa-pinterest
    = " "
    a.btn.btn--instagram.btn--icon.big(href="#/")
      i.fab.fa-instagram
    = " "
    a.btn.btn--tumblr.btn--icon.big(href="#/")
      i.fab.fa-tumblr


  p <b>Note:</b> The brand background colors shown in the example above are not included in #[code codebase.css]. They are simply added here in the docs.
  
