extends ../../docs-template-partials/_docs-article

block prepend article
  - var articleId = "basics-carets"
  - var articleTitle = "Carets"

block section

    p.lead Triangular direction indicators for use on components.

    p If you apply these classes to block elements, then the carets are positioned on the appropriate side of the contained text for the direction that the caret is indicating.

    p Carets applied to block elements:

    div.b--thin.b--dashed.p--8.caret--down Example
    div.b--thin.b--dashed.p--8.caret--up Example
    div.b--thin.b--dashed.p--8.caret--right Example
    div.b--thin.b--dashed.p--8.caret--left Example

    pre
        code.
            &lt;div class="caret--down"&gt;Example&lt;/div&gt;
            &lt;div class="caret--up"&gt;Example&lt;/div&gt;
            &lt;div class="caret--right"&gt;Example&lt;/div&gt;
            &lt;div class="caret--left"&gt;Example&lt;/div&gt;

    p.mt--line Carets applied to #[i empty] inline elements: #[i.b--thin.b--dashed.caret--down] #[i.b--thin.b--dashed.caret--up] #[i.b--thin.b--dashed.caret--right] #[i.b--thin.b--dashed.caret--left]

    pre
        code.
            &lt;i class="caret--down"&gt;&lt;/i&gt;
            &lt;i class="caret--up"&gt;&lt;/i&gt;
            &lt;i class="caret--right"&gt;&lt;/i&gt;
            &lt;i class="caret--left"&gt;&lt;/i&gt;

    p.mt--line You can apply a #[a(href="#basics-floats-and-clearfix") float] class to an inline caret to push it to the far end of its containing block; e.g.:

    .flexbox.flexbox--center
        .flex-item-md--span-6.flex-item-lg--span-4.b--thin.b--dashed.p--8 i.float--right.caret--right #[i.float--right.caret--right]

    p.mt--line.bg--green-lighten-3.p--16 #[b Note:] Although only LTR carets are shown above, RTL is also supported.