extends ../../docs-template-partials/_docs-article

block prepend article
  - var articleId = "basics-form-elements"
  - var articleTitle = "Form Elements"

block section
  
  p Form elements expand to 100% of their container width. Give them structure by wrapping them in flexbox flex-items (see #[a(href="layout.html") Layout]).

  p There is no added margin or padding around form elements – so nothing you need to override. Add whatever margin or padding (or not) as suits your own design.

  h3 Form Label

  .b--heavy.b--rounded.b--gray-lighten-2.p--16
    p.muted Example:
  
    label(for="") Name:

  h3.mt--line Input Fields

  label(for="text-example") Text:
  input(id="text-example" name="examplename" placeholder="Example text input field" type="text")

  label(for="email-example") Email:
  input(id="email-example" name="examplename" placeholder="Example email input field" type="email")

  label(for="tel-example") Tel:
  input(id="tel-example" name="examplename" placeholder="Example pxone number input field" type="tel")

  label(for="search-example") Search:
  input(id="search-example" name="examplename" placeholder="Example search input field" results="5" type="search")

  label(for="number-example") Number:
  input(id="number-example" name="examplename" placeholder=" Example number input field" type="number")

  label(for="date-example") Date:
  input(id="date-example" name="examplename" placeholder="Example date input field" type="date")

  label(for="month-example") Month:
  input(id="month-example" name="examplename" placeholder="Example month input field" type="month")

  label(for="password-example") Password:
  input(id="month-example" name="examplename" placeholder="Example password input field" type="password")

  h3.mt--line Form Inputs without Full-Width
  
  p There may be some occasions when you don't want a full-width form input field, and you can't or don't wish to control input field widths using e.g. the flexbox layout system. In which case, you can simply ass class #[code .form__input--inline] to prevent the field width expanding to 100% container width.
  
  label(for="text-example2") Text:
  input(id="text-example2" name="examplename" placeholder="Example text input field" type="text").form__input--inline

  
  h3.mt--line Textarea

  label(for="textarea-example") Textarea:
  textarea(id="textarea-example" name="examplename" type="password" placeholder="Example textarea" rows="4")

  h3.mt--line Selects

  label(for="single-select-example") Single select:
  select(id="single-select-example" name="examplename")
    option(value="first") First option 
    option(value="second") Second option 
    option(value="third") Third option
    
  label(for="multi-select-example").mt--line Single select:
  select(id="multi-select-example" name="examplename" multiple="3")
    option(value="first") First option 
    option(value="second") Second option 
    option(value="third") Third option
  
  h3.mt--line Radio Boxes and Checkboxes

  form
    input(id="radio-1" name="examplename" checked="checked" type="radio")
    label(for="radio-1") Radio 1
    br
    input(id="radio-2" name="examplename" type="radio")
    label(for="radio-2") Radio 2
    br
    input(id="radio-3" name="examplename" type="radio")
    label(for="radio-3") Radio 3

  form.mt--line
    input(id="checkbox-1" name="examplename" checked="checked" type="checkbox")
    label(for="checkbox-1") Checkbox 1 
    br
    input(id="checkbox-2" name="examplename" type="checkbox")
    label(for="checkbox-2") Checkbox 2
    br
    input(id="checkbox-3" name="examplename" type="checkbox")
    label(for="checkbox-3") Checkbox 3

  h3.mt--line Form Element Sizes

  p Three sizes have been provided for form inputs, selects and textarea elements. These match the three sizes of #[a(href="#basics-buttons") buttons].

  label(for="text-example") #[code .form__input--sm]:</label>
  input(id="text-example" name="examplename" placeholder="Example text input field" type="text").form__input--sm
  
  p.mt--line.mr--12.bg--green-lighten-3.p--16 The smaller form input field size (and smaller button size) has been designed for fitting within menus and menubars.

  label(for="text-example") Default:
  input(id="text-example" name="examplename" placeholder="Example text input field" type="text")
  
  label(for="text-example").mt--line #[code .form__input--lg]:
  input(id="text-example" name="examplename" placeholder="Example text input field" type="text").form__input--lg
  
  h3.mt--line Form Elements with Big Text

  p An increased text size of 1.5em has been provided for situations where a form requires special emphasis (e.g. a call to action sign-up).

  p For the big text size, use the class #[code .form__input--big-text] on form elements.

  p The larger text size is the same as for the optional big text size on #[a(href="#basics-buttons") buttons].

  label(for="text-example") #[code .form__input--big-text.form__input--sm]
  input(id="text-example" name="examplename" placeholder="Example text input field" type="text").form__input--big-text.form__input--sm

  label(for="text-example").mt--line #[code .form__input--big-text]
  input(id="text-example" name="examplename" placeholder="Example text input field" type="text").form__input--big-text

  label(for="text-example").mt--line #[code .form__input--big-text.form__input--lg] 
  input(id="text-example" name="examplename" placeholder="Example text input field" type="text").form__input--big-text.form__input--lg

  h3.mt--line Pills
  
  p If you require a "pill" style form input field, use #[code .form__input--pill]. Examples:

  label(for="text-example") #[code .form__input--pill.form__input--sm]
  input(id="text-example" name="examplename" placeholder="Example text input field" type="text").form__input--pill.form__input--sm
  
  label(for="text-example").mt--line #[code .form__input--pill.form__input--inline] #[input(id="text-example" name="examplename" placeholder="Example text input field" type="text").form__input--pill.form__input--inline]
  
  label(for="text-example").mt--line #[code .form__input--big-text.form__input--lg.form__input--pill]
  input(id="text-example" name="examplename" placeholder="Example text input field" type="text").form__input--big-text.form__input--lg.form__input--pill

  h3.mt--line Form elements and utility classes

  p Codebase #[a(href="decoration-utilities.html") decoration utility classes] can be used with form elements. Here are some examples:

  p #[code .b--0.b--rounded-0.bg--black.white]  

  input(id="text-example" name="examplename" placeholder="Example text input field" type="text" class="b--0 b--rounded-0 bg--black white")

  p.mt--line #[code .b--thick.b--blue]  

  input(id="text-example" name="examplename" placeholder="Example text input field" type="text" class="b--heavy b--blue")
  