extends ../../docs-template-partials/_docs-article

block prepend article
  - var articleId = "basics-headings"
  - var articleTitle = "Headings"

block section
  
  .flexbox.flexbox--grow-equal.flexbox--gap.flexbox--nested
    .flex-item
      p Heading tags:
      h1 h1 Heading
      h2 h2 Heading
      h3 h3 Heading
      h4 h4 Heading
      h5 h5 Heading
      h6 h6 Heading
    .flex-item
      p Utility classes:
      .h1 .h1 
      .h2 .h2
      .h3 .h3
      .h4 .h4
      .h5 .h5
      .h6 .h6

  h3 Notes

  ol
    li In Codebase, headings have been sized appropriately for having their line heights fit to a vertical rhythm based on #[a(href="decoration-utilities.html#decoration-utilities-element-grid") element grid] units. 
    li Headings have been set with zero top margin (same as paragraphs). And their bottom margin has been set equal to one line-height of the default text (paragraph) size, i.e. 24px.
    li  Headings h1 to h5 are slightly enlarged (and their line heights adjusted) for wider viewports at and above their "alt" breakpoint, which is set by the variable #[code $cb-break--headers-alt].
    li Headings are set to #[code font-weight: normal] by default, so that you can use bold on particular words for emphasis.
    li See also #[a(href="#basics-big-typography") big typography].
