extends ../../docs-template-partials/_docs-article

block prepend article
  - var articleId = "basics-horizontal-rules"
  - var articleTitle = "Horizontal Rules"

block section
  
  p The horizontal rule tag #[code hr] is simply styled with a thin, light gray, #[b top border].
  
  hr

  p The horizontal rule is capable of receiving Codebase #[a(href="decoration-utilities.html#decoration-utilities-borders") border decoration]. Here are a few examples:
  
  p #[code hr.bt--dashed]
  
  hr.bt--dashed
    
  p #[code hr.bt--heavy]
  
  hr.bt--heavy
      
  p #[code hr.bt--heavy.b--green]
  
  hr.bt--heavy.b--green
