extends ../../docs-template-partials/_docs-article

block prepend article
  - var articleId = "basics-initial-icons"
  - var articleTitle = "Initial Icons"

block section
  
  p The utility class affects the #[code :first-child] selector. (This works well with, e.g. #[a(href="https://feathericons.com/") Feather Icons] and  #[a(href="http://fontawesome.io/") Font Awesome]). Useful for when you want to make a note or statement stand out.

  .initial-icon
    i(data-feather="star" aria-hidden="true")
    | Lorem ipsum dolor sit amet, adipiscing honestatis ius ut, nisl consulatu pro in. Imperdiet evertitur no usu, his te suavitate salutatus.

  pre
    code.
      &lt;div class="initial-icon"&gt;
        &lt;i class="fas fa-star" aria-hidden="true"&gt;&lt;/i&gt; Lorem ipsum dolor sit amet ...
      &lt;/div&gt;

  p Alternative to an icon font, simply put the initial single character in a #[code span] and it will receive the same Codebase treatment.

  .initial-icon
    span 1
    | Lorem ipsum dolor sit amet, adipiscing honestatis ius ut, nisl consulatu pro in. Imperdiet evertitur no usu, his te suavitate salutatus.

  .initial-icon
    span 2
    | Lorem ipsum dolor sit amet, adipiscing honestatis ius ut, nisl consulatu pro in. Imperdiet evertitur no usu, his te suavitate salutatus.

  .initial-icon
    span 3
    | Lorem ipsum dolor sit amet, adipiscing honestatis ius ut, nisl consulatu pro in. Imperdiet evertitur no usu, his te suavitate salutatus.

  h3 Further styling

  p Add color, padding, etc (e.g. by #[a(href="decoration-utilities.html") decoration] classes) for greater effect. Example:
  
  p.initial-icon.b--thick.b--red-lighten-1.b--rounded-8.p--16.pl--84.bg--red-lighten-3
    i(data-feather="alert-triangle" aria-hidden="true").red-lighten-1.pr--4
    | Lorem ipsum dolor sit amet, adipiscing honestatis ius ut, nisl consulatu pro in. Imperdiet evertitur no usu, his te suavitate salutatus.
    
    
  .tabs.decorate.mt--24
    .tab__label-wrap--right
      .tab__label(data-tab-id="tab-docs-flexbox-initial-icon-html") HTML
      .tab__label(data-tab-id="tab-docs-flexbox-initial-icon-pug") Pug

    #tab-docs-flexbox-initial-icon-html.tab__panel
      pre.mt
        code.
          &lt;div class="initial-icon mb--24 bl--heavy b--green-darken-1 p--16 pl--84 bg--green-lighten-2"&gt;
            &lt;i class="fas fa-check-circle green-darken-1 pr--4"&gt;&lt;/i&gt; Lorem ipsum dolor sit amet, adipiscing honestatis ius ut, nisl consulatu pro in. Imperdiet evertitur no usu, his te suavitate salutatus.
          &lt;/div&gt;

    #tab-docs-flexbox-initial-icon-pug.tab__panel
      pre.mt
        code.
          .initial-icon.mb--line.bl--heavy.b--green-darken-1.p--16.pl--84.bg--green-lighten-2
            i.fa.fa-check-circle.green-darken-1.pr--4
            | Lorem ipsum dolor sit amet, adipiscing honestatis ius ut, nisl consulatu pro in. Imperdiet evertitur no usu, his te suavitate salutatus.

    p You can also take advantage of the fact that the initial icon is set in a square.

    .initial-icon
      span.bg--orange.b--circle.white 1
      | Lorem ipsum dolor sit amet, adipiscing honestatis ius ut, nisl consulatu pro in. Imperdiet evertitur no usu, his te suavitate salutatus.

    .initial-icon
      span.bg--orange.b--circle.white 2
      | Lorem ipsum dolor sit amet, adipiscing honestatis ius ut, nisl consulatu pro in. Imperdiet evertitur no usu, his te suavitate salutatus.

    .initial-icon
      span.bg--orange.b--circle.white 3
      | Lorem ipsum dolor sit amet, adipiscing honestatis ius ut, nisl consulatu pro in. Imperdiet evertitur no usu, his te suavitate salutatus.
