extends ../../docs-template-partials/_docs-article

block prepend article
  - var articleId = "basics-text-utilities"
  - var articleTitle = "Text Utilities"

block section

  p Codebase has several simple text utility classes. Most of these are demonstrated in appropriate places elsewhere on this Codebase Basics docs page. But here are a few more:

  p #[code .lighter] 
    span.lighter Lighter weight text (default 100)
    
  p #[code .bold] 
    span.bold Bold weight text (default 700)

  p #[code .bolder] 
    span.bolder Bolder weight text (default 900)

  p #[code .italics] 
    span.italics Italics text

  p #[code .normal]
    b 
      i Returns text to normal weight and removes italicization. #[span.normal Perhaps you may find this useful] in some circumstances.
      
  p #[code .caps] 
    span.caps All-capitals text

  p #[code .muted] 
    span.muted Muted text is semi-transparent (opacity: 0.5)
  
  p #[code .big]
    |  Big text for making #[span.big something] stand out.
  
  p #[code .small] 
    |  Small text for #[span.small small print].
  
  p The full list of Codebase text utility classes can be found at #[a(href="decoration-utilities.html#decoration-utilities-text") Decoration: Text].
