extends ../../docs-template-partials/_docs-article

block prepend article
  - var articleId = "basics-text-elements"
  - var articleTitle = "Text Elements"

block section
  .columns
    p
      i italics
      br
      em emphasis
      br
      b bold
      br
      strong strong
      br
      cite citation
      br
      del deleted text (strikethough)
      br
      dfn(title="title") definition
      br
      abbr(title="This stands for something") abbreviation
      br
      ins inserted text
      br
      kbd user input
      br
      samp sample output
      br
      mark marked (highlighted) text
      br
      small small
      br
      |  Superscript: e.g. E = mc#[sup 2]
      br
      |  Subscript: e.g. H#[sub 2]O
      br
      var variable or placeholder text
      br
      |  ndash &ndash;
      br
      |  mdash &mdash;
      br
      a(href="") hyperlink
      br
      code inline code

    address Address

    pre.
      Preformatted text

    pre
      code
        | // &lt;pre&gt;&lt;code&gt;
        | 
        | 10 print "Hello world";
        | 20 goto 10
        | 
        | Run
