extends ../../docs-template-partials/_docs-article

block prepend article
  - var articleId = "basics-text-columns"
  - var articleTitle = "Text Columns"

block section
  
  p The Codebase #[code .columns] utility class causes text to be displayed in a number of columns, depending on (a.) the viewport width; and (b.) the set value for the minimum column width variable, #[code $cb-text--columns-min-width].

  p Example:

  .columns
    +paragraph(4)
