extends ../../docs-template-partials/_docs-article

block prepend article
  - var articleId = "basics-text-alignment"
  - var articleTitle = "Text Alignment"

block section
  
  p #[code .left]

  p.left Lorem ipsum dolor sit amet, adipiscing honestatis ius ut, nisl consulatu pro in.

  p #[code .center]

  p.center Lorem ipsum dolor sit amet, adipiscing honestatis ius ut, nisl consulatu pro in.

  p #[code .right]

  p.right Lorem ipsum dolor sit amet, adipiscing honestatis ius ut, nisl consulatu pro in.
