//- Example Partials Index

include _menubar
include _biz-menubar-inner
include _nav-tabs-newspaper
include _big-hero
include _social
include _subscribe-form
include _blog-index-excerpts
include _blog-sidebar
include _big-footer
include _codebase-bottomline
