//- Big Footer

mixin big-footer
  .grid.grid--gutter
    .col.col-sm--span-3
      +menu('footer link', 5)
    .col.col-sm--span-3
      +menu('footer link', 5)
    .col.col-sm--span-3
      +menu('footer link', 5)
    .col.col-sm--span-3
      +image('holder.js/240x120')
    .col--span-12.pt--3u
      hr
      p.text--center.text--white.
        Copyright &copy; 2017 Some Name
