//- Example Big Footer

mixin big-footer
  .container
    .flexbox.flexbox--gap.example-big-footer
      .flex-item-md--span-3
        +menu("Footer link 1 -", 5)
      .flex-item-md--span-3
        +menu("Footer link 2 -", 5)
      .flex-item-md--span-3
        +menu("Footer link 3 -", 5)
      .flex-item-md--span-3
        +image-placeholder-light(240, 120)
        
        .mt--line
          +social

  .container.mt--line.p--16.center.example-big-footer
    Copyright &copy; 2091 #[a(href="/") Some Name]
