//- Example big hero

mixin big-hero
  style.
    .hero {
      min-height: 400px;
      height: 60vh;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .hero div {
      max-width: 853px;
      
    }

  .hero
    .example-wrap
      h1
        b Lorem ipsum dolor sit amet
      p.
        Lorem ipsum dolor sit amet, adipiscing honestatis ius ut, nisl consulatu pro in. Imperdiet evertitur no usu, his te suavitate salutatus. Nullam ridens deterruisset an duo.
      p
        a.btn.btn--success.btn--outline.btn--lg.btn--big-text Call to action <i class="fa fa-chevron-right"></i>
