mixin blog-sidebar

  +social

  .tabs.my--24.decorate

    .tab__label-wrap.tab__label-wrap--center
      .tab__label.b--thin.p--4(data-tab-id="tabs-blog-sidebar-1") Recent
      .tab__label.b--thin.p--4(data-tab-id="tabs-blog-sidebar-2") Comments
      .tab__label.b--thin.p--4(data-tab-id="tabs-blog-sidebar-3") Categories

    .tab__panel#tabs-blog-sidebar-1
      +menu("Recent post", 4, "menu--block")

    .tab__panel#tabs-blog-sidebar-2
      +menu("Recent comment", 5, "menu--block")

    .tab__panel#tabs-blog-sidebar-3
      +menu("Category", 3, "menu--block")

  +example-subs-form
