//- Example Navbar

mixin example-navbar
  // Extra styles for this example
  style.
    .showhide {
      text-align: right;
    }
    .brand a {
      display: inline-block;
      padding: 8px 12px;
      font-size: 1.5em;
    }
    .navbar a,
    .brand a {
      background: #414141;
      color: #ffffff
    }
    .navbar a:hover,
    .brand a:hover {
      color: #ffffff;
      background: #1D1D1D;
      text-decoration: none;
    }
    .navbar {
      text-align: left;
    }
    .holderjs {
      height: 120px;
      width: 100%;
      background-position: center;
      background-size: 180px auto
    }
    @media (max-width: 959px) {
      .brand {
        position: absolute;
        max-width: 250px;
        z-index: 50;
      }
      .brand a {
        padding: 12px;
      }
    }
    @media (min-width: 960px) {
      .holderjs {
        height: 240px
      }
    }

  .bg--gray-darken-2
    .grid
      .col.col-md--span-2.brand
        a(href="#/")
          | Brand
      .col.col-md--span-10
        .showhide.showhide--block.showhide--sm-down.showhide--is-resettable
          button.showhide__toggle.btn.btn--icon.btn--lt <i class="fa fa-bars"></i>
          .showhide__content
            .navbar
              ul.navbar--right
                li
                  a(href="#/") Home
                li.dropdown.dropdown--md-up
                  a.dropdown__toggle About <i class="fa fa-caret-down"></i>
                  ul.dropdown__content.dropdown__content--nowrap.menu
                    li
                      a(href="#/") Back Story
                    li
                      a(href="#/") Present Day
                    li
                      a(href="#/") Future Plans
                li
                  a(href="#/") Contact
