//- Example Menubar

mixin example-menubar

  .menu.menu--menubar-sm.deco
    .menu__brand
      a(href="#/")
        b Brand
    .menu__ctrl.menu__ctrl--right.fa.fa-bars
    .menu__content
      ul.menubar__right
        li #[a(href="#/") Home]
        li.dropdown.dropdown--right
          a.dropdown__ctrl(href="http://example.com") About us #[i.fa.fa-caret-down]
          ul.dropdown__content
            li #[a(href="#/") How it all started]
            li #[a(href="#/") The early years]
            li #[a(href="#/") The present day]
            li #[a(href="#/") Plans for the future]
        li #[a(href="#/") Visit us]
        li #[a(href="#/") Make contact]
