//- Example Nav Tabs Newspaper

mixin nav-tabs-newspaper
  .tabs.mb--line.bb--thin.deco
    .tab__label-wrap
      .tab__label(data-tab-id="world") World News
      .tab__label(data-tab-id="local") Local News
      .tab__label(data-tab-id="science") Science
      .tab__label(data-tab-id="health") Health
      .tab__label(data-tab-id="technology") Technology
      .tab__label(data-tab-id="sport") Sport

    #world.tab__card
      ul.menubar.deco
        li
          a(href="#/") World 1
        li
          a(href="#/") World 2
        li
          a(href="#/") World 3
        li
          a(href="#/") World 4
        li
          a(href="#/") World 5
    #local.tab__card
      ul.menubar.deco
        li
          a(href="#/") Local 1
        li
          a(href="#/") Local 2
        li
          a(href="#/") Local 3
        li
          a(href="#/") Local 4
        li
          a(href="#/") Local 5
    #science.tab__card
      ul.menubar.deco
        li
          a(href="#/") Science 1
        li
          a(href="#/") Science 2
        li
          a(href="#/") Science 3
        li
          a(href="#/") Science 4
        li
          a(href="#/") Science 5
    #health.tab__card
      ul.menubar.deco
        li
          a(href="#/") Health 1
        li
          a(href="#/") Health 2
        li
          a(href="#/") Health 3
        li
          a(href="#/") Health 4
        li
          a(href="#/") Health 5
    #technology.tab__card
      ul.menubar.deco
        li
          a(href="#/") Technology 1
        li
          a(href="#/") Technology 2
        li
          a(href="#/") Technology 3
        li
          a(href="#/") Technology 4
        li
          a(href="#/") Technology 5
    #sport.tab__card
      ul.menubar.deco
        li
          a(href="#/") Sport 1
        li
          a(href="#/") Sport 2
        li
          a(href="#/") Sport 3
        li
          a(href="#/") Sport 4
        li
          a(href="#/") Sport 5
