//- Example icon buttons for social media

mixin social
  style.
    .social a          {color:#fff;}
    a.btn--facebook    {background-color:#3b5998;}
    a.btn--twitter     {background-color:#00b6f1;}
    a.btn--linkedin    {background-color:#007bb6;}
    a.btn--google-plus {background-color:#df4a32;}
    a.btn--youtube     {background-color:#b31217;}
    a.btn--pinterest   {background-color:#cb2027;}
    a.btn--instagram   {background-color:#c32aa3;}
    a.btn--tumblr      {background-color:#2c4762;}

    a:hover.btn--facebook    {background-color:#263e60;}
    a:hover.btn--twitter     {background-color:#0099bc;}
    a:hover.btn--linkedin    {background-color:#005d82;}
    a:hover.btn--google-plus {background-color:#aa3327;}
    a:hover.btn--youtube     {background-color:#7f0e17;}
    a:hover.btn--pinterest   {background-color:#961a23;}
    a:hover.btn--instagram   {background-color:#8e2079;}
    a:hover.btn--tumblr      {background-color:#15222d;}

  .social 
    a.btn.btn--facebook.btn--icon.big(href="#/")
      i.fab.fa-facebook-f
    = " "
    a.btn.btn--twitter.btn--icon.big(href="#/")
      i.fab.fa-twitter
    = " "
    a.btn.btn--linkedin.btn--icon.big(href="#/")
      i.fab.fa-linkedin-in
    = " "
    a.btn.btn--youtube.btn--icon.big(href="#/")
      i.fab.fa-youtube
    = " "
    a.btn.btn--instagram.btn--icon.big(href="#/")
      i.fab.fa-instagram

