//- Email newsletter subscription form

mixin example-subs-form
  form.example-subs-form(action="")
    h4 Join our mailing list

    <input class="mb--4" id="text-example" name="examplename" placeholder="Your name" type="text">

    <input class="mb--4" id="email-example" name="examplename" placeholder="Your email" type="email">

    <input class="btn btn--primary" value="Subscribe" type="submit">
