.b--thin.b--dashed.b--green.p--16
    p Everything you see here, including the green dashed border and the text you are now reading, is in #[code load-partial-example/example2.html].

    .flexbox.flexbox--gap

        .flex-item--span-3

            h4 Menu
            ul.menu
                li #[a(href="#/") Sidebar link one]
                li #[a(href="#/") Sidebar link two]
                li #[a(href="#/") Sidebar link three]
                li #[a(href="#/") Sidebar link four]
                li #[a(href="#/") Sidebar link five]

        .flex-item-md--span-3
            .card.card--vertical.decorate
                div.card__image.py--48.bg--blue-lighten-3(style="width: 100%") &nbsp;
                .card__body
                    h4 Card Title
                    p.mb--8 Lorem ipsum dolor sit amet, adipiscing honestatis ius ut, nisl consulatu pro in.
                    p.mb--12 #[a(href="#/") More&hellip;]
        
        .flex-item-md--span-3
            .card.card--vertical.decorate
                div.card__image.py--48.bg--green-lighten-3(style="width: 100%") &nbsp;
                .card__body
                    h4 Card Title
                    p.mb--8 Lorem ipsum dolor sit amet, adipiscing honestatis ius ut, nisl consulatu pro in.
                    p.mb--12 #[a(href="#/") More&hellip;]
        
        .flex-item-md--span-3
            .card.card--vertical.decorate
                div.card__image.py--48.bg--red-lighten-3(style="width: 100%") &nbsp;
                .card__body
                    h4 Card Title
                    p.mb--8 Lorem ipsum dolor sit amet, adipiscing honestatis ius ut, nisl consulatu pro in.
                    p.mb--12 #[a(href="#/") More&hellip;]