// DEFAULT STYLES: BASE
// ====================

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  -webkit-overflow-scrolling: touch;
}

iframe {
  border: 0
}
