//- Components Tab Systems

.menu-marker-section(id="components-tab-systems")

  h2.docs-section Tab Systems

  p.
    The Cosebase tab system comes in three types (<b>top</b>, <b>side</b> and <b>accordion</b>). Their HTML is the same; only a modifier class on the containing DIV needs to be altered to swap from one tab type to another.

  h3 Top Tabs

  .tabs.tabs--top
    .tabs__label(data-tabs='tabs-docs1') Tab Label 1
    #tabs-docs1.tabs__card
      .tabs__card-content
        p Tab Content 1
        |  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .tabs__label(data-tabs='tabs-docs2') Tab Label 2
    #tabs-docs2.tabs__card
      .tabs__card-content
        p Tab Content 2
        |  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .tabs__label(data-tabs='tabs-docs3') Tab Label 3
    #tabs-docs3.tabs__card
      .tabs__card-content
        p Tab Content 3
        |  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    .tabs__label(data-tabs='tabs-docs4') Tab Label 4
    #tabs-docs4.tabs__card
      .tabs__card-content
        p Tab Content 4
        |  Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

  p.
    Within Codebase tab systems, each tab label and their respective tab card can be placed next to each other, in pairs.

  p.
    A tab label's <code>data-tabs=""</code> refers to its respective card's <code>id=""</code>.

  pre
    code.
      &lt;div class="tabs tabs--top"&gt;

        &lt;div class="tabs__label" data-tabs="tabs-example-1"&gt;Tab Label 1&lt;/div&gt;
          &lt;div id="tabs-example-1" class="tabs__card"&gt;
          &lt;div class="tabs__card-content"&gt;
            &lt;p&gt;Tab Content 1&lt;/p&gt;
          &lt;/div&gt;
        &lt;/div&gt;

        &lt;div class="tabs__label" data-tabs="tabs-example-2"&gt;Tab Label 2&lt;/div&gt;
          &lt;div id="tabs-example-2" class="tabs__card"&gt;
          &lt;div class="tabs__card-content"&gt;
            &lt;p&gt;Tab Content 2&lt;/p&gt;
          &lt;/div&gt;
        &lt;/div&gt;

        &lt;!-- Other tabs ... --&gt;

      &lt;/div&gt;

  h3#components-tab-systems-menubar Tabbed menubar

  p.
    Add the modifier class <code>tabs__card-content--menubar</code> to remove each <code>tabs__card-content</code> padding.

  .tabs.tabs--top
    .tabs__label(data-tabs='world') World News
    #world.tabs__card
      .tabs__card-content.tabs__card-content--menubar
        ul.menubar.menu--block
          li
            a(href='#/') World 1
          li
            a(href='#/') World 2
          li
            a(href='#/') World 3
          li
            a(href='#/') World 4
          li
            a(href='#/') World 5
    .tabs__label(data-tabs='local') Local News
    #local.tabs__card
      .tabs__card-content.tabs__card-content--menubar
        ul.menubar.menu--block
          li
            a(href='#/') Local 1
          li
            a(href='#/') Local 2
          li
            a(href='#/') Local 3
          li
            a(href='#/') Local 4
          li
            a(href='#/') Local 5
    .tabs__label(data-tabs='science') Science
    #science.tabs__card
      .tabs__card-content.tabs__card-content--menubar
        ul.menubar.menu--block
          li
            a(href='#/') Science 1
          li
            a(href='#/') Science 2
          li
            a(href='#/') Science 3
          li
            a(href='#/') Science 4
          li
            a(href='#/') Science 5
    .tabs__label(data-tabs='health') Health
    #health.tabs__card
      .tabs__card-content.tabs__card-content--menubar
        ul.menubar.menu--block
          li
            a(href='#/') Health 1
          li
            a(href='#/') Health 2
          li
            a(href='#/') Health 3
          li
            a(href='#/') Health 4
          li
            a(href='#/') Health 5
    .tabs__label(data-tabs='technology') Technology
    #technology.tabs__card
      .tabs__card-content.tabs__card-content--menubar
        ul.menubar.menu--block
          li
            a(href='#/') Technology 1
          li
            a(href='#/') Technology 2
          li
            a(href='#/') Technology 3
          li
            a(href='#/') Technology 4
          li
            a(href='#/') Technology 5
    .tabs__label(data-tabs='sport') Sport
    #sport.tabs__card
      .tabs__card-content.tabs__card-content--menubar
        ul.menubar.menu--block
          li
            a(href='#/') Sport 1
          li
            a(href='#/') Sport 2
          li
            a(href='#/') Sport 3
          li
            a(href='#/') Sport 4
          li
            a(href='#/') Sport 5

  h3 Tabs system appearance

  p  Simply swap the tabs modifier class to alter the appearance of the tab system:

  pre
    code.
      &lt;div class="tabs tabs--top"&gt; ... &lt;/div&gt;

      &lt;div class="tabs tabs--left"&gt; ... &lt;/div&gt;

      &lt;div class="tabs tabs--accordion"&gt; ... &lt;/div&gt;

  h3 Left Side Tabs
  .tabs.tabs--left
    .tabs__label(data-tabs='tabs-docs5') Tab Label 5
    #tabs-docs5.tabs__card
      .tabs__card-content
        p Tab Content 5
        |  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .tabs__label(data-tabs='tabs-docs6') Tab Label 6
    #tabs-docs6.tabs__card
      .tabs__card-content
        p Tab Content 6
        |  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .tabs__label(data-tabs='tabs-docs7') Tab Label 7
    #tabs-docs7.tabs__card
      .tabs__card-content
        p Tab Content 7
        |  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    .tabs__label(data-tabs='tabs-docs8') Tab Label 8
    #tabs-docs8.tabs__card
      .tabs__card-content
        p Tab Content 8
        |  Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  h3 Accordion Tabs
  .tabs.tabs--accordion
    .tabs__label(data-tabs='tabs-docs9') Tab Label 9
    #tabs-docs9.tabs__card
      .tabs__card-content
        p Tab Content 9
        |  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .tabs__label(data-tabs='tabs-docs10') Tab Label 10
    #tabs-docs10.tabs__card
      .tabs__card-content
        p Tab Content 10
        |  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .tabs__label(data-tabs='tabs-docs11') Tab Label 11
    #tabs-docs11.tabs__card
      .tabs__card-content
        p Tab Content 11
        |  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    .tabs__label(data-tabs='tabs-docs12') Tab Label 12
    #tabs-docs12.tabs__card
      .tabs__card-content
        p Tab Content 12
        |  Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
