//- Components Popovers

.menu-marker-section(id="components-popovers")

  h2.docs-section Popovers
  p.
    A codebase popover is what is sometimes known as a <b>modal</b> in othe frameworks, or as a <b>lightbox</b> (if the main content is an image and the 'background' is darkened). These are essentially all the same things, so 'popover' has been chosen as the most generic name.

  .initial-icon.bl--4px-solid.b--teal-darken-1.p--3u.bg--teal-lighten-2
    i.fa.fa-info-circle.text--teal-darken-1
    | If you need your popovers, lightboxes and modals to diverge and be styled differently, add your own supplemental class(es) and apply your styles to these (e.g. <code>.popover--lightbox</code>).

  br

  p Example: The simplest <code>.popover--narrow</code> popover, with no header or footer:

  +popover-example-1

  pre
    code.
      &lt;div class="popover popover--narrow " id="popover-example-1"&gt;
        &lt;p&gt;Lorem ipsum dolor sit amet usu in odio gubergren conclusionemque.&lt;/p&gt;
        &lt;a class="popover__close float--right"&gt;
          Close
        &lt;/a&gt;
      &lt;/div&gt;

      &lt;button class="btn popover__open" data-popover="popover-example-1"&gt;Popover example 1&lt;/button&gt;

  p.
    All popovers in Codebase slide in from the top and appear flush with the top of the window (but you can move them in by adding a margin to the <code>.popover</code> block). The reset-overlay is raised and darkened, and the popover pops over in front of the overlay. Popovers can be dismissed by clicking their <code>.popover__close</code> 'link' (or button or icon), or by clicking the darkened reset-overlay.

  table.table
    thead
      tr
        th  Class
        th  Explanation
    tbody
      tr
        td  .popover
        td
          | Container. (A unique ID is also required, of your choice &ndash; see data-popover=&quot;{ID}&quot; below.)
      td(colspan='2')
        | By default the popover width is unconstrained &ndash; so the width becomes whatever the content needs.
      tr
        td  .popover--narrow
        td  Narrow constrained layout (optional)
      tr
        td  .popover--cover
        td  Full-page cover layout (optional)
      tr
        td
          | .popover__open
          br
          |  data-popover=&quot;{ID}&quot;
        td  Opening control (e.g. button)
      tr
        td(colspan='2')  {ID} = the ID of the popover to be opened
      tr
        td  .popover__close
        td  Onboard close control
      tr
        td(colspan='2')
          | Another close control is already built into the darkened reset-overlay, for &quot;click outside to dismiss&quot;.
  h3 Popover Incorporating a Media Object

  p.
    Codebase popovers come with (almost) no styling of their own &ndash; so you can do whatever you like with them. If you require a block header, body and footer then you can easily integrate a Codebase media object.

  p  Example 2: popover containing a media object (and some extra styling).

  #popover-2.popover.popover--narrow.mt--4u.mr--2u.ml--2u.bs-2u
    .media.b--radius.bg--white
      .media__header.p--2u.bg--blue
        span.popover__close.float--right
          i.fa.fa-times
        h4.text--white Popover header
      .media__body.p--block
        h3.mt--2u Popover body content
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .media__footer.bt-1px-solid.p--2u  Popover footer

  p
    button.btn.popover__open(data-popover='popover-2') Example 2: media object, with header and footer

  pre
    code.
      &lt;div id="popover-2" class="popover"&gt;
        &lt;div class="media"&gt;

          &lt;div class="media__header"&gt;
            &lt;a class="popover__close float--right"&gt; x &lt;/a&gt;
            Header content
          &lt;/div&gt;
          &lt;div class="media__body"&gt;
            Body content
          &lt;/div&gt;
          &lt;div class="media__footer"&gt;
            Footer content
          &lt;/div&gt;

        &lt;/div&gt;&lt;!-- /.media --&gt;
      &lt;/div&gt;&lt;!-- /.popover --&gt;

      &lt;button class="btn popover__open" data-popover="popover-2"&gt;Show popover 3&lt;/button&gt;

  h3 Responsive popover

  p.
    If you don't use any layout constraint classes, then you get a "shrink wrap" popover &ndash; the popover will take the with of its content (plus paddings). Extra-wide images and extra-tall images are scaled down so that the entire image always fits in the browser window, and allows room for a small amount of text (for a title, caption or explanation). This gives you the typical "lightbox" functionality.

  #popover-3.popover.mt--4u.bs-2u
    .media.bg--white
      .media__body.p--2u
        img(src='holder.js/500x1000')
      .media__footer.p--2u
        b Image Title
        a.popover__close.float--right Close
  p
    button.btn.popover__open(data-popover='popover-3') Example 3: tall narrow image

  #popover-4.popover.mt--4u.mr--2u.ml--2u.bs-2u
    .media.bg--white
      .media__body.p--2u
        img(src='holder.js/1500x400')
      .media__footer.p--2u
        b Image Title
        a.popover__close.float--right Close
  p
    button.btn.popover__open(data-popover='popover-4') Example 4: short wide image

  #popover-5.popover.mt--4u.mr--2u.ml--2u.bs-2u
    .media.bg--white
      .media__body.p--2u
        img(src='holder.js/3000x1500')
      .media__footer.p--2u
        b Image Title
        a.popover__close.float--right Close

  p
    button.btn.popover__open(data-popover='popover-5') Example 5: tall wide image

  h3  Incorporating a grid system

  p.
    Simply don't use any constraint classes, so that the popover takes its width from its content &ndash; in this case, a grid system.

  #popover-6.popover.mt--4u.mr--2u.ml--2u.bs-2u
    .media.m--gutter.b--radius.bs.bg--white
      .media__header.bb-1px-solid.p--2u
        span.popover__close.float--right
          i.fa.fa-times
        h4 Header
      .media__body.p--2u
        section.grid.grid--gutter
          .col.col-sm--span-6
            img(src='holder.js/800x600', alt='')
          .col.col-sm--span-6
            h2 Image Title
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            p
              button.btn.btn--primary Activate
              button.btn.btn--secondary Delete
      .media__footer.bt-1px-solid.p--2u
        button.btn.btn--secondary.popover__close.float--right Cancel

  p
    button.btn.popover__open(data-popover='popover-6') Example 6: grid system

  h3  Extra-tall content

  p.
    Extra-tall popovers don't protrude off the screen, but allow their content to scroll. (However, if an image is extra-tall, it is scaled down so that its height fits in your popover/ popover/ popover).

  #popover-7.popover.popover--narrow.mt--4u.mr--2u.ml--2u.bs-2u
    .media.b--radius.bg--white
      .media__header.media__header--fixed.bb-1px-solid.p--2u
        span.popover__close.float--right
          i.fa.fa-times
        h4 Header
      .media__body.p--block
        +paragraph(4)
        +paragraph(4)
      .media__footer.bt-1px-solid.p--2u
        | Footer
        button.btn.btn--secondary.popover__close.float--right Close
  p
    button.btn.popover__open(data-popover='popover-7') Example 7: narrow, with a lot of content

  h3  Full cover popover

  p.
    If you require a popover to cover the entire window, add <code>.popover--cover</code> . For example, use this for a navigation system or sitemap. (Of course, full-cover popovers can contain a grid, so there is no need to add <code>.popover--contains-grid</code> .)

  #popover-8.popover.popover--cover
    .media.bg--white
      a.popover__close.float--right.p--3u
        | Close
        i.fa.fa-times
      .media__body.p--4u
        section.grid.grid--gutter
          .col
            h2 Sitemap
            hr
        section.grid.grid--gutter
          .col.col-sm--span-4
            h4 Department 1
            ul.menu.mb--3u
              li.menu__item
                a.menu__link(href='#/') Link
              li.menu__item
                a.menu__link(href='#/') Link
              li.menu__item
                a.menu__link(href='#/') Link
                ul.menu
                  li.menu__item
                    a.menu__link(href='#/') Link
                  li.menu__item
                    a.menu__link(href='#/') Link
                  li.menu__item
                    a.menu__link(href='#/') Link
              li.menu__item
                a.menu__link(href='#/') Link
              li.menu__item
                a.menu__link(href='#/') Link
          .col.col-sm--span-4
            h4 Department 2
            ul.menu.mb--3u
              li.menu__item
                a.menu__link(href='#/') Link
              li.menu__item
                a.menu__link(href='#/') Link
              li.menu__item
                a.menu__link(href='#/') Link
                ul.menu
                  li.menu__item
                    a.menu__link(href='#/') Link
                  li.menu__item
                    a.menu__link(href='#/') Link
                  li.menu__item
                    a.menu__link(href='#/') Link
              li.menu__item
                a.menu__link(href='#/') Link
              li.menu__item
                a.menu__link(href='#/') Link
          .col.col-sm--span-4
            h4 Department 3
            ul.menu.mb--3u
              li.menu__item
                a.menu__link(href='#/') Link
              li.menu__item
                a.menu__link(href='#/') Link
              li.menu__item
                a.menu__link(href='#/') Link
                ul.menu
                  li.menu__item
                    a.menu__link(href='#/') Link
                  li.menu__item
                    a.menu__link(href='#/') Link
                  li.menu__item
                    a.menu__link(href='#/') Link
              li.menu__item
                a.menu__link(href='#/') Link
              li.menu__item
                a.menu__link(href='#/') Link
        section.grid.grid--gutter
          .col.col-sm--span-4
            h4 Department 4
            ul.menu.mb--3u
              li.menu__item
                a.menu__link(href='#/') Link
              li.menu__item
                a.menu__link(href='#/') Link
              li.menu__item
                a.menu__link(href='#/') Link
                ul.menu
                  li.menu__item
                    a.menu__link(href='#/') Link
                  li.menu__item
                    a.menu__link(href='#/') Link
                  li.menu__item
                    a.menu__link(href='#/') Link
              li.menu__item
                a.menu__link(href='#/') Link
              li.menu__item
                a.menu__link(href='#/') Link
          .col.col-sm--span-4
            h4 Department 5
            ul.menu.mb--3u
              li.menu__item
                a.menu__link(href='#/') Link
              li.menu__item
                a.menu__link(href='#/') Link
              li.menu__item
                a.menu__link(href='#/') Link
                ul.menu
                  li.menu__item
                    a.menu__link(href='#/') Link
                  li.menu__item
                    a.menu__link(href='#/') Link
                  li.menu__item
                    a.menu__link(href='#/') Link
              li.menu__item
                a.menu__link(href='#/') Link
              li.menu__item
                a.menu__link(href='#/') Link
          .col.col-sm--span-4
            h4 Department 6
            ul.menu.mb--3u
              li.menu__item
                a.menu__link(href='#/') Link
              li.menu__item
                a.menu__link(href='#/') Link
              li.menu__item
                a.menu__link(href='#/') Link
                ul.menu
                  li.menu__item
                    a.menu__link(href='#/') Link
                  li.menu__item
                    a.menu__link(href='#/') Link
                  li.menu__item
                    a.menu__link(href='#/') Link
              li.menu__item
                a.menu__link(href='#/') Link
              li.menu__item
                a.menu__link(href='#/') Link
      .media__footer.bt-1px-solid.p--2u
        | Footer
        a.popover__close.float--right(href='#')
          | Close
          i.fa.fa-times
  p
    button.btn.popover__open(data-popover='popover-8') Example 8: full cover
  .initial-icon.mt--4u.bl--4px-solid.b--teal-darken-1.p--3u.bg--teal-lighten-2
    i.fa.fa-info-circle.text--teal-darken-1
    |  Some browsers (particularly iOS Safari)
    i correctly
    |  restrict the z-index of
    code position:absolute
    |  elements
    b if they are contained within
    code position:relative
    b elements
    | . So although popovers are intended to pop over in front of the darkened reset-overlay (i.e. popovers have a higher z-index), it cannot do so on these browsers. Thus if you are using
    code position:relative
    |  to control your page payout you may find it necessary to place your popovers, etc.
    i later
    |  in the DOM, outside of all other elements. (The Codebase layout grid systems do not use
    code position:relative
    | .)
