//- Components Slideshows

.menu-marker-section(id="components-slideshows")

  h2.docs-section Slideshows

  p.
    An easy-setup, lightweight, responsive slideshow. Capable of handling images or text, the Codebase slideshow component is suitable for displaying simple slideshow presentations, step-by-step tutorials, etc.

  p  Example:

  +slideshow

  pre
    code.
      &lt;div class="slideshow slideshow--looping"&gt;

        &lt;div class="slideshow__item"&gt;
          &lt;img src="slide-1.png"&gt;
          &lt;h4&gt;Title for Slide 1&lt;/h4&gt;
          &lt;p&gt;Plus some descriptive text.&lt;/p&gt;
        &lt;/div&gt;

        &lt;div class="slideshow__item"&gt;
          &lt;img src="slide-2.png"&gt;
          &lt;h4&gt;Title for Slide 2&lt;/h4&gt;
          &lt;p&gt;Plus some descriptive text.&lt;/p&gt;
        &lt;/div&gt;

        &lt;div class="slideshow__item"&gt;
          &lt;img src="slide-3.png"&gt;
          &lt;h4&gt;Title for Slide 3&lt;/h4&gt;
          &lt;p&gt;Plus some descriptive text.&lt;/p&gt;
        &lt;/div&gt;

      &lt;/div&gt;

  p  Notes:

  ol
    li.
      The simple setup consists of two outer block elements <code>.slideshow</code> and <code>.slideshow__inner</code>. The inner block serves as the 'slider trolley'&apos;' containing all the <code>.slideshow__item</code> blocks.
    li.
      The Codebase slideshow adds its own prev/next arrows and pager dots. It calculates the number of dots by counting your slides, i.e. counting your
      <code>.slideshow__item</code> blocks.
    li.
      If you require your slideshow to have looping behavior, add class
      <code>.slideshow--looping</code> to the wrapper. Looping works both forwards and backwards. Hitting the forward arrow on the last slide will send the slideshow to the first slide. Hitting the back arrow on the first slide will send the slideshow to the last slide.
    li.
      The Slideshow will remain the height of your tallest slide plus the pager height. (The height does not auto-adjust while changing between slides of different heights).
    li.
      <b>Note:</b> only one instance of the Codebase slidershow component can be used per webpage.
    li.
      <b>Note:</b> The Codebase slideshow component is not capable of auto-run.

  p.
    If you are need a slideshow with more capabilities, I recommend
    <a href='http://kenwheeler.github.io/slick/', target='_blank' rel='noopener noreferrer'>Slick</a> by Ken Wheeler.
