//- Components Menu Marker

.menu-marker-section(id="components-menu-marker")

  h2.docs-section Menu Marker

  p.
    If you have a menu (or menubar) that has links to several sections on your page (as in these docs, for example), you need to add the class <code>.menu-marker</code> to your menu wrapper, and then set up your page content as follows:

  pre
    code.
      &lt;div class="menu-marker-wrap"&gt;

        &lt;div class="menu-marker-section" id="your-section-id-1&gt;...&lt;/div&gt;

        &lt;div class="menu-marker-section" id="your-section-id-2&gt;...&lt;/div&gt;

        &lt;div class="menu-marker-section" id="your-section-id-3&gt;...&lt;/div&gt;

      &lt;/div&gt;
