//- Components Pagination

.menu-marker-section(id="components-pagination")

  h2.docs-section Pagination

  +pagination

  pre
    code.
      &lt;ul class="pagination"&gt;
        &lt;li&gt;&lt;a href="#/"&gt;&lt;i class="fa fa-arrow-left"&gt;&lt;/i&gt; Newer&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="#/"&gt;1&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a class="pagination__current" href="#/"&gt;2&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="#/"&gt;3&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="#/"&gt;4&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="#/"&gt;5&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="#/"&gt;Older &lt;i class="fa fa-arrow-right"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
      &lt;/ul&gt;
