//- Codebase
extends ../codebase/pug/_codebase

block head-addins
  script(src='https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.1/holder.min.js')

  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')

  //- Codebase CSS is not linked because it is imported into `styles.css`
  //- link(rel='stylesheet', href='codebase/css/codebase.css')

  link(rel='stylesheet', href='docs/theme/css/styles.css')

block body
  .body__inner
    include docs-template-partials/_docs-navbar

    .docs__main

      block template__sidebar

      .docs__content.menu-marker-wrap
        header.docs__header.menu-marker-section(id=topID)
          block template__header
            h1 *Template*

        .docs__body
          block template__body
            p *Whatever...*

        include docs-template-partials/_docs-footer

      block template__sub-menus

//- block body-foot-addins
