// EXAMPLE THEME GRID
// ==================
@mixin grid-demo {
  background: #fff;
  > * {
    background: #ddd;
    box-shadow: inset 0 0 1px #888;
  }
}
.grid-demo {
  @include grid-demo;
}

// Mixers Grid Demo
// ----------------
.grid-mixers-wrapper {
  @include grid;
  @include grid-gutter;
  @include grid-demo;
}
.grid-mixers-article {
  @include column;
  @include breakpoint-medium-up {
    @include column-span(8);
  }
  @include breakpoint-large-up {
    @include column-push(4);
  }
}
.grid-mixers-aside {
  @include column;
  @include breakpoint-medium-up {
    @include column-span(4);
  }
  @include breakpoint-large-up {
    @include column-pull(8);
  }
}
.grid-mixers-nested {
  @include grid;
  @include grid-gutter;
  @include grid-nested;
  @include grid-demo;
  > div {
    @include column;
    @include breakpoint-small-up {
      @include column-span(4);
    }
  }
}
.grid-mixers-centered {
  @include column;
  @include breakpoint-small-up {
    @include column-centered(7);
  }
}

// Flexbox Grid Demo
// -----------------
.grid-flexbox-wrapper {
  @include grid-no-flex;
  @include grid-gutter;
  @include grid-demo;
  @include breakpoint-medium-up {
    @include grid-flex;
  }
}
.grid-flexbox-article {
  @include column-flex;
  @include breakpoint-medium-up {
    @include column-flex-span(8);
  }
  @include breakpoint-large-up {
    @include column-flex-push(1);
  }
}
.grid-flexbox-aside {
  @include column-flex;
  @include breakpoint-medium-up {
    @include column-flex-span(4);
  }
  @include breakpoint-large-up {
    @include column-flex-pull(1);
  }
}
.grid-flexbox-nested {
  @include grid-no-flex;
  @include grid-gutter;
  @include grid-nested;
  @include grid-demo;
  @include breakpoint-small-up {
    @include grid-flex;
    @include grid-nested;
    > div {
      @include column-flex;
      @include column-flex-span(4);
    }
  }
}
.grid-flexbox-centered {
  @include column-flex;
  @include breakpoint-small-up {
    @include column-flex-centered(7);
  }
}
