// BOX OBJECT - EXAMPLE THEME STYLES
// =================================
.box {
  background: #fff;
  .box-header {
    border-bottom: 1px solid #eee;
    padding: 5px 15px;
  }
  .box-footer {
    border-top: 1px solid #eee;
    padding: 5px 15px;
  }
  .box-media {
    margin: 15px;
  }
  .box-content {
    padding: 15px;
  }
  .box-title {
    margin-top: 0;
    padding-top: 0;
  }
}
