// CLASS-BUILDER: RESET OVERLAY
// ============================

.reset-overlay {
  @include reset-overlay;
  &--is-raised {
    @include reset-overlay--is-raised;
  }
  &--is-raised-higher {
    @include reset-overlay--is-raised-higher;
  }
  &--darken {
    @include reset-overlay--darken;
  }
}


// The code below immobilizes body scrolling when the reset-overlay is raised

html, body {
    height: 100% !important;
}

.body-inner-wrap {
  height: 100%;
  overflow: auto;
}