extends ../../docs-template-partials/_docs-article

block prepend article
  - var articleId = "components-introduction"
  - var articleTitle = "Introduction"

block section
  
  p.lead Codebase components are common HTML/CSS patterns. Some have added functionality from a tiny JavaScript.

  h3 Component Mixins and Class Builders

  p Almost everything in Codebase, including all components, has been created first as a set of SCSS mixins. These are then combined and included in their respective #[b class builder] mixins. And these class builders are under the control of a set of true #[code !default] variables in #[a(href="codebase/scss/00_default-variables/_default-variables.scss")  codebase/scss/00_default-variables/_default-variables.scss].

  p This means Sass (SCSS) users can:

  ol.brackets
    li Toggle component classes for inclusion (true) or exclusion (false) in your advanced theme build by overriding these defaults.

    li Include and combine and re-style (decorate) codebase components in your own theme SCSS.
    
    li Combine various Sass/SCSS frameworks with #[i similarly named CSS classes] while avoiding clashes: toggle off Codebase CSS class names and create new (e.g. prefixed) classnames for Codebase mixins.
