extends ../../docs-template-partials/_docs-article

block prepend article
  - var articleId = "components-dropdowns"
  - var articleTitle = "Dropdowns"

block section
  p Dropdowns are Codebase #[a(href="#components-activator") Activator] components.
  
  p Besides clicking the button again to dismiss the dropdown, you can click #[i anywhere outside] the dropdown content to dismiss it.
  
  .bg--green-lighten-3.mb--line.p--16 #[b Note:] Codebase dropdowns automatically include their own  triangular carets. So, you do not need to add a caret using the caret classes.
    
  .flexbox
    .flex-item.mr--8
      .dropdown.decorate
        button.btn.dropdown__ctrl Dropdown
        .dropdown__content.nowrap Dropdown content

    .flex-item
      .dropup.decorate
        button.btn.dropup__ctrl Dropup
        .dropup__content.nowrap Dropup content

  .tabs.decorate.mt--24
    .tab__label-wrap--right
      .tab__label(data-tab-id="tab-docs-dropdown-html") HTML
      .tab__label(data-tab-id="tab-docs-dropdown-pug") Pug

    #tab-docs-dropdown-html.tab__panel
      pre
        code.
          &lt;div class="dropdown"&gt;
            &lt;button class="dropdown__ctrl btn btn--sm"&gt;Dropdown&lt;/button&gt;
            &lt;div class="dropdown__content"&gt;Dropdown content&lt;/div&gt;
          &lt;/div&gt;

          &lt;div class="dropup"&gt;
            &lt;div class="dropup__content"&gt;Dropup content&lt;/div&gt;
            &lt;button class="dropup__ctrl btn btn--sm"&gt;Dropup&lt;/button&gt;
          &lt;/div&gt;

    #tab-docs-dropdown-pug.tab__panel
      pre.mt
        code.
          .dropdown
            button.btn.dropdown__ctrl Dropdown
            .dropdown__content Dropdown content

          .dropup
            button.btn.dropup__ctrl Dropup
            .dropup__content Dropup content

  .bg--green-lighten-3.mb--line.p--16 For "dropup", you need to use the #[code .dropup] classes throughout &ndash; and you need to reverse the order of the controller and content elements.
  
  h3 Alignment of Dropdown Content

  p With a modifier class on the #[code .dropdown__content] or #[code .dropup__content], the dropdown content can be aligned flush-left, above or flush-right (relative to the dropdown control).

  .flexbox.flexbox--gap.flexbox--nested.mt--line
    .flex-item-md--span-6
      pre
        code.
          .dropdown__content.dropdown__content--left
      
      .mt--12.dropdown.decorate
        button.btn.dropdown__ctrl
          | Left
        .dropdown__content.dropdown__content--left
          | Dropdown content left

    .flex-item-md--span-6.right
      pre
        code.
          .dropdown__content.dropdown__content--right

      .mt--12.dropdown.dropdown--right.decorate
        button.btn.dropdown__ctrl
          | Right
        .dropdown__content.dropdown__content--right
          | Dropdown content right

  .flexbox.flexbox--gap.flexbox--nested.mt--line
    .flex-item-md--span-6
      pre
        code .dropup__content.dropup__content--left

      .mt--12.dropup.decorate
        button.btn.dropup__ctrl
          | Above
        .dropup__content.dropup__content--left
          | Dropup content left

    .flex-item-md--span-6.right
      pre
        code.
          .dropup__content.dropup__content--right

      .mt--12.dropup.decorate
        button.btn.dropup__ctrl
          | Above
        .dropup__content.dropup__content--right
          | Dropup content right

  h3.mt--line Combo Button Dropdowns

  p.mt--line Buttons can be used in combinations of two or more buttons. See #[a(href="basics.html#basics-combos") Basics: Combos] for more information.

  .flexbox
    .flex-item.mr--8
      .dropdown.decorate
        button.btn.combo--left Dropdown combo
        button.btn.btn--icon.dropdown__ctrl.combo--right
        .dropdown__content Dropdown content
    .flex-item
      .dropup.decorate
        button.btn.combo--left Dropup combo
        button.btn.btn--icon.dropup__ctrl.combo--right
        .dropup__content Dropup content

  h3.mt--line Dropdown Classes

  table.table.table--rows.table--columns
    thead
      tr
        th Class
        th Notes
        th Modifiers
    tbody
      tr
        td #[code .dropdown] or #[code .dropup]
        td The dropdown (or dropup) component block
        td
      tr
        td #[code .dropdown__ctrl] or #[code .dropup__ctrl]
        td The controller element
        td
      tr
        td #[code .dropdown__content] or #[code .dropup__content]
        td The content element
        td #[code .dropdown__content--left], #[code .dropdown__content--right], or #[code .dropup__content--left], #[code .dropup__content--right] 
