extends ../../docs-template-partials/_docs-article

block prepend article
  - var articleId = "components-menubars-simple"
  - var articleTitle = "Menubars: Simple"

block section
  
  p Simple menubars are start from the same mixins for vertical #[a(href="#components-menu") menus]. But then they horizontally align menu items by flexblox and add several layout options.
  
  .mt--line.b--heavy.b--rounded.b--gray-lighten-2.p--16
    
    p.muted Undecorated

    +menubar("Link", 5)
    
    p.pt--line.muted Decorated with #[code .decorate]
      
    +menubar("Link", 5, "decorate")

  .tabs.decorate.mt--24
    .tab__label-wrap--right
      .tab__label(data-tab-id="tab-docs-menubar-html") HTML
      .tab__label(data-tab-id="tab-docs-menubar-pug") Pug

    #tab-docs-menubar-html.tab__panel
      pre.mt
        code.
          &lt;ul class="menubar"&gt;
            &lt;li&gt;&lt;a href="#/"&gt;Link 1&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href="#/"&gt;Link 2&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href="#/"&gt;Link 3&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href="#/"&gt;Link 4&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href="#/"&gt;Link 5&lt;/a&gt;&lt;/li&gt;
          &lt;/ul&gt;

    #tab-docs-menubar-pug.tab__panel
      pre.mt
        code.
          ul.menubar
            li \#[a(href="#/") Link 1]
            li \#[a(href="#/") Link 2]
            li \#[a(href="#/") Link 3]
            li \#[a(href="#/") Link 4]
            li \#[a(href="#/") Link 5]

          //- Or use the Codebase menu HTML generator mixin for rapid prototyping:
          
          +menubar("Link", 5)
          
      p See #[a(href="getting-started.html#getting-started-codebase-html-generator-mixins") Getting Started: HTML Generator Mixins]

  h3 Menubar position

  p (These examples below all are decorated with #[code .decorate].)
  
  p #[code .menubar.menubar--left]

  +menubar("Link", 5, "menubar--left decorate")

  br
  br

  p #[code .menubar.menubar--right]

  +menubar("Link", 5, "menubar--right decorate")

  br
  br

  p #[code .menubar.menubar--center]

  +menubar("Link", 5, "menubar--center decorate")

  br
  br

  p #[code .menubar.menubar--jusify]

  +menubar("Link", 5, "menubar--justify decorate")
  
  h3.mt--line Fixed Menubar
  
  p If you require a menubar to be fixed to the top of the viewport, simple add the modifier class #[menubar--fixed].
  
  p #[b Example:] The Codebase documentation menubar is fixed to the viewport top in this way.
  
  h3.mt--line Menubar Classes

  table.table.table--rows.table--columns
    thead
      tr
        th(style="width: 145px;") Class
        th Notes
        th Modifiers
    tbody
      tr
        td #[code .menubar]
        td The menubar component block
        td Fixed position menubar (viewport top): #[br] #[code .menubar--fixed] #[br] Alignment of menubar items: #[br] #[code .menubar--left], #[code .menubar--right], #[code .menubar--center], #[code .menubar--justify]
      tr
        td #[code .menubar li] #[sup 1]
        td The menubar item element
        td
      tr
        td #[code .menubar a] #[sup 2]
        td The menubar hyperlink element
        td
        
  p #[sup 1] Including #[code @mixin menu__item] &nbsp; #[sup 2] Including #[code @mixin menu__link]
