extends ../../docs-template-partials/_docs-article

block prepend article
  - var articleId = "components-pagination"
  - var articleTitle = "Pagination"

block section
  
  .b--heavy.b--rounded.b--gray-lighten-2.p--16
    
    p.muted Undecorated

    ul.pagination
      li
        a(href="#/") &larr; Newer
      li
        a(href="#/") 1
      li
        a.pagination__current(href="http://www.example.com") 2
      li
        a(href="#/") 3
      li
        a(href="#/") 4
      li
        a(href="#/") 5
      li
        a(href="#/") Older &rarr;

    
    p.muted Decorated with #[code .decorate]
      
    ul.pagination.decorate
      li
        a(href="#/") &larr; Newer
      li
        a(href="#/") 1
      li
        a.pagination__current(href="http://www.example.com") 2
      li
        a(href="#/") 3
      li
        a(href="#/") 4
      li
        a(href="#/") 5
      li
        a(href="#/") Older &rarr;

  .tabs.decorate.mt--24
    .tab__label-wrap--right
      .tab__label(data-tab-id="tab-docs-pagination-html") HTML
      .tab__label(data-tab-id="tab-docs-pagination-pug") Pug

    #tab-docs-pagination-html.tab__panel
      pre.mt
        code.
          &lt;ul class="pagination"&gt;
            &lt;li&gt;&lt;a href="#/"&gt;&amp;larr; Newer&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href="#/"&gt;1&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a class="pagination__current" href="#/"&gt;2&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href="#/"&gt;3&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href="#/"&gt;4&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href="#/"&gt;5&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href="#/"&gt;Older &amp;rarr;&lt;/a&gt;&lt;/li&gt;
          &lt;/ul&gt;

    #tab-docs-pagination-pug.tab__panel
      pre.mt
        code.
          ul.pagination
            li
              a(href="#/") &amp;larr; Newer
            li
              a(href="#/") 1
            li
              a.pagination__current(href="http://www.example.com") 2
            li
              a(href="#/") 3
            li
              a(href="#/") 4
            li
              a(href="#/") 5
            li
              a(href="#/") Older &amp;rarr;

  h3 Pagination classes
  
  table.table.table--rows.table--columns
    thead
      tr
        th Class
        th Notes
    tbody
      tr
        td #[code .pagination]
        td The pagination component block.
      tr
        td #[code .pagination__current]
        td The current page element (can be applied to #[code &lt;li&gt;] or #[code &lt;a&gt;]).
