extends ../../docs-template-partials/_docs-article

block prepend article
  - var articleId = "components-popovers"
  - var articleTitle = "Popovers"

block section
  
  p.lead A Codebase popover is what is sometimes known as a #[b modal] in other frameworks. It is also sometimes used as a #[b lightbox] (if the main content is an image). These are all essentially the same thing, therefore "popover" has been chosen as the most generic name.

  p The Codebase popover's content has no styling of its own &ndash; style it how you want. At minimum, give it a background color and some padding. Maybe incorporate a Codebase card, layout system or tab system. It's all up to you.

  p Popovers can be dismissed (deactivated) by "click/tap outside to dismiss" and/or by a #[code .popover__close] element situated inside the popover content element.

  p If you add the modifier class #[code .popover--no-dismiss] to the popover component block, then "click/tap outside to dismiss" is prevented. This can be useful in situations where your popover content is rather important, and you need to ensure that your visitor interacts with it before deactivating the popover.

  p.bg--green-lighten-3.p--16 The popover's semi-transparent backdrop is a huge CSS box shadow on the popover content &ndash; it is not a separate layer. Hat tip:  #[a(href="https://medium.com/@jotavejv/how-to-create-a-simple-overlay-that-works-anywhere-ae23456d3e8") João Victor's Medium article], "How to create a simple overlay that works anywhere".
    
  .popover
    .popover__content.p--24.bg--white#popover-example-1a
      p Lorem ipsum dolor sit amet usu in odio gubergren conclusionemque.
      .right
        a.popover__close Close

  p #[button.btn.btn--sm.popover__ctrl(data-content-id="popover-example-1a") Popover example 1a] &ndash; the simplest popover

  .popover.popover--no-dismiss
    .popover__content.p--24.bg--white#popover-example-1b
      h4 This popover can't be dismissed unless you click "Close" below
      p Lorem ipsum dolor sit amet usu in odio gubergren conclusionemque.
      .right
        a.popover__close Close

  p #[button.btn.btn--sm.popover__ctrl(data-content-id="popover-example-1b") Popover example 1b] &ndash; the simplest popover, with #[code .popover--no-dismiss]
        
  .tabs.decorate.mt--24
    .tab__label-wrap--right
      .tab__label(data-tab-id="tab-docs-popover1-html") HTML
      .tab__label(data-tab-id="tab-docs-popover1-pug") Pug

    #tab-docs-popover1-html.tab__panel
      pre.mt
        code.
          &lt;div class="popover"&gt;
            &lt;div class="popover__content" id="pop-ex-1"&gt;
            
              &lt;p&gt;
                Lorem ipsum dolor sit amet usu in odio gubergren conclusionemque.
              &lt;/p&gt;
              
              &lt;div class="right"&gt;
                &lt;a class="popover__close"&gt;Close&lt;/a&gt;
              &lt;/div&gt;
              
            &lt;/div&gt;
          &lt;/div&gt;

          &lt;button class="btn popover__ctrl" data-content-id="pop-ex-1"&gt;Popover example 1&lt;/button&gt;

    #tab-docs-popover1-pug.tab__panel
      pre.mt
        code.
          .popover
            .popover__content#pop-ex-1
              
              p.
                Lorem ipsum dolor sit amet usu in odio gubergren conclusionemque.
                
              .right
                a.popover__close Close
            
          button.btn.popover__ctrl(data-content-id="pop-ex-1") Popover example 1
  
  h3 Popovers "expand to fit" any size content

  p If you don't use any popover constraint classes (as described below), then you get a popover that will take the width of its content, out to the max-width of the viewport and 85% of the viewport height (this viewport height restriction allows for e.g. the iOS Safari browser bar).
  
  p By default, popovers have their #[code .popover__content] CSS set to #[code overflow: auto], so that extra long text and/or table content will automatically allow scrolling.
  
  p However, popover images that are too tall will always be responsively scaled down to maximum 70% of the viewport height (image width/height proportions are retained). This max-height ensures that images can be entirely displayed within the popover and also allow a little room for a short image title on a single line of text. (This provides a very simple "lightbox" setup.)
    
  .popover
    #popover-2a.popover__content.m--24.p--8.bg--white
      +image-placeholder-light(500, 1000, "mb--4")
      b Image Title
      a.popover__close.float--right Close
  
  p #[button.btn.btn--sm.popover__ctrl(data-content-id="popover-2a") Popover example 2a] &ndash; popover with a tall narrow image

  .popover
    #popover-2b.popover__content.m--24.p--8.bg--white
      +image-placeholder-light(1500, 300, "mb--4")
      b Image Title
      a.popover__close.float--right Close
  
  p #[button.btn.btn--sm.popover__ctrl(data-content-id="popover-2b") Popover example 2b] &ndash; popover with a short wide image

  .popover
    #popover-2c.popover__content.m--24.p--8.bg--white
      +image-placeholder-light(5000, 3000, "mb--4")
      b Image Title
      a.popover__close.float--right Close
  
  p #[button.btn.btn--sm.popover__ctrl(data-content-id="popover-2c") Popover example 2c] &ndash; popover with a gigantic image

  p You can constrain the popover content width by adding a #[code width] or #[code max-width]. And Codebase popovers have an optional #[code .popover__content--narrow], that sets a maximum width of 600px.

  .popover
    #popover-2d.popover__content.popover__content--narrow.mt--line.m--16.p--16.bg--white
      a.popover__close.float--right
        Close #[i(data-feather="x")]
      
      h3 Lots of Text
      +paragraph(5)
      +paragraph(5)
      
      p.center
        a.popover__close.btn.btn--link.
          Close #[i.fa.fa-times]

  p #[button.btn.btn--sm.popover__ctrl(data-content-id="popover-2d") Popover example 2d] Narrow popover with a lot of text, and #[code .popover__content--narrow].
  
  p Codebase popovers also have a class #[code .popover--fix] that is specially designed to work with a #[a(href="#components-card") Codebase card] integrated into the popover (see below).

  h3 Integrating a Card with a Popover

  p Codebase popovers come with (almost) no styling of their own &ndash; so you can do whatever you like with them. If you require a block header, body and footer then you can easily integrate a Codebase card (or media object).

  .popover
    #popover-3.popover__content.popover__content--narrow.b--rounded-8.card.bg--white
      .card__header.p--8.bt--heavy.b--orange.bg--gray-lighten-3
        h4.m--0 Popover / Card header
      .card__body.p--block
        p.mt--12 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .card__footer.p--block.bg--orange.white
        .float--right.popover__close Dismiss

  p #[button.btn.btn--sm.popover__ctrl(data-content-id="popover-3") Popover example 3] &ndash; narrow popover integrating a card plus some extra styling.

  .tabs.decorate.mt--24
    .tab__label-wrap--right
      .tab__label(data-tab-id="tab-docs-popover3-html") HTML
      .tab__label(data-tab-id="tab-docs-popover3-pug") Pug

    #tab-docs-popover3-html.tab__panel
      pre.mt
        code.
          &lt;/div class="popover"&gt;
            &lt;div id="pop-ex-3" class="popover__content popover__content--narrow <mark>card</mark>"&gt;
              &lt;div <mark>class="card__header"</mark>&gt;
                Card header content
              &lt;/div&gt;
              &lt;div <mark>class="card__body"</mark>&gt;
                Card body content
              &lt;/div&gt;
              &lt;div <mark>class="card__footer"</mark>&gt;
                Card footer content
                &lt;span class="popover__close float--right"&gt;Cancel&lt;/span&gt;
              &lt;/div&gt;              
            &lt;/div&gt;

          &lt;/div&gt;

          &lt;button class="popover__ctrl btn" data-content-id="pop-ex-3"&gt;Popover example 3&lt;/button&gt;

    #tab-docs-popover3-pug.tab__panel
      pre.mt
        code.
          .popover
            #pop-ex-3.popover__content.popover__content--narrow<mark>.card</mark>
              <mark>.card__header</mark>
                Card header content
              <mark>.card__body</mark>
                Card body content
              <mark>.card__footer</mark>
                Card footer content
                | span.popover__close.float--right Cancel
            
          button.btn.popover__ctrl(data-content-id="pop-ex-3") Popover example 3
          
  h3 Integrating a Flexbox Layout System into a Popover

  p You can also put #[a(href="layout.html#layout-flexbox-systems") flexbox system] into a popover (with or without incorporating it into a card). 
  
  p Also, if you need to constrain the popover container width, you can do either of the following:
    
  ol
    li.
      Control the width of the popover container, e.g. by adding #[code .popover__content--narrow]
    li.
      Control the width of the flexbox, e,g, by adding #[code .container] around the popover content

  .popover
    #popover-4.popover__content.b--rounded.bg--white.container.card
      .card__header.bb--thin.p--block
        span.popover__close.float--right &times; 
        h4.mb--0 Popover / Flexbox Header
      .card__body.p--16.flexbox.flexbox--gap
        .flex-item-md--span-6
          +image-placeholder-light(800, 600)
        .flex-item-md--span-6
          h2 Image Title
          +paragraph(1)
          p
            button.btn.btn--primary Activate
            button.btn.btn--secondary Delete
      .card__footer.bt--thin.p--16
        .right
          button.btn.btn--secondary.popover__close.right Cancel

  p #[button.btn.btn--sm.popover__ctrl(data-content-id="popover-4") Popover example 4] &ndash; popover with flexbox system inside a card

  .tabs.decorate.mt--24
    .tab__label-wrap--right
      .tab__label(data-tab-id="tab-docs-popover4-html") HTML
      .tab__label(data-tab-id="tab-docs-popover4-pug") Pug

    #tab-docs-popover4-html.tab__panel
      pre.mt
        code.
          &lt;/div class="popover"&gt;
            &lt;div id="pop-ex-4" class="popover__content <mark>container</mark> card"&gt;
              &lt;div class="card__header"&gt;
                &lt;span class="popover__close float--right"&gt;&amptimes;&lt;/span&gt;
                Card header content
              &lt;/div&gt;

              &lt;div class="card__body <mark>flexbox flexbox--gap</mark>"&gt;
                &lt;div class="<mark>flex-item-md--span-6</mark>"&gt;
                  &lt;!-- First flex-item content --&gt;
                &lt;/div&gt;
                &lt;div class="<mark>flex-item-md--span-6</mark>"&gt;
                  &lt;!-- Second flex-item content --&gt;
                &lt;/div&gt;
              &lt;/div&gt;

              &lt;div class="card__footer"&gt;
                Card footer content
              &lt;/div&gt;              
            &lt;/div&gt;

          &lt;/div&gt;

          &lt;button class="popover__ctrl btn" data-content-id="pop-ex-4"&gt;Popover example 4&lt;/button&gt;

    #tab-docs-popover4-pug.tab__panel
      pre.mt
        code.
          .popover
            #pop-ex-4.popover__content<mark>.container</mark>.card
              .card__header
                span.popover__close.float--right &amp;times;
                Card header content

              .card__body<mark>.flexbox.flexbox--gap</mark>
                <mark>.flex-item-md--span-6</mark>
                  // First flex-item content
                <mark>.flex-item-md--span-6</mark>
                  // Second flex-item content

              .card__footer
                Card footer content
            
          button.btn.popover__ctrl(data-content-id="pop-ex-4") Popover example 4

  h3 Scrollable Popover with Fixed Header / Footer

  p The Codebase popover modifier class #[code .popover--fix] is designed to work with the use of a #[a(href="#components-card") Codebase card] in the popover. #[code .popover--fix] prevents the popover's default overflow scrolling and enables card header to be fixed to the top and/or and footer to be fixed to the bottom of the popover &ndash; and the card body is allowed to have overflow scrolling.

  p #[code .popover--fix] is what you need when your popover contains a lot of text or table data.

  .popover.popover--no-dismiss
    #popover-5.popover__content.popover__content--narrow.popover__content--fix.b--rounded.bg--white
      .card.card--vertical
        .card__header.p--8.bb--thin.bg--white
          a.mt--4.popover__close.float--right Done
          h4.mb--0 Header
        .card__body.p--block
          +paragraph
          
          style.
            .tracks {
              width: 100%;
            }
            .tracks img {
              position: relative;
              margin: 4px 8px;
            }
            .tracks .info {
              padding-right: 8px
            }
            
          mixin track(total)
            - var n = 0;
            while n < total
              tr.bb--thin
                td
                  = n++ + 1
                td.info #[+image-placeholder-light(72, 72, 'float--left mr--12')] #[b Lorem ipsum dolor sit amet] #[br] #[span.small Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.] 
                td #[i.fas.fa-cloud-download-alt.fa-2x]
                td #[i.fas.fa-play-circle.fa-2x]
                td #[i.fas.fa-comment.fa-2x]
                  

          table.table.bt--thin.tracks
            tbody
              +track(24)
  
  p #[button.btn.btn--sm.popover__ctrl(data-content-id="popover-5") Popover example 5] &ndash; popover with #[code .popover--fix] and a card inside.

  h3 Full-Cover Popover

  p If you require a popover to cover the entire window, add #[code .popover__content--cover].
    
  p For example, use #[code .popover__content--cover] for a sitemap.

  .popover
    #popover-6.popover__content.popover__content--cover.bg--black
      .container
        .flexbox.flexbox--gap
          .flex-item--span-12
            .popover__close.float--right.pt--16.white
              Close #[i(data-feather="x")]
            h2.mt--line.white Sitemap
            hr
      .container
        .flexbox.flexbox--gap
          - var n = 0;
          while n < 6
            .flex-item-md--span-4
              h4.gray-lighten-1 Department
                = ' '
                = n++ + 1
              ul.menu.mb--line
                li.p--block
                  a Link
                li.p--block
                  a Link
                li.p--block
                  a Link
                li.p--block
                  a Link
                li.p--block
                  a Link

      hr
      p.center
        span.popover__close.btn Close

  p #[button.btn.btn--sm.popover__ctrl(data-content-id="popover-6") Popover example 6] &ndash; full cover popover

  h3 Styling Your Own Modals and Lightboxes
  
  p If you need your popovers, lightboxes and modals to diverge and be styled differently, there are two ways you can do this:
    
  ol
    li.
      Add your own supplemental class(es) and apply your styles to these (e.g. #[code .popover--modal]).
    li.
      In your SCSS, build your own classes, include the popover mixins and then add your own styling. E.g.:
      
  pre
    code.
      .your-lightbox {
        @include popover;
        // and your additional lightbox styles
      }

      .your-lightbox__ctrl {
        @include popover__ctrl;
        // and your additional lightbox styles
      }

      .your-lightbox__content {
        @include popover__content;
        // and your additional lightbox styles
        &amp;--narrow {
          @include popover--narrow;
        }
        &amp;--cover {
          @include popover--cover;
        }
      }

      .your-lightbox__close {
        @include popover__close;
        // and your additional lightbox styles
      }

  h3 Popover Classes
  
  p The table below includes only classes for the popover itself. For card classes see #[a(href="#components-card") card]. For flexbox layout classes see #[a(href="layout.html#layout-flexbox-classes") flexbox classes].
  
  table.table.table--rows.table--columns
    thead
      tr
        th Class
        th Explanation
    tbody
      tr
        td #[code .popover]
        td The popover block. Also serves as the popover backdrop.
      tr
        td #[code .popover--no-dismiss]
        td (Optional) Prevents "click/tap putside to dismiss" happening through the backdrop. So the only way to close the popover would be by #[code .popover__close] (see below).
      tr
        td #[code .popover__ctrl] #[br] #[code data-content-id="{ID}"]
        td Opening control (e.g. button) #[br] #[code {ID}] = the ID of the popover content to be opened
      tr
        td(colspan="2").bg--gray-lighten-3 #[b Note:] Do not put the #[code .popover__ctrl] inside the #[code .popover] container, because #[code .popover] is styled for use as the backdrop. 
      tr
        td #[code .popover__close]
        td (Optional) popover close control, to be placed within the popover content element.
      tr
        td #[code .popover__content]
        td The popover itself. (A unique ID is also required, of your choice &ndash; see #[code data-content-id="{ID}"] above.)
      tr
        td(colspan="2").bg--gray-lighten-3 By default the popover content width is unconstrained &ndash; so the width becomes whatever the content needs ("expand to fit").
      tr
        td #[code.nowrap .popover__content--narrow]
        td (Optional) narrow constrained layout
      tr
        td #[code .popover__content--fix]
        td (Optional) if a #[code .card] is being used in a popover, this class will fix #[code .card__header] and/or #[code .card__footer] while the #[code .card__body] remains vertically scrollable. Ideal for use with constrained-width popovers that have a lot of content. 
      tr
        td #[code .popover__content--cover]
        td (Optional) full cover
      
