extends ../../docs-template-partials/_docs-article

block prepend article
  - var articleId = "getting-started-introduction"
  - var articleTitle = "Introduction"

block section
  
  p.lead Codebase is a website component library. You can use it as a basis for your website design projects.
  
  p The Codebase stylesheet #[code codebase.css] has been composed using #[a(href="http://sass-lang.com/") SCSS]. Its styles were built first as mixins and then these have been included in the Codebase classes.

  .flexbox.flexbox--gap
    .flex-item--span-6
      p Codebase styles can therefore be used simply as-is, by dropping the Codebase classes directly into your website HTML – or whatever you use to compile your HTML (e.g. #[a(href="#getting-started-codebase-with-pug") pug]). Alternatively, you can include Codebase mixins into your own SCSS.
    .flex-item--span-6
      .bg--green-lighten-3.p--16.lead.center The Codebase documentation is an example of Codebase in use.

  p A few things in Codebase also use a simple, tiny JavaScript #[code codebase.js] to make them work &ndash; such as dropdowns, popovers, tabs and responsive tables. Since version 2.0, Codebase scripts have been re-factored so as not to need a dependency &ndash; jQuery is not required.
  
  p Besides these docs, some Codebase webpage #[a(href="examples.html") examples] have been included in this project.
