extends ../../docs-template-partials/_docs-article

block prepend article
  - var articleId = "getting-started-advanced-setup"
  - var articleTitle = "Advanced Setup"

block section
  p Example project folder structure:

  pre
    code.
      your-project/
      │
      ├── codebase/
      │   ├── css/ [1]
      │   ├── js/
      │   ├── pug/ [2]
      │   └── scss/ [3]
      │
      ├── your-dev/
      │   ├── img/
      │   ├── js/
      │   ├── pug/ [2]
      │   └── scss/ [3]
      │
      └── your-build/
          ├── css/
          ├── img/
          ├── js/
          └── HTML

  p Notes:
  
  ol
    li.
      If you are using the Codebase styles as a Sass (SCSS) mixin library, then you will be including #[code codebase.scss] in your own (master) stylesheet and so the Codebase CSS will not be required in your project.
    li.
      The Codebase CSS and JavaScript components can, of course, be used directly on the HTML files. Or you can use HTML templating languages with as Pug, PHP, Handlebars, Slim, Liquid or Haml. The Codebase documentation has been built using #[a(href="http://pugjs.org/") Pug]. If you would like to do the same, see #[a(href="#getting-started-codebase-with-pug") using Codebase with Pug].
    li.
      The Codebase CSS has been built using #[a(href="http://sass-lang.com/")  SCSS]. You can override Codebase variables and incorporate Codebase variables and mixins into your own SCSS. See #[a(href="#getting-started-codebase-scss-library") using Codebase with SCSS]. 