extends ../../docs-template-partials/_docs-article

block prepend article
  - var sectionId = "getting-started-how-codebase-uses-pug"
  - var sectionTitle = "How Codebase uses Pug"

block section
  p.
    Pug is a whitespace-sensitive (indented syntax) templating language for pre-processing into HTML. With Pug you can use partial-page includes, loops, conditionals, inheritance, mixins and variables.
    
  p.text--initial-icon.b--thin.b--green-lighten-1.b--rounded.p--16.pl--80.bg--green-lighten-3
    i.fa.fa-info-circle.text--green-darken-1
    | The #[a(href="https://pugjs.org/api/getting-started.html") PugJS documentation] is the first place to learn Pug. 
  
  p.
    Plus there are several tutorials out there. Following are some to get you started. (Pug was formerly known as Jade, and some of the following tuturials date from that time but are still relevant.)
    
  ul
    li.
      Simon Swiss's series, #[a(href="https://www.youtube.com/watch?v=JqCs1pdmf9o&list=PLHrxuCR-0CcSWiMuLf58iuIsNlP549-Sk") Jade/Pug Tips in 90 Seconds] on YouTube
    li.
      Derek Banas's #[a(href="https://www.youtube.com/watch?v=l5AXcXAP4r8") Jade/Pug Tutorial] on YouTube
    li.
      Bryan Stoner's tutorial, #[a(href="https://codepen.io/mimoduo/post/learn-pug-js-with-pugs") Learn Pug.js with Pugs] on Codepen
    
  p.
    The Codebase docs were generated using many of the features of Pug. So, you can learn from the docs code itself, as well as reading the docs in a browser.
    
  ol
    li.
      The docs have been mostly written using the Pug syntax. (Some HTML is also embedded.)
    li.
      The Codebase docs have a their own #[a(href="docs/_docs-template.pug") docs starter template] named #[code _docs-template.pug], that itself interits the #[a(href="codebase/pug/_codebase.pug") Codebase starter template] named #[code _codebase.pug]. (It is this Codebase starter template that links to #[code codebase.css] and #[code codebase.js].)
    li.
      The docs starter template has #[a(href="https://pugjs.org/language/inheritance.html") blocks] into which the docs chapter pages (e.g. #[a(href="docs/getting-started.pug") getting-started.pug]) insert their content &ndash; see (4.) and (5.).
    li.
      The #[a(href="docs/docs-template-partials") docs-template-partials/] folder contains partial Pug files (e.g. header, sidebars, footer and article templates) that are #[a(href="https://pugjs.org/language/includes.html") included] into the docs pages.
    li.
      Each chapter article has its own article template (#[a(href="docs/docs-template-partials/_docs-article.pug") _docs-article.pug]).
    li.
      The #[a(href="docs/docs-articles") docs-articles/] folder contains all the articles of the Codebase docs. These articles are partial files that are included into the pug pages, similar to how the header, sidebars, etc. are included.
    li.
      The docs make use of some simple #[a(href="#getting-started-codebase-html-generator-mixins") Codebase HTML generator mixins] that are used for generating some of the docs examples. They can also be used for rapid prototyping (see their use in the #[a(href="examples.html") Examples]).
