extends ../../docs-template-partials/_docs-article

block prepend article
  - var articleId = "getting-started-mq-breakpoint-widths"
  - var articleTitle = "Media Query Breakpoint Widths"

block section
  
    p In Codebase the media query breakpoint width variables are:
    
    pre
      code.
        // (Small is up to 639px)

        // Medium
        $cb-mq--md: 640px !default;

        // Large
        $cb-mq--lg: 960px !default;

    p Also note: the max width of the content inside a #[a(href="layout.html#layout-container") layout container] is 1280px. (Containers also have 12px padding (i.e. 3 #[a(href="decoration-utilities.html#decoration-utilities-element-grid") element grid units]) right and left, beyond the 1280px.)

    p These media query widths are intended to cover a wide range of screen devices, approximating as follows:

    table.table.table--compact.table--centered.table--nowrap
      thead
        tr
          th(colspan="2").br--thin Small Viewports
          th(colspan="2").br--thin Medium Viewports (md)
          th(colspan="2") Large Viewports (lg)
        tr
          th.left #[span.small 0]
          th.right.br--thin #[span.small 639px]
          th.left #[span.small 640px]
          th.right.br--thin #[span.small 959px]
          th.left #[span.small 960px]
          th.right #[span.small max. 1280px]
      tbody
        tr
          td(colspan="2").br--thin &larr; phones (portrait) &rarr;
          td(colspan="2").br--thin &larr; phones (landscape) &rarr; #[br] &larr; tablets (portrait) &rarr;
          td(colspan="2") &larr; tablets (landscape) &amp; up &rarr;

    p The media query breakpoint variables been utilized in a set of SCSS mixins as follows:
    
    pre
      code.
        @mixin break--min($cb-mq--min-width) {
          @media(min-width: $cb-mq--min-width) {
            @content;
          }
        }
        
        @mixin break--max($cb-mq--max-width) {
          @media(max-width: $cb-mq--max-width - 1px) {
            @content;
          }
        }

        @mixin break--minmax($cb-mq--min-width, $cb-mq--max-width) {
          @media(min-width: $cb-mq--min-width) and (max-width: $cb-mq--max-width - 1px) {
            @content;
          }
        }

    p These mixins are then called as in the following examples:
    
    pre
      code.
        // For styling only intended for small viewports
        
        @include break--max($cb-mq--md) {
          ...
        }
        
    pre
      code.
        // For styling only intended for medium viewports

        @include break--minmax($cb-mq--md, $cb-mq--ld) {
          ...
        }

    pre
      code.
        // For styling only intended for large viewports
        
        @include break--min($cb-mq--lg) {
          ...
        }
