extends ../../docs-template-partials/_docs-article

block prepend article
  - var sectionId = "getting-started-third-party-dependencies"
  - var sectionTitle = "Third-party Dependencies"

block section
  
  p.
    #[code codebase.css] has CSS @includes that source the following from #[a(href="https://cdnjs.com/") CDNJS] while you are online (they may already be in your browser cache):
  
  ol
    li.
      The #[a(href="https://necolas.github.io/normalize.css/") Normalize] stylesheet.
    li.
      The #[a(href="http://fontawesome.io/") Font Awesome] stylesheet and icon font.
