// DOCS CHAPTER (incliding DOCS ARTICLE)

.docs__main {
  @include cb-break--min($cb-mq--lg) {
    display: flex;
    padding: 0;
    background-color: lighten($cb-color--teal, $cb-color--step * 3);
  }
}

.docs__docs-content {
  @include cb-break--min($cb-mq--lg) {
    width: 100%;
    padding-left: 300px;
    transition: padding 0.6s;
  }

  > header {
    background: darken($cb-color--teal, $cb-color--step);
    margin-right: auto;
    margin-left: auto;
    padding: 40px 16px 0;

    h1 {
      padding: 80px 40px;
      text-align: center;
      margin: 0 auto;
      font-weight: $cb-text--lighter-font-weight;
      color: $cb-color--white;

      @include cb-break--min($cb-mq--lg) {
        font-size: 5rem;
      }
    }
  }

  main {
    margin-bottom: 40px;
    padding: 0 0 40px;

    article {
      @include cb-break--max($cb-mq--lg) {
        margin-top: -44px;
      }
    }
  }
}

.docs__article {
  &--target {
    // This must be same height as the header menubar
    height: 40px;
  }
  max-width: 960px;
  margin: 0 auto;
  @include cb-break--min($cb-mq--md) {
    box-shadow: $cb-box-shadow;
  }
  & > header {
    width: 100%;
    h2 {
      margin: 0;
      padding: $cb-spacing--block;
      @include cb-break--min($cb-mq--md) {
        padding: 12px 6%;
      }
      @include cb-heading-4;
      background-color: $cb-color--teal;
      color: $cb-color--white;
    }
  }
  & > section {
    padding: 16px;
    @include cb-break--min($cb-mq--md) {
      padding: 48px 6%;
    }
    background-color: $cb-color--white;
  }
}
