// HOMEPAGE

.docs__homepage-content {
  width: 100%;

  main {
    max-width: 780px;
    margin: auto;
  }
}

.docs__homepage--header {
  background-color: darken($cb-color--teal, $cb-color--step);
  padding-bottom: 68px * 2;

  > svg#codebase-logo {
    position: relative;
    vertical-align: middle;
    display: block;
    margin: 0 auto;
    padding-top: 68px;
    height: 144px;
    path {
      fill: $cb-color--white;
      stroke: $cb-color--white;
      stroke-width: 0.5;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-miterlimit: 10;
    }
    @include cb-break--min($cb-mq--md) {
      height: 224px;
    }
  }

  h1 {
    margin: 0 auto;
    padding: 0 8px;
    font-weight: 400;
    text-align: center;
    color: $cb-color--white;
  }

  h2 {
    margin-top: 8px;
    font-size: 2rem;
    line-height: 1.35;
    font-weight: 300;
    text-align: center;
    color: $cb-color--white;
  }

  & > main {
    margin-bottom: 24px;
    padding: 0 0 24px;

    article {
      @include cb-break--max($cb-mq--md) {
        margin-top: -28px;
      }
    }
  }
}

.docs__homepage--main {
  position: relative;
  max-width: 780px;
  margin: -140px auto 40px;
  padding-right: 16px;
  padding-left: 16px;
  background-color: $cb-color--white;
}

.docs__homepage-links {
  @include cb-flexbox;

  max-width: 768px;
  margin: auto;
  padding: 16px 0 0;

  & > div {
    display: flex;
    align-items: stretch;

    @include cb-flex-item--span(6);

    @include cb-break--min($cb-mq--md) {
      @include cb-flex-item--span(4);
    }
  }

  a {
    flex: 1;
    margin: 2px;
    padding: 20px;
    text-align: center;
    background-color: darken($cb-color--teal, $cb-color--step);
    color: $cb-color--white;
    text-decoration: none;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: $cb-color--teal;
    }

    [class*="fa"] {
      display: block;
      margin: 8px auto;
      font-size: 3em;
    }

    @include cb-break--min($cb-mq--md) {
      min-height: 116px;
    }
  }
}
