// Navigation Sidebar

.off-canvas__ctrl--docs {
  display: block;
  top: 0;
  right: 0;
  height: 40px;
  padding: $cb-spacing--block;
  text-align: center;
  color: $cb-color--teal;
  background: $cb-color--white;
  transition: all 0.2s ease;
  &:hover {
    color: darken($cb-color--teal, $cb-color--step * 2);
  }
}

.docs__nav .sidenav-toggler {
  position: absolute;
  left: 300px;
  padding: 8px;
  color: $cb-color--white;
  background: lighten($cb-color--teal, $cb-color--step * 2);
  &:hover {
    background: $cb-color--teal;
    cursor: pointer;
  }
  .homepage & {
    display: none;
  }
}

.docs__nav {
  .off-canvas__close {
    margin-top: 4px;
    margin-right: 12px;
    color: $cb-color--teal;
    text-decoration: none;

    &:hover {
      color: darken($cb-color--teal, $cb-color--step * 2);
    }
  }
}

.docs__nav {
  width: 300px;
  overflow: auto;
  background: lighten($cb-color--teal, $cb-color--step * 3);
  box-shadow: $cb-box-shadow;

  > ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
    margin: 0;

     > a {
      padding: 8px;
      display: block;
      text-decoration: none;
      color: $cb-color--teal;
      transition: color 0.15s ease-in-out;

      @include cb-break--min($cb-mq--lg) {
        width: 100px;
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        font-size: 0.875em;
        line-height: 1.5em;
      }


      [class*="fa"] {
        display: inline-block;
        width: 28px;
        font-size: 1rem;
        @include cb-break--min($cb-mq--lg) {
          display: block;
          width: 74px;
          font-size: 2em;
          margin: 4px auto;
        }
      }

      &.this-page {
        background-color: $cb-color--white;
      }

      &:active,
      &:hover {
        color: darken($cb-color--teal, $cb-color--step * 2);
      }
    }

    li {
      margin: 0;

      a {
        border: 0;
        padding-left: 24px !important;
      }

      &:last-of-type {
        border-bottom: 0;
      }
    }
  }

  @include cb-break--min($cb-mq--lg) {
    // Flex-item
    position: fixed;
    top: 41px;
    // Override the `.off-canvas__content--right`
    right: auto !important;
    order: 1;
    height: 100vh;
    overflow: visible;
    transition: transform 0.6s;
    box-shadow: none;

    &.is-retracted {
      transform: translate(-300px);

      + .docs__docs-content {
        padding-left: 0;
      }
    }
  }
}

// Sub Navigation
// * narrow viewports: this is within the off-canvas sidebar
// * wide viewports: this is displayed as column 2 (also toggleable)

.docs__nav--sub-nav {
  background: $cb-color--white;
  border-right: $cb-border--thin;

  a {
    &:active,
    &:hover {
      color: darken($cb-color--teal, $cb-color--step * 2) !important;
      background-color: $cb-color--white !important;
    }
  }

  @include cb-break--min($cb-mq--lg) {
    position: absolute;
    top: 0;
    left: 100px;
    width: 200px;
    height: 100vh;
    overflow-y: auto;

    a {
      width: 200px !important;
      font-size: 1em !important;
      text-align: left !important;
    }
  }
}
