// COMPONENTS MIXINS: CARDS
// ========================

@mixin cb-card {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 24px;
  overflow: hidden;
  min-height: 1px;
}

@mixin cb-card--vertical {
  flex-direction: column;
  align-items: center;
}

@mixin cb-card--decorate {
  border: $cb-border--thin;
  border-radius: $cb-border--radius;

  .card {
    border: 0;
    border-radius: 0;
    border-top: $cb-border--thin;

    &__header {
      border-bottom: $cb-border--thin;
      padding: $cb-spacing--block;
    }

    &__footer {
      border-top: $cb-border--thin;
      padding: $cb-spacing--block;
    }

    &__image--left {
      padding-top: 16px;
      padding-left: 16px;

      [dir="rtl"] &, &[dir="rtl"],
      .rtl &, &.rtl {
        padding-right: 16px;
        padding-left: inherit;
      }
    }

    &__image--right {
      padding-top: 16px;
      padding-right: 16px;

      [dir="rtl"] &, &[dir="rtl"],
      .rtl &, &.rtl {
        padding-right: inherit;
        padding-left: 16px;
      }
    }

    &__body,
    &__section {
      padding: 16px 16px 8px;

      & > :first-child {
        margin-bottom: 8px;
      }
    }

    &__section + * {
      border-top: $cb-border--thin;
    }
  }
}

@mixin cb-card__header {
  width: 100%;
}

@mixin cb-card__body {
  width: 100%;
  flex: 1;
  overflow: auto;
}

@mixin cb-card__section {
  width: 100%;
}

@mixin cb-card__footer {
  order: 9999;
  width: 100%;
}

@mixin cb-card__image {
  display: block;

  & > img,
  & > svg, {
      display: block;
  }
}

@mixin cb-card__image--first {
  order: 0;
}

@mixin cb-card__image--last {
  order: 1;
}

@mixin cb-card__overlay {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;

  &--top {
    align-items: flex-start;
  }

  &--middle {
    align-items: center;
  }

  &--bottom {
    align-items: flex-end;
  }
}

// CLASS BUILDER: CARD
// ===================

@mixin cb-component--card {
  .card {
    @include cb-card;

    @if $cb-decoration--cards == true {
      &.decorate {
        @include cb-card--decorate;
      }
    }
  }

  .card--vertical {
    @include cb-card--vertical;
  }

  .card__header {
    @include cb-card__header;
  }

  .card__image {
    @include cb-card__image;

    &--left,
    &--top {
      @include cb-card__image--first;
    }

    &--right,
    &--bottom {
      @include cb-card__image--last;
    }
  }

  .card__body {
    @include cb-card__body;
  }

  .card__section {
    @include cb-card__section;
  }

  .card__overlay {
    @include cb-card__overlay;
  }

  .card__footer {
    @include cb-card__footer;
  }
}

// End of class builder mixin

@if $cb-include-css--cards == true {
  @include cb-component--card;
}
