// COMPONENTS MIXINS: MENUS AND MENUBARS
// =====================================

@mixin cb-menu {
  position: relative;
  margin: 0;
  padding: 0;

  ul {
    margin: 0;
    padding: 0;
  }
}

@mixin cb-menu__item {
  list-style-type: none;
}

@mixin cb-menu__item--decorate {
  margin-bottom: 0;
}

@mixin cb-menu__link {
  display: block;
}

@mixin cb-menu__link--decorate {
  padding: $cb-spacing--block;
  transition: all 0.2s ease-in-out;

  &.is-active,
  &:hover {
    text-decoration: none;
    background-color: lighten($cb-color--gray, $cb-color--step * 3);
  }
}

@mixin cb-menu__child-link--decorate {
  padding-left: 36px;
}

@mixin cb-menu__grandchild-link--decorate {
  padding-left: 60px;
}

@mixin cb-menu--fixed {
  position: fixed !important;
  z-index: $cb-z-index--menu-menubar-fixed;
  width: 100vw;
}

// Menubar

@mixin cb-menubar {
  display: flex;
  flex-wrap: wrap;
  margin: 0;

  form {
    margin: 0;
    white-space: nowrap;
  }

  li {
    margin: 0;
  }
}

@mixin cb-menu__brand {
  display: inline-block;
}

@mixin cb-menu__brand--decorate {
  a {
    padding: $cb-spacing--block;
  }
}

@mixin cb-menu__ctrl {
  color: $cb-text--color-hyperlink;
  &--left {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
  }

  &--right {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
  }

  &:hover {
    cursor: pointer;
  }
}

@mixin cb-menu__content--operation {
  overflow-y: hidden;
  max-height: 0;
  transition: max-height 0.5s cubic-bezier(0, 0.5, 0, 1);
  cursor: default;

  &.is-active {
    max-height: 100vh;
    transition-timing-function: cubic-bezier(0.5, 0, 0.5, 0);
  }
}

@mixin cb-menubar--left {
  flex-grow: 1;
  order: 1;
  justify-content: flex-start;

  [dir="rtl"] &, &[dir="rtl"],
  .rtl &, &.rtl {
    justify-content: flex-end;
  }
}

@mixin cb-menubar--right {
  flex-grow: 1;
  order: 2;
  justify-content: flex-end;

  [dir="rtl"] &, &[dir="rtl"],
  .rtl &, &.rtl {
    justify-content: flex-start;
  }
}

@mixin cb-menubar--center {
  flex-grow: 1;
  justify-content: center;
}

@mixin cb-menubar--justify {
  flex-grow: 1;
  justify-content: space-between;
}

// CLASS BUILDER: MENUS AND MENUBARS
// =================================

@mixin cb-menubar-assemble {
  @include cb-menubar;

  li {
    @include cb-menu__item;
  }

  a {
    @include cb-menu__link;

    white-space: nowrap;
  }
}

@mixin cb-dropdown-override {
  .dropdown {
    &__ctrl::after {
      top: 0;
      left: 0;
      border: 0;
    }

    &__content {
      display: block !important;
      position: static;
      max-height: inherit;

      a {
        padding-left: 24px;

        [dir="rtl"] &, &[dir="rtl"],
        .rtl &, &.rtl {
          padding-right: 24px;
          padding-left: inherit;
        }
      }
    }
  }
}

@mixin cb-menubar-dropdown {
  .dropdown__content {
    @include cb-dropdown__content--decorate;

    padding: 0;

    a {
      padding-left: 8px;
    }
  }
}

@mixin cb-components-menu-and-menubar {
  .menu {
    @include cb-menu;

    li {
      @include cb-menu__item;
    }

    a {
      @include cb-menu__link;
    }
  }

  .menu--fixed,
  .menubar--fixed {
    @include cb-menu--fixed;
  }

  .menu__brand,
  .menubar__brand {
    @include cb-menu__brand;
  }

  .menu__ctrl,
  .menubar__ctrl {
    @include cb-menu__ctrl;

    .menu--menubar-md & {
      @include cb-break--min($cb-mq--md) {
        display: none;
      }
    }

    .menu--menubar-lg & {
      @include cb-break--min($cb-mq--lg) {
        display: none;
      }
    }
  }

  .menu__content,
  .menubar__content {
    flex-grow: 1;

    .menubar & {
      @include cb-menubar;

      & > ul {
        @include cb-menubar;
      }
    }

    .menu--menubar-md & {
      @include cb-break--max($cb-mq--md) {
        @include cb-menu__content--operation;
      }


      @include cb-break--min($cb-mq--md) {
        @include cb-menubar;

        & > ul {
          @include cb-menubar;
        }
      }
    }

    .menu--menubar-lg & {
      @include cb-break--max($cb-mq--lg) {
        @include cb-menu__content--operation;
      }


      @include cb-break--min($cb-mq--lg) {
        @include cb-menubar;

        & > ul {
          @include cb-menubar;
        }
      }
    }
  }

  .menubar {
    @include cb-menu;

    @include cb-menubar-assemble;
  }

  .menu--menubar-md {
    @include cb-break--max($cb-mq--md) {
      @include cb-dropdown-override;
    }


    @include cb-break--min($cb-mq--md) {
      @include cb-menubar-assemble;
    }
  }

  .menu--menubar-lg {
    @include cb-break--max($cb-mq--lg) {
      @include cb-dropdown-override;
    }


    @include cb-break--min($cb-mq--lg) {
      @include cb-menubar-assemble;
    }
  }

  .menu {
    @if $cb-decoration--menus-and-menubars == true {
      &.decorate {
        li {
          @include cb-menu__item--decorate;
        }

        a {
          @include cb-menu__link--decorate;
        }

        li li a {
          @include cb-menu__child-link--decorate;
        }

        li li li a {
          @include cb-menu__grandchild-link--decorate;
        }

        &.menu--menubar-md {
          @include cb-break--min($cb-mq--md) {
            @include cb-menubar-dropdown;
          }
        }

        &.menu--menubar-lg {
          @include cb-break--min($cb-mq--lg) {
            @include cb-menubar-dropdown;
          }
        }

        .menu__brand {
          @include cb-menu__brand--decorate;
        }
      }
    }
  }

  .menubar {
    @if $cb-decoration--menus-and-menubars == true {
      &.decorate {
        li {
          @include cb-menu__item--decorate;
        }

        a {
          @include cb-menu__link--decorate;
        }

        .menubar__brand {
          @include cb-menu__brand--decorate;
        }

        @include cb-menubar-dropdown;
      }
    }
  }

  // Menubar child menus are handled by dropdown components.
  // (No grandchild menus in _menubars_ have been configured).

  .menubar--left,
  .menubar__left {
    @include cb-menubar--left;
  }

  .menubar--right,
  .menubar__right {
    @include cb-menubar--right;
  }

  .menubar--center,
  .menubar__center {
    @include cb-menubar--center;
  }

  .menubar--justify,
  .menubar__justify {
    @include cb-menubar--justify;
  }

  // Child menus are handled by `.dropdown`
}

@if $cb-include-css--menus-and-menubars == true {
  @include cb-components-menu-and-menubar;
}
