// COMPONENTS MIXINS: OFF-CANVAS SIDE PANELS
// =========================================

/*
OFF-CANVAS is wrong. Currently it doesn't work unless there is a MQ specified. And then:
MD = works md-down
LG = works lg-down

But what I really want it

Unspecified = works all VP
SM = works below md
MD = works below lg
LG = works all VP = same as unspecified


*/

// Off-canvas Control (e.g. navicon)

@mixin cb-off-canvas__ctrl {
  display: inline-block;
  margin-top: 0;
  z-index: $cb-z-index--off-canvas;

  &--left {
    position: absolute;
    left: 0;
  }

  &--right {
    position: absolute;
    right: 0;
  }

  &--fixed {
    position: fixed !important;
    // overrides the absolutes above
  }

  @if big == true {
    height: 44px;
    padding: 4px 8px;
    line-height: 24px;
  }
  @else {
    height: 24px;
    padding: 4px;
    line-height: 24px;
  }

  .big & {
    height: 24px;
    padding: 4px 8px;
    line-height: 24px;
  }

  &:hover {
    cursor: pointer;
  }
}

// Off-canvas Close

@mixin cb-off-canvas__close {
  display: block;

  &:hover {
    cursor: pointer;
  }

  &--left {
    margin-right: auto;
    margin-left: 0;
    text-align: left;
  }

  &--right {
    margin-right: 0;
    margin-left: auto;
    text-align: right;
  }
}

// Off-canvas Content (sidebar or panel)
// The extra 10% in the off-canvas position 100% will hide any Codebase box-shadow on the off-canvas.

@mixin cb-off-canvas__content--right {
  right: -110%;
  // IE11 doesn"t like 110vw
  &.is-active {
    right: 0;
  }
}

@mixin cb-off-canvas__content--left {
  left: -110%;
  // IE11 doesn't like 110vw
  &.is-active {
    left: 0;
  }
}

@mixin cb-off-canvas__content {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  max-height: 100vh;
  z-index: $cb-z-index--off-canvas;
  overflow: auto;
  transition: $cb-off-canvas--transition;
}

@mixin cb-off-canvas__content--override {
  position: static;
  top: auto;
  bottom: auto;
  right: 0 !important;
  left: 0 !important;
  height: auto;
  max-height: auto;
  z-index: 0;
  overflow: inherit;
  transition: none;
}

// CLASS-BUILDER: OFF-CANVAS
// =========================

@mixin cb-components-off-canvas {
  // Off-canvas Control

  .off-canvas__ctrl {
    @include cb-off-canvas__ctrl;
  }

  // Off-canvas Content

  .off-canvas__content {
    max-width: 100%;

    @include cb-off-canvas__content;

    &.off-canvas__content--right {
      @include cb-off-canvas__content--right;
    }
    &.off-canvas__content--left {
      @include cb-off-canvas__content--left;
    }

    &--sm {
      @include cb-break--min($cb-mq--md) {
        @include cb-off-canvas__content--override;
      }
    }
    &--md {
      @include cb-break--min($cb-mq--lg) {
        @include cb-off-canvas__content--override;
      }
    }
    // &--lg {} (operates all viewport widths; therefore is unrequired)
  }

  // Off-canvas Close

  .off-canvas__close {
    @include cb-off-canvas__close;
  }
}

@if $cb-include-css--off-canvas == true {
  @include cb-components-off-canvas;
}
