// COMPONENTS MIXINS: PAGINATION
// =============================

@mixin cb-pagination {
  margin: 0;
  padding: 0;
}

@mixin cb-pagination__item {
  display: inline-block;
  list-style-type: none;
}

//=pagination__link

@mixin cb-pagination__current {
  &:hover,
  a:hover {
    text-decoration: none;
    cursor: default;
  }
}

@mixin cb-pagination--decorate {
  li {
    margin: 8px 0;

    &.pagination__current a {
      color: darken($cb-color--gray, $cb-color--step);
      background-color: lighten($cb-color--gray, $cb-color--step * 2);
    }
  }

  a {
    padding: 4px;

    &.pagination__current {
      color: darken($cb-color--gray, $cb-color--step);
      background-color: lighten($cb-color--gray, $cb-color--step * 2);
    }
  }
}

// CLASS BUILDER: PAGINATION
// =========================

@mixin cb-components-pagination {
  .pagination {
    @include cb-pagination;

    @if $cb-decoration--pagination == true {
      &.decorate {
        @include cb-pagination--decorate;
      }
    }

    li {
      @include cb-pagination__item;
    }

    //a
    // +pagination__link

    &__current {
      @include cb-pagination__current;
    }
  }
}

@if $cb-include-css--pagination == true {
  @include cb-components-pagination;
}
