// COMPONENTS MIXINS: TABLES
// =========================

@mixin cb-table {
  &--wrap {
    margin-bottom: $cb-text--base-line-height;
    overflow-x: auto;
  }

  // The table
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  border-collapse: collapse;
  border-spacing: 0;

  thead {
    border-bottom: $cb-table--header-border-bottom-thickness solid $cb-table--header-border-bottom-color;
  }

  th, td {
    padding: $cb-table--padding;
    vertical-align: top;
    text-align: left;
  }
  [dir="rtl"] &, &[dir="rtl"],
  .rtl &, &.rtl {
    th, td {
      text-align: right;
    }
  }

  // Table variations

  &--rows {
    td {
      border-top: $cb-border--thin;
    }
  }
  &--columns {
    th, td {
      border-right: $cb-border--thin;
    }
    th:last-of-type, td:last-of-type {
      border-right: 0;
    }
  }
  &--centered {
    th, td {
      text-align: center;
    }
  }
  &--centered-not-first {
    th:not(:first-of-type), td:not(:first-of-type) {
      text-align: center;
    }
  }
  &--bold-first {
    td:first-of-type {
      font-weight: bold;
    }
    .rtl &, &.rtl {
      td:last-of-type {
        font-weight: bold;
      }
      td:first-of-type {
        font-weight: normal;
      }
    }   
  }
  &--bordered {
    border: $cb-border--thin;
  }
  &--grid {
    th, td {
      border: $cb-border--thin;
    }
  }
  &--striped {
    thead,
    tbody tr:nth-child(even) {
      background: rgba(255,255,255, 0.05);
    }
    tbody tr:nth-child(odd) {
      background: rgba(0,0,0, 0.05);

    }
  }
  &--compact {
    th, td {
      padding: 4px;
    }
  }
  &--nowrap {
    white-space: nowrap !important;
  }
}

// CLASS BUILDER: TABLES
// =====================

@mixin cb-components-table {
  .table {
    @include cb-table;
  }
}

@if $cb-include-css--tables == true {
  @include cb-components-table;
}
