// COMPONENTS MIXINS: TAB
// ======================

@mixin cb-tab__label {
  display: inline-block;
  position: relative;

  &:hover {
    cursor: pointer;
  }

  &.is-front {
    z-index: $cb-z-index--tab-front + 1;
    cursor: default;
  }
}

@mixin cb-tab__label--decorate {
  border-top: $cb-border--thin;
  border-right: $cb-border--thin;
  border-left: $cb-border--thin;
  padding: $cb-spacing--block;
  white-space: nowrap;
  color: darken($cb-color--gray, $cb-color--step);
  background: lighten($cb-color--gray, $cb-color--step * 3);

  &:hover {
    color: $cb-text--base-text-color;
    background: lighten($cb-color--gray, $cb-color--step * 2);
  }

  &.is-front {
    color: $cb-text--base-text-color;
    background: $cb-color--white;
    box-shadow: none;
  }
}

@mixin cb-tab__label-wrap {
  position: relative;
  z-index: $cb-z-index--tab-front + 1;
  white-space: nowrap;
  overflow-x: auto;

  &--left {
    text-align: left;
  }

  &--center {
    text-align: center;
  }

  &--right {
    text-align: right;
  }
  .tab__label {
    border-bottom: $cb-border--thin;
    &.is-front {
      border-bottom-color: transparent
    }
  }
}

@mixin cb-tab__panel {
  position: relative;
  display: none;
  z-index: $cb-z-index--tab-front;
  width: 100%;
  height: 0;
  overflow-x: auto;
  opacity: 0;
  white-space: normal;

  &.is-front {
    display: block;
    height: auto;
    opacity: 1;
  }
}

@mixin cb-tab__panel--decorate {
  top: -1px;
  border-top: $cb-border--thin;
  padding-top: 8px;
  background: $cb-color--white;
}

// CLASS BUILDER: TABS
// ===================

@mixin cb-components-tab-system {
  .tab__label-wrap {
    @include cb-tab__label-wrap;
  }

  .tab__label {
    @include cb-tab__label;
  }

  .tab__panel {
    @include cb-tab__panel;
  }

  @if $cb-decoration--tabs == true {
    .tabs.decorate {
      .tab__label {
        @include cb-tab__label--decorate;
      }

      .tab__panel {
        @include cb-tab__panel--decorate;
      }
    }
  }
}

@if $cb-include-css--tabs == true {
  @include cb-components-tab-system;
}
