// BASICS MIXINS: COMBOS
// =====================
// Use for combo buttons and/or inputs to reset rounded corners IF you have them.

@mixin cb-combo--left {
  display: inline-block;
  float: left;
  margin-right: $cb-spacing--thin;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  white-space: nowrap;

  [dir="rtl"] &, &[dir="rtl"],
  .rtl &, &.rtl {
    float: none;
    margin-right: 0;
  }
}

@mixin cb-combo--center {
  display: inline-block;
  float: left;
  margin-right: $cb-spacing--thin;
  border-radius: 0 !important;
  white-space: nowrap;

  [dir="rtl"] &, &[dir="rtl"],
  .rtl &, &.rtl {
    float: right;
    margin-right: 0;
    margin-left: $cb-spacing--thin;
  }
}

@mixin cb-combo--right {
  display: inline-block;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;

  [dir="rtl"] &, &[dir="rtl"],
  .rtl &, &.rtl {
    float: right;
    margin-left: $cb-spacing--thin;
  }
}

@mixin cb-combo--top {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

@mixin cb-combo--middle {
  margin-top: $cb-spacing--thin;
  border-radius: 0 !important;
}

@mixin cb-combo--bottom {
  margin-top: $cb-spacing--thin;
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

// CLASS BUILDER: COMBOS
// =====================

@mixin cb-basics-combos {
  .combo {
    &--left {
      @include cb-combo--left;
    }

    &--center {
      @include cb-combo--center;
    }

    &--right {
      @include cb-combo--right;
    }

    &--top {
      @include cb-combo--top;
    }

    &--middle {
      @include cb-combo--middle;
    }

    &--bottom {
      @include cb-combo--bottom;
    }
  }
}

@if $cb-include-css--combos == true {
  @include cb-basics-combos;
}
