// BASICS: INITIAL ICON
// ====================

// Initial icon

.initial-icon {
  min-height: $cb-text--base-line-height * 3;
  padding-left: 64px;

  & > :first-child {
    display: inline-block;
    float: left;
    margin-top: -4px;
    margin-left: -64px;
    font-size: 300%;
    height: 56px;
    width: 56px;
    line-height: 56px;
    text-align: center;
  }

  [dir="rtl"] &, &[dir="rtl"],
  .rtl &, &.rtl {
    padding-left: 0;
    padding-right: 64px;

    & > :first-child {
      float: right;
      margin-left: 0;
      margin-right: -64px;
    }
  }
}
