// BASICS: TYPOGRAPHY
// ==================
body {
  font-family: $cb-text--base-font-family;
  font-size: $cb-text--base-font-size;
  font-weight: $cb-text--base-font-weight;
  line-height: $cb-text--base-line-height;
  color: $cb-text--base-text-color;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

.big {
  font-size: $cb-text--big-font-size;
  line-height: $cb-text--big-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-top: 0;
  margin-bottom: $cb-text--base-line-height;
  @if $cb-h1-h6--font-weight-normal==true {
    font-weight: normal;
  }
  &.big,
  .big & {
    margin-bottom: $cb-text--big-line-height;
  }
}

// Headings
// ========
// Base                 h1  h2  h3  h4  h5  h6
// .big Base, Base.big  h0  h1  h2  h3  h4  h5
// Alt                  h0  h1  h2  h3  h4  h5
// .big Alt, Alt.big    h00 h0  h1  h2  h3  h4
// (Heading line heights are multiples of the element grid.)
@mixin cb-heading-00 {
  font-size: $cb-text--big-font-size * 5.5;
  line-height: 4px * 25;
}

@mixin cb-heading-0 {
  font-size: $cb-text--base-font-size * 4.25;
  line-height: 4px * 20;
}

@mixin cb-heading-1 {
  font-size: $cb-text--base-font-size * 3;
  line-height: 4px * 14;
}

@mixin cb-heading-2 {
  font-size: $cb-text--base-font-size * 2.25;
  line-height: 4px * 10;
}

@mixin cb-heading-3 {
  font-size: $cb-text--base-font-size * 1.75;
  line-height: 4px * 8;
}

@mixin cb-heading-4 {
  font-size: $cb-text--base-font-size * 1.35;
  line-height: 4px * 7;
}

@mixin cb-heading-5 {
  font-size: $cb-text--base-font-size * 1.1;
  line-height: 4px * 7;
}

@mixin cb-heading-6 {
  font-size: $cb-text--base-font-size * 1;
  line-height: 4px * 6;
}

// Enlarged typography container
// =============================
// Note: Not for use on inline text elements, because
// it changes the line height.
h1,
.h1 {
  @include cb-heading-1;
  @include cb-break--min($cb-mq--headers-alt) {
    @include cb-heading-0;
  }
  &.big,
  .big & {
    @include cb-heading-0;
  }
  @include cb-break--min($cb-mq--headers-alt) {
    &.big,
    .big & {
      @include cb-heading-00;
    }
  }
}

h2,
.h2 {
  @include cb-heading-2;
  @include cb-break--min($cb-mq--headers-alt) {
    @include cb-heading-1;
  }
  &.big,
  .big & {
    @include cb-heading-1;
  }
  @include cb-break--min($cb-mq--headers-alt) {
    &.big,
    .big & {
      @include cb-heading-0;
    }
  }
}

h3,
.h3 {
  @include cb-heading-3;
  @include cb-break--min($cb-mq--headers-alt) {
    @include cb-heading-2;
  }
  &.big,
  .big & {
    @include cb-heading-2;
  }
  @include cb-break--min($cb-mq--headers-alt) {
    &.big,
    .big & {
      @include cb-heading-1;
    }
  }
}

h4,
.h4 {
  @include cb-heading-4;
  @include cb-break--min($cb-mq--headers-alt) {
    @include cb-heading-3;
  }
  &.big,
  .big & {
    @include cb-heading-3;
  }
  @include cb-break--min($cb-mq--headers-alt) {
    &.big,
    .big & {
      @include cb-heading-2;
    }
  }
}

h5,
.h5 {
  @include cb-heading-5;
  @include cb-break--min($cb-mq--headers-alt) {
    @include cb-heading-4;
  }
  &.big,
  .big & {
    @include cb-heading-4;
  }
  @include cb-break--min($cb-mq--headers-alt) {
    &.big,
    .big & {
      @include cb-heading-3;
    }
  }
}

h6,
.h6 {
  @include cb-heading-6;
  @include cb-break--min($cb-mq--headers-alt) {
    @include cb-heading-5;
  }
  &.big,
  .big & {
    @include cb-heading-5;
  }
  @include cb-break--min($cb-mq--headers-alt) {
    &.big,
    .big & {
      @include cb-heading-4;
    }
  }
}

p,
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: $cb-text--base-line-height;
}

ol,
ul {
  padding-left: 24px;
}

// Ordered list with brackets around numberals
.brackets {
  counter-reset: li; // Initiate a counter
  padding: 0;
  &>li {
    list-style: none; // Disable the normal item numbering
    position: relative;
    margin: 0 0 20px 0;
    &:before {
      content: "(" counter(li) ".)"; // Use the counter as content, and wrap it in brackets
      counter-increment: li; // Increment the counter by 1
      padding-right: 8px;
    }
  }
  [dir="rtl"] &,
  &[dir="rtl"],
  .rtl &,
  &.rtl {
    &>li:before {
      padding-right: 0;
      padding-left: 8px;
    }
  }
}

li {
  margin-bottom: $cb-text--li-spacing;
}

li:last-of-type {
  margin-bottom: 0;
}

dd {
  margin-bottom: 24px;
}

dt {
  font-weight: $cb-text--bold-font-weight;
}

dd {
  margin-left: 0;
}

hr {
  height: 0;
  width: 100%;
  margin-top: 24px;
  margin-bottom: 24px;
  border: 0;
  border-top: $cb-border--thin;
}

blockquote {
  margin: $cb-text--base-line-height 0;
  padding-right: 24px;
  padding-left: 24px;
  font-size: $cb-blockquotes-font-size;
  .big &,
  &.big {
    font-size: $cb-text--big-blockquotes-font-size;
  }
}

a {
  color: $cb-text--color-hyperlink;
  text-decoration: $cb-text--decoration-hyperlink;
  @if $cb-text--hyperlink-hover==true {
    &:hover,
    &:active {
      text-decoration: $cb-text--decoration-hyperlink-hover;
    }
  }
  &:active,
  &:focus {
    outline: none;
  }
}

b {
  font-weight: $cb-text--bold-font-weight;
}

code {
  display: inline-block;
  @if $cb-text--base-code-border==true {
    border: $cb-border--thin;
  }
  font-family: Menlo,
  Consolas,
  Lucida Console,
  monospace;
  font-size: 0.9em;
  line-height: 1.5em;
  @if $cb-text--base-code-rounded-corners==true {
    border-radius: $cb-border--radius;
  }
  padding: 0 4px;
  background: lighten($cb-color--gray, $cb-color--step * 3);
}

pre {
  width: 100%;
  margin-top: 24px;
  margin-bottom: 24px;
  code {
    display: block;
    overflow-x: auto;
    padding: $cb-spacing--block;
  }
}

// TEXT UTILITY CLASSES
.lead {
  font-size: $cb-text--base-font-size + $cb-text--lead-font-size-increment;
  line-height: $cb-text--base-line-height + 8px;
  font-weight: $cb-text--lead-font-weight;
  &.big,
  .big & {
    font-size: $cb-text--big-font-size + $cb-text--lead-font-size-increment;
    line-height: $cb-text--big-line-height + 8px;
  }
}

// Drop capital for initial letter in paragraph
.dropcap {
  &::first-letter {
    display: inline-block;
    position: relative;
    margin-top: .05em;
    float: left;
    font-size: 300%;
    font-weight: 300;
    line-height: .95em;
  }
  [dir="rtl"] &,
  &[dir="rtl"],
  .rtl &,
  &.rtl {
    &::first-letter {
      float: right;
    }
  }
}

// Text alignment
.left {
  text-align: left !important;
}

.center {
  text-align: center !important;
}

.right {
  text-align: right !important;
}

// Text style
.lighter {
  font-weight: $cb-text--lighter-font-weight;
}

.bold {
  font-weight: $cb-text--bold-font-weight;
}

.bolder {
  font-weight: $cb-text--bolder-font-weight;
}

.normal {
  font-weight: normal;
  font-style: normal;
}

.italics {
  font-style: italic;
}

.caps {
  text-transform: uppercase;
}

.small {
  font-size: 80%;
  line-height: 1.5;
}

.nowrap {
  white-space: nowrap;
}

// Text muted (semi-transparent)
.muted {
  opacity: 0.5;
}

// Text columns
.columns {
  columns: $cb-text--columns-min-width;
}