// COMPONENT: MENUBAR
// ==================

@mixin menubar {
  @include clearfix;
  position: relative;
  padding-top: $menubar-height;
  &--is-open {
    z-index: $reset-overlay--z-index + 2;
  }
  @include break__menubar--up {
    padding-top: 0;
  }
}

@mixin menubar__brand {
  position: absolute;
  display: inline-block;
  top: 0;
    a {
    display: block;
    font-size: 24px;
    line-height: 24px;
    padding: 10px 12px;
    &:hover {
      text-decoration: none;
      background: $color-silver;
    }
  }
  @include break__menubar--up {
    position: relative;
    top: auto;
    float: left;
  }
}

@mixin menubar__navicon {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  font-size: 24px;
  line-height: 24px;
  color: $color-text-hyperlink;
  text-align: center;
  &:hover {
    color: $color-text-hyperlink-hover;
    background: $color-silver;
    cursor: pointer;
  }  @include break__menubar--up {
    display: none;
  }
}

@mixin menubar__content {
  display: none;
  // Override dropdown styles for collapsed menubar
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    a {
      display: block;
      padding: $menubar-padding;
      white-space: nowrap;
      &:hover {
        text-decoration: none;
        background: $color-silver;
      }
    }
  }
  @include break__menubar--down {
    .dropdown__toggle .dropdown__caret {
      display: none;
    }
    .dropdown__content {
      display: block;
      position: relative;
      border-radius: 0;
      box-shadow: none;
      a {
        padding-left: 30px;
      }
    }
  }
  @include break__menubar--up {
    display: block !important; // Overrides the jQuery display: none
    li {
      position: relative;
      display: inline-block;
    }
  }
}

@mixin menubar__setup {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    a {
      display: block;
      padding: $menubar-padding;
      white-space: nowrap;
      &:hover {
        text-decoration: none;
        background: $color-silver;
      }
    }
  }
  @include break__menubar--up {
    li {
      position: relative;
    }
    > ul > li {
      display: inline-block;
    }
  }
}

@mixin menubar__left {
  @include break__menubar--up {
    float: left;
  }
}

@mixin menubar__center {
  @include break__menubar--up {
    text-align: center;
  }
}

@mixin menubar__right {
  @include break__menubar--up {
    float: right;
    >ul {
      float: left;
    }
    .dropdown__content {
      right: 0;
    }
  }
}

@mixin menubar__search {
  padding: 4px 15px;
  input {
    width: auto !important;
    @include break__menubar--up {
      max-width: 160px;
    }
  }
  @include break__menubar--up {
    float: right;
    padding-right: $spacing-xs;
    padding-left: $spacing-xs;
  }
}

// The `.menubar` always gets a .wrap() called `.menubar__has-wrap` (this is used to enable the navicon toggle to be absolutely positioned over the menubar on smer screens).
// If you add `.menubar--fixed` to the menubar, then the wrap will also get class `.menubar__has-wrap--fixed`.

@mixin menubar__has-wrap {
  position: relative;
  width: 100%;
  &--is-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: $reset-overlay--z-index + 3;
    box-shadow: $box-shadow;
  }
}

@mixin body--menubar-is-fixed {
  padding-top: $line-height-px + ($spacing-xs * 2);
}
