// MIXINS: MODAL
// =============

@mixin modal__wrap {
  position: fixed !important;
  top: 0;
  right: 0;
  //bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  z-index: $reset-overlay--z-index-higher + 10;
  //overflow: visible;
  //transform: translateY(100%);
  transition: all 0.5s;
  background-color: transparent;
  text-align: center;
  cursor: default;
}

@mixin modal {
  position: relative;
  display: inline-block;
  margin-right: $spacing-sm;
  margin-left: $spacing-sm;
  transition: all 0.5s;
  transform: translate3d(0, -150%, 0);
  // (The extra 50% translateY accounts for top margins, borders and drop shadows on modals.)
  text-align: left;
  overflow: auto;
}

@mixin modal__header {
  h2,
  h3,
  h4 {
    display: inline-block;
    margin: 0;
  }
}

@mixin modal--narrow {
  min-width: 300px;
  max-height: 75vh;
  @include break__sm--up {
    width: 600px;
  }
}

@mixin modal--contains-grid {
  width: auto;
  max-width: $grid-max-width;
  max-height: 75vh;
}

@mixin modal--cover {
  display: block;
  width: 100%;
  min-height: 100%;
  height: 100vh;
  margin: 0 !important;
  overflow: auto;
}

@mixin modal__wrap--is-open {
  bottom: 0;
  height: auto;
  .modal {
    transform: translate3d(0, 0, 0);
  }

}

@mixin modal__close {
  &:hover {
    cursor: pointer;
  }
}
