// COMPONENT MIXINS: PAGINATION
// ============================

@mixin pagination {
  margin: 0;
  padding: 0;
}

@mixin pagination__item {
  display: inline-block;
  list-style-type: none;
  margin: $deco-spacing-sm 0;
}

@mixin pagination__link {
  padding: $deco-spacing-sm;
}

@mixin pagination__current {
  color: $color-dark-gray;
  background: $color-silver;
  &:hover {
    text-decoration: none;
    cursor: default;
  }
}
