// COMPONENT: TABS
// ===============

@mixin tabs {
  margin: $line-height 0;
  font-size: 0;
  @include clearfix;
}

@mixin tabs__label {
  z-index: 0;
  padding: $spacing-tiny $spacing-small;
  font-size: $base-font-size;
  color: $color-tabs-dark-text;
  background: $color-tabs-dark-background;
  &:hover {
    color: $color-text-default;
    background: $color-tabs-dark-background-hover;
    cursor: pointer
  }
  &--is-front {
    z-index: 2;
    color: $color-text-default;
    background: $color-tabs-background !important;
    box-shadow: none;
    cursor: default
  }
}

@mixin tabs__card {
  z-index: 1;
  clear: both;
  float: left;
  width: 100%;
  height: 0;
  font-size: $base-font-size;
  overflow: hidden;
  opacity: 0;
  &-content {
    border: $border-thin-solid;
    padding: $spacing-small $spacing-medium;
    background: $color-tabs-background;
  }
  &--is-front {
    height: auto;
    opacity: 1;
  }
}

//@mixin tabs--top {} // Not needed

@mixin tabs--top__label {
  @include tabs__label;
  display: inline-block;
  margin-right: $spacing-tiny;
  border-top: $border-thin-solid;
  border-right: $border-thin-solid;
  border-left: $border-thin-solid;
  box-shadow: $box-shadow-inner-bottom;
}

@mixin tabs--top__card {
  @include tabs__card;
  margin-top: -1px;
}

@mixin tabs--left {
  position: relative;
  overflow-x: hidden;
}

@mixin tabs--left__label {
  @include tabs__label;
  position: relative;
  width: 120px;
  border-top: $border-thin-solid;
  border-bottom: $border-thin-solid;
  border-left: $border-thin-solid;
  margin-bottom: $spacing-tiny;
  box-shadow: $box-shadow-inner-right;
}

@mixin tabs--left__card {
  @include tabs__card;
  position: absolute;
  top: 0;
  right: 0;
  left: 119px;
  &-content {
    margin-right: 120px;
  }
}

@mixin tabs--accordion {
  position: relative;
}

@mixin tabs--accordion__label {
  @include tabs__label;
  border-top: $border-thin-solid;
  border-right: $border-thin-solid;
  border-left: $border-thin-solid;
  box-shadow: $box-shadow-inner-bottom;
  &--is-front {
    background: $color-tabs-background;
  }
}

@mixin tabs--accordion__card {
  @include tabs__card;
  margin-top: 0 !important;
  &--is-front {
    margin-bottom: $spacing-tiny;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  &-content {
    box-shadow: $box-shadow-inner-bottom;
  }
  &:last-child .tabs__card-content {
    box-shadow: none !important;
  }
}
