// LAYOUT MIXINS: CLASSIC GRID
// ===========================

@mixin col-classic {
  position: relative;
  min-height: 1px;
  width: 100%;
  float: left;
  overflow: visible;
  &--centered {
    float: none !important;
    margin-right: auto;
    margin-left: auto;
  }
}

// col Control Mixins
// Used by the col builder mixins.

@mixin span($span, $grid-max-cols: 12) {
  width: (100% / $grid-max-cols) * $span;
}

@mixin offset($offset, $grid-max-cols: 12) {
  margin-left: (100% / $grid-max-cols) * $offset;
}

@mixin push($push, $grid-max-cols: 12) {
  left: (100% / $grid-max-cols) * $push;
}

@mixin pull($pull, $grid-max-cols: 12) {
  right: (100% / $grid-max-cols) * $pull;
}

// Column Class Builder Mixins

@mixin classic-col--span {
  &--span {
    @for $i from 1 through $grid-max-cols {
      &-#{$i} {
        @include span($i);
      }
    }
  }
}

@mixin classic-col--offset {
  &--offset {
    @for $i from 1 through $grid-max-cols {
      &-#{$i} {
        @include offset($i);
      }
    }
  }
}

@mixin classic-col--push {
  &--push {
    @for $i from 1 through $grid-max-cols {
      &-#{$i} {
        @include push($i);
      }
    }
  }
}

@mixin classic-col--pull {
  &--pull {
    @for $i from 1 through $grid-max-cols {
      &-#{$i} {
        @include pull($i);
      }
    }
  }
}
