// LAYOUT MIXINS: CLASSIC GRID
// ===========================
// File: 06_layout-mixins/_classic-grid.scss

@mixin classic-col--span {
  &--span {
    @for $i from 1 through $grid-max-cols {
      &-#{$i} {
        width: (100% / $grid-max-cols) * $i;
      }
    }
  }
}

@mixin classic-col--offset {
  &--offset {
    @for $i from 1 through $grid-max-cols {
      &-#{$i} {
        margin-left: (100% / $grid-max-cols) * $i;
      }
    }
  }
}

@mixin classic-col--push {
  &--push {
    @for $i from 1 through $grid-max-cols {
      &-#{$i} {
        left: (100% / $grid-max-cols) * $i;
      }
    }
  }
}

@mixin classic-col--pull {
  &--pull {
    @for $i from 1 through $grid-max-cols {
      &-#{$i} {
        right: (100% / $grid-max-cols) * $i;
      }
    }
  }
}

@mixin classic-col--centered {
  float: none;
  margin-right: auto;
  margin-left: auto;
}

// Incomplete grid rows? No problem. Rows can simply be incomplete (no `.end` or
// `.omega` classes required).
