// LAYOUT MIXINS: CLASSIC GRID
// ===========================

@mixin column-classic {
  position: relative;
  min-height: 1px;
  width: 100%;
  float: left;
  &--centered {
    float: none !important;
    margin-right: auto;
    margin-left: auto;
  }
}

// Column Control Mixins
// Used by the column builder mixins.

@mixin span($span, $grid-max-columns: 12) {
  width: (100% / $grid-max-columns) * $span;
}

@mixin offset($offset, $grid-max-columns: 12) {
  margin-left: (100% / $grid-max-columns) * $offset;
}

@mixin push($push, $grid-max-columns: 12) {
  left: (100% / $grid-max-columns) * $push;
}

@mixin pull($pull, $grid-max-columns: 12) {
  right: (100% / $grid-max-columns) * $pull;
}

// Column Class Builder Mixins

@mixin classic-column--span {
  &--span {
    @for $i from 1 through $grid-max-columns {
      &-#{$i} {
        @include span($i);
      }
    }
  }
}

@mixin classic-column--offset {
  &--offset {
    @for $i from 1 through $grid-max-columns {
      &-#{$i} {
        @include offset($i);
      }
    }
  }
}

@mixin classic-column--push {
  &--push {
    @for $i from 1 through $grid-max-columns {
      &-#{$i} {
        @include push($i);
      }
    }
  }
}

@mixin classic-column--pull {
  &--pull {
    @for $i from 1 through $grid-max-columns {
      &-#{$i} {
        @include pull($i);
      }
    }
  }
}
