// LAYOUT MIXINS: GRID BASE
// ========================

// Grid Container
// --------------
// For Classic and Semantic grids

@mixin grid {
  max-width: $grid-max-width;
  margin-right: auto;
  margin-left: auto;
  @include clearfix;
  -webkit-backface-visibility: hidden;
}

// Grid with gutter between columns
// --------------------------------
// Include `grid--gutter` in your GRID container class, not in each col.

@mixin grid--gutter {
  > * {
    padding-right: ($grid-gutter-width--xs / 2);
    padding-left: ($grid-gutter-width--xs / 2);
    @include break__sm--up {
      padding-right: $grid-gutter-width--sm / 2;
      padding-left: $grid-gutter-width--sm / 2;
    }
    @include break__md--up {
      padding-right: $grid-gutter-width--md / 2;
      padding-left: $grid-gutter-width--md / 2;
    }
    @include break__lg--up {
      padding-right: $grid-gutter-width--lg / 2;
      padding-left: $grid-gutter-width--lg / 2;
    }
  }
}

// Nested Grid
// -----------
// Only include `grid--nested` on a NESTED grid container IF the parent grid has a gutter.
@mixin grid--nested {
  margin-right: -($grid-gutter-width--xs / 2);
  margin-left: -($grid-gutter-width--xs / 2);
  @include break__sm--up {
    margin-right: -($grid-gutter-width--sm / 2);
    margin-left: -($grid-gutter-width--sm / 2);
  }
  @include break__md--up {
    margin-right: -($grid-gutter-width--md / 2);
    margin-left: -($grid-gutter-width--md / 2);
  }
  @include break__lg--up {
    margin-right: -($grid-gutter-width--lg / 2);
    margin-left: -($grid-gutter-width--lg / 2);
  }
}

// Column Base
// Used by Classic and Semantic Grid Systems

@mixin col {
  position: relative;
  min-height: 1px;
  width: 100%;
  float: left;
  -webkit-backface-visibility: hidden;
  overflow: visible;
}
