//- Codebase Docs Template

extends ../codebase/pug/_codebase

block vars
  - lang = "en"
  - description = "Codebase 2 - a Sass, JavaScript and Pug website component library"
  - author = "Simon Padbury"

block head-addins
  link(rel="stylesheet", href="docs/docs-theme/css/styles.css")

block body
  
  include docs-template-partials/_docs-codebase-version

  .docs__homepage--header
    block template__homepage--header

  .docs__homepage--main
    block template__homepage--main

  .docs__homepage--footer
    include docs-template-partials/_docs-footer

//- block body-foot-addins
