//- Codebase Docs Template

extends ../codebase/pug/_codebase

block vars
  - lang = "en"
  - title= "Codebase"
  - description = "Codebase 2: A Website Component Library"
  - author = "Simon Padbury"

block head-addins
  script(defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9" crossorigin="anonymous")
  link(rel="stylesheet", href="docs/docs-theme/css/styles.css")

block body
    
  include docs-template-partials/_docs-codebase-version

  include docs-template-partials/_docs-header

  .docs__main

    block template__navigation

    block template__sub-navigation
        
    .docs__docs-content#docs_content       
      
      header
        block template__header

      main
        block template__body

      include docs-template-partials/_docs-footer

    block template__sub-menus
  
  .b--thin.b--rounded.bs.px--4.bg--white.center(style="position: fixed; right: 8px; bottom: 8px; z-index: 999;")
    | Viewport width:&nbsp;
    span.hide--md-up sm &amp; down
    span.hide--sm-down.hide--lg-up md...lg
    span.hide--md-down lg &amp; up

//-block append body-foot-addins
