//- Base (page)
extends _docs-template.pug

block vars
  - var title = "Basics • Codebase"
  - var topID = "basics"
  - bodyClass = "docs__chapter"

block template__navigation
  include docs-template-partials/_docs-nav-basics

block template__header
  h1 Basics

block template__body
  include docs-articles/02_basics/_headings
  include docs-articles/02_basics/_paragraphs
  include docs-articles/02_basics/_initial-icons
  include docs-articles/02_basics/_blockquotes
  include docs-articles/02_basics/_text-alignment
  include docs-articles/02_basics/_text-columns
  include docs-articles/02_basics/_text-elements
  include docs-articles/02_basics/_lists
  include docs-articles/02_basics/_tables
  include docs-articles/02_basics/_horizontal-rules
  include docs-articles/02_basics/_images
  include docs-articles/02_basics/_carets
  include docs-articles/02_basics/_buttons
  include docs-articles/02_basics/_form-elements
  include docs-articles/02_basics/_combos
  include docs-articles/02_basics/_badges-and-labels
  include docs-articles/02_basics/_floats-and-clearfix
  include docs-articles/02_basics/_text-utilities
  include docs-articles/02_basics/_big-typography
