//- Base (page)
extends _docs-template.pug

block vars
  - var title='Basics'
  - var topID='basics'

block template__sidebar
  include docs-template-partials/_docs-sidebar-basics

block template__header
  h1 Basics
  include docs-sections/basics/__docs-basics-intro

block template__body
  include docs-sections/basics/_docs-basics-headings
  include docs-sections/basics/_docs-basics-paragraphs
  include docs-sections/basics/_docs-basics-blockquotes
  include docs-sections/basics/_docs-basics-text-alignment
  include docs-sections/basics/_docs-basics-text-columns
  include docs-sections/basics/_docs-basics-enlarged-typography
  include docs-sections/basics/_docs-basics-initial-icons
  include docs-sections/basics/_docs-basics-text-elements
  include docs-sections/basics/_docs-basics-lists
  include docs-sections/basics/_docs-basics-tables
  include docs-sections/basics/_docs-basics-horizontal-rules
  include docs-sections/basics/_docs-basics-form-elements
  include docs-sections/basics/_docs-basics-buttons
  include docs-sections/basics/_docs-basics-combos
  include docs-sections/basics/_docs-basics-floats-and-clearfix
  include docs-sections/basics/_docs-basics-badges
  include docs-sections/basics/_docs-basics-labels
  include docs-sections/basics/_docs-basics-images
