//- Components (page)
extends _docs-template.pug

block vars
  - var title="Components • Codebase"
  - var topID="components"
  - bodyClass = "docs__chapter"

block template__navigation
  include docs-template-partials/_docs-nav-components

block template__header
  h1 Components

block template__body
  include docs-articles/04_component/__intro
  include docs-articles/04_component/_deco-styling
  include docs-articles/04_component/_activator-javascript
  include docs-articles/04_component/_showhide
  include docs-articles/04_component/_dropdown
  include docs-articles/04_component/_menu
  include docs-articles/04_component/_menubar-simple
  include docs-articles/04_component/_menubar-responsive
  include docs-articles/04_component/_menubar-complex
  include docs-articles/04_component/_off-canvas
  include docs-articles/04_component/_card
  include docs-articles/04_component/_responsive-table
  include docs-articles/04_component/_popover
  include docs-articles/04_component/_tab-system
  include docs-articles/04_component/_pagination
