//- Components (page)
extends _docs-template.pug

block vars
  - var title = "Components • Codebase"
  - var topID = "components"
  - bodyClass = "docs__chapter"

block template__navigation
  include docs-template-partials/_docs-nav-components

block template__header
  h1 Components

block template__body
  include docs-articles/04_components/__intro
  include docs-articles/04_components/_decoration
  include docs-articles/04_components/_javascript
  include docs-articles/04_components/_activator
  include docs-articles/04_components/_toggler
  include docs-articles/04_components/_showhide
  include docs-articles/04_components/_dropdowns
  include docs-articles/04_components/_menus
  include docs-articles/04_components/_menubars-simple
  include docs-articles/04_components/_menubars-responsive
  include docs-articles/04_components/_menubars-complex
  include docs-articles/04_components/_off-canvas-side-panels
  include docs-articles/04_components/_cards
  include docs-articles/04_components/_tables
  include docs-articles/04_components/_popovers
  include docs-articles/04_components/_tabs
  include docs-articles/04_components/_pagination
  include docs-articles/04_components/_load-partial
