//- Decoration (page)
extends _docs-template.pug

block vars
  - var title="Decoration • Codebase"
  - var topID="decoration"
  - bodyClass = "docs__chapter"

block template__navigation
  include docs-template-partials/_docs-nav-decoration

block template__header
  h1 Decoration

block template__body
  include docs-articles/05_decoration/__intro
  include docs-articles/05_decoration/_element-grid
  include docs-articles/05_decoration/_margins
  include docs-articles/05_decoration/_borders
  include docs-articles/05_decoration/_paddings
  include docs-articles/05_decoration/_colors
  include docs-articles/05_decoration/_box-shadows
  include docs-articles/05_decoration/_text
