//- Decoration (page)
extends _docs-template.pug

block vars
  - var title = "Decoration Utilities • Codebase"
  - var topID = "decoration-utilities"
  - bodyClass = "docs__chapter"

block template__navigation
  include docs-template-partials/_docs-nav-decoration-utilities

block template__header
  h1 Decoration Utilities

block template__body
  include docs-articles/05_decoration-utilities/__intro
  include docs-articles/05_decoration-utilities/_element-grid
  include docs-articles/05_decoration-utilities/_margins-and-paddings
  include docs-articles/05_decoration-utilities/_borders
  include docs-articles/05_decoration-utilities/_colors
  include docs-articles/05_decoration-utilities/_box-shadows
  include docs-articles/05_decoration-utilities/_text
