//- Examples Index
extends _docs-template.pug

block vars
  - title = "Examples • Codebase"
  - var topID = "examples"
  - bodyClass = "docs__chapter"

block template__navigation
  include docs-template-partials/_docs-nav-examples

block template__header
  h1 Examples

block template__body
  include docs-articles/06_examples/__intro
