//- Examples Index
extends _docs-template.pug

block vars
  - lang = 'en'
  - title= 'Examples | Codebase'
  - description = 'Codebase 2 - a SASS, Coffeescript and Pug website component library'
  - author = 'Simon Padbury'
  - favicon = ' '

block template__sidebar
  include docs-template-partials/_docs-sidebar-examples

block template__header
  h1 Examples

block template__body
  p To follow . . . . .
