//- Start (page)
extends _docs-template.pug

block vars
  - var title = "Getting Started • Codebase"
  - var topID = "getting-started"
  - bodyClass = "docs__chapter"

block template__navigation
  include docs-template-partials/_docs-nav-getting-started

block template__header
  h1 Getting Started

block template__body
  include docs-articles/01_getting-started/__intro
  include docs-articles/01_getting-started/_simple-setup
  include docs-articles/01_getting-started/_advanced-setup
  include docs-articles/01_getting-started/_codebase-scss-library
  include docs-articles/01_getting-started/_mq-breakpoint-widths
  include docs-articles/01_getting-started/_codebase-with-pug
  include docs-articles/01_getting-started/_pug-html-generator-mixins
  include docs-articles/01_getting-started/_rtl-support
