//- Index (page)
extends _docs-homepage-template.pug

block append vars
  - lang = "en"
  - htmlDir = "ltr"
  - title= "Codebase 2: A Website Component Library"
  - description = "Codebase 2: A Website Component Library"
  - author = "Simon Padbury"
  - bodyClass = "homepage"

block template__homepage--header
  include docs-template-partials/_docs-header
  
  svg(id="codebase-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 12")
    path(d="M1 6l5-5C3.2 3.7 3.2 8.2 6 11L1 6zM16 11c.9-.9.9-2.4 0-3.3-.9-.9-2.4-.9-3.3 0-.9.9-2.4.9-3.3 0-.9-.9-.9-2.4 0-3.3s2.4-.9 3.3 0 2.4.9 3.3 0c.9-.9.9-2.4 0-3.3l5 5-5 4.9z")
  
  h1 Codebase #[span.muted #[+codebase-version]]

  h2 A Website Component Library

block template__homepage--main
  include docs-articles/00_homepage/__intro
