// DEFAULT VARIABLES: BUTTONS
// ==========================
// File: 02_default-variables/_buttons.scss

$btn-rounded: true !default;
$btn-border-radius: $deco-border-radius !default;

$btn-padding-sm: $deco-spacing-xs $deco-spacing-sm !default;
$btn-padding-default: $deco-spacing-sm $deco-spacing-md !default;
$btn-padding-lg: $deco-spacing-md $deco-spacing-lg !default;
$btn-padding-icon: $deco-spacing-sm;

$btn-3d: true !default; // `false` gives flat buttons
$btn-pressable: true !default;
