// DEFAULT VARIABLES: GRID-SYSTEMS
// ===============================
// File: 02_default-variables/_grid-systems.scss

$grid-max-cols: 12 !default;
$grid-gutter-width--xs: 20px !default;
$grid-gutter-width--sm: 30px !default;
$grid-gutter-width--md: 40px !default;
$grid-gutter-width--lg: 50px !default;
$grid-max-width: 1280px !default;

// Gutter values are used for generating column margins (50% either side of each column). 
