// DEFAULT VARIABLES: OFF-CANVAS SIDEBAR
// =====================================
// File: 02_default-variables/_off-canvas-sidebar.scss

$off-canvas-width: 250px !default;
$off-canvas-background: $color-white !default;
$off-canvas-transition: transform 400ms ease !default;
$off-canvas-navicon-background: $color-white !default;
$off-canvas-navicon-color: $color-text-hyperlink !default;
$off-canvas-navicon-color-hover: $color-text-hyperlink-hover !default;
