// DEFAULT VARIABLES: TYPOGRAPHY
// =============================
// File: 02_default-variables/_typography.scss

$base-font-family:
  -apple-system, // Apple
  BlinkMacSystemFont, // Chrome for OSX (San Francisco)
  "Segoe UI", // Windows
  "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", // Android, Chrome, Linux
  "Helvetica Neue", sans-serif // Fallback
  !default;
$base-font-size: 16px !default;
$base-line-height: 1.5 !default;
$base-line-height-px: $base-font-size * $base-line-height !default;

$color-text-default: $color-charcoal !default;
$color-text-muted: $color-secondary !default;
$color-text-hyperlink: $color-primary !default;
$color-text-hyperlink-hover: $color-dark-primary !default;
