//- Basics Intro

p.lead.
  Starting from an <code>@import</code> of <a href="https://necolas.github.io/normalize.css/">normalize.css</a> and building upon it, Codebase adds some basic styling and other interestng features.

p.initial-icon.bl--4px-solid.b--teal-darken-1.p--3u.bg--teal-lighten-2.
  <i class="fa fa-info-circle text--teal-darken-1"></i> Some of these Basics examples have been built first as Pug mixins, in order to be useful in rapid prototyping or style guide composition.
  <br><br>
  (Some basics really can't be more rapidly created by calling a mixin than by actually hand-coding them. E.g. there are no mixins for horizontal rules, floats, clearfix, badges, labels, text columns or enlarged typography.)
