//- Docs Basics: Text Alignment

.menu-marker-section(id="basics-text-alignment")

  h2.docs-section Text Alignment

  p <code>.text--left</code>

  +paragraph(1, 'text--left')

  p <code>.text--center</code>

  +paragraph(1, 'text--center')

  p <code>.text--right</code>

  +paragraph(1, 'text--right')
