//- Docs Basics: Floats and clearfix

.menu-marker-section(id="basics-floats-and-clearfix")

  h2.docs-section Floats and Clearfix

  p These outer boxes have <code>.clearfix</code>.

  .clearfix
    .float--right
      .b--1px-dashed.p--2u
       This is an example of <code>.float--right</code>
    +paragraph(1)

  .clearfix
    .float--left
      .b--1px-dashed.p--2u
       This is an example of <code>.float--left</code>
    +paragraph(1)
