//- Docs Basics: Paragraphs

.menu-marker-section(id="basics-paragraphs")

  h2.docs-section Paragraphs

  p A simple paragraph:

  +paragraph(1)

  p <code>p.lead</code>

  +paragraph(1, 'lead')

  p <code>p.dropcap</code>

  +paragraph(1, 'dropcap')
