//- Docs Basics: Text Columns

.menu-marker-section(id="basics-text-columns")

  h2.docs-section Text Columns

  p.
    The Codebase <code>.text--columns</code> wrapper class cause text to be displayed in a number of columns, depending on (a.) viewport width and (b.) the set value for the minimum column width variable, <code>$text-columns-min-width</code>.

  p Example:

  .text--columns
    +paragraph(4)
