//- Docs Basics: Images

.menu-marker-section(id="basics-images")

  h2.docs-section Images

  p.
    #[+image('holder.js/96x96', 'thumbnail')]
    By default, images are inline elements, sitting on the baseline of any text they are share a block element (e.g. paragraph) with. Codebase also gives them code max-width: 100% so that large images are &quot;repsonsive&quot;, shrinking to fit in containers (or windows) narrower than the actual image width.

  p.
    Further styling can be added using #[a(href='decoration.html') decoration classes] (e.g. borders).

  p Examples:

  +image('holder.js/1000x150', 'full-width', 'mb--3u b--4px-solid b--white bs')

  .grid.grid--gutter.grid--nested

    .col.col-sm--span-4

      +image('holder.js/250x250', 'full--width', 'b--circle mh--auto')

      p.text--center.
        Lorem ipsum dolor sit amet, adipiscing honestatis ius ut, nisl consulatu pro in. Imperdiet evertitur no usu, his te suavitate salutatus.

    .col.col-sm--span-4

      +image('holder.js/250x250', 'full-width', 'b--circle mh--auto')

      p.text--center.
        Lorem ipsum dolor sit amet, adipiscing honestatis ius ut, nisl consulatu pro in. Imperdiet evertitur no usu, his te suavitate salutatus.

    .col.col-sm--span-4

      +image('holder.js/250x250', 'full--width', 'b--circle mh--auto')

      p.text--center.
        Lorem ipsum dolor sit amet, adipiscing honestatis ius ut, nisl consulatu pro in. Imperdiet evertitur no usu, his te suavitate salutatus.
