//- Components Tables

.menu-marker-section(id="basics-tables")

  h2.docs-section Tables

  p.
    Simply add class <code>.table</code>to tables. This adds the styles that you see below.
  p.
    The <code>codebase.js</code> adds two wrappers around tables that enables responsive overflow by horizontal scrolling: <code>table-wrap--outer</code> and <code>table-wrap--inner</code>. (Note: you don't need to add these wrappers yourself.)
  p.
    Also, if the table width is wider than the width allowed in the webpage layout, then an inset box shadow is added to indicate that there is more to the table than what is visible.

  p A table that is horizontally scrollable on narrow screens:

  +table(4, 4, 'table--nowrap')

  p A table that is horizontally scrollable at all screen widths:

  +table(15, 3)

  p Note: If you require your table cells not to wrap, add the modifier class <code>.table--nowrap</code>.
