//- Docs Basics: Headings

.menu-marker-section(id="basics-headings")

  h2.docs-section Headings

  p.
    By default, h1 has zero top margin whereas h2-h6 headings ordinarily have top margin equal to 2× the default line height, i.e. 48px, or 6x element grid units. (This top margin is removed in header pairings.)

  p.
    Headings h1-h4 are given increasted font-size for medium screens up. All headings are rendered <code>font-weight: normal</code> so that you can choose to emphasize some word(s) in bold.

  +headings
