//- Docs Basics: Badges

.menu-marker-section(id="basics-badges")

  h2.docs-section Badges

  p Badges can be used in any sized text.

  p.
    Examples<span class="badge">1</span><span class="badge badge--primary">2</span><span class="badge badge--secondary">345</span><span class="badge badge--warning">678</span><span class="badge badge--error">9</span><span class="badge">10</span><span class="badge badge--success"><i class="fa fa-coffee"></i></span>

  h1 h1 example<span class="badge badge--success">NEW</span>
