//- Docs Basics: Labels

.menu-marker-section(id="basics-labels")

  h2.docs-section Labels

  p Labels can be used in any sized text.

  p Examples:

  h1
    span.label New
    |  TITLE

  p
    span.label.label--primary Author

  p
    span.label.label--secondary Enquiry

  p
    span.label.label--warning Required

  p
    span.label.label--error Oops!

  p
    span.label.label--success Winner
