//- Docs Basics: Initial Icons

.menu-marker-section(id="basics-initial-icons")

  h2.docs-section Initial Icons

  p For when you want to make a note or statement stand out.

  +initial-icon

  br

  p.initial-icon.mb--4u.bl--4px-solid.b--teal-darken-1.p--3u.bg--teal-lighten-2.
    #[i.fa.fa-check-circle.text--teal-darken-1]
    <b>Further styling</b><br>
    Add color, padding, etc (e.g. by decoration classes) for greater effect.
