extends ../../docs-template-partials/_docs-article

block prepend article
  - var sectionId = "examples-introduction"
  - var sectionTitle = "Introduction"

block section
  
  p.
    The following examples are all built as Pug extensions of the Codebase #[a(href="codebase/pug/_codebase.pug") starter template] (see #[a(href="getting-started.html#getting-started-codebase-with-pug") Getting Started: Using Codebase with Pug]).
    
  p.
    The first example is almost blank, ready for you to use.

  .flexbox.flexbox--gutter.flexbox--nested
    .flexitem.flexitem-sm--span-6
      .mb--4.b--heavy.b--teal-lighten-1.b--rounded
        a(href="example-starter.html")
          img(src="docs/example-screens/starter.png")
      p.text--center
        a(href="example-starter.html") Starter

    .flexitem.flexitem-sm--span-6
      .mb--4.b--heavy.b--teal-lighten-1.b--rounded
        a(href="example-blog-index.html")
          img(src="docs/example-screens/blog-index.png")
      p.text--center
        a(href="example-blog-index.html") Blog (index)          
          
    .flexitem.flexitem-sm--span-6
      .mb--4.b--heavy.b--teal-lighten-1.b--rounded
        a(href="example-long-read.html")
          img(src="docs/example-screens/long-read.png")
      p.text--center
        a(href="example-long-read.html") Long read (single blog post)

    .flexitem.flexitem-sm--span-6
      .mb--4.b--heavy.b--teal-lighten-1.b--rounded
        a(href="example-small-business.html")
          img(src="docs/example-screens/small-business.png")
      p.text--center
        a(href="example-small-business.html") Small business

    .flexitem.flexitem-sm--span-6
      .mb--4.b--heavy.b--teal-lighten-1.b--rounded
        a(href="example-company.html")
          img(src="docs/example-screens/company.png")
      p.text--center
        a(href="example-company.html") Company

    .flexitem.flexitem-sm--span-6
      .mb--4.b--heavy.b--teal-lighten-1.b--rounded
        a(href="example-newspaper.html")
          img(src="docs/example-screens/newspaper.png")
      p.text--center
        a(href="example-newspaper.html") Newspaper

    .flexitem.flexitem-sm--span-6
      .mb--4.b--heavy.b--teal-lighten-1.b--rounded
        a(href="example-gallery.html")
          img(src="docs/example-screens/picture-gallery.png")
      p.text--center
        a(href="example-gallery.html") Picture gallery

    .flexitem.flexitem-sm--span-6
      .mb--4.b--heavy.b--teal-lighten-1.b--rounded
        a(href="example-dashboard.html")
          img(src="docs/example-screens/dashboard.png")
      p.text--center
        a(href="example-dashboard.html") Dashboard
