extends ../../docs-template-partials/_docs-article

block prepend article
  - var articleId = "examples-introduction"
  - var articleTitle = "Introduction"

block section
  
  p.
    The following examples are all built as Pug extensions of the Codebase #[a(href="codebase/pug/_codebase.pug") starter template] (see #[a(href="getting-started.html#getting-started-codebase-with-pug") Getting Started: Using Codebase with Pug]).
    
  p.
    The first example is essentially blank, ready for you to use.

  .flexbox.flexbox--gap.flexbox--nested
    .flex-item-md--span-6
      .mb--8.showcase
        a(href="example-starter.html")
          img(src="docs/example-screens/starter.png").bs--1z
      p.center
        a(href="example-starter.html") Starter

    .flex-item-md--span-6
      .mb--8.showcase
        a(href="example-blog-index.html")
          img(src="docs/example-screens/blog-index.png").bs--1z
      p.center
        a(href="example-blog-index.html") Blog (index)

    .flex-item-md--span-6
      .mb--8.showcase
        a(href="example-long-read.html")
          img(src="docs/example-screens/long-read.png").bs--1z
      p.center
        a(href="example-long-read.html") Long read (single blog post)

    .flex-item-md--span-6
      .mb--8.showcase
        a(href="example-small-business.html")
          img(src="docs/example-screens/small-business.png").bs--1z
      p.center
        a(href="example-small-business.html") Small business

    .flex-item-md--span-6
      .mb--8.showcase
        a(href="example-company.html")
          img(src="docs/example-screens/company.png").bs--1z
      p.center
        a(href="example-company.html") Company

    .flex-item-md--span-6
      .mb--8.showcase
        a(href="example-newspaper.html")
          img(src="docs/example-screens/newspaper.png").bs--1z
      p.center
        a(href="example-newspaper.html") Newspaper

    .flex-item-md--span-6
      .mb--8.showcase
        a(href="example-gallery.html")
          img(src="docs/example-screens/picture-gallery.png").bs--1z
      p.center
        a(href="example-gallery.html") Picture gallery

    .flex-item-md--span-6
      .mb--8.showcase
        a(href="example-dashboard.html")
          img(src="docs/example-screens/dashboard.png").bs--1z
      p.center
        a(href="example-dashboard.html") Dashboard
